<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.BinaryLogTransactionCompressionStatsMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.BinaryLogTransactionCompressionStats">
    <result column="LOG_TYPE" jdbcType="CHAR" property="logType" />
    <result column="COMPRESSION_TYPE" jdbcType="VARCHAR" property="compressionType" />
    <result column="TRANSACTION_COUNTER" jdbcType="BIGINT" property="transactionCounter" />
    <result column="COMPRESSED_BYTES_COUNTER" jdbcType="BIGINT" property="compressedBytesCounter" />
    <result column="UNCOMPRESSED_BYTES_COUNTER" jdbcType="BIGINT" property="uncompressedBytesCounter" />
    <result column="COMPRESSION_PERCENTAGE" jdbcType="SMALLINT" property="compressionPercentage" />
    <result column="FIRST_TRANSACTION_COMPRESSED_BYTES" jdbcType="BIGINT" property="firstTransactionCompressedBytes" />
    <result column="FIRST_TRANSACTION_UNCOMPRESSED_BYTES" jdbcType="BIGINT" property="firstTransactionUncompressedBytes" />
    <result column="FIRST_TRANSACTION_TIMESTAMP" jdbcType="TIMESTAMP" property="firstTransactionTimestamp" />
    <result column="LAST_TRANSACTION_COMPRESSED_BYTES" jdbcType="BIGINT" property="lastTransactionCompressedBytes" />
    <result column="LAST_TRANSACTION_UNCOMPRESSED_BYTES" jdbcType="BIGINT" property="lastTransactionUncompressedBytes" />
    <result column="LAST_TRANSACTION_TIMESTAMP" jdbcType="TIMESTAMP" property="lastTransactionTimestamp" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zzp.mall.model.BinaryLogTransactionCompressionStats">
    <result column="FIRST_TRANSACTION_ID" jdbcType="LONGVARCHAR" property="firstTransactionId" />
    <result column="LAST_TRANSACTION_ID" jdbcType="LONGVARCHAR" property="lastTransactionId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    LOG_TYPE, COMPRESSION_TYPE, TRANSACTION_COUNTER, COMPRESSED_BYTES_COUNTER, UNCOMPRESSED_BYTES_COUNTER, 
    COMPRESSION_PERCENTAGE, FIRST_TRANSACTION_COMPRESSED_BYTES, FIRST_TRANSACTION_UNCOMPRESSED_BYTES, 
    FIRST_TRANSACTION_TIMESTAMP, LAST_TRANSACTION_COMPRESSED_BYTES, LAST_TRANSACTION_UNCOMPRESSED_BYTES, 
    LAST_TRANSACTION_TIMESTAMP
  </sql>
  <sql id="Blob_Column_List">
    FIRST_TRANSACTION_ID, LAST_TRANSACTION_ID
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zzp.mall.model.BinaryLogTransactionCompressionStatsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from binary_log_transaction_compression_stats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zzp.mall.model.BinaryLogTransactionCompressionStatsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from binary_log_transaction_compression_stats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.BinaryLogTransactionCompressionStatsExample">
    delete from binary_log_transaction_compression_stats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.BinaryLogTransactionCompressionStats">
    insert into binary_log_transaction_compression_stats (LOG_TYPE, COMPRESSION_TYPE, TRANSACTION_COUNTER, 
      COMPRESSED_BYTES_COUNTER, UNCOMPRESSED_BYTES_COUNTER, 
      COMPRESSION_PERCENTAGE, FIRST_TRANSACTION_COMPRESSED_BYTES, 
      FIRST_TRANSACTION_UNCOMPRESSED_BYTES, FIRST_TRANSACTION_TIMESTAMP, 
      LAST_TRANSACTION_COMPRESSED_BYTES, LAST_TRANSACTION_UNCOMPRESSED_BYTES, 
      LAST_TRANSACTION_TIMESTAMP, FIRST_TRANSACTION_ID, 
      LAST_TRANSACTION_ID)
    values (#{logType,jdbcType=CHAR}, #{compressionType,jdbcType=VARCHAR}, #{transactionCounter,jdbcType=BIGINT}, 
      #{compressedBytesCounter,jdbcType=BIGINT}, #{uncompressedBytesCounter,jdbcType=BIGINT}, 
      #{compressionPercentage,jdbcType=SMALLINT}, #{firstTransactionCompressedBytes,jdbcType=BIGINT}, 
      #{firstTransactionUncompressedBytes,jdbcType=BIGINT}, #{firstTransactionTimestamp,jdbcType=TIMESTAMP}, 
      #{lastTransactionCompressedBytes,jdbcType=BIGINT}, #{lastTransactionUncompressedBytes,jdbcType=BIGINT}, 
      #{lastTransactionTimestamp,jdbcType=TIMESTAMP}, #{firstTransactionId,jdbcType=LONGVARCHAR}, 
      #{lastTransactionId,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.BinaryLogTransactionCompressionStats">
    insert into binary_log_transaction_compression_stats
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logType != null">
        LOG_TYPE,
      </if>
      <if test="compressionType != null">
        COMPRESSION_TYPE,
      </if>
      <if test="transactionCounter != null">
        TRANSACTION_COUNTER,
      </if>
      <if test="compressedBytesCounter != null">
        COMPRESSED_BYTES_COUNTER,
      </if>
      <if test="uncompressedBytesCounter != null">
        UNCOMPRESSED_BYTES_COUNTER,
      </if>
      <if test="compressionPercentage != null">
        COMPRESSION_PERCENTAGE,
      </if>
      <if test="firstTransactionCompressedBytes != null">
        FIRST_TRANSACTION_COMPRESSED_BYTES,
      </if>
      <if test="firstTransactionUncompressedBytes != null">
        FIRST_TRANSACTION_UNCOMPRESSED_BYTES,
      </if>
      <if test="firstTransactionTimestamp != null">
        FIRST_TRANSACTION_TIMESTAMP,
      </if>
      <if test="lastTransactionCompressedBytes != null">
        LAST_TRANSACTION_COMPRESSED_BYTES,
      </if>
      <if test="lastTransactionUncompressedBytes != null">
        LAST_TRANSACTION_UNCOMPRESSED_BYTES,
      </if>
      <if test="lastTransactionTimestamp != null">
        LAST_TRANSACTION_TIMESTAMP,
      </if>
      <if test="firstTransactionId != null">
        FIRST_TRANSACTION_ID,
      </if>
      <if test="lastTransactionId != null">
        LAST_TRANSACTION_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logType != null">
        #{logType,jdbcType=CHAR},
      </if>
      <if test="compressionType != null">
        #{compressionType,jdbcType=VARCHAR},
      </if>
      <if test="transactionCounter != null">
        #{transactionCounter,jdbcType=BIGINT},
      </if>
      <if test="compressedBytesCounter != null">
        #{compressedBytesCounter,jdbcType=BIGINT},
      </if>
      <if test="uncompressedBytesCounter != null">
        #{uncompressedBytesCounter,jdbcType=BIGINT},
      </if>
      <if test="compressionPercentage != null">
        #{compressionPercentage,jdbcType=SMALLINT},
      </if>
      <if test="firstTransactionCompressedBytes != null">
        #{firstTransactionCompressedBytes,jdbcType=BIGINT},
      </if>
      <if test="firstTransactionUncompressedBytes != null">
        #{firstTransactionUncompressedBytes,jdbcType=BIGINT},
      </if>
      <if test="firstTransactionTimestamp != null">
        #{firstTransactionTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTransactionCompressedBytes != null">
        #{lastTransactionCompressedBytes,jdbcType=BIGINT},
      </if>
      <if test="lastTransactionUncompressedBytes != null">
        #{lastTransactionUncompressedBytes,jdbcType=BIGINT},
      </if>
      <if test="lastTransactionTimestamp != null">
        #{lastTransactionTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="firstTransactionId != null">
        #{firstTransactionId,jdbcType=LONGVARCHAR},
      </if>
      <if test="lastTransactionId != null">
        #{lastTransactionId,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.BinaryLogTransactionCompressionStatsExample" resultType="java.lang.Integer">
    select count(*) from binary_log_transaction_compression_stats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update binary_log_transaction_compression_stats
    <set>
      <if test="record.logType != null">
        LOG_TYPE = #{record.logType,jdbcType=CHAR},
      </if>
      <if test="record.compressionType != null">
        COMPRESSION_TYPE = #{record.compressionType,jdbcType=VARCHAR},
      </if>
      <if test="record.transactionCounter != null">
        TRANSACTION_COUNTER = #{record.transactionCounter,jdbcType=BIGINT},
      </if>
      <if test="record.compressedBytesCounter != null">
        COMPRESSED_BYTES_COUNTER = #{record.compressedBytesCounter,jdbcType=BIGINT},
      </if>
      <if test="record.uncompressedBytesCounter != null">
        UNCOMPRESSED_BYTES_COUNTER = #{record.uncompressedBytesCounter,jdbcType=BIGINT},
      </if>
      <if test="record.compressionPercentage != null">
        COMPRESSION_PERCENTAGE = #{record.compressionPercentage,jdbcType=SMALLINT},
      </if>
      <if test="record.firstTransactionCompressedBytes != null">
        FIRST_TRANSACTION_COMPRESSED_BYTES = #{record.firstTransactionCompressedBytes,jdbcType=BIGINT},
      </if>
      <if test="record.firstTransactionUncompressedBytes != null">
        FIRST_TRANSACTION_UNCOMPRESSED_BYTES = #{record.firstTransactionUncompressedBytes,jdbcType=BIGINT},
      </if>
      <if test="record.firstTransactionTimestamp != null">
        FIRST_TRANSACTION_TIMESTAMP = #{record.firstTransactionTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastTransactionCompressedBytes != null">
        LAST_TRANSACTION_COMPRESSED_BYTES = #{record.lastTransactionCompressedBytes,jdbcType=BIGINT},
      </if>
      <if test="record.lastTransactionUncompressedBytes != null">
        LAST_TRANSACTION_UNCOMPRESSED_BYTES = #{record.lastTransactionUncompressedBytes,jdbcType=BIGINT},
      </if>
      <if test="record.lastTransactionTimestamp != null">
        LAST_TRANSACTION_TIMESTAMP = #{record.lastTransactionTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.firstTransactionId != null">
        FIRST_TRANSACTION_ID = #{record.firstTransactionId,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.lastTransactionId != null">
        LAST_TRANSACTION_ID = #{record.lastTransactionId,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update binary_log_transaction_compression_stats
    set LOG_TYPE = #{record.logType,jdbcType=CHAR},
      COMPRESSION_TYPE = #{record.compressionType,jdbcType=VARCHAR},
      TRANSACTION_COUNTER = #{record.transactionCounter,jdbcType=BIGINT},
      COMPRESSED_BYTES_COUNTER = #{record.compressedBytesCounter,jdbcType=BIGINT},
      UNCOMPRESSED_BYTES_COUNTER = #{record.uncompressedBytesCounter,jdbcType=BIGINT},
      COMPRESSION_PERCENTAGE = #{record.compressionPercentage,jdbcType=SMALLINT},
      FIRST_TRANSACTION_COMPRESSED_BYTES = #{record.firstTransactionCompressedBytes,jdbcType=BIGINT},
      FIRST_TRANSACTION_UNCOMPRESSED_BYTES = #{record.firstTransactionUncompressedBytes,jdbcType=BIGINT},
      FIRST_TRANSACTION_TIMESTAMP = #{record.firstTransactionTimestamp,jdbcType=TIMESTAMP},
      LAST_TRANSACTION_COMPRESSED_BYTES = #{record.lastTransactionCompressedBytes,jdbcType=BIGINT},
      LAST_TRANSACTION_UNCOMPRESSED_BYTES = #{record.lastTransactionUncompressedBytes,jdbcType=BIGINT},
      LAST_TRANSACTION_TIMESTAMP = #{record.lastTransactionTimestamp,jdbcType=TIMESTAMP},
      FIRST_TRANSACTION_ID = #{record.firstTransactionId,jdbcType=LONGVARCHAR},
      LAST_TRANSACTION_ID = #{record.lastTransactionId,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update binary_log_transaction_compression_stats
    set LOG_TYPE = #{record.logType,jdbcType=CHAR},
      COMPRESSION_TYPE = #{record.compressionType,jdbcType=VARCHAR},
      TRANSACTION_COUNTER = #{record.transactionCounter,jdbcType=BIGINT},
      COMPRESSED_BYTES_COUNTER = #{record.compressedBytesCounter,jdbcType=BIGINT},
      UNCOMPRESSED_BYTES_COUNTER = #{record.uncompressedBytesCounter,jdbcType=BIGINT},
      COMPRESSION_PERCENTAGE = #{record.compressionPercentage,jdbcType=SMALLINT},
      FIRST_TRANSACTION_COMPRESSED_BYTES = #{record.firstTransactionCompressedBytes,jdbcType=BIGINT},
      FIRST_TRANSACTION_UNCOMPRESSED_BYTES = #{record.firstTransactionUncompressedBytes,jdbcType=BIGINT},
      FIRST_TRANSACTION_TIMESTAMP = #{record.firstTransactionTimestamp,jdbcType=TIMESTAMP},
      LAST_TRANSACTION_COMPRESSED_BYTES = #{record.lastTransactionCompressedBytes,jdbcType=BIGINT},
      LAST_TRANSACTION_UNCOMPRESSED_BYTES = #{record.lastTransactionUncompressedBytes,jdbcType=BIGINT},
      LAST_TRANSACTION_TIMESTAMP = #{record.lastTransactionTimestamp,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>