<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.CollationCharacterSetApplicabilityMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.CollationCharacterSetApplicability">
    <result column="COLLATION_NAME" jdbcType="VARCHAR" property="collationName" />
    <result column="CHARACTER_SET_NAME" jdbcType="VARCHAR" property="characterSetName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    COLLATION_NAME, CHARACTER_SET_NAME
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.CollationCharacterSetApplicabilityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from COLLATION_CHARACTER_SET_APPLICABILITY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.CollationCharacterSetApplicabilityExample">
    delete from COLLATION_CHARACTER_SET_APPLICABILITY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.CollationCharacterSetApplicability">
    insert into COLLATION_CHARACTER_SET_APPLICABILITY (COLLATION_NAME, CHARACTER_SET_NAME)
    values (#{collationName,jdbcType=VARCHAR}, #{characterSetName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.CollationCharacterSetApplicability">
    insert into COLLATION_CHARACTER_SET_APPLICABILITY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="collationName != null">
        COLLATION_NAME,
      </if>
      <if test="characterSetName != null">
        CHARACTER_SET_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="collationName != null">
        #{collationName,jdbcType=VARCHAR},
      </if>
      <if test="characterSetName != null">
        #{characterSetName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.CollationCharacterSetApplicabilityExample" resultType="java.lang.Integer">
    select count(*) from COLLATION_CHARACTER_SET_APPLICABILITY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update COLLATION_CHARACTER_SET_APPLICABILITY
    <set>
      <if test="record.collationName != null">
        COLLATION_NAME = #{record.collationName,jdbcType=VARCHAR},
      </if>
      <if test="record.characterSetName != null">
        CHARACTER_SET_NAME = #{record.characterSetName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update COLLATION_CHARACTER_SET_APPLICABILITY
    set COLLATION_NAME = #{record.collationName,jdbcType=VARCHAR},
      CHARACTER_SET_NAME = #{record.characterSetName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>