<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.CollationsMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.Collations">
    <result column="COLLATION_NAME" jdbcType="VARCHAR" property="collationName" />
    <result column="CHARACTER_SET_NAME" jdbcType="VARCHAR" property="characterSetName" />
    <result column="ID" jdbcType="BIGINT" property="id" />
    <result column="IS_DEFAULT" jdbcType="VARCHAR" property="isDefault" />
    <result column="IS_COMPILED" jdbcType="VARCHAR" property="isCompiled" />
    <result column="SORTLEN" jdbcType="INTEGER" property="sortlen" />
    <result column="PAD_ATTRIBUTE" jdbcType="CHAR" property="padAttribute" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    COLLATION_NAME, CHARACTER_SET_NAME, ID, IS_DEFAULT, IS_COMPILED, SORTLEN, PAD_ATTRIBUTE
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.CollationsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from COLLATIONS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.CollationsExample">
    delete from COLLATIONS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.Collations">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into COLLATIONS (COLLATION_NAME, CHARACTER_SET_NAME, 
      ID, IS_DEFAULT, IS_COMPILED, 
      SORTLEN, PAD_ATTRIBUTE)
    values (#{collationName,jdbcType=VARCHAR}, #{characterSetName,jdbcType=VARCHAR}, 
      #{id,jdbcType=BIGINT}, #{isDefault,jdbcType=VARCHAR}, #{isCompiled,jdbcType=VARCHAR}, 
      #{sortlen,jdbcType=INTEGER}, #{padAttribute,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.Collations">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into COLLATIONS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="collationName != null">
        COLLATION_NAME,
      </if>
      <if test="characterSetName != null">
        CHARACTER_SET_NAME,
      </if>
      ID,
      <if test="isDefault != null">
        IS_DEFAULT,
      </if>
      <if test="isCompiled != null">
        IS_COMPILED,
      </if>
      <if test="sortlen != null">
        SORTLEN,
      </if>
      <if test="padAttribute != null">
        PAD_ATTRIBUTE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="collationName != null">
        #{collationName,jdbcType=VARCHAR},
      </if>
      <if test="characterSetName != null">
        #{characterSetName,jdbcType=VARCHAR},
      </if>
      #{id,jdbcType=BIGINT},
      <if test="isDefault != null">
        #{isDefault,jdbcType=VARCHAR},
      </if>
      <if test="isCompiled != null">
        #{isCompiled,jdbcType=VARCHAR},
      </if>
      <if test="sortlen != null">
        #{sortlen,jdbcType=INTEGER},
      </if>
      <if test="padAttribute != null">
        #{padAttribute,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.CollationsExample" resultType="java.lang.Integer">
    select count(*) from COLLATIONS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update COLLATIONS
    <set>
      <if test="record.collationName != null">
        COLLATION_NAME = #{record.collationName,jdbcType=VARCHAR},
      </if>
      <if test="record.characterSetName != null">
        CHARACTER_SET_NAME = #{record.characterSetName,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.isDefault != null">
        IS_DEFAULT = #{record.isDefault,jdbcType=VARCHAR},
      </if>
      <if test="record.isCompiled != null">
        IS_COMPILED = #{record.isCompiled,jdbcType=VARCHAR},
      </if>
      <if test="record.sortlen != null">
        SORTLEN = #{record.sortlen,jdbcType=INTEGER},
      </if>
      <if test="record.padAttribute != null">
        PAD_ATTRIBUTE = #{record.padAttribute,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update COLLATIONS
    set COLLATION_NAME = #{record.collationName,jdbcType=VARCHAR},
      CHARACTER_SET_NAME = #{record.characterSetName,jdbcType=VARCHAR},
      ID = #{record.id,jdbcType=BIGINT},
      IS_DEFAULT = #{record.isDefault,jdbcType=VARCHAR},
      IS_COMPILED = #{record.isCompiled,jdbcType=VARCHAR},
      SORTLEN = #{record.sortlen,jdbcType=INTEGER},
      PAD_ATTRIBUTE = #{record.padAttribute,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>