<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.ColumnsPrivMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.ColumnsPriv">
    <id column="Host" jdbcType="CHAR" property="host" />
    <id column="Db" jdbcType="CHAR" property="db" />
    <id column="User" jdbcType="CHAR" property="user" />
    <id column="Table_name" jdbcType="CHAR" property="tableName" />
    <id column="Column_name" jdbcType="CHAR" property="columnName" />
    <result column="Timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    <result column="Column_priv" jdbcType="CHAR" property="columnPriv" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Host, Db, User, Table_name, Column_name, Timestamp, Column_priv
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.ColumnsPrivExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from columns_priv
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from columns_priv
    where Host = #{host,jdbcType=CHAR}
      and Db = #{db,jdbcType=CHAR}
      and User = #{user,jdbcType=CHAR}
      and Table_name = #{tableName,jdbcType=CHAR}
      and Column_name = #{columnName,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from columns_priv
    where Host = #{host,jdbcType=CHAR}
      and Db = #{db,jdbcType=CHAR}
      and User = #{user,jdbcType=CHAR}
      and Table_name = #{tableName,jdbcType=CHAR}
      and Column_name = #{columnName,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.ColumnsPrivExample">
    delete from columns_priv
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.ColumnsPriv">
    insert into columns_priv (Host, Db, User, Table_name, 
      Column_name, Timestamp, Column_priv
      )
    values (#{host,jdbcType=CHAR}, #{db,jdbcType=CHAR}, #{user,jdbcType=CHAR}, #{tableName,jdbcType=CHAR}, 
      #{columnName,jdbcType=CHAR}, #{timestamp,jdbcType=TIMESTAMP}, #{columnPriv,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.ColumnsPriv">
    insert into columns_priv
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="host != null">
        Host,
      </if>
      <if test="db != null">
        Db,
      </if>
      <if test="user != null">
        User,
      </if>
      <if test="tableName != null">
        Table_name,
      </if>
      <if test="columnName != null">
        Column_name,
      </if>
      <if test="timestamp != null">
        Timestamp,
      </if>
      <if test="columnPriv != null">
        Column_priv,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="host != null">
        #{host,jdbcType=CHAR},
      </if>
      <if test="db != null">
        #{db,jdbcType=CHAR},
      </if>
      <if test="user != null">
        #{user,jdbcType=CHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=CHAR},
      </if>
      <if test="columnName != null">
        #{columnName,jdbcType=CHAR},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="columnPriv != null">
        #{columnPriv,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.ColumnsPrivExample" resultType="java.lang.Integer">
    select count(*) from columns_priv
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update columns_priv
    <set>
      <if test="record.host != null">
        Host = #{record.host,jdbcType=CHAR},
      </if>
      <if test="record.db != null">
        Db = #{record.db,jdbcType=CHAR},
      </if>
      <if test="record.user != null">
        User = #{record.user,jdbcType=CHAR},
      </if>
      <if test="record.tableName != null">
        Table_name = #{record.tableName,jdbcType=CHAR},
      </if>
      <if test="record.columnName != null">
        Column_name = #{record.columnName,jdbcType=CHAR},
      </if>
      <if test="record.timestamp != null">
        Timestamp = #{record.timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.columnPriv != null">
        Column_priv = #{record.columnPriv,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update columns_priv
    set Host = #{record.host,jdbcType=CHAR},
      Db = #{record.db,jdbcType=CHAR},
      User = #{record.user,jdbcType=CHAR},
      Table_name = #{record.tableName,jdbcType=CHAR},
      Column_name = #{record.columnName,jdbcType=CHAR},
      Timestamp = #{record.timestamp,jdbcType=TIMESTAMP},
      Column_priv = #{record.columnPriv,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.ColumnsPriv">
    update columns_priv
    <set>
      <if test="timestamp != null">
        Timestamp = #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="columnPriv != null">
        Column_priv = #{columnPriv,jdbcType=CHAR},
      </if>
    </set>
    where Host = #{host,jdbcType=CHAR}
      and Db = #{db,jdbcType=CHAR}
      and User = #{user,jdbcType=CHAR}
      and Table_name = #{tableName,jdbcType=CHAR}
      and Column_name = #{columnName,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.ColumnsPriv">
    update columns_priv
    set Timestamp = #{timestamp,jdbcType=TIMESTAMP},
      Column_priv = #{columnPriv,jdbcType=CHAR}
    where Host = #{host,jdbcType=CHAR}
      and Db = #{db,jdbcType=CHAR}
      and User = #{user,jdbcType=CHAR}
      and Table_name = #{tableName,jdbcType=CHAR}
      and Column_name = #{columnName,jdbcType=CHAR}
  </update>
</mapper>