<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.DataLockWaitsMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.DataLockWaits">
    <result column="ENGINE" jdbcType="VARCHAR" property="engine" />
    <result column="REQUESTING_ENGINE_LOCK_ID" jdbcType="VARCHAR" property="requestingEngineLockId" />
    <result column="REQUESTING_ENGINE_TRANSACTION_ID" jdbcType="BIGINT" property="requestingEngineTransactionId" />
    <result column="REQUESTING_THREAD_ID" jdbcType="BIGINT" property="requestingThreadId" />
    <result column="REQUESTING_EVENT_ID" jdbcType="BIGINT" property="requestingEventId" />
    <result column="REQUESTING_OBJECT_INSTANCE_BEGIN" jdbcType="BIGINT" property="requestingObjectInstanceBegin" />
    <result column="BLOCKING_ENGINE_LOCK_ID" jdbcType="VARCHAR" property="blockingEngineLockId" />
    <result column="BLOCKING_ENGINE_TRANSACTION_ID" jdbcType="BIGINT" property="blockingEngineTransactionId" />
    <result column="BLOCKING_THREAD_ID" jdbcType="BIGINT" property="blockingThreadId" />
    <result column="BLOCKING_EVENT_ID" jdbcType="BIGINT" property="blockingEventId" />
    <result column="BLOCKING_OBJECT_INSTANCE_BEGIN" jdbcType="BIGINT" property="blockingObjectInstanceBegin" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ENGINE, REQUESTING_ENGINE_LOCK_ID, REQUESTING_ENGINE_TRANSACTION_ID, REQUESTING_THREAD_ID, 
    REQUESTING_EVENT_ID, REQUESTING_OBJECT_INSTANCE_BEGIN, BLOCKING_ENGINE_LOCK_ID, BLOCKING_ENGINE_TRANSACTION_ID, 
    BLOCKING_THREAD_ID, BLOCKING_EVENT_ID, BLOCKING_OBJECT_INSTANCE_BEGIN
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.DataLockWaitsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from data_lock_waits
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.DataLockWaitsExample">
    delete from data_lock_waits
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.DataLockWaits">
    insert into data_lock_waits (ENGINE, REQUESTING_ENGINE_LOCK_ID, REQUESTING_ENGINE_TRANSACTION_ID, 
      REQUESTING_THREAD_ID, REQUESTING_EVENT_ID, REQUESTING_OBJECT_INSTANCE_BEGIN, 
      BLOCKING_ENGINE_LOCK_ID, BLOCKING_ENGINE_TRANSACTION_ID, 
      BLOCKING_THREAD_ID, BLOCKING_EVENT_ID, BLOCKING_OBJECT_INSTANCE_BEGIN
      )
    values (#{engine,jdbcType=VARCHAR}, #{requestingEngineLockId,jdbcType=VARCHAR}, #{requestingEngineTransactionId,jdbcType=BIGINT}, 
      #{requestingThreadId,jdbcType=BIGINT}, #{requestingEventId,jdbcType=BIGINT}, #{requestingObjectInstanceBegin,jdbcType=BIGINT}, 
      #{blockingEngineLockId,jdbcType=VARCHAR}, #{blockingEngineTransactionId,jdbcType=BIGINT}, 
      #{blockingThreadId,jdbcType=BIGINT}, #{blockingEventId,jdbcType=BIGINT}, #{blockingObjectInstanceBegin,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.DataLockWaits">
    insert into data_lock_waits
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="engine != null">
        ENGINE,
      </if>
      <if test="requestingEngineLockId != null">
        REQUESTING_ENGINE_LOCK_ID,
      </if>
      <if test="requestingEngineTransactionId != null">
        REQUESTING_ENGINE_TRANSACTION_ID,
      </if>
      <if test="requestingThreadId != null">
        REQUESTING_THREAD_ID,
      </if>
      <if test="requestingEventId != null">
        REQUESTING_EVENT_ID,
      </if>
      <if test="requestingObjectInstanceBegin != null">
        REQUESTING_OBJECT_INSTANCE_BEGIN,
      </if>
      <if test="blockingEngineLockId != null">
        BLOCKING_ENGINE_LOCK_ID,
      </if>
      <if test="blockingEngineTransactionId != null">
        BLOCKING_ENGINE_TRANSACTION_ID,
      </if>
      <if test="blockingThreadId != null">
        BLOCKING_THREAD_ID,
      </if>
      <if test="blockingEventId != null">
        BLOCKING_EVENT_ID,
      </if>
      <if test="blockingObjectInstanceBegin != null">
        BLOCKING_OBJECT_INSTANCE_BEGIN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="engine != null">
        #{engine,jdbcType=VARCHAR},
      </if>
      <if test="requestingEngineLockId != null">
        #{requestingEngineLockId,jdbcType=VARCHAR},
      </if>
      <if test="requestingEngineTransactionId != null">
        #{requestingEngineTransactionId,jdbcType=BIGINT},
      </if>
      <if test="requestingThreadId != null">
        #{requestingThreadId,jdbcType=BIGINT},
      </if>
      <if test="requestingEventId != null">
        #{requestingEventId,jdbcType=BIGINT},
      </if>
      <if test="requestingObjectInstanceBegin != null">
        #{requestingObjectInstanceBegin,jdbcType=BIGINT},
      </if>
      <if test="blockingEngineLockId != null">
        #{blockingEngineLockId,jdbcType=VARCHAR},
      </if>
      <if test="blockingEngineTransactionId != null">
        #{blockingEngineTransactionId,jdbcType=BIGINT},
      </if>
      <if test="blockingThreadId != null">
        #{blockingThreadId,jdbcType=BIGINT},
      </if>
      <if test="blockingEventId != null">
        #{blockingEventId,jdbcType=BIGINT},
      </if>
      <if test="blockingObjectInstanceBegin != null">
        #{blockingObjectInstanceBegin,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.DataLockWaitsExample" resultType="java.lang.Integer">
    select count(*) from data_lock_waits
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update data_lock_waits
    <set>
      <if test="record.engine != null">
        ENGINE = #{record.engine,jdbcType=VARCHAR},
      </if>
      <if test="record.requestingEngineLockId != null">
        REQUESTING_ENGINE_LOCK_ID = #{record.requestingEngineLockId,jdbcType=VARCHAR},
      </if>
      <if test="record.requestingEngineTransactionId != null">
        REQUESTING_ENGINE_TRANSACTION_ID = #{record.requestingEngineTransactionId,jdbcType=BIGINT},
      </if>
      <if test="record.requestingThreadId != null">
        REQUESTING_THREAD_ID = #{record.requestingThreadId,jdbcType=BIGINT},
      </if>
      <if test="record.requestingEventId != null">
        REQUESTING_EVENT_ID = #{record.requestingEventId,jdbcType=BIGINT},
      </if>
      <if test="record.requestingObjectInstanceBegin != null">
        REQUESTING_OBJECT_INSTANCE_BEGIN = #{record.requestingObjectInstanceBegin,jdbcType=BIGINT},
      </if>
      <if test="record.blockingEngineLockId != null">
        BLOCKING_ENGINE_LOCK_ID = #{record.blockingEngineLockId,jdbcType=VARCHAR},
      </if>
      <if test="record.blockingEngineTransactionId != null">
        BLOCKING_ENGINE_TRANSACTION_ID = #{record.blockingEngineTransactionId,jdbcType=BIGINT},
      </if>
      <if test="record.blockingThreadId != null">
        BLOCKING_THREAD_ID = #{record.blockingThreadId,jdbcType=BIGINT},
      </if>
      <if test="record.blockingEventId != null">
        BLOCKING_EVENT_ID = #{record.blockingEventId,jdbcType=BIGINT},
      </if>
      <if test="record.blockingObjectInstanceBegin != null">
        BLOCKING_OBJECT_INSTANCE_BEGIN = #{record.blockingObjectInstanceBegin,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update data_lock_waits
    set ENGINE = #{record.engine,jdbcType=VARCHAR},
      REQUESTING_ENGINE_LOCK_ID = #{record.requestingEngineLockId,jdbcType=VARCHAR},
      REQUESTING_ENGINE_TRANSACTION_ID = #{record.requestingEngineTransactionId,jdbcType=BIGINT},
      REQUESTING_THREAD_ID = #{record.requestingThreadId,jdbcType=BIGINT},
      REQUESTING_EVENT_ID = #{record.requestingEventId,jdbcType=BIGINT},
      REQUESTING_OBJECT_INSTANCE_BEGIN = #{record.requestingObjectInstanceBegin,jdbcType=BIGINT},
      BLOCKING_ENGINE_LOCK_ID = #{record.blockingEngineLockId,jdbcType=VARCHAR},
      BLOCKING_ENGINE_TRANSACTION_ID = #{record.blockingEngineTransactionId,jdbcType=BIGINT},
      BLOCKING_THREAD_ID = #{record.blockingThreadId,jdbcType=BIGINT},
      BLOCKING_EVENT_ID = #{record.blockingEventId,jdbcType=BIGINT},
      BLOCKING_OBJECT_INSTANCE_BEGIN = #{record.blockingObjectInstanceBegin,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>