<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.DataLocksMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.DataLocks">
    <id column="ENGINE_LOCK_ID" jdbcType="VARCHAR" property="engineLockId" />
    <id column="ENGINE" jdbcType="VARCHAR" property="engine" />
    <result column="ENGINE_TRANSACTION_ID" jdbcType="BIGINT" property="engineTransactionId" />
    <result column="THREAD_ID" jdbcType="BIGINT" property="threadId" />
    <result column="EVENT_ID" jdbcType="BIGINT" property="eventId" />
    <result column="OBJECT_SCHEMA" jdbcType="VARCHAR" property="objectSchema" />
    <result column="OBJECT_NAME" jdbcType="VARCHAR" property="objectName" />
    <result column="PARTITION_NAME" jdbcType="VARCHAR" property="partitionName" />
    <result column="SUBPARTITION_NAME" jdbcType="VARCHAR" property="subpartitionName" />
    <result column="INDEX_NAME" jdbcType="VARCHAR" property="indexName" />
    <result column="OBJECT_INSTANCE_BEGIN" jdbcType="BIGINT" property="objectInstanceBegin" />
    <result column="LOCK_TYPE" jdbcType="VARCHAR" property="lockType" />
    <result column="LOCK_MODE" jdbcType="VARCHAR" property="lockMode" />
    <result column="LOCK_STATUS" jdbcType="VARCHAR" property="lockStatus" />
    <result column="LOCK_DATA" jdbcType="VARCHAR" property="lockData" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ENGINE_LOCK_ID, ENGINE, ENGINE_TRANSACTION_ID, THREAD_ID, EVENT_ID, OBJECT_SCHEMA, 
    OBJECT_NAME, PARTITION_NAME, SUBPARTITION_NAME, INDEX_NAME, OBJECT_INSTANCE_BEGIN, 
    LOCK_TYPE, LOCK_MODE, LOCK_STATUS, LOCK_DATA
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.DataLocksExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from data_locks
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from data_locks
    where ENGINE_LOCK_ID = #{engineLockId,jdbcType=VARCHAR}
      and ENGINE = #{engine,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from data_locks
    where ENGINE_LOCK_ID = #{engineLockId,jdbcType=VARCHAR}
      and ENGINE = #{engine,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.DataLocksExample">
    delete from data_locks
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.DataLocks">
    insert into data_locks (ENGINE_LOCK_ID, ENGINE, ENGINE_TRANSACTION_ID, 
      THREAD_ID, EVENT_ID, OBJECT_SCHEMA, 
      OBJECT_NAME, PARTITION_NAME, SUBPARTITION_NAME, 
      INDEX_NAME, OBJECT_INSTANCE_BEGIN, LOCK_TYPE, 
      LOCK_MODE, LOCK_STATUS, LOCK_DATA
      )
    values (#{engineLockId,jdbcType=VARCHAR}, #{engine,jdbcType=VARCHAR}, #{engineTransactionId,jdbcType=BIGINT}, 
      #{threadId,jdbcType=BIGINT}, #{eventId,jdbcType=BIGINT}, #{objectSchema,jdbcType=VARCHAR}, 
      #{objectName,jdbcType=VARCHAR}, #{partitionName,jdbcType=VARCHAR}, #{subpartitionName,jdbcType=VARCHAR}, 
      #{indexName,jdbcType=VARCHAR}, #{objectInstanceBegin,jdbcType=BIGINT}, #{lockType,jdbcType=VARCHAR}, 
      #{lockMode,jdbcType=VARCHAR}, #{lockStatus,jdbcType=VARCHAR}, #{lockData,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.DataLocks">
    insert into data_locks
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="engineLockId != null">
        ENGINE_LOCK_ID,
      </if>
      <if test="engine != null">
        ENGINE,
      </if>
      <if test="engineTransactionId != null">
        ENGINE_TRANSACTION_ID,
      </if>
      <if test="threadId != null">
        THREAD_ID,
      </if>
      <if test="eventId != null">
        EVENT_ID,
      </if>
      <if test="objectSchema != null">
        OBJECT_SCHEMA,
      </if>
      <if test="objectName != null">
        OBJECT_NAME,
      </if>
      <if test="partitionName != null">
        PARTITION_NAME,
      </if>
      <if test="subpartitionName != null">
        SUBPARTITION_NAME,
      </if>
      <if test="indexName != null">
        INDEX_NAME,
      </if>
      <if test="objectInstanceBegin != null">
        OBJECT_INSTANCE_BEGIN,
      </if>
      <if test="lockType != null">
        LOCK_TYPE,
      </if>
      <if test="lockMode != null">
        LOCK_MODE,
      </if>
      <if test="lockStatus != null">
        LOCK_STATUS,
      </if>
      <if test="lockData != null">
        LOCK_DATA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="engineLockId != null">
        #{engineLockId,jdbcType=VARCHAR},
      </if>
      <if test="engine != null">
        #{engine,jdbcType=VARCHAR},
      </if>
      <if test="engineTransactionId != null">
        #{engineTransactionId,jdbcType=BIGINT},
      </if>
      <if test="threadId != null">
        #{threadId,jdbcType=BIGINT},
      </if>
      <if test="eventId != null">
        #{eventId,jdbcType=BIGINT},
      </if>
      <if test="objectSchema != null">
        #{objectSchema,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null">
        #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="partitionName != null">
        #{partitionName,jdbcType=VARCHAR},
      </if>
      <if test="subpartitionName != null">
        #{subpartitionName,jdbcType=VARCHAR},
      </if>
      <if test="indexName != null">
        #{indexName,jdbcType=VARCHAR},
      </if>
      <if test="objectInstanceBegin != null">
        #{objectInstanceBegin,jdbcType=BIGINT},
      </if>
      <if test="lockType != null">
        #{lockType,jdbcType=VARCHAR},
      </if>
      <if test="lockMode != null">
        #{lockMode,jdbcType=VARCHAR},
      </if>
      <if test="lockStatus != null">
        #{lockStatus,jdbcType=VARCHAR},
      </if>
      <if test="lockData != null">
        #{lockData,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.DataLocksExample" resultType="java.lang.Integer">
    select count(*) from data_locks
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update data_locks
    <set>
      <if test="record.engineLockId != null">
        ENGINE_LOCK_ID = #{record.engineLockId,jdbcType=VARCHAR},
      </if>
      <if test="record.engine != null">
        ENGINE = #{record.engine,jdbcType=VARCHAR},
      </if>
      <if test="record.engineTransactionId != null">
        ENGINE_TRANSACTION_ID = #{record.engineTransactionId,jdbcType=BIGINT},
      </if>
      <if test="record.threadId != null">
        THREAD_ID = #{record.threadId,jdbcType=BIGINT},
      </if>
      <if test="record.eventId != null">
        EVENT_ID = #{record.eventId,jdbcType=BIGINT},
      </if>
      <if test="record.objectSchema != null">
        OBJECT_SCHEMA = #{record.objectSchema,jdbcType=VARCHAR},
      </if>
      <if test="record.objectName != null">
        OBJECT_NAME = #{record.objectName,jdbcType=VARCHAR},
      </if>
      <if test="record.partitionName != null">
        PARTITION_NAME = #{record.partitionName,jdbcType=VARCHAR},
      </if>
      <if test="record.subpartitionName != null">
        SUBPARTITION_NAME = #{record.subpartitionName,jdbcType=VARCHAR},
      </if>
      <if test="record.indexName != null">
        INDEX_NAME = #{record.indexName,jdbcType=VARCHAR},
      </if>
      <if test="record.objectInstanceBegin != null">
        OBJECT_INSTANCE_BEGIN = #{record.objectInstanceBegin,jdbcType=BIGINT},
      </if>
      <if test="record.lockType != null">
        LOCK_TYPE = #{record.lockType,jdbcType=VARCHAR},
      </if>
      <if test="record.lockMode != null">
        LOCK_MODE = #{record.lockMode,jdbcType=VARCHAR},
      </if>
      <if test="record.lockStatus != null">
        LOCK_STATUS = #{record.lockStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.lockData != null">
        LOCK_DATA = #{record.lockData,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update data_locks
    set ENGINE_LOCK_ID = #{record.engineLockId,jdbcType=VARCHAR},
      ENGINE = #{record.engine,jdbcType=VARCHAR},
      ENGINE_TRANSACTION_ID = #{record.engineTransactionId,jdbcType=BIGINT},
      THREAD_ID = #{record.threadId,jdbcType=BIGINT},
      EVENT_ID = #{record.eventId,jdbcType=BIGINT},
      OBJECT_SCHEMA = #{record.objectSchema,jdbcType=VARCHAR},
      OBJECT_NAME = #{record.objectName,jdbcType=VARCHAR},
      PARTITION_NAME = #{record.partitionName,jdbcType=VARCHAR},
      SUBPARTITION_NAME = #{record.subpartitionName,jdbcType=VARCHAR},
      INDEX_NAME = #{record.indexName,jdbcType=VARCHAR},
      OBJECT_INSTANCE_BEGIN = #{record.objectInstanceBegin,jdbcType=BIGINT},
      LOCK_TYPE = #{record.lockType,jdbcType=VARCHAR},
      LOCK_MODE = #{record.lockMode,jdbcType=VARCHAR},
      LOCK_STATUS = #{record.lockStatus,jdbcType=VARCHAR},
      LOCK_DATA = #{record.lockData,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.DataLocks">
    update data_locks
    <set>
      <if test="engineTransactionId != null">
        ENGINE_TRANSACTION_ID = #{engineTransactionId,jdbcType=BIGINT},
      </if>
      <if test="threadId != null">
        THREAD_ID = #{threadId,jdbcType=BIGINT},
      </if>
      <if test="eventId != null">
        EVENT_ID = #{eventId,jdbcType=BIGINT},
      </if>
      <if test="objectSchema != null">
        OBJECT_SCHEMA = #{objectSchema,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null">
        OBJECT_NAME = #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="partitionName != null">
        PARTITION_NAME = #{partitionName,jdbcType=VARCHAR},
      </if>
      <if test="subpartitionName != null">
        SUBPARTITION_NAME = #{subpartitionName,jdbcType=VARCHAR},
      </if>
      <if test="indexName != null">
        INDEX_NAME = #{indexName,jdbcType=VARCHAR},
      </if>
      <if test="objectInstanceBegin != null">
        OBJECT_INSTANCE_BEGIN = #{objectInstanceBegin,jdbcType=BIGINT},
      </if>
      <if test="lockType != null">
        LOCK_TYPE = #{lockType,jdbcType=VARCHAR},
      </if>
      <if test="lockMode != null">
        LOCK_MODE = #{lockMode,jdbcType=VARCHAR},
      </if>
      <if test="lockStatus != null">
        LOCK_STATUS = #{lockStatus,jdbcType=VARCHAR},
      </if>
      <if test="lockData != null">
        LOCK_DATA = #{lockData,jdbcType=VARCHAR},
      </if>
    </set>
    where ENGINE_LOCK_ID = #{engineLockId,jdbcType=VARCHAR}
      and ENGINE = #{engine,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.DataLocks">
    update data_locks
    set ENGINE_TRANSACTION_ID = #{engineTransactionId,jdbcType=BIGINT},
      THREAD_ID = #{threadId,jdbcType=BIGINT},
      EVENT_ID = #{eventId,jdbcType=BIGINT},
      OBJECT_SCHEMA = #{objectSchema,jdbcType=VARCHAR},
      OBJECT_NAME = #{objectName,jdbcType=VARCHAR},
      PARTITION_NAME = #{partitionName,jdbcType=VARCHAR},
      SUBPARTITION_NAME = #{subpartitionName,jdbcType=VARCHAR},
      INDEX_NAME = #{indexName,jdbcType=VARCHAR},
      OBJECT_INSTANCE_BEGIN = #{objectInstanceBegin,jdbcType=BIGINT},
      LOCK_TYPE = #{lockType,jdbcType=VARCHAR},
      LOCK_MODE = #{lockMode,jdbcType=VARCHAR},
      LOCK_STATUS = #{lockStatus,jdbcType=VARCHAR},
      LOCK_DATA = #{lockData,jdbcType=VARCHAR}
    where ENGINE_LOCK_ID = #{engineLockId,jdbcType=VARCHAR}
      and ENGINE = #{engine,jdbcType=VARCHAR}
  </update>
</mapper>