<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.DefaultRolesMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.DefaultRoles">
    <id column="HOST" jdbcType="CHAR" property="host" />
    <id column="USER" jdbcType="CHAR" property="user" />
    <id column="DEFAULT_ROLE_HOST" jdbcType="CHAR" property="defaultRoleHost" />
    <id column="DEFAULT_ROLE_USER" jdbcType="CHAR" property="defaultRoleUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    HOST, USER, DEFAULT_ROLE_HOST, DEFAULT_ROLE_USER
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.DefaultRolesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from default_roles
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from default_roles
    where HOST = #{host,jdbcType=CHAR}
      and USER = #{user,jdbcType=CHAR}
      and DEFAULT_ROLE_HOST = #{defaultRoleHost,jdbcType=CHAR}
      and DEFAULT_ROLE_USER = #{defaultRoleUser,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.DefaultRolesExample">
    delete from default_roles
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.DefaultRoles">
    insert into default_roles (HOST, USER, DEFAULT_ROLE_HOST, 
      DEFAULT_ROLE_USER)
    values (#{host,jdbcType=CHAR}, #{user,jdbcType=CHAR}, #{defaultRoleHost,jdbcType=CHAR}, 
      #{defaultRoleUser,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.DefaultRoles">
    insert into default_roles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="host != null">
        HOST,
      </if>
      <if test="user != null">
        USER,
      </if>
      <if test="defaultRoleHost != null">
        DEFAULT_ROLE_HOST,
      </if>
      <if test="defaultRoleUser != null">
        DEFAULT_ROLE_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="host != null">
        #{host,jdbcType=CHAR},
      </if>
      <if test="user != null">
        #{user,jdbcType=CHAR},
      </if>
      <if test="defaultRoleHost != null">
        #{defaultRoleHost,jdbcType=CHAR},
      </if>
      <if test="defaultRoleUser != null">
        #{defaultRoleUser,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.DefaultRolesExample" resultType="java.lang.Integer">
    select count(*) from default_roles
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update default_roles
    <set>
      <if test="record.host != null">
        HOST = #{record.host,jdbcType=CHAR},
      </if>
      <if test="record.user != null">
        USER = #{record.user,jdbcType=CHAR},
      </if>
      <if test="record.defaultRoleHost != null">
        DEFAULT_ROLE_HOST = #{record.defaultRoleHost,jdbcType=CHAR},
      </if>
      <if test="record.defaultRoleUser != null">
        DEFAULT_ROLE_USER = #{record.defaultRoleUser,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update default_roles
    set HOST = #{record.host,jdbcType=CHAR},
      USER = #{record.user,jdbcType=CHAR},
      DEFAULT_ROLE_HOST = #{record.defaultRoleHost,jdbcType=CHAR},
      DEFAULT_ROLE_USER = #{record.defaultRoleUser,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>