<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.EngineCostMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.EngineCost">
    <id column="cost_name" jdbcType="VARCHAR" property="costName" />
    <id column="engine_name" jdbcType="VARCHAR" property="engineName" />
    <id column="device_type" jdbcType="INTEGER" property="deviceType" />
    <result column="cost_value" jdbcType="REAL" property="costValue" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="default_value" jdbcType="REAL" property="defaultValue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cost_name, engine_name, device_type, cost_value, last_update, comment, default_value
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.EngineCostExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from engine_cost
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from engine_cost
    where cost_name = #{costName,jdbcType=VARCHAR}
      and engine_name = #{engineName,jdbcType=VARCHAR}
      and device_type = #{deviceType,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from engine_cost
    where cost_name = #{costName,jdbcType=VARCHAR}
      and engine_name = #{engineName,jdbcType=VARCHAR}
      and device_type = #{deviceType,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.EngineCostExample">
    delete from engine_cost
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.EngineCost">
    insert into engine_cost (cost_name, engine_name, device_type, 
      cost_value, last_update, comment, 
      default_value)
    values (#{costName,jdbcType=VARCHAR}, #{engineName,jdbcType=VARCHAR}, #{deviceType,jdbcType=INTEGER}, 
      #{costValue,jdbcType=REAL}, #{lastUpdate,jdbcType=TIMESTAMP}, #{comment,jdbcType=VARCHAR}, 
      #{defaultValue,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.EngineCost">
    insert into engine_cost
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="costName != null">
        cost_name,
      </if>
      <if test="engineName != null">
        engine_name,
      </if>
      <if test="deviceType != null">
        device_type,
      </if>
      <if test="costValue != null">
        cost_value,
      </if>
      <if test="lastUpdate != null">
        last_update,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="defaultValue != null">
        default_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="costName != null">
        #{costName,jdbcType=VARCHAR},
      </if>
      <if test="engineName != null">
        #{engineName,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null">
        #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="costValue != null">
        #{costValue,jdbcType=REAL},
      </if>
      <if test="lastUpdate != null">
        #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null">
        #{defaultValue,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.EngineCostExample" resultType="java.lang.Integer">
    select count(*) from engine_cost
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update engine_cost
    <set>
      <if test="record.costName != null">
        cost_name = #{record.costName,jdbcType=VARCHAR},
      </if>
      <if test="record.engineName != null">
        engine_name = #{record.engineName,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceType != null">
        device_type = #{record.deviceType,jdbcType=INTEGER},
      </if>
      <if test="record.costValue != null">
        cost_value = #{record.costValue,jdbcType=REAL},
      </if>
      <if test="record.lastUpdate != null">
        last_update = #{record.lastUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.defaultValue != null">
        default_value = #{record.defaultValue,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update engine_cost
    set cost_name = #{record.costName,jdbcType=VARCHAR},
      engine_name = #{record.engineName,jdbcType=VARCHAR},
      device_type = #{record.deviceType,jdbcType=INTEGER},
      cost_value = #{record.costValue,jdbcType=REAL},
      last_update = #{record.lastUpdate,jdbcType=TIMESTAMP},
      comment = #{record.comment,jdbcType=VARCHAR},
      default_value = #{record.defaultValue,jdbcType=REAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.EngineCost">
    update engine_cost
    <set>
      <if test="costValue != null">
        cost_value = #{costValue,jdbcType=REAL},
      </if>
      <if test="lastUpdate != null">
        last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null">
        default_value = #{defaultValue,jdbcType=REAL},
      </if>
    </set>
    where cost_name = #{costName,jdbcType=VARCHAR}
      and engine_name = #{engineName,jdbcType=VARCHAR}
      and device_type = #{deviceType,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.EngineCost">
    update engine_cost
    set cost_value = #{costValue,jdbcType=REAL},
      last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=VARCHAR},
      default_value = #{defaultValue,jdbcType=REAL}
    where cost_name = #{costName,jdbcType=VARCHAR}
      and engine_name = #{engineName,jdbcType=VARCHAR}
      and device_type = #{deviceType,jdbcType=INTEGER}
  </update>
</mapper>