<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.EventsMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.Events">
    <result column="EVENT_CATALOG" jdbcType="VARCHAR" property="eventCatalog" />
    <result column="EVENT_SCHEMA" jdbcType="VARCHAR" property="eventSchema" />
    <result column="EVENT_NAME" jdbcType="VARCHAR" property="eventName" />
    <result column="DEFINER" jdbcType="VARCHAR" property="definer" />
    <result column="TIME_ZONE" jdbcType="VARCHAR" property="timeZone" />
    <result column="EVENT_BODY" jdbcType="VARCHAR" property="eventBody" />
    <result column="EVENT_TYPE" jdbcType="VARCHAR" property="eventType" />
    <result column="EXECUTE_AT" jdbcType="TIMESTAMP" property="executeAt" />
    <result column="INTERVAL_VALUE" jdbcType="VARCHAR" property="intervalValue" />
    <result column="INTERVAL_FIELD" jdbcType="CHAR" property="intervalField" />
    <result column="SQL_MODE" jdbcType="CHAR" property="sqlMode" />
    <result column="STARTS" jdbcType="TIMESTAMP" property="starts" />
    <result column="ENDS" jdbcType="TIMESTAMP" property="ends" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="ON_COMPLETION" jdbcType="VARCHAR" property="onCompletion" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="LAST_ALTERED" jdbcType="TIMESTAMP" property="lastAltered" />
    <result column="LAST_EXECUTED" jdbcType="TIMESTAMP" property="lastExecuted" />
    <result column="EVENT_COMMENT" jdbcType="VARCHAR" property="eventComment" />
    <result column="ORIGINATOR" jdbcType="INTEGER" property="originator" />
    <result column="CHARACTER_SET_CLIENT" jdbcType="VARCHAR" property="characterSetClient" />
    <result column="COLLATION_CONNECTION" jdbcType="VARCHAR" property="collationConnection" />
    <result column="DATABASE_COLLATION" jdbcType="VARCHAR" property="databaseCollation" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zzp.mall.model.Events">
    <result column="EVENT_DEFINITION" jdbcType="LONGVARCHAR" property="eventDefinition" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    EVENT_CATALOG, EVENT_SCHEMA, EVENT_NAME, DEFINER, TIME_ZONE, EVENT_BODY, EVENT_TYPE, 
    EXECUTE_AT, INTERVAL_VALUE, INTERVAL_FIELD, SQL_MODE, STARTS, ENDS, STATUS, ON_COMPLETION, 
    CREATED, LAST_ALTERED, LAST_EXECUTED, EVENT_COMMENT, ORIGINATOR, CHARACTER_SET_CLIENT, 
    COLLATION_CONNECTION, DATABASE_COLLATION
  </sql>
  <sql id="Blob_Column_List">
    EVENT_DEFINITION
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zzp.mall.model.EventsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from EVENTS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zzp.mall.model.EventsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from EVENTS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.EventsExample">
    delete from EVENTS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.Events">
    insert into EVENTS (EVENT_CATALOG, EVENT_SCHEMA, EVENT_NAME, 
      DEFINER, TIME_ZONE, EVENT_BODY, 
      EVENT_TYPE, EXECUTE_AT, INTERVAL_VALUE, 
      INTERVAL_FIELD, SQL_MODE, STARTS, 
      ENDS, STATUS, ON_COMPLETION, 
      CREATED, LAST_ALTERED, LAST_EXECUTED, 
      EVENT_COMMENT, ORIGINATOR, CHARACTER_SET_CLIENT, 
      COLLATION_CONNECTION, DATABASE_COLLATION, 
      EVENT_DEFINITION)
    values (#{eventCatalog,jdbcType=VARCHAR}, #{eventSchema,jdbcType=VARCHAR}, #{eventName,jdbcType=VARCHAR}, 
      #{definer,jdbcType=VARCHAR}, #{timeZone,jdbcType=VARCHAR}, #{eventBody,jdbcType=VARCHAR}, 
      #{eventType,jdbcType=VARCHAR}, #{executeAt,jdbcType=TIMESTAMP}, #{intervalValue,jdbcType=VARCHAR}, 
      #{intervalField,jdbcType=CHAR}, #{sqlMode,jdbcType=CHAR}, #{starts,jdbcType=TIMESTAMP}, 
      #{ends,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}, #{onCompletion,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{lastAltered,jdbcType=TIMESTAMP}, #{lastExecuted,jdbcType=TIMESTAMP}, 
      #{eventComment,jdbcType=VARCHAR}, #{originator,jdbcType=INTEGER}, #{characterSetClient,jdbcType=VARCHAR}, 
      #{collationConnection,jdbcType=VARCHAR}, #{databaseCollation,jdbcType=VARCHAR}, 
      #{eventDefinition,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.Events">
    insert into EVENTS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eventCatalog != null">
        EVENT_CATALOG,
      </if>
      <if test="eventSchema != null">
        EVENT_SCHEMA,
      </if>
      <if test="eventName != null">
        EVENT_NAME,
      </if>
      <if test="definer != null">
        DEFINER,
      </if>
      <if test="timeZone != null">
        TIME_ZONE,
      </if>
      <if test="eventBody != null">
        EVENT_BODY,
      </if>
      <if test="eventType != null">
        EVENT_TYPE,
      </if>
      <if test="executeAt != null">
        EXECUTE_AT,
      </if>
      <if test="intervalValue != null">
        INTERVAL_VALUE,
      </if>
      <if test="intervalField != null">
        INTERVAL_FIELD,
      </if>
      <if test="sqlMode != null">
        SQL_MODE,
      </if>
      <if test="starts != null">
        STARTS,
      </if>
      <if test="ends != null">
        ENDS,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="onCompletion != null">
        ON_COMPLETION,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="lastAltered != null">
        LAST_ALTERED,
      </if>
      <if test="lastExecuted != null">
        LAST_EXECUTED,
      </if>
      <if test="eventComment != null">
        EVENT_COMMENT,
      </if>
      <if test="originator != null">
        ORIGINATOR,
      </if>
      <if test="characterSetClient != null">
        CHARACTER_SET_CLIENT,
      </if>
      <if test="collationConnection != null">
        COLLATION_CONNECTION,
      </if>
      <if test="databaseCollation != null">
        DATABASE_COLLATION,
      </if>
      <if test="eventDefinition != null">
        EVENT_DEFINITION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eventCatalog != null">
        #{eventCatalog,jdbcType=VARCHAR},
      </if>
      <if test="eventSchema != null">
        #{eventSchema,jdbcType=VARCHAR},
      </if>
      <if test="eventName != null">
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="definer != null">
        #{definer,jdbcType=VARCHAR},
      </if>
      <if test="timeZone != null">
        #{timeZone,jdbcType=VARCHAR},
      </if>
      <if test="eventBody != null">
        #{eventBody,jdbcType=VARCHAR},
      </if>
      <if test="eventType != null">
        #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="executeAt != null">
        #{executeAt,jdbcType=TIMESTAMP},
      </if>
      <if test="intervalValue != null">
        #{intervalValue,jdbcType=VARCHAR},
      </if>
      <if test="intervalField != null">
        #{intervalField,jdbcType=CHAR},
      </if>
      <if test="sqlMode != null">
        #{sqlMode,jdbcType=CHAR},
      </if>
      <if test="starts != null">
        #{starts,jdbcType=TIMESTAMP},
      </if>
      <if test="ends != null">
        #{ends,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="onCompletion != null">
        #{onCompletion,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAltered != null">
        #{lastAltered,jdbcType=TIMESTAMP},
      </if>
      <if test="lastExecuted != null">
        #{lastExecuted,jdbcType=TIMESTAMP},
      </if>
      <if test="eventComment != null">
        #{eventComment,jdbcType=VARCHAR},
      </if>
      <if test="originator != null">
        #{originator,jdbcType=INTEGER},
      </if>
      <if test="characterSetClient != null">
        #{characterSetClient,jdbcType=VARCHAR},
      </if>
      <if test="collationConnection != null">
        #{collationConnection,jdbcType=VARCHAR},
      </if>
      <if test="databaseCollation != null">
        #{databaseCollation,jdbcType=VARCHAR},
      </if>
      <if test="eventDefinition != null">
        #{eventDefinition,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.EventsExample" resultType="java.lang.Integer">
    select count(*) from EVENTS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update EVENTS
    <set>
      <if test="record.eventCatalog != null">
        EVENT_CATALOG = #{record.eventCatalog,jdbcType=VARCHAR},
      </if>
      <if test="record.eventSchema != null">
        EVENT_SCHEMA = #{record.eventSchema,jdbcType=VARCHAR},
      </if>
      <if test="record.eventName != null">
        EVENT_NAME = #{record.eventName,jdbcType=VARCHAR},
      </if>
      <if test="record.definer != null">
        DEFINER = #{record.definer,jdbcType=VARCHAR},
      </if>
      <if test="record.timeZone != null">
        TIME_ZONE = #{record.timeZone,jdbcType=VARCHAR},
      </if>
      <if test="record.eventBody != null">
        EVENT_BODY = #{record.eventBody,jdbcType=VARCHAR},
      </if>
      <if test="record.eventType != null">
        EVENT_TYPE = #{record.eventType,jdbcType=VARCHAR},
      </if>
      <if test="record.executeAt != null">
        EXECUTE_AT = #{record.executeAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.intervalValue != null">
        INTERVAL_VALUE = #{record.intervalValue,jdbcType=VARCHAR},
      </if>
      <if test="record.intervalField != null">
        INTERVAL_FIELD = #{record.intervalField,jdbcType=CHAR},
      </if>
      <if test="record.sqlMode != null">
        SQL_MODE = #{record.sqlMode,jdbcType=CHAR},
      </if>
      <if test="record.starts != null">
        STARTS = #{record.starts,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ends != null">
        ENDS = #{record.ends,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.onCompletion != null">
        ON_COMPLETION = #{record.onCompletion,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null">
        CREATED = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastAltered != null">
        LAST_ALTERED = #{record.lastAltered,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastExecuted != null">
        LAST_EXECUTED = #{record.lastExecuted,jdbcType=TIMESTAMP},
      </if>
      <if test="record.eventComment != null">
        EVENT_COMMENT = #{record.eventComment,jdbcType=VARCHAR},
      </if>
      <if test="record.originator != null">
        ORIGINATOR = #{record.originator,jdbcType=INTEGER},
      </if>
      <if test="record.characterSetClient != null">
        CHARACTER_SET_CLIENT = #{record.characterSetClient,jdbcType=VARCHAR},
      </if>
      <if test="record.collationConnection != null">
        COLLATION_CONNECTION = #{record.collationConnection,jdbcType=VARCHAR},
      </if>
      <if test="record.databaseCollation != null">
        DATABASE_COLLATION = #{record.databaseCollation,jdbcType=VARCHAR},
      </if>
      <if test="record.eventDefinition != null">
        EVENT_DEFINITION = #{record.eventDefinition,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update EVENTS
    set EVENT_CATALOG = #{record.eventCatalog,jdbcType=VARCHAR},
      EVENT_SCHEMA = #{record.eventSchema,jdbcType=VARCHAR},
      EVENT_NAME = #{record.eventName,jdbcType=VARCHAR},
      DEFINER = #{record.definer,jdbcType=VARCHAR},
      TIME_ZONE = #{record.timeZone,jdbcType=VARCHAR},
      EVENT_BODY = #{record.eventBody,jdbcType=VARCHAR},
      EVENT_TYPE = #{record.eventType,jdbcType=VARCHAR},
      EXECUTE_AT = #{record.executeAt,jdbcType=TIMESTAMP},
      INTERVAL_VALUE = #{record.intervalValue,jdbcType=VARCHAR},
      INTERVAL_FIELD = #{record.intervalField,jdbcType=CHAR},
      SQL_MODE = #{record.sqlMode,jdbcType=CHAR},
      STARTS = #{record.starts,jdbcType=TIMESTAMP},
      ENDS = #{record.ends,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=CHAR},
      ON_COMPLETION = #{record.onCompletion,jdbcType=VARCHAR},
      CREATED = #{record.created,jdbcType=TIMESTAMP},
      LAST_ALTERED = #{record.lastAltered,jdbcType=TIMESTAMP},
      LAST_EXECUTED = #{record.lastExecuted,jdbcType=TIMESTAMP},
      EVENT_COMMENT = #{record.eventComment,jdbcType=VARCHAR},
      ORIGINATOR = #{record.originator,jdbcType=INTEGER},
      CHARACTER_SET_CLIENT = #{record.characterSetClient,jdbcType=VARCHAR},
      COLLATION_CONNECTION = #{record.collationConnection,jdbcType=VARCHAR},
      DATABASE_COLLATION = #{record.databaseCollation,jdbcType=VARCHAR},
      EVENT_DEFINITION = #{record.eventDefinition,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update EVENTS
    set EVENT_CATALOG = #{record.eventCatalog,jdbcType=VARCHAR},
      EVENT_SCHEMA = #{record.eventSchema,jdbcType=VARCHAR},
      EVENT_NAME = #{record.eventName,jdbcType=VARCHAR},
      DEFINER = #{record.definer,jdbcType=VARCHAR},
      TIME_ZONE = #{record.timeZone,jdbcType=VARCHAR},
      EVENT_BODY = #{record.eventBody,jdbcType=VARCHAR},
      EVENT_TYPE = #{record.eventType,jdbcType=VARCHAR},
      EXECUTE_AT = #{record.executeAt,jdbcType=TIMESTAMP},
      INTERVAL_VALUE = #{record.intervalValue,jdbcType=VARCHAR},
      INTERVAL_FIELD = #{record.intervalField,jdbcType=CHAR},
      SQL_MODE = #{record.sqlMode,jdbcType=CHAR},
      STARTS = #{record.starts,jdbcType=TIMESTAMP},
      ENDS = #{record.ends,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=CHAR},
      ON_COMPLETION = #{record.onCompletion,jdbcType=VARCHAR},
      CREATED = #{record.created,jdbcType=TIMESTAMP},
      LAST_ALTERED = #{record.lastAltered,jdbcType=TIMESTAMP},
      LAST_EXECUTED = #{record.lastExecuted,jdbcType=TIMESTAMP},
      EVENT_COMMENT = #{record.eventComment,jdbcType=VARCHAR},
      ORIGINATOR = #{record.originator,jdbcType=INTEGER},
      CHARACTER_SET_CLIENT = #{record.characterSetClient,jdbcType=VARCHAR},
      COLLATION_CONNECTION = #{record.collationConnection,jdbcType=VARCHAR},
      DATABASE_COLLATION = #{record.databaseCollation,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>