<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.EventsStatementsHistogramGlobalMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.EventsStatementsHistogramGlobal">
    <id column="BUCKET_NUMBER" jdbcType="INTEGER" property="bucketNumber" />
    <result column="BUCKET_TIMER_LOW" jdbcType="BIGINT" property="bucketTimerLow" />
    <result column="BUCKET_TIMER_HIGH" jdbcType="BIGINT" property="bucketTimerHigh" />
    <result column="COUNT_BUCKET" jdbcType="BIGINT" property="countBucket" />
    <result column="COUNT_BUCKET_AND_LOWER" jdbcType="BIGINT" property="countBucketAndLower" />
    <result column="BUCKET_QUANTILE" jdbcType="DOUBLE" property="bucketQuantile" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BUCKET_NUMBER, BUCKET_TIMER_LOW, BUCKET_TIMER_HIGH, COUNT_BUCKET, COUNT_BUCKET_AND_LOWER, 
    BUCKET_QUANTILE
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.EventsStatementsHistogramGlobalExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from events_statements_histogram_global
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from events_statements_histogram_global
    where BUCKET_NUMBER = #{bucketNumber,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from events_statements_histogram_global
    where BUCKET_NUMBER = #{bucketNumber,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.EventsStatementsHistogramGlobalExample">
    delete from events_statements_histogram_global
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.EventsStatementsHistogramGlobal">
    insert into events_statements_histogram_global (BUCKET_NUMBER, BUCKET_TIMER_LOW, BUCKET_TIMER_HIGH, 
      COUNT_BUCKET, COUNT_BUCKET_AND_LOWER, BUCKET_QUANTILE
      )
    values (#{bucketNumber,jdbcType=INTEGER}, #{bucketTimerLow,jdbcType=BIGINT}, #{bucketTimerHigh,jdbcType=BIGINT}, 
      #{countBucket,jdbcType=BIGINT}, #{countBucketAndLower,jdbcType=BIGINT}, #{bucketQuantile,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.EventsStatementsHistogramGlobal">
    insert into events_statements_histogram_global
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bucketNumber != null">
        BUCKET_NUMBER,
      </if>
      <if test="bucketTimerLow != null">
        BUCKET_TIMER_LOW,
      </if>
      <if test="bucketTimerHigh != null">
        BUCKET_TIMER_HIGH,
      </if>
      <if test="countBucket != null">
        COUNT_BUCKET,
      </if>
      <if test="countBucketAndLower != null">
        COUNT_BUCKET_AND_LOWER,
      </if>
      <if test="bucketQuantile != null">
        BUCKET_QUANTILE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bucketNumber != null">
        #{bucketNumber,jdbcType=INTEGER},
      </if>
      <if test="bucketTimerLow != null">
        #{bucketTimerLow,jdbcType=BIGINT},
      </if>
      <if test="bucketTimerHigh != null">
        #{bucketTimerHigh,jdbcType=BIGINT},
      </if>
      <if test="countBucket != null">
        #{countBucket,jdbcType=BIGINT},
      </if>
      <if test="countBucketAndLower != null">
        #{countBucketAndLower,jdbcType=BIGINT},
      </if>
      <if test="bucketQuantile != null">
        #{bucketQuantile,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.EventsStatementsHistogramGlobalExample" resultType="java.lang.Integer">
    select count(*) from events_statements_histogram_global
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update events_statements_histogram_global
    <set>
      <if test="record.bucketNumber != null">
        BUCKET_NUMBER = #{record.bucketNumber,jdbcType=INTEGER},
      </if>
      <if test="record.bucketTimerLow != null">
        BUCKET_TIMER_LOW = #{record.bucketTimerLow,jdbcType=BIGINT},
      </if>
      <if test="record.bucketTimerHigh != null">
        BUCKET_TIMER_HIGH = #{record.bucketTimerHigh,jdbcType=BIGINT},
      </if>
      <if test="record.countBucket != null">
        COUNT_BUCKET = #{record.countBucket,jdbcType=BIGINT},
      </if>
      <if test="record.countBucketAndLower != null">
        COUNT_BUCKET_AND_LOWER = #{record.countBucketAndLower,jdbcType=BIGINT},
      </if>
      <if test="record.bucketQuantile != null">
        BUCKET_QUANTILE = #{record.bucketQuantile,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update events_statements_histogram_global
    set BUCKET_NUMBER = #{record.bucketNumber,jdbcType=INTEGER},
      BUCKET_TIMER_LOW = #{record.bucketTimerLow,jdbcType=BIGINT},
      BUCKET_TIMER_HIGH = #{record.bucketTimerHigh,jdbcType=BIGINT},
      COUNT_BUCKET = #{record.countBucket,jdbcType=BIGINT},
      COUNT_BUCKET_AND_LOWER = #{record.countBucketAndLower,jdbcType=BIGINT},
      BUCKET_QUANTILE = #{record.bucketQuantile,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.EventsStatementsHistogramGlobal">
    update events_statements_histogram_global
    <set>
      <if test="bucketTimerLow != null">
        BUCKET_TIMER_LOW = #{bucketTimerLow,jdbcType=BIGINT},
      </if>
      <if test="bucketTimerHigh != null">
        BUCKET_TIMER_HIGH = #{bucketTimerHigh,jdbcType=BIGINT},
      </if>
      <if test="countBucket != null">
        COUNT_BUCKET = #{countBucket,jdbcType=BIGINT},
      </if>
      <if test="countBucketAndLower != null">
        COUNT_BUCKET_AND_LOWER = #{countBucketAndLower,jdbcType=BIGINT},
      </if>
      <if test="bucketQuantile != null">
        BUCKET_QUANTILE = #{bucketQuantile,jdbcType=DOUBLE},
      </if>
    </set>
    where BUCKET_NUMBER = #{bucketNumber,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.EventsStatementsHistogramGlobal">
    update events_statements_histogram_global
    set BUCKET_TIMER_LOW = #{bucketTimerLow,jdbcType=BIGINT},
      BUCKET_TIMER_HIGH = #{bucketTimerHigh,jdbcType=BIGINT},
      COUNT_BUCKET = #{countBucket,jdbcType=BIGINT},
      COUNT_BUCKET_AND_LOWER = #{countBucketAndLower,jdbcType=BIGINT},
      BUCKET_QUANTILE = #{bucketQuantile,jdbcType=DOUBLE}
    where BUCKET_NUMBER = #{bucketNumber,jdbcType=INTEGER}
  </update>
</mapper>