<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.FilesMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.Files">
    <result column="FILE_ID" jdbcType="BIGINT" property="fileId" />
    <result column="FILE_TYPE" jdbcType="VARCHAR" property="fileType" />
    <result column="TABLESPACE_NAME" jdbcType="VARCHAR" property="tablespaceName" />
    <result column="TABLE_CATALOG" jdbcType="CHAR" property="tableCatalog" />
    <result column="LOGFILE_GROUP_NAME" jdbcType="VARCHAR" property="logfileGroupName" />
    <result column="LOGFILE_GROUP_NUMBER" jdbcType="BIGINT" property="logfileGroupNumber" />
    <result column="ENGINE" jdbcType="VARCHAR" property="engine" />
    <result column="FREE_EXTENTS" jdbcType="BIGINT" property="freeExtents" />
    <result column="TOTAL_EXTENTS" jdbcType="BIGINT" property="totalExtents" />
    <result column="EXTENT_SIZE" jdbcType="BIGINT" property="extentSize" />
    <result column="INITIAL_SIZE" jdbcType="BIGINT" property="initialSize" />
    <result column="MAXIMUM_SIZE" jdbcType="BIGINT" property="maximumSize" />
    <result column="AUTOEXTEND_SIZE" jdbcType="BIGINT" property="autoextendSize" />
    <result column="VERSION" jdbcType="BIGINT" property="version" />
    <result column="ROW_FORMAT" jdbcType="VARCHAR" property="rowFormat" />
    <result column="DATA_FREE" jdbcType="BIGINT" property="dataFree" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="EXTRA" jdbcType="VARCHAR" property="extra" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zzp.mall.model.Files">
    <result column="FILE_NAME" jdbcType="LONGVARCHAR" property="fileName" />
    <result column="TABLE_SCHEMA" jdbcType="BINARY" property="tableSchema" />
    <result column="TABLE_NAME" jdbcType="BINARY" property="tableName" />
    <result column="FULLTEXT_KEYS" jdbcType="BINARY" property="fulltextKeys" />
    <result column="DELETED_ROWS" jdbcType="BINARY" property="deletedRows" />
    <result column="UPDATE_COUNT" jdbcType="BINARY" property="updateCount" />
    <result column="CREATION_TIME" jdbcType="BINARY" property="creationTime" />
    <result column="LAST_UPDATE_TIME" jdbcType="BINARY" property="lastUpdateTime" />
    <result column="LAST_ACCESS_TIME" jdbcType="BINARY" property="lastAccessTime" />
    <result column="RECOVER_TIME" jdbcType="BINARY" property="recoverTime" />
    <result column="TRANSACTION_COUNTER" jdbcType="BINARY" property="transactionCounter" />
    <result column="TABLE_ROWS" jdbcType="BINARY" property="tableRows" />
    <result column="AVG_ROW_LENGTH" jdbcType="BINARY" property="avgRowLength" />
    <result column="DATA_LENGTH" jdbcType="BINARY" property="dataLength" />
    <result column="MAX_DATA_LENGTH" jdbcType="BINARY" property="maxDataLength" />
    <result column="INDEX_LENGTH" jdbcType="BINARY" property="indexLength" />
    <result column="CREATE_TIME" jdbcType="BINARY" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="BINARY" property="updateTime" />
    <result column="CHECK_TIME" jdbcType="BINARY" property="checkTime" />
    <result column="CHECKSUM" jdbcType="BINARY" property="checksum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    FILE_ID, FILE_TYPE, TABLESPACE_NAME, TABLE_CATALOG, LOGFILE_GROUP_NAME, LOGFILE_GROUP_NUMBER, 
    ENGINE, FREE_EXTENTS, TOTAL_EXTENTS, EXTENT_SIZE, INITIAL_SIZE, MAXIMUM_SIZE, AUTOEXTEND_SIZE, 
    VERSION, ROW_FORMAT, DATA_FREE, STATUS, EXTRA
  </sql>
  <sql id="Blob_Column_List">
    FILE_NAME, TABLE_SCHEMA, TABLE_NAME, FULLTEXT_KEYS, DELETED_ROWS, UPDATE_COUNT, CREATION_TIME, 
    LAST_UPDATE_TIME, LAST_ACCESS_TIME, RECOVER_TIME, TRANSACTION_COUNTER, TABLE_ROWS, 
    AVG_ROW_LENGTH, DATA_LENGTH, MAX_DATA_LENGTH, INDEX_LENGTH, CREATE_TIME, UPDATE_TIME, 
    CHECK_TIME, CHECKSUM
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zzp.mall.model.FilesExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from FILES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zzp.mall.model.FilesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FILES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.FilesExample">
    delete from FILES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.Files">
    insert into FILES (FILE_ID, FILE_TYPE, TABLESPACE_NAME, 
      TABLE_CATALOG, LOGFILE_GROUP_NAME, LOGFILE_GROUP_NUMBER, 
      ENGINE, FREE_EXTENTS, TOTAL_EXTENTS, 
      EXTENT_SIZE, INITIAL_SIZE, MAXIMUM_SIZE, 
      AUTOEXTEND_SIZE, VERSION, ROW_FORMAT, 
      DATA_FREE, STATUS, EXTRA, 
      FILE_NAME, TABLE_SCHEMA, TABLE_NAME, 
      FULLTEXT_KEYS, DELETED_ROWS, UPDATE_COUNT, 
      CREATION_TIME, LAST_UPDATE_TIME, LAST_ACCESS_TIME, 
      RECOVER_TIME, TRANSACTION_COUNTER, TABLE_ROWS, 
      AVG_ROW_LENGTH, DATA_LENGTH, MAX_DATA_LENGTH, 
      INDEX_LENGTH, CREATE_TIME, UPDATE_TIME, 
      CHECK_TIME, CHECKSUM)
    values (#{fileId,jdbcType=BIGINT}, #{fileType,jdbcType=VARCHAR}, #{tablespaceName,jdbcType=VARCHAR}, 
      #{tableCatalog,jdbcType=CHAR}, #{logfileGroupName,jdbcType=VARCHAR}, #{logfileGroupNumber,jdbcType=BIGINT}, 
      #{engine,jdbcType=VARCHAR}, #{freeExtents,jdbcType=BIGINT}, #{totalExtents,jdbcType=BIGINT}, 
      #{extentSize,jdbcType=BIGINT}, #{initialSize,jdbcType=BIGINT}, #{maximumSize,jdbcType=BIGINT}, 
      #{autoextendSize,jdbcType=BIGINT}, #{version,jdbcType=BIGINT}, #{rowFormat,jdbcType=VARCHAR}, 
      #{dataFree,jdbcType=BIGINT}, #{status,jdbcType=VARCHAR}, #{extra,jdbcType=VARCHAR}, 
      #{fileName,jdbcType=LONGVARCHAR}, #{tableSchema,jdbcType=BINARY}, #{tableName,jdbcType=BINARY}, 
      #{fulltextKeys,jdbcType=BINARY}, #{deletedRows,jdbcType=BINARY}, #{updateCount,jdbcType=BINARY}, 
      #{creationTime,jdbcType=BINARY}, #{lastUpdateTime,jdbcType=BINARY}, #{lastAccessTime,jdbcType=BINARY}, 
      #{recoverTime,jdbcType=BINARY}, #{transactionCounter,jdbcType=BINARY}, #{tableRows,jdbcType=BINARY}, 
      #{avgRowLength,jdbcType=BINARY}, #{dataLength,jdbcType=BINARY}, #{maxDataLength,jdbcType=BINARY}, 
      #{indexLength,jdbcType=BINARY}, #{createTime,jdbcType=BINARY}, #{updateTime,jdbcType=BINARY}, 
      #{checkTime,jdbcType=BINARY}, #{checksum,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.Files">
    insert into FILES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        FILE_ID,
      </if>
      <if test="fileType != null">
        FILE_TYPE,
      </if>
      <if test="tablespaceName != null">
        TABLESPACE_NAME,
      </if>
      <if test="tableCatalog != null">
        TABLE_CATALOG,
      </if>
      <if test="logfileGroupName != null">
        LOGFILE_GROUP_NAME,
      </if>
      <if test="logfileGroupNumber != null">
        LOGFILE_GROUP_NUMBER,
      </if>
      <if test="engine != null">
        ENGINE,
      </if>
      <if test="freeExtents != null">
        FREE_EXTENTS,
      </if>
      <if test="totalExtents != null">
        TOTAL_EXTENTS,
      </if>
      <if test="extentSize != null">
        EXTENT_SIZE,
      </if>
      <if test="initialSize != null">
        INITIAL_SIZE,
      </if>
      <if test="maximumSize != null">
        MAXIMUM_SIZE,
      </if>
      <if test="autoextendSize != null">
        AUTOEXTEND_SIZE,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="rowFormat != null">
        ROW_FORMAT,
      </if>
      <if test="dataFree != null">
        DATA_FREE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="extra != null">
        EXTRA,
      </if>
      <if test="fileName != null">
        FILE_NAME,
      </if>
      <if test="tableSchema != null">
        TABLE_SCHEMA,
      </if>
      <if test="tableName != null">
        TABLE_NAME,
      </if>
      <if test="fulltextKeys != null">
        FULLTEXT_KEYS,
      </if>
      <if test="deletedRows != null">
        DELETED_ROWS,
      </if>
      <if test="updateCount != null">
        UPDATE_COUNT,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
      <if test="lastAccessTime != null">
        LAST_ACCESS_TIME,
      </if>
      <if test="recoverTime != null">
        RECOVER_TIME,
      </if>
      <if test="transactionCounter != null">
        TRANSACTION_COUNTER,
      </if>
      <if test="tableRows != null">
        TABLE_ROWS,
      </if>
      <if test="avgRowLength != null">
        AVG_ROW_LENGTH,
      </if>
      <if test="dataLength != null">
        DATA_LENGTH,
      </if>
      <if test="maxDataLength != null">
        MAX_DATA_LENGTH,
      </if>
      <if test="indexLength != null">
        INDEX_LENGTH,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="checkTime != null">
        CHECK_TIME,
      </if>
      <if test="checksum != null">
        CHECKSUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileId != null">
        #{fileId,jdbcType=BIGINT},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="tablespaceName != null">
        #{tablespaceName,jdbcType=VARCHAR},
      </if>
      <if test="tableCatalog != null">
        #{tableCatalog,jdbcType=CHAR},
      </if>
      <if test="logfileGroupName != null">
        #{logfileGroupName,jdbcType=VARCHAR},
      </if>
      <if test="logfileGroupNumber != null">
        #{logfileGroupNumber,jdbcType=BIGINT},
      </if>
      <if test="engine != null">
        #{engine,jdbcType=VARCHAR},
      </if>
      <if test="freeExtents != null">
        #{freeExtents,jdbcType=BIGINT},
      </if>
      <if test="totalExtents != null">
        #{totalExtents,jdbcType=BIGINT},
      </if>
      <if test="extentSize != null">
        #{extentSize,jdbcType=BIGINT},
      </if>
      <if test="initialSize != null">
        #{initialSize,jdbcType=BIGINT},
      </if>
      <if test="maximumSize != null">
        #{maximumSize,jdbcType=BIGINT},
      </if>
      <if test="autoextendSize != null">
        #{autoextendSize,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="rowFormat != null">
        #{rowFormat,jdbcType=VARCHAR},
      </if>
      <if test="dataFree != null">
        #{dataFree,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="extra != null">
        #{extra,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=LONGVARCHAR},
      </if>
      <if test="tableSchema != null">
        #{tableSchema,jdbcType=BINARY},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=BINARY},
      </if>
      <if test="fulltextKeys != null">
        #{fulltextKeys,jdbcType=BINARY},
      </if>
      <if test="deletedRows != null">
        #{deletedRows,jdbcType=BINARY},
      </if>
      <if test="updateCount != null">
        #{updateCount,jdbcType=BINARY},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=BINARY},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=BINARY},
      </if>
      <if test="lastAccessTime != null">
        #{lastAccessTime,jdbcType=BINARY},
      </if>
      <if test="recoverTime != null">
        #{recoverTime,jdbcType=BINARY},
      </if>
      <if test="transactionCounter != null">
        #{transactionCounter,jdbcType=BINARY},
      </if>
      <if test="tableRows != null">
        #{tableRows,jdbcType=BINARY},
      </if>
      <if test="avgRowLength != null">
        #{avgRowLength,jdbcType=BINARY},
      </if>
      <if test="dataLength != null">
        #{dataLength,jdbcType=BINARY},
      </if>
      <if test="maxDataLength != null">
        #{maxDataLength,jdbcType=BINARY},
      </if>
      <if test="indexLength != null">
        #{indexLength,jdbcType=BINARY},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BINARY},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BINARY},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=BINARY},
      </if>
      <if test="checksum != null">
        #{checksum,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.FilesExample" resultType="java.lang.Integer">
    select count(*) from FILES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update FILES
    <set>
      <if test="record.fileId != null">
        FILE_ID = #{record.fileId,jdbcType=BIGINT},
      </if>
      <if test="record.fileType != null">
        FILE_TYPE = #{record.fileType,jdbcType=VARCHAR},
      </if>
      <if test="record.tablespaceName != null">
        TABLESPACE_NAME = #{record.tablespaceName,jdbcType=VARCHAR},
      </if>
      <if test="record.tableCatalog != null">
        TABLE_CATALOG = #{record.tableCatalog,jdbcType=CHAR},
      </if>
      <if test="record.logfileGroupName != null">
        LOGFILE_GROUP_NAME = #{record.logfileGroupName,jdbcType=VARCHAR},
      </if>
      <if test="record.logfileGroupNumber != null">
        LOGFILE_GROUP_NUMBER = #{record.logfileGroupNumber,jdbcType=BIGINT},
      </if>
      <if test="record.engine != null">
        ENGINE = #{record.engine,jdbcType=VARCHAR},
      </if>
      <if test="record.freeExtents != null">
        FREE_EXTENTS = #{record.freeExtents,jdbcType=BIGINT},
      </if>
      <if test="record.totalExtents != null">
        TOTAL_EXTENTS = #{record.totalExtents,jdbcType=BIGINT},
      </if>
      <if test="record.extentSize != null">
        EXTENT_SIZE = #{record.extentSize,jdbcType=BIGINT},
      </if>
      <if test="record.initialSize != null">
        INITIAL_SIZE = #{record.initialSize,jdbcType=BIGINT},
      </if>
      <if test="record.maximumSize != null">
        MAXIMUM_SIZE = #{record.maximumSize,jdbcType=BIGINT},
      </if>
      <if test="record.autoextendSize != null">
        AUTOEXTEND_SIZE = #{record.autoextendSize,jdbcType=BIGINT},
      </if>
      <if test="record.version != null">
        VERSION = #{record.version,jdbcType=BIGINT},
      </if>
      <if test="record.rowFormat != null">
        ROW_FORMAT = #{record.rowFormat,jdbcType=VARCHAR},
      </if>
      <if test="record.dataFree != null">
        DATA_FREE = #{record.dataFree,jdbcType=BIGINT},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.extra != null">
        EXTRA = #{record.extra,jdbcType=VARCHAR},
      </if>
      <if test="record.fileName != null">
        FILE_NAME = #{record.fileName,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.tableSchema != null">
        TABLE_SCHEMA = #{record.tableSchema,jdbcType=BINARY},
      </if>
      <if test="record.tableName != null">
        TABLE_NAME = #{record.tableName,jdbcType=BINARY},
      </if>
      <if test="record.fulltextKeys != null">
        FULLTEXT_KEYS = #{record.fulltextKeys,jdbcType=BINARY},
      </if>
      <if test="record.deletedRows != null">
        DELETED_ROWS = #{record.deletedRows,jdbcType=BINARY},
      </if>
      <if test="record.updateCount != null">
        UPDATE_COUNT = #{record.updateCount,jdbcType=BINARY},
      </if>
      <if test="record.creationTime != null">
        CREATION_TIME = #{record.creationTime,jdbcType=BINARY},
      </if>
      <if test="record.lastUpdateTime != null">
        LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=BINARY},
      </if>
      <if test="record.lastAccessTime != null">
        LAST_ACCESS_TIME = #{record.lastAccessTime,jdbcType=BINARY},
      </if>
      <if test="record.recoverTime != null">
        RECOVER_TIME = #{record.recoverTime,jdbcType=BINARY},
      </if>
      <if test="record.transactionCounter != null">
        TRANSACTION_COUNTER = #{record.transactionCounter,jdbcType=BINARY},
      </if>
      <if test="record.tableRows != null">
        TABLE_ROWS = #{record.tableRows,jdbcType=BINARY},
      </if>
      <if test="record.avgRowLength != null">
        AVG_ROW_LENGTH = #{record.avgRowLength,jdbcType=BINARY},
      </if>
      <if test="record.dataLength != null">
        DATA_LENGTH = #{record.dataLength,jdbcType=BINARY},
      </if>
      <if test="record.maxDataLength != null">
        MAX_DATA_LENGTH = #{record.maxDataLength,jdbcType=BINARY},
      </if>
      <if test="record.indexLength != null">
        INDEX_LENGTH = #{record.indexLength,jdbcType=BINARY},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=BINARY},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=BINARY},
      </if>
      <if test="record.checkTime != null">
        CHECK_TIME = #{record.checkTime,jdbcType=BINARY},
      </if>
      <if test="record.checksum != null">
        CHECKSUM = #{record.checksum,jdbcType=BINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update FILES
    set FILE_ID = #{record.fileId,jdbcType=BIGINT},
      FILE_TYPE = #{record.fileType,jdbcType=VARCHAR},
      TABLESPACE_NAME = #{record.tablespaceName,jdbcType=VARCHAR},
      TABLE_CATALOG = #{record.tableCatalog,jdbcType=CHAR},
      LOGFILE_GROUP_NAME = #{record.logfileGroupName,jdbcType=VARCHAR},
      LOGFILE_GROUP_NUMBER = #{record.logfileGroupNumber,jdbcType=BIGINT},
      ENGINE = #{record.engine,jdbcType=VARCHAR},
      FREE_EXTENTS = #{record.freeExtents,jdbcType=BIGINT},
      TOTAL_EXTENTS = #{record.totalExtents,jdbcType=BIGINT},
      EXTENT_SIZE = #{record.extentSize,jdbcType=BIGINT},
      INITIAL_SIZE = #{record.initialSize,jdbcType=BIGINT},
      MAXIMUM_SIZE = #{record.maximumSize,jdbcType=BIGINT},
      AUTOEXTEND_SIZE = #{record.autoextendSize,jdbcType=BIGINT},
      VERSION = #{record.version,jdbcType=BIGINT},
      ROW_FORMAT = #{record.rowFormat,jdbcType=VARCHAR},
      DATA_FREE = #{record.dataFree,jdbcType=BIGINT},
      STATUS = #{record.status,jdbcType=VARCHAR},
      EXTRA = #{record.extra,jdbcType=VARCHAR},
      FILE_NAME = #{record.fileName,jdbcType=LONGVARCHAR},
      TABLE_SCHEMA = #{record.tableSchema,jdbcType=BINARY},
      TABLE_NAME = #{record.tableName,jdbcType=BINARY},
      FULLTEXT_KEYS = #{record.fulltextKeys,jdbcType=BINARY},
      DELETED_ROWS = #{record.deletedRows,jdbcType=BINARY},
      UPDATE_COUNT = #{record.updateCount,jdbcType=BINARY},
      CREATION_TIME = #{record.creationTime,jdbcType=BINARY},
      LAST_UPDATE_TIME = #{record.lastUpdateTime,jdbcType=BINARY},
      LAST_ACCESS_TIME = #{record.lastAccessTime,jdbcType=BINARY},
      RECOVER_TIME = #{record.recoverTime,jdbcType=BINARY},
      TRANSACTION_COUNTER = #{record.transactionCounter,jdbcType=BINARY},
      TABLE_ROWS = #{record.tableRows,jdbcType=BINARY},
      AVG_ROW_LENGTH = #{record.avgRowLength,jdbcType=BINARY},
      DATA_LENGTH = #{record.dataLength,jdbcType=BINARY},
      MAX_DATA_LENGTH = #{record.maxDataLength,jdbcType=BINARY},
      INDEX_LENGTH = #{record.indexLength,jdbcType=BINARY},
      CREATE_TIME = #{record.createTime,jdbcType=BINARY},
      UPDATE_TIME = #{record.updateTime,jdbcType=BINARY},
      CHECK_TIME = #{record.checkTime,jdbcType=BINARY},
      CHECKSUM = #{record.checksum,jdbcType=BINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update FILES
    set FILE_ID = #{record.fileId,jdbcType=BIGINT},
      FILE_TYPE = #{record.fileType,jdbcType=VARCHAR},
      TABLESPACE_NAME = #{record.tablespaceName,jdbcType=VARCHAR},
      TABLE_CATALOG = #{record.tableCatalog,jdbcType=CHAR},
      LOGFILE_GROUP_NAME = #{record.logfileGroupName,jdbcType=VARCHAR},
      LOGFILE_GROUP_NUMBER = #{record.logfileGroupNumber,jdbcType=BIGINT},
      ENGINE = #{record.engine,jdbcType=VARCHAR},
      FREE_EXTENTS = #{record.freeExtents,jdbcType=BIGINT},
      TOTAL_EXTENTS = #{record.totalExtents,jdbcType=BIGINT},
      EXTENT_SIZE = #{record.extentSize,jdbcType=BIGINT},
      INITIAL_SIZE = #{record.initialSize,jdbcType=BIGINT},
      MAXIMUM_SIZE = #{record.maximumSize,jdbcType=BIGINT},
      AUTOEXTEND_SIZE = #{record.autoextendSize,jdbcType=BIGINT},
      VERSION = #{record.version,jdbcType=BIGINT},
      ROW_FORMAT = #{record.rowFormat,jdbcType=VARCHAR},
      DATA_FREE = #{record.dataFree,jdbcType=BIGINT},
      STATUS = #{record.status,jdbcType=VARCHAR},
      EXTRA = #{record.extra,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>