<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.GtidExecutedMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.GtidExecuted">
    <id column="source_uuid" jdbcType="CHAR" property="sourceUuid" />
    <id column="interval_start" jdbcType="BIGINT" property="intervalStart" />
    <result column="interval_end" jdbcType="BIGINT" property="intervalEnd" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    source_uuid, interval_start, interval_end
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.GtidExecutedExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gtid_executed
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gtid_executed
    where source_uuid = #{sourceUuid,jdbcType=CHAR}
      and interval_start = #{intervalStart,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from gtid_executed
    where source_uuid = #{sourceUuid,jdbcType=CHAR}
      and interval_start = #{intervalStart,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.GtidExecutedExample">
    delete from gtid_executed
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.GtidExecuted">
    insert into gtid_executed (source_uuid, interval_start, interval_end
      )
    values (#{sourceUuid,jdbcType=CHAR}, #{intervalStart,jdbcType=BIGINT}, #{intervalEnd,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.GtidExecuted">
    insert into gtid_executed
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sourceUuid != null">
        source_uuid,
      </if>
      <if test="intervalStart != null">
        interval_start,
      </if>
      <if test="intervalEnd != null">
        interval_end,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sourceUuid != null">
        #{sourceUuid,jdbcType=CHAR},
      </if>
      <if test="intervalStart != null">
        #{intervalStart,jdbcType=BIGINT},
      </if>
      <if test="intervalEnd != null">
        #{intervalEnd,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.GtidExecutedExample" resultType="java.lang.Integer">
    select count(*) from gtid_executed
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gtid_executed
    <set>
      <if test="record.sourceUuid != null">
        source_uuid = #{record.sourceUuid,jdbcType=CHAR},
      </if>
      <if test="record.intervalStart != null">
        interval_start = #{record.intervalStart,jdbcType=BIGINT},
      </if>
      <if test="record.intervalEnd != null">
        interval_end = #{record.intervalEnd,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gtid_executed
    set source_uuid = #{record.sourceUuid,jdbcType=CHAR},
      interval_start = #{record.intervalStart,jdbcType=BIGINT},
      interval_end = #{record.intervalEnd,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.GtidExecuted">
    update gtid_executed
    <set>
      <if test="intervalEnd != null">
        interval_end = #{intervalEnd,jdbcType=BIGINT},
      </if>
    </set>
    where source_uuid = #{sourceUuid,jdbcType=CHAR}
      and interval_start = #{intervalStart,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.GtidExecuted">
    update gtid_executed
    set interval_end = #{intervalEnd,jdbcType=BIGINT}
    where source_uuid = #{sourceUuid,jdbcType=CHAR}
      and interval_start = #{intervalStart,jdbcType=BIGINT}
  </update>
</mapper>