<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.InnodbTrxMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.InnodbTrx">
    <result column="trx_id" jdbcType="BIGINT" property="trxId" />
    <result column="trx_state" jdbcType="VARCHAR" property="trxState" />
    <result column="trx_started" jdbcType="TIMESTAMP" property="trxStarted" />
    <result column="trx_requested_lock_id" jdbcType="VARCHAR" property="trxRequestedLockId" />
    <result column="trx_wait_started" jdbcType="TIMESTAMP" property="trxWaitStarted" />
    <result column="trx_weight" jdbcType="BIGINT" property="trxWeight" />
    <result column="trx_mysql_thread_id" jdbcType="BIGINT" property="trxMysqlThreadId" />
    <result column="trx_query" jdbcType="VARCHAR" property="trxQuery" />
    <result column="trx_operation_state" jdbcType="VARCHAR" property="trxOperationState" />
    <result column="trx_tables_in_use" jdbcType="BIGINT" property="trxTablesInUse" />
    <result column="trx_tables_locked" jdbcType="BIGINT" property="trxTablesLocked" />
    <result column="trx_lock_structs" jdbcType="BIGINT" property="trxLockStructs" />
    <result column="trx_lock_memory_bytes" jdbcType="BIGINT" property="trxLockMemoryBytes" />
    <result column="trx_rows_locked" jdbcType="BIGINT" property="trxRowsLocked" />
    <result column="trx_rows_modified" jdbcType="BIGINT" property="trxRowsModified" />
    <result column="trx_concurrency_tickets" jdbcType="BIGINT" property="trxConcurrencyTickets" />
    <result column="trx_isolation_level" jdbcType="VARCHAR" property="trxIsolationLevel" />
    <result column="trx_unique_checks" jdbcType="INTEGER" property="trxUniqueChecks" />
    <result column="trx_foreign_key_checks" jdbcType="INTEGER" property="trxForeignKeyChecks" />
    <result column="trx_last_foreign_key_error" jdbcType="VARCHAR" property="trxLastForeignKeyError" />
    <result column="trx_adaptive_hash_latched" jdbcType="INTEGER" property="trxAdaptiveHashLatched" />
    <result column="trx_adaptive_hash_timeout" jdbcType="BIGINT" property="trxAdaptiveHashTimeout" />
    <result column="trx_is_read_only" jdbcType="INTEGER" property="trxIsReadOnly" />
    <result column="trx_autocommit_non_locking" jdbcType="INTEGER" property="trxAutocommitNonLocking" />
    <result column="trx_schedule_weight" jdbcType="BIGINT" property="trxScheduleWeight" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    trx_id, trx_state, trx_started, trx_requested_lock_id, trx_wait_started, trx_weight, 
    trx_mysql_thread_id, trx_query, trx_operation_state, trx_tables_in_use, trx_tables_locked, 
    trx_lock_structs, trx_lock_memory_bytes, trx_rows_locked, trx_rows_modified, trx_concurrency_tickets, 
    trx_isolation_level, trx_unique_checks, trx_foreign_key_checks, trx_last_foreign_key_error, 
    trx_adaptive_hash_latched, trx_adaptive_hash_timeout, trx_is_read_only, trx_autocommit_non_locking, 
    trx_schedule_weight
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.InnodbTrxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from INNODB_TRX
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.InnodbTrxExample">
    delete from INNODB_TRX
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.InnodbTrx">
    insert into INNODB_TRX (trx_id, trx_state, trx_started, 
      trx_requested_lock_id, trx_wait_started, trx_weight, 
      trx_mysql_thread_id, trx_query, trx_operation_state, 
      trx_tables_in_use, trx_tables_locked, trx_lock_structs, 
      trx_lock_memory_bytes, trx_rows_locked, trx_rows_modified, 
      trx_concurrency_tickets, trx_isolation_level, 
      trx_unique_checks, trx_foreign_key_checks, trx_last_foreign_key_error, 
      trx_adaptive_hash_latched, trx_adaptive_hash_timeout, 
      trx_is_read_only, trx_autocommit_non_locking, 
      trx_schedule_weight)
    values (#{trxId,jdbcType=BIGINT}, #{trxState,jdbcType=VARCHAR}, #{trxStarted,jdbcType=TIMESTAMP}, 
      #{trxRequestedLockId,jdbcType=VARCHAR}, #{trxWaitStarted,jdbcType=TIMESTAMP}, #{trxWeight,jdbcType=BIGINT}, 
      #{trxMysqlThreadId,jdbcType=BIGINT}, #{trxQuery,jdbcType=VARCHAR}, #{trxOperationState,jdbcType=VARCHAR}, 
      #{trxTablesInUse,jdbcType=BIGINT}, #{trxTablesLocked,jdbcType=BIGINT}, #{trxLockStructs,jdbcType=BIGINT}, 
      #{trxLockMemoryBytes,jdbcType=BIGINT}, #{trxRowsLocked,jdbcType=BIGINT}, #{trxRowsModified,jdbcType=BIGINT}, 
      #{trxConcurrencyTickets,jdbcType=BIGINT}, #{trxIsolationLevel,jdbcType=VARCHAR}, 
      #{trxUniqueChecks,jdbcType=INTEGER}, #{trxForeignKeyChecks,jdbcType=INTEGER}, #{trxLastForeignKeyError,jdbcType=VARCHAR}, 
      #{trxAdaptiveHashLatched,jdbcType=INTEGER}, #{trxAdaptiveHashTimeout,jdbcType=BIGINT}, 
      #{trxIsReadOnly,jdbcType=INTEGER}, #{trxAutocommitNonLocking,jdbcType=INTEGER}, 
      #{trxScheduleWeight,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.InnodbTrx">
    insert into INNODB_TRX
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="trxId != null">
        trx_id,
      </if>
      <if test="trxState != null">
        trx_state,
      </if>
      <if test="trxStarted != null">
        trx_started,
      </if>
      <if test="trxRequestedLockId != null">
        trx_requested_lock_id,
      </if>
      <if test="trxWaitStarted != null">
        trx_wait_started,
      </if>
      <if test="trxWeight != null">
        trx_weight,
      </if>
      <if test="trxMysqlThreadId != null">
        trx_mysql_thread_id,
      </if>
      <if test="trxQuery != null">
        trx_query,
      </if>
      <if test="trxOperationState != null">
        trx_operation_state,
      </if>
      <if test="trxTablesInUse != null">
        trx_tables_in_use,
      </if>
      <if test="trxTablesLocked != null">
        trx_tables_locked,
      </if>
      <if test="trxLockStructs != null">
        trx_lock_structs,
      </if>
      <if test="trxLockMemoryBytes != null">
        trx_lock_memory_bytes,
      </if>
      <if test="trxRowsLocked != null">
        trx_rows_locked,
      </if>
      <if test="trxRowsModified != null">
        trx_rows_modified,
      </if>
      <if test="trxConcurrencyTickets != null">
        trx_concurrency_tickets,
      </if>
      <if test="trxIsolationLevel != null">
        trx_isolation_level,
      </if>
      <if test="trxUniqueChecks != null">
        trx_unique_checks,
      </if>
      <if test="trxForeignKeyChecks != null">
        trx_foreign_key_checks,
      </if>
      <if test="trxLastForeignKeyError != null">
        trx_last_foreign_key_error,
      </if>
      <if test="trxAdaptiveHashLatched != null">
        trx_adaptive_hash_latched,
      </if>
      <if test="trxAdaptiveHashTimeout != null">
        trx_adaptive_hash_timeout,
      </if>
      <if test="trxIsReadOnly != null">
        trx_is_read_only,
      </if>
      <if test="trxAutocommitNonLocking != null">
        trx_autocommit_non_locking,
      </if>
      <if test="trxScheduleWeight != null">
        trx_schedule_weight,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="trxId != null">
        #{trxId,jdbcType=BIGINT},
      </if>
      <if test="trxState != null">
        #{trxState,jdbcType=VARCHAR},
      </if>
      <if test="trxStarted != null">
        #{trxStarted,jdbcType=TIMESTAMP},
      </if>
      <if test="trxRequestedLockId != null">
        #{trxRequestedLockId,jdbcType=VARCHAR},
      </if>
      <if test="trxWaitStarted != null">
        #{trxWaitStarted,jdbcType=TIMESTAMP},
      </if>
      <if test="trxWeight != null">
        #{trxWeight,jdbcType=BIGINT},
      </if>
      <if test="trxMysqlThreadId != null">
        #{trxMysqlThreadId,jdbcType=BIGINT},
      </if>
      <if test="trxQuery != null">
        #{trxQuery,jdbcType=VARCHAR},
      </if>
      <if test="trxOperationState != null">
        #{trxOperationState,jdbcType=VARCHAR},
      </if>
      <if test="trxTablesInUse != null">
        #{trxTablesInUse,jdbcType=BIGINT},
      </if>
      <if test="trxTablesLocked != null">
        #{trxTablesLocked,jdbcType=BIGINT},
      </if>
      <if test="trxLockStructs != null">
        #{trxLockStructs,jdbcType=BIGINT},
      </if>
      <if test="trxLockMemoryBytes != null">
        #{trxLockMemoryBytes,jdbcType=BIGINT},
      </if>
      <if test="trxRowsLocked != null">
        #{trxRowsLocked,jdbcType=BIGINT},
      </if>
      <if test="trxRowsModified != null">
        #{trxRowsModified,jdbcType=BIGINT},
      </if>
      <if test="trxConcurrencyTickets != null">
        #{trxConcurrencyTickets,jdbcType=BIGINT},
      </if>
      <if test="trxIsolationLevel != null">
        #{trxIsolationLevel,jdbcType=VARCHAR},
      </if>
      <if test="trxUniqueChecks != null">
        #{trxUniqueChecks,jdbcType=INTEGER},
      </if>
      <if test="trxForeignKeyChecks != null">
        #{trxForeignKeyChecks,jdbcType=INTEGER},
      </if>
      <if test="trxLastForeignKeyError != null">
        #{trxLastForeignKeyError,jdbcType=VARCHAR},
      </if>
      <if test="trxAdaptiveHashLatched != null">
        #{trxAdaptiveHashLatched,jdbcType=INTEGER},
      </if>
      <if test="trxAdaptiveHashTimeout != null">
        #{trxAdaptiveHashTimeout,jdbcType=BIGINT},
      </if>
      <if test="trxIsReadOnly != null">
        #{trxIsReadOnly,jdbcType=INTEGER},
      </if>
      <if test="trxAutocommitNonLocking != null">
        #{trxAutocommitNonLocking,jdbcType=INTEGER},
      </if>
      <if test="trxScheduleWeight != null">
        #{trxScheduleWeight,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.InnodbTrxExample" resultType="java.lang.Integer">
    select count(*) from INNODB_TRX
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update INNODB_TRX
    <set>
      <if test="record.trxId != null">
        trx_id = #{record.trxId,jdbcType=BIGINT},
      </if>
      <if test="record.trxState != null">
        trx_state = #{record.trxState,jdbcType=VARCHAR},
      </if>
      <if test="record.trxStarted != null">
        trx_started = #{record.trxStarted,jdbcType=TIMESTAMP},
      </if>
      <if test="record.trxRequestedLockId != null">
        trx_requested_lock_id = #{record.trxRequestedLockId,jdbcType=VARCHAR},
      </if>
      <if test="record.trxWaitStarted != null">
        trx_wait_started = #{record.trxWaitStarted,jdbcType=TIMESTAMP},
      </if>
      <if test="record.trxWeight != null">
        trx_weight = #{record.trxWeight,jdbcType=BIGINT},
      </if>
      <if test="record.trxMysqlThreadId != null">
        trx_mysql_thread_id = #{record.trxMysqlThreadId,jdbcType=BIGINT},
      </if>
      <if test="record.trxQuery != null">
        trx_query = #{record.trxQuery,jdbcType=VARCHAR},
      </if>
      <if test="record.trxOperationState != null">
        trx_operation_state = #{record.trxOperationState,jdbcType=VARCHAR},
      </if>
      <if test="record.trxTablesInUse != null">
        trx_tables_in_use = #{record.trxTablesInUse,jdbcType=BIGINT},
      </if>
      <if test="record.trxTablesLocked != null">
        trx_tables_locked = #{record.trxTablesLocked,jdbcType=BIGINT},
      </if>
      <if test="record.trxLockStructs != null">
        trx_lock_structs = #{record.trxLockStructs,jdbcType=BIGINT},
      </if>
      <if test="record.trxLockMemoryBytes != null">
        trx_lock_memory_bytes = #{record.trxLockMemoryBytes,jdbcType=BIGINT},
      </if>
      <if test="record.trxRowsLocked != null">
        trx_rows_locked = #{record.trxRowsLocked,jdbcType=BIGINT},
      </if>
      <if test="record.trxRowsModified != null">
        trx_rows_modified = #{record.trxRowsModified,jdbcType=BIGINT},
      </if>
      <if test="record.trxConcurrencyTickets != null">
        trx_concurrency_tickets = #{record.trxConcurrencyTickets,jdbcType=BIGINT},
      </if>
      <if test="record.trxIsolationLevel != null">
        trx_isolation_level = #{record.trxIsolationLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.trxUniqueChecks != null">
        trx_unique_checks = #{record.trxUniqueChecks,jdbcType=INTEGER},
      </if>
      <if test="record.trxForeignKeyChecks != null">
        trx_foreign_key_checks = #{record.trxForeignKeyChecks,jdbcType=INTEGER},
      </if>
      <if test="record.trxLastForeignKeyError != null">
        trx_last_foreign_key_error = #{record.trxLastForeignKeyError,jdbcType=VARCHAR},
      </if>
      <if test="record.trxAdaptiveHashLatched != null">
        trx_adaptive_hash_latched = #{record.trxAdaptiveHashLatched,jdbcType=INTEGER},
      </if>
      <if test="record.trxAdaptiveHashTimeout != null">
        trx_adaptive_hash_timeout = #{record.trxAdaptiveHashTimeout,jdbcType=BIGINT},
      </if>
      <if test="record.trxIsReadOnly != null">
        trx_is_read_only = #{record.trxIsReadOnly,jdbcType=INTEGER},
      </if>
      <if test="record.trxAutocommitNonLocking != null">
        trx_autocommit_non_locking = #{record.trxAutocommitNonLocking,jdbcType=INTEGER},
      </if>
      <if test="record.trxScheduleWeight != null">
        trx_schedule_weight = #{record.trxScheduleWeight,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update INNODB_TRX
    set trx_id = #{record.trxId,jdbcType=BIGINT},
      trx_state = #{record.trxState,jdbcType=VARCHAR},
      trx_started = #{record.trxStarted,jdbcType=TIMESTAMP},
      trx_requested_lock_id = #{record.trxRequestedLockId,jdbcType=VARCHAR},
      trx_wait_started = #{record.trxWaitStarted,jdbcType=TIMESTAMP},
      trx_weight = #{record.trxWeight,jdbcType=BIGINT},
      trx_mysql_thread_id = #{record.trxMysqlThreadId,jdbcType=BIGINT},
      trx_query = #{record.trxQuery,jdbcType=VARCHAR},
      trx_operation_state = #{record.trxOperationState,jdbcType=VARCHAR},
      trx_tables_in_use = #{record.trxTablesInUse,jdbcType=BIGINT},
      trx_tables_locked = #{record.trxTablesLocked,jdbcType=BIGINT},
      trx_lock_structs = #{record.trxLockStructs,jdbcType=BIGINT},
      trx_lock_memory_bytes = #{record.trxLockMemoryBytes,jdbcType=BIGINT},
      trx_rows_locked = #{record.trxRowsLocked,jdbcType=BIGINT},
      trx_rows_modified = #{record.trxRowsModified,jdbcType=BIGINT},
      trx_concurrency_tickets = #{record.trxConcurrencyTickets,jdbcType=BIGINT},
      trx_isolation_level = #{record.trxIsolationLevel,jdbcType=VARCHAR},
      trx_unique_checks = #{record.trxUniqueChecks,jdbcType=INTEGER},
      trx_foreign_key_checks = #{record.trxForeignKeyChecks,jdbcType=INTEGER},
      trx_last_foreign_key_error = #{record.trxLastForeignKeyError,jdbcType=VARCHAR},
      trx_adaptive_hash_latched = #{record.trxAdaptiveHashLatched,jdbcType=INTEGER},
      trx_adaptive_hash_timeout = #{record.trxAdaptiveHashTimeout,jdbcType=BIGINT},
      trx_is_read_only = #{record.trxIsReadOnly,jdbcType=INTEGER},
      trx_autocommit_non_locking = #{record.trxAutocommitNonLocking,jdbcType=INTEGER},
      trx_schedule_weight = #{record.trxScheduleWeight,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>