<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.InnodbForeignMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.InnodbForeign">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="FOR_NAME" jdbcType="VARCHAR" property="forName" />
    <result column="REF_NAME" jdbcType="VARCHAR" property="refName" />
    <result column="N_COLS" jdbcType="BIGINT" property="nCols" />
    <result column="TYPE" jdbcType="BIGINT" property="type" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, FOR_NAME, REF_NAME, N_COLS, TYPE
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.InnodbForeignExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from INNODB_FOREIGN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.InnodbForeignExample">
    delete from INNODB_FOREIGN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.InnodbForeign">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into INNODB_FOREIGN (ID, FOR_NAME, REF_NAME, 
      N_COLS, TYPE)
    values (#{id,jdbcType=VARCHAR}, #{forName,jdbcType=VARCHAR}, #{refName,jdbcType=VARCHAR}, 
      #{nCols,jdbcType=BIGINT}, #{type,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.InnodbForeign">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into INNODB_FOREIGN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ID,
      <if test="forName != null">
        FOR_NAME,
      </if>
      <if test="refName != null">
        REF_NAME,
      </if>
      <if test="nCols != null">
        N_COLS,
      </if>
      <if test="type != null">
        TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=VARCHAR},
      <if test="forName != null">
        #{forName,jdbcType=VARCHAR},
      </if>
      <if test="refName != null">
        #{refName,jdbcType=VARCHAR},
      </if>
      <if test="nCols != null">
        #{nCols,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.InnodbForeignExample" resultType="java.lang.Integer">
    select count(*) from INNODB_FOREIGN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update INNODB_FOREIGN
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.forName != null">
        FOR_NAME = #{record.forName,jdbcType=VARCHAR},
      </if>
      <if test="record.refName != null">
        REF_NAME = #{record.refName,jdbcType=VARCHAR},
      </if>
      <if test="record.nCols != null">
        N_COLS = #{record.nCols,jdbcType=BIGINT},
      </if>
      <if test="record.type != null">
        TYPE = #{record.type,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update INNODB_FOREIGN
    set ID = #{record.id,jdbcType=VARCHAR},
      FOR_NAME = #{record.forName,jdbcType=VARCHAR},
      REF_NAME = #{record.refName,jdbcType=VARCHAR},
      N_COLS = #{record.nCols,jdbcType=BIGINT},
      TYPE = #{record.type,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>