<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.InnodbIndexesMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.InnodbIndexes">
    <result column="INDEX_ID" jdbcType="BIGINT" property="indexId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TABLE_ID" jdbcType="BIGINT" property="tableId" />
    <result column="TYPE" jdbcType="INTEGER" property="type" />
    <result column="N_FIELDS" jdbcType="INTEGER" property="nFields" />
    <result column="PAGE_NO" jdbcType="INTEGER" property="pageNo" />
    <result column="SPACE" jdbcType="INTEGER" property="space" />
    <result column="MERGE_THRESHOLD" jdbcType="INTEGER" property="mergeThreshold" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    INDEX_ID, NAME, TABLE_ID, TYPE, N_FIELDS, PAGE_NO, SPACE, MERGE_THRESHOLD
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.InnodbIndexesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from INNODB_INDEXES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.InnodbIndexesExample">
    delete from INNODB_INDEXES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.InnodbIndexes">
    insert into INNODB_INDEXES (INDEX_ID, NAME, TABLE_ID, 
      TYPE, N_FIELDS, PAGE_NO, 
      SPACE, MERGE_THRESHOLD)
    values (#{indexId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{tableId,jdbcType=BIGINT}, 
      #{type,jdbcType=INTEGER}, #{nFields,jdbcType=INTEGER}, #{pageNo,jdbcType=INTEGER}, 
      #{space,jdbcType=INTEGER}, #{mergeThreshold,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.InnodbIndexes">
    insert into INNODB_INDEXES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="indexId != null">
        INDEX_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="tableId != null">
        TABLE_ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="nFields != null">
        N_FIELDS,
      </if>
      <if test="pageNo != null">
        PAGE_NO,
      </if>
      <if test="space != null">
        SPACE,
      </if>
      <if test="mergeThreshold != null">
        MERGE_THRESHOLD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="indexId != null">
        #{indexId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tableId != null">
        #{tableId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="nFields != null">
        #{nFields,jdbcType=INTEGER},
      </if>
      <if test="pageNo != null">
        #{pageNo,jdbcType=INTEGER},
      </if>
      <if test="space != null">
        #{space,jdbcType=INTEGER},
      </if>
      <if test="mergeThreshold != null">
        #{mergeThreshold,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.InnodbIndexesExample" resultType="java.lang.Integer">
    select count(*) from INNODB_INDEXES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update INNODB_INDEXES
    <set>
      <if test="record.indexId != null">
        INDEX_ID = #{record.indexId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.tableId != null">
        TABLE_ID = #{record.tableId,jdbcType=BIGINT},
      </if>
      <if test="record.type != null">
        TYPE = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.nFields != null">
        N_FIELDS = #{record.nFields,jdbcType=INTEGER},
      </if>
      <if test="record.pageNo != null">
        PAGE_NO = #{record.pageNo,jdbcType=INTEGER},
      </if>
      <if test="record.space != null">
        SPACE = #{record.space,jdbcType=INTEGER},
      </if>
      <if test="record.mergeThreshold != null">
        MERGE_THRESHOLD = #{record.mergeThreshold,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update INNODB_INDEXES
    set INDEX_ID = #{record.indexId,jdbcType=BIGINT},
      NAME = #{record.name,jdbcType=VARCHAR},
      TABLE_ID = #{record.tableId,jdbcType=BIGINT},
      TYPE = #{record.type,jdbcType=INTEGER},
      N_FIELDS = #{record.nFields,jdbcType=INTEGER},
      PAGE_NO = #{record.pageNo,jdbcType=INTEGER},
      SPACE = #{record.space,jdbcType=INTEGER},
      MERGE_THRESHOLD = #{record.mergeThreshold,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>