<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.InnodbTablesMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.InnodbTables">
    <result column="TABLE_ID" jdbcType="BIGINT" property="tableId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="FLAG" jdbcType="INTEGER" property="flag" />
    <result column="N_COLS" jdbcType="INTEGER" property="nCols" />
    <result column="SPACE" jdbcType="BIGINT" property="space" />
    <result column="ROW_FORMAT" jdbcType="VARCHAR" property="rowFormat" />
    <result column="ZIP_PAGE_SIZE" jdbcType="INTEGER" property="zipPageSize" />
    <result column="SPACE_TYPE" jdbcType="VARCHAR" property="spaceType" />
    <result column="INSTANT_COLS" jdbcType="INTEGER" property="instantCols" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TABLE_ID, NAME, FLAG, N_COLS, SPACE, ROW_FORMAT, ZIP_PAGE_SIZE, SPACE_TYPE, INSTANT_COLS
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.InnodbTablesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from INNODB_TABLES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.InnodbTablesExample">
    delete from INNODB_TABLES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.InnodbTables">
    insert into INNODB_TABLES (TABLE_ID, NAME, FLAG, 
      N_COLS, SPACE, ROW_FORMAT, 
      ZIP_PAGE_SIZE, SPACE_TYPE, INSTANT_COLS
      )
    values (#{tableId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, 
      #{nCols,jdbcType=INTEGER}, #{space,jdbcType=BIGINT}, #{rowFormat,jdbcType=VARCHAR}, 
      #{zipPageSize,jdbcType=INTEGER}, #{spaceType,jdbcType=VARCHAR}, #{instantCols,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.InnodbTables">
    insert into INNODB_TABLES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        TABLE_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="nCols != null">
        N_COLS,
      </if>
      <if test="space != null">
        SPACE,
      </if>
      <if test="rowFormat != null">
        ROW_FORMAT,
      </if>
      <if test="zipPageSize != null">
        ZIP_PAGE_SIZE,
      </if>
      <if test="spaceType != null">
        SPACE_TYPE,
      </if>
      <if test="instantCols != null">
        INSTANT_COLS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        #{tableId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="nCols != null">
        #{nCols,jdbcType=INTEGER},
      </if>
      <if test="space != null">
        #{space,jdbcType=BIGINT},
      </if>
      <if test="rowFormat != null">
        #{rowFormat,jdbcType=VARCHAR},
      </if>
      <if test="zipPageSize != null">
        #{zipPageSize,jdbcType=INTEGER},
      </if>
      <if test="spaceType != null">
        #{spaceType,jdbcType=VARCHAR},
      </if>
      <if test="instantCols != null">
        #{instantCols,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.InnodbTablesExample" resultType="java.lang.Integer">
    select count(*) from INNODB_TABLES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update INNODB_TABLES
    <set>
      <if test="record.tableId != null">
        TABLE_ID = #{record.tableId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null">
        FLAG = #{record.flag,jdbcType=INTEGER},
      </if>
      <if test="record.nCols != null">
        N_COLS = #{record.nCols,jdbcType=INTEGER},
      </if>
      <if test="record.space != null">
        SPACE = #{record.space,jdbcType=BIGINT},
      </if>
      <if test="record.rowFormat != null">
        ROW_FORMAT = #{record.rowFormat,jdbcType=VARCHAR},
      </if>
      <if test="record.zipPageSize != null">
        ZIP_PAGE_SIZE = #{record.zipPageSize,jdbcType=INTEGER},
      </if>
      <if test="record.spaceType != null">
        SPACE_TYPE = #{record.spaceType,jdbcType=VARCHAR},
      </if>
      <if test="record.instantCols != null">
        INSTANT_COLS = #{record.instantCols,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update INNODB_TABLES
    set TABLE_ID = #{record.tableId,jdbcType=BIGINT},
      NAME = #{record.name,jdbcType=VARCHAR},
      FLAG = #{record.flag,jdbcType=INTEGER},
      N_COLS = #{record.nCols,jdbcType=INTEGER},
      SPACE = #{record.space,jdbcType=BIGINT},
      ROW_FORMAT = #{record.rowFormat,jdbcType=VARCHAR},
      ZIP_PAGE_SIZE = #{record.zipPageSize,jdbcType=INTEGER},
      SPACE_TYPE = #{record.spaceType,jdbcType=VARCHAR},
      INSTANT_COLS = #{record.instantCols,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>