<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.InnodbTableStatsMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.InnodbTableStats">
    <id column="database_name" jdbcType="VARCHAR" property="databaseName" />
    <id column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
    <result column="n_rows" jdbcType="BIGINT" property="nRows" />
    <result column="clustered_index_size" jdbcType="BIGINT" property="clusteredIndexSize" />
    <result column="sum_of_other_index_sizes" jdbcType="BIGINT" property="sumOfOtherIndexSizes" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    database_name, table_name, last_update, n_rows, clustered_index_size, sum_of_other_index_sizes
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.InnodbTableStatsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from innodb_table_stats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from innodb_table_stats
    where database_name = #{databaseName,jdbcType=VARCHAR}
      and table_name = #{tableName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from innodb_table_stats
    where database_name = #{databaseName,jdbcType=VARCHAR}
      and table_name = #{tableName,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.InnodbTableStatsExample">
    delete from innodb_table_stats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.InnodbTableStats">
    insert into innodb_table_stats (database_name, table_name, last_update, 
      n_rows, clustered_index_size, sum_of_other_index_sizes
      )
    values (#{databaseName,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, #{lastUpdate,jdbcType=TIMESTAMP}, 
      #{nRows,jdbcType=BIGINT}, #{clusteredIndexSize,jdbcType=BIGINT}, #{sumOfOtherIndexSizes,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.InnodbTableStats">
    insert into innodb_table_stats
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="databaseName != null">
        database_name,
      </if>
      <if test="tableName != null">
        table_name,
      </if>
      <if test="lastUpdate != null">
        last_update,
      </if>
      <if test="nRows != null">
        n_rows,
      </if>
      <if test="clusteredIndexSize != null">
        clustered_index_size,
      </if>
      <if test="sumOfOtherIndexSizes != null">
        sum_of_other_index_sizes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="databaseName != null">
        #{databaseName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdate != null">
        #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="nRows != null">
        #{nRows,jdbcType=BIGINT},
      </if>
      <if test="clusteredIndexSize != null">
        #{clusteredIndexSize,jdbcType=BIGINT},
      </if>
      <if test="sumOfOtherIndexSizes != null">
        #{sumOfOtherIndexSizes,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.InnodbTableStatsExample" resultType="java.lang.Integer">
    select count(*) from innodb_table_stats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update innodb_table_stats
    <set>
      <if test="record.databaseName != null">
        database_name = #{record.databaseName,jdbcType=VARCHAR},
      </if>
      <if test="record.tableName != null">
        table_name = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdate != null">
        last_update = #{record.lastUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.nRows != null">
        n_rows = #{record.nRows,jdbcType=BIGINT},
      </if>
      <if test="record.clusteredIndexSize != null">
        clustered_index_size = #{record.clusteredIndexSize,jdbcType=BIGINT},
      </if>
      <if test="record.sumOfOtherIndexSizes != null">
        sum_of_other_index_sizes = #{record.sumOfOtherIndexSizes,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update innodb_table_stats
    set database_name = #{record.databaseName,jdbcType=VARCHAR},
      table_name = #{record.tableName,jdbcType=VARCHAR},
      last_update = #{record.lastUpdate,jdbcType=TIMESTAMP},
      n_rows = #{record.nRows,jdbcType=BIGINT},
      clustered_index_size = #{record.clusteredIndexSize,jdbcType=BIGINT},
      sum_of_other_index_sizes = #{record.sumOfOtherIndexSizes,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.InnodbTableStats">
    update innodb_table_stats
    <set>
      <if test="lastUpdate != null">
        last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="nRows != null">
        n_rows = #{nRows,jdbcType=BIGINT},
      </if>
      <if test="clusteredIndexSize != null">
        clustered_index_size = #{clusteredIndexSize,jdbcType=BIGINT},
      </if>
      <if test="sumOfOtherIndexSizes != null">
        sum_of_other_index_sizes = #{sumOfOtherIndexSizes,jdbcType=BIGINT},
      </if>
    </set>
    where database_name = #{databaseName,jdbcType=VARCHAR}
      and table_name = #{tableName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.InnodbTableStats">
    update innodb_table_stats
    set last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      n_rows = #{nRows,jdbcType=BIGINT},
      clustered_index_size = #{clusteredIndexSize,jdbcType=BIGINT},
      sum_of_other_index_sizes = #{sumOfOtherIndexSizes,jdbcType=BIGINT}
    where database_name = #{databaseName,jdbcType=VARCHAR}
      and table_name = #{tableName,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.InnodbTablestats">
    <result column="TABLE_ID" jdbcType="BIGINT" property="tableId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="STATS_INITIALIZED" jdbcType="VARCHAR" property="statsInitialized" />
    <result column="NUM_ROWS" jdbcType="BIGINT" property="numRows" />
    <result column="CLUST_INDEX_SIZE" jdbcType="BIGINT" property="clustIndexSize" />
    <result column="OTHER_INDEX_SIZE" jdbcType="BIGINT" property="otherIndexSize" />
    <result column="MODIFIED_COUNTER" jdbcType="BIGINT" property="modifiedCounter" />
    <result column="AUTOINC" jdbcType="BIGINT" property="autoinc" />
    <result column="REF_COUNT" jdbcType="INTEGER" property="refCount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TABLE_ID, NAME, STATS_INITIALIZED, NUM_ROWS, CLUST_INDEX_SIZE, OTHER_INDEX_SIZE, 
    MODIFIED_COUNTER, AUTOINC, REF_COUNT
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.InnodbTablestatsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from INNODB_TABLESTATS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.InnodbTablestatsExample">
    delete from INNODB_TABLESTATS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.InnodbTablestats">
    insert into INNODB_TABLESTATS (TABLE_ID, NAME, STATS_INITIALIZED, 
      NUM_ROWS, CLUST_INDEX_SIZE, OTHER_INDEX_SIZE, 
      MODIFIED_COUNTER, AUTOINC, REF_COUNT
      )
    values (#{tableId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{statsInitialized,jdbcType=VARCHAR}, 
      #{numRows,jdbcType=BIGINT}, #{clustIndexSize,jdbcType=BIGINT}, #{otherIndexSize,jdbcType=BIGINT}, 
      #{modifiedCounter,jdbcType=BIGINT}, #{autoinc,jdbcType=BIGINT}, #{refCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.InnodbTablestats">
    insert into INNODB_TABLESTATS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        TABLE_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="statsInitialized != null">
        STATS_INITIALIZED,
      </if>
      <if test="numRows != null">
        NUM_ROWS,
      </if>
      <if test="clustIndexSize != null">
        CLUST_INDEX_SIZE,
      </if>
      <if test="otherIndexSize != null">
        OTHER_INDEX_SIZE,
      </if>
      <if test="modifiedCounter != null">
        MODIFIED_COUNTER,
      </if>
      <if test="autoinc != null">
        AUTOINC,
      </if>
      <if test="refCount != null">
        REF_COUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableId != null">
        #{tableId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="statsInitialized != null">
        #{statsInitialized,jdbcType=VARCHAR},
      </if>
      <if test="numRows != null">
        #{numRows,jdbcType=BIGINT},
      </if>
      <if test="clustIndexSize != null">
        #{clustIndexSize,jdbcType=BIGINT},
      </if>
      <if test="otherIndexSize != null">
        #{otherIndexSize,jdbcType=BIGINT},
      </if>
      <if test="modifiedCounter != null">
        #{modifiedCounter,jdbcType=BIGINT},
      </if>
      <if test="autoinc != null">
        #{autoinc,jdbcType=BIGINT},
      </if>
      <if test="refCount != null">
        #{refCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.InnodbTablestatsExample" resultType="java.lang.Integer">
    select count(*) from INNODB_TABLESTATS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update INNODB_TABLESTATS
    <set>
      <if test="record.tableId != null">
        TABLE_ID = #{record.tableId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.statsInitialized != null">
        STATS_INITIALIZED = #{record.statsInitialized,jdbcType=VARCHAR},
      </if>
      <if test="record.numRows != null">
        NUM_ROWS = #{record.numRows,jdbcType=BIGINT},
      </if>
      <if test="record.clustIndexSize != null">
        CLUST_INDEX_SIZE = #{record.clustIndexSize,jdbcType=BIGINT},
      </if>
      <if test="record.otherIndexSize != null">
        OTHER_INDEX_SIZE = #{record.otherIndexSize,jdbcType=BIGINT},
      </if>
      <if test="record.modifiedCounter != null">
        MODIFIED_COUNTER = #{record.modifiedCounter,jdbcType=BIGINT},
      </if>
      <if test="record.autoinc != null">
        AUTOINC = #{record.autoinc,jdbcType=BIGINT},
      </if>
      <if test="record.refCount != null">
        REF_COUNT = #{record.refCount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update INNODB_TABLESTATS
    set TABLE_ID = #{record.tableId,jdbcType=BIGINT},
      NAME = #{record.name,jdbcType=VARCHAR},
      STATS_INITIALIZED = #{record.statsInitialized,jdbcType=VARCHAR},
      NUM_ROWS = #{record.numRows,jdbcType=BIGINT},
      CLUST_INDEX_SIZE = #{record.clustIndexSize,jdbcType=BIGINT},
      OTHER_INDEX_SIZE = #{record.otherIndexSize,jdbcType=BIGINT},
      MODIFIED_COUNTER = #{record.modifiedCounter,jdbcType=BIGINT},
      AUTOINC = #{record.autoinc,jdbcType=BIGINT},
      REF_COUNT = #{record.refCount,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>