<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.InnodbTablespacesBriefMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.InnodbTablespacesBrief">
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="SPACE_TYPE" jdbcType="VARCHAR" property="spaceType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zzp.mall.model.InnodbTablespacesBrief">
    <result column="SPACE" jdbcType="VARBINARY" property="space" />
    <result column="FLAG" jdbcType="VARBINARY" property="flag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    NAME, PATH, SPACE_TYPE
  </sql>
  <sql id="Blob_Column_List">
    SPACE, FLAG
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zzp.mall.model.InnodbTablespacesBriefExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from INNODB_TABLESPACES_BRIEF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zzp.mall.model.InnodbTablespacesBriefExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from INNODB_TABLESPACES_BRIEF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.InnodbTablespacesBriefExample">
    delete from INNODB_TABLESPACES_BRIEF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.InnodbTablespacesBrief">
    insert into INNODB_TABLESPACES_BRIEF (NAME, PATH, SPACE_TYPE, 
      SPACE, FLAG)
    values (#{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{spaceType,jdbcType=VARCHAR}, 
      #{space,jdbcType=VARBINARY}, #{flag,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.InnodbTablespacesBrief">
    insert into INNODB_TABLESPACES_BRIEF
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        NAME,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="spaceType != null">
        SPACE_TYPE,
      </if>
      <if test="space != null">
        SPACE,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="spaceType != null">
        #{spaceType,jdbcType=VARCHAR},
      </if>
      <if test="space != null">
        #{space,jdbcType=VARBINARY},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.InnodbTablespacesBriefExample" resultType="java.lang.Integer">
    select count(*) from INNODB_TABLESPACES_BRIEF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update INNODB_TABLESPACES_BRIEF
    <set>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.path != null">
        PATH = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.spaceType != null">
        SPACE_TYPE = #{record.spaceType,jdbcType=VARCHAR},
      </if>
      <if test="record.space != null">
        SPACE = #{record.space,jdbcType=VARBINARY},
      </if>
      <if test="record.flag != null">
        FLAG = #{record.flag,jdbcType=VARBINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update INNODB_TABLESPACES_BRIEF
    set NAME = #{record.name,jdbcType=VARCHAR},
      PATH = #{record.path,jdbcType=VARCHAR},
      SPACE_TYPE = #{record.spaceType,jdbcType=VARCHAR},
      SPACE = #{record.space,jdbcType=VARBINARY},
      FLAG = #{record.flag,jdbcType=VARBINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update INNODB_TABLESPACES_BRIEF
    set NAME = #{record.name,jdbcType=VARCHAR},
      PATH = #{record.path,jdbcType=VARCHAR},
      SPACE_TYPE = #{record.spaceType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>