<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.InnodbCachedIndexesMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.InnodbCachedIndexes">
    <result column="SPACE_ID" jdbcType="INTEGER" property="spaceId" />
    <result column="INDEX_ID" jdbcType="BIGINT" property="indexId" />
    <result column="N_CACHED_PAGES" jdbcType="BIGINT" property="nCachedPages" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SPACE_ID, INDEX_ID, N_CACHED_PAGES
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.InnodbCachedIndexesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from INNODB_CACHED_INDEXES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.InnodbCachedIndexesExample">
    delete from INNODB_CACHED_INDEXES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.InnodbCachedIndexes">
    insert into INNODB_CACHED_INDEXES (SPACE_ID, INDEX_ID, N_CACHED_PAGES
      )
    values (#{spaceId,jdbcType=INTEGER}, #{indexId,jdbcType=BIGINT}, #{nCachedPages,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.InnodbCachedIndexes">
    insert into INNODB_CACHED_INDEXES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spaceId != null">
        SPACE_ID,
      </if>
      <if test="indexId != null">
        INDEX_ID,
      </if>
      <if test="nCachedPages != null">
        N_CACHED_PAGES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spaceId != null">
        #{spaceId,jdbcType=INTEGER},
      </if>
      <if test="indexId != null">
        #{indexId,jdbcType=BIGINT},
      </if>
      <if test="nCachedPages != null">
        #{nCachedPages,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.InnodbCachedIndexesExample" resultType="java.lang.Integer">
    select count(*) from INNODB_CACHED_INDEXES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update INNODB_CACHED_INDEXES
    <set>
      <if test="record.spaceId != null">
        SPACE_ID = #{record.spaceId,jdbcType=INTEGER},
      </if>
      <if test="record.indexId != null">
        INDEX_ID = #{record.indexId,jdbcType=BIGINT},
      </if>
      <if test="record.nCachedPages != null">
        N_CACHED_PAGES = #{record.nCachedPages,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update INNODB_CACHED_INDEXES
    set SPACE_ID = #{record.spaceId,jdbcType=INTEGER},
      INDEX_ID = #{record.indexId,jdbcType=BIGINT},
      N_CACHED_PAGES = #{record.nCachedPages,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>