<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.LogStatusMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.LogStatus">
    <result column="SERVER_UUID" jdbcType="CHAR" property="serverUuid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zzp.mall.model.LogStatus">
    <result column="LOCAL" jdbcType="LONGVARCHAR" property="local" />
    <result column="REPLICATION" jdbcType="LONGVARCHAR" property="replication" />
    <result column="STORAGE_ENGINES" jdbcType="LONGVARCHAR" property="storageEngines" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SERVER_UUID
  </sql>
  <sql id="Blob_Column_List">
    LOCAL, REPLICATION, STORAGE_ENGINES
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zzp.mall.model.LogStatusExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from log_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zzp.mall.model.LogStatusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from log_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.LogStatusExample">
    delete from log_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.LogStatus">
    insert into log_status (SERVER_UUID, LOCAL, REPLICATION, 
      STORAGE_ENGINES)
    values (#{serverUuid,jdbcType=CHAR}, #{local,jdbcType=LONGVARCHAR}, #{replication,jdbcType=LONGVARCHAR}, 
      #{storageEngines,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.LogStatus">
    insert into log_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serverUuid != null">
        SERVER_UUID,
      </if>
      <if test="local != null">
        LOCAL,
      </if>
      <if test="replication != null">
        REPLICATION,
      </if>
      <if test="storageEngines != null">
        STORAGE_ENGINES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serverUuid != null">
        #{serverUuid,jdbcType=CHAR},
      </if>
      <if test="local != null">
        #{local,jdbcType=LONGVARCHAR},
      </if>
      <if test="replication != null">
        #{replication,jdbcType=LONGVARCHAR},
      </if>
      <if test="storageEngines != null">
        #{storageEngines,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.LogStatusExample" resultType="java.lang.Integer">
    select count(*) from log_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update log_status
    <set>
      <if test="record.serverUuid != null">
        SERVER_UUID = #{record.serverUuid,jdbcType=CHAR},
      </if>
      <if test="record.local != null">
        LOCAL = #{record.local,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.replication != null">
        REPLICATION = #{record.replication,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.storageEngines != null">
        STORAGE_ENGINES = #{record.storageEngines,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update log_status
    set SERVER_UUID = #{record.serverUuid,jdbcType=CHAR},
      LOCAL = #{record.local,jdbcType=LONGVARCHAR},
      REPLICATION = #{record.replication,jdbcType=LONGVARCHAR},
      STORAGE_ENGINES = #{record.storageEngines,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update log_status
    set SERVER_UUID = #{record.serverUuid,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>