<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.MemorySummaryByUserByEventNameMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.MemorySummaryByUserByEventName">
    <result column="USER" jdbcType="CHAR" property="user" />
    <result column="EVENT_NAME" jdbcType="VARCHAR" property="eventName" />
    <result column="COUNT_ALLOC" jdbcType="BIGINT" property="countAlloc" />
    <result column="COUNT_FREE" jdbcType="BIGINT" property="countFree" />
    <result column="SUM_NUMBER_OF_BYTES_ALLOC" jdbcType="BIGINT" property="sumNumberOfBytesAlloc" />
    <result column="SUM_NUMBER_OF_BYTES_FREE" jdbcType="BIGINT" property="sumNumberOfBytesFree" />
    <result column="LOW_COUNT_USED" jdbcType="BIGINT" property="lowCountUsed" />
    <result column="CURRENT_COUNT_USED" jdbcType="BIGINT" property="currentCountUsed" />
    <result column="HIGH_COUNT_USED" jdbcType="BIGINT" property="highCountUsed" />
    <result column="LOW_NUMBER_OF_BYTES_USED" jdbcType="BIGINT" property="lowNumberOfBytesUsed" />
    <result column="CURRENT_NUMBER_OF_BYTES_USED" jdbcType="BIGINT" property="currentNumberOfBytesUsed" />
    <result column="HIGH_NUMBER_OF_BYTES_USED" jdbcType="BIGINT" property="highNumberOfBytesUsed" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USER, EVENT_NAME, COUNT_ALLOC, COUNT_FREE, SUM_NUMBER_OF_BYTES_ALLOC, SUM_NUMBER_OF_BYTES_FREE, 
    LOW_COUNT_USED, CURRENT_COUNT_USED, HIGH_COUNT_USED, LOW_NUMBER_OF_BYTES_USED, CURRENT_NUMBER_OF_BYTES_USED, 
    HIGH_NUMBER_OF_BYTES_USED
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.MemorySummaryByUserByEventNameExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from memory_summary_by_user_by_event_name
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.MemorySummaryByUserByEventNameExample">
    delete from memory_summary_by_user_by_event_name
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.MemorySummaryByUserByEventName">
    insert into memory_summary_by_user_by_event_name (USER, EVENT_NAME, COUNT_ALLOC, 
      COUNT_FREE, SUM_NUMBER_OF_BYTES_ALLOC, SUM_NUMBER_OF_BYTES_FREE, 
      LOW_COUNT_USED, CURRENT_COUNT_USED, HIGH_COUNT_USED, 
      LOW_NUMBER_OF_BYTES_USED, CURRENT_NUMBER_OF_BYTES_USED, 
      HIGH_NUMBER_OF_BYTES_USED)
    values (#{user,jdbcType=CHAR}, #{eventName,jdbcType=VARCHAR}, #{countAlloc,jdbcType=BIGINT}, 
      #{countFree,jdbcType=BIGINT}, #{sumNumberOfBytesAlloc,jdbcType=BIGINT}, #{sumNumberOfBytesFree,jdbcType=BIGINT}, 
      #{lowCountUsed,jdbcType=BIGINT}, #{currentCountUsed,jdbcType=BIGINT}, #{highCountUsed,jdbcType=BIGINT}, 
      #{lowNumberOfBytesUsed,jdbcType=BIGINT}, #{currentNumberOfBytesUsed,jdbcType=BIGINT}, 
      #{highNumberOfBytesUsed,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.MemorySummaryByUserByEventName">
    insert into memory_summary_by_user_by_event_name
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user != null">
        USER,
      </if>
      <if test="eventName != null">
        EVENT_NAME,
      </if>
      <if test="countAlloc != null">
        COUNT_ALLOC,
      </if>
      <if test="countFree != null">
        COUNT_FREE,
      </if>
      <if test="sumNumberOfBytesAlloc != null">
        SUM_NUMBER_OF_BYTES_ALLOC,
      </if>
      <if test="sumNumberOfBytesFree != null">
        SUM_NUMBER_OF_BYTES_FREE,
      </if>
      <if test="lowCountUsed != null">
        LOW_COUNT_USED,
      </if>
      <if test="currentCountUsed != null">
        CURRENT_COUNT_USED,
      </if>
      <if test="highCountUsed != null">
        HIGH_COUNT_USED,
      </if>
      <if test="lowNumberOfBytesUsed != null">
        LOW_NUMBER_OF_BYTES_USED,
      </if>
      <if test="currentNumberOfBytesUsed != null">
        CURRENT_NUMBER_OF_BYTES_USED,
      </if>
      <if test="highNumberOfBytesUsed != null">
        HIGH_NUMBER_OF_BYTES_USED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user != null">
        #{user,jdbcType=CHAR},
      </if>
      <if test="eventName != null">
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="countAlloc != null">
        #{countAlloc,jdbcType=BIGINT},
      </if>
      <if test="countFree != null">
        #{countFree,jdbcType=BIGINT},
      </if>
      <if test="sumNumberOfBytesAlloc != null">
        #{sumNumberOfBytesAlloc,jdbcType=BIGINT},
      </if>
      <if test="sumNumberOfBytesFree != null">
        #{sumNumberOfBytesFree,jdbcType=BIGINT},
      </if>
      <if test="lowCountUsed != null">
        #{lowCountUsed,jdbcType=BIGINT},
      </if>
      <if test="currentCountUsed != null">
        #{currentCountUsed,jdbcType=BIGINT},
      </if>
      <if test="highCountUsed != null">
        #{highCountUsed,jdbcType=BIGINT},
      </if>
      <if test="lowNumberOfBytesUsed != null">
        #{lowNumberOfBytesUsed,jdbcType=BIGINT},
      </if>
      <if test="currentNumberOfBytesUsed != null">
        #{currentNumberOfBytesUsed,jdbcType=BIGINT},
      </if>
      <if test="highNumberOfBytesUsed != null">
        #{highNumberOfBytesUsed,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.MemorySummaryByUserByEventNameExample" resultType="java.lang.Integer">
    select count(*) from memory_summary_by_user_by_event_name
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update memory_summary_by_user_by_event_name
    <set>
      <if test="record.user != null">
        USER = #{record.user,jdbcType=CHAR},
      </if>
      <if test="record.eventName != null">
        EVENT_NAME = #{record.eventName,jdbcType=VARCHAR},
      </if>
      <if test="record.countAlloc != null">
        COUNT_ALLOC = #{record.countAlloc,jdbcType=BIGINT},
      </if>
      <if test="record.countFree != null">
        COUNT_FREE = #{record.countFree,jdbcType=BIGINT},
      </if>
      <if test="record.sumNumberOfBytesAlloc != null">
        SUM_NUMBER_OF_BYTES_ALLOC = #{record.sumNumberOfBytesAlloc,jdbcType=BIGINT},
      </if>
      <if test="record.sumNumberOfBytesFree != null">
        SUM_NUMBER_OF_BYTES_FREE = #{record.sumNumberOfBytesFree,jdbcType=BIGINT},
      </if>
      <if test="record.lowCountUsed != null">
        LOW_COUNT_USED = #{record.lowCountUsed,jdbcType=BIGINT},
      </if>
      <if test="record.currentCountUsed != null">
        CURRENT_COUNT_USED = #{record.currentCountUsed,jdbcType=BIGINT},
      </if>
      <if test="record.highCountUsed != null">
        HIGH_COUNT_USED = #{record.highCountUsed,jdbcType=BIGINT},
      </if>
      <if test="record.lowNumberOfBytesUsed != null">
        LOW_NUMBER_OF_BYTES_USED = #{record.lowNumberOfBytesUsed,jdbcType=BIGINT},
      </if>
      <if test="record.currentNumberOfBytesUsed != null">
        CURRENT_NUMBER_OF_BYTES_USED = #{record.currentNumberOfBytesUsed,jdbcType=BIGINT},
      </if>
      <if test="record.highNumberOfBytesUsed != null">
        HIGH_NUMBER_OF_BYTES_USED = #{record.highNumberOfBytesUsed,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update memory_summary_by_user_by_event_name
    set USER = #{record.user,jdbcType=CHAR},
      EVENT_NAME = #{record.eventName,jdbcType=VARCHAR},
      COUNT_ALLOC = #{record.countAlloc,jdbcType=BIGINT},
      COUNT_FREE = #{record.countFree,jdbcType=BIGINT},
      SUM_NUMBER_OF_BYTES_ALLOC = #{record.sumNumberOfBytesAlloc,jdbcType=BIGINT},
      SUM_NUMBER_OF_BYTES_FREE = #{record.sumNumberOfBytesFree,jdbcType=BIGINT},
      LOW_COUNT_USED = #{record.lowCountUsed,jdbcType=BIGINT},
      CURRENT_COUNT_USED = #{record.currentCountUsed,jdbcType=BIGINT},
      HIGH_COUNT_USED = #{record.highCountUsed,jdbcType=BIGINT},
      LOW_NUMBER_OF_BYTES_USED = #{record.lowNumberOfBytesUsed,jdbcType=BIGINT},
      CURRENT_NUMBER_OF_BYTES_USED = #{record.currentNumberOfBytesUsed,jdbcType=BIGINT},
      HIGH_NUMBER_OF_BYTES_USED = #{record.highNumberOfBytesUsed,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>