<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.PartitionsMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.Partitions">
    <result column="TABLE_CATALOG" jdbcType="VARCHAR" property="tableCatalog" />
    <result column="TABLE_SCHEMA" jdbcType="VARCHAR" property="tableSchema" />
    <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
    <result column="PARTITION_NAME" jdbcType="VARCHAR" property="partitionName" />
    <result column="SUBPARTITION_NAME" jdbcType="VARCHAR" property="subpartitionName" />
    <result column="PARTITION_ORDINAL_POSITION" jdbcType="INTEGER" property="partitionOrdinalPosition" />
    <result column="SUBPARTITION_ORDINAL_POSITION" jdbcType="INTEGER" property="subpartitionOrdinalPosition" />
    <result column="PARTITION_METHOD" jdbcType="VARCHAR" property="partitionMethod" />
    <result column="SUBPARTITION_METHOD" jdbcType="VARCHAR" property="subpartitionMethod" />
    <result column="PARTITION_EXPRESSION" jdbcType="VARCHAR" property="partitionExpression" />
    <result column="SUBPARTITION_EXPRESSION" jdbcType="VARCHAR" property="subpartitionExpression" />
    <result column="TABLE_ROWS" jdbcType="BIGINT" property="tableRows" />
    <result column="AVG_ROW_LENGTH" jdbcType="BIGINT" property="avgRowLength" />
    <result column="DATA_LENGTH" jdbcType="BIGINT" property="dataLength" />
    <result column="MAX_DATA_LENGTH" jdbcType="BIGINT" property="maxDataLength" />
    <result column="INDEX_LENGTH" jdbcType="BIGINT" property="indexLength" />
    <result column="DATA_FREE" jdbcType="BIGINT" property="dataFree" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CHECK_TIME" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="CHECKSUM" jdbcType="BIGINT" property="checksum" />
    <result column="NODEGROUP" jdbcType="VARCHAR" property="nodegroup" />
    <result column="TABLESPACE_NAME" jdbcType="VARCHAR" property="tablespaceName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zzp.mall.model.Partitions">
    <result column="PARTITION_DESCRIPTION" jdbcType="LONGVARCHAR" property="partitionDescription" />
    <result column="PARTITION_COMMENT" jdbcType="LONGVARCHAR" property="partitionComment" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TABLE_CATALOG, TABLE_SCHEMA, TABLE_NAME, PARTITION_NAME, SUBPARTITION_NAME, PARTITION_ORDINAL_POSITION, 
    SUBPARTITION_ORDINAL_POSITION, PARTITION_METHOD, SUBPARTITION_METHOD, PARTITION_EXPRESSION, 
    SUBPARTITION_EXPRESSION, TABLE_ROWS, AVG_ROW_LENGTH, DATA_LENGTH, MAX_DATA_LENGTH, 
    INDEX_LENGTH, DATA_FREE, CREATE_TIME, UPDATE_TIME, CHECK_TIME, CHECKSUM, NODEGROUP, 
    TABLESPACE_NAME
  </sql>
  <sql id="Blob_Column_List">
    PARTITION_DESCRIPTION, PARTITION_COMMENT
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zzp.mall.model.PartitionsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PARTITIONS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zzp.mall.model.PartitionsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PARTITIONS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.PartitionsExample">
    delete from PARTITIONS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.Partitions">
    insert into PARTITIONS (TABLE_CATALOG, TABLE_SCHEMA, TABLE_NAME, 
      PARTITION_NAME, SUBPARTITION_NAME, PARTITION_ORDINAL_POSITION, 
      SUBPARTITION_ORDINAL_POSITION, PARTITION_METHOD, 
      SUBPARTITION_METHOD, PARTITION_EXPRESSION, 
      SUBPARTITION_EXPRESSION, TABLE_ROWS, AVG_ROW_LENGTH, 
      DATA_LENGTH, MAX_DATA_LENGTH, INDEX_LENGTH, 
      DATA_FREE, CREATE_TIME, UPDATE_TIME, 
      CHECK_TIME, CHECKSUM, NODEGROUP, 
      TABLESPACE_NAME, PARTITION_DESCRIPTION, 
      PARTITION_COMMENT)
    values (#{tableCatalog,jdbcType=VARCHAR}, #{tableSchema,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, 
      #{partitionName,jdbcType=VARCHAR}, #{subpartitionName,jdbcType=VARCHAR}, #{partitionOrdinalPosition,jdbcType=INTEGER}, 
      #{subpartitionOrdinalPosition,jdbcType=INTEGER}, #{partitionMethod,jdbcType=VARCHAR}, 
      #{subpartitionMethod,jdbcType=VARCHAR}, #{partitionExpression,jdbcType=VARCHAR}, 
      #{subpartitionExpression,jdbcType=VARCHAR}, #{tableRows,jdbcType=BIGINT}, #{avgRowLength,jdbcType=BIGINT}, 
      #{dataLength,jdbcType=BIGINT}, #{maxDataLength,jdbcType=BIGINT}, #{indexLength,jdbcType=BIGINT}, 
      #{dataFree,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{checkTime,jdbcType=TIMESTAMP}, #{checksum,jdbcType=BIGINT}, #{nodegroup,jdbcType=VARCHAR}, 
      #{tablespaceName,jdbcType=VARCHAR}, #{partitionDescription,jdbcType=LONGVARCHAR}, 
      #{partitionComment,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.Partitions">
    insert into PARTITIONS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableCatalog != null">
        TABLE_CATALOG,
      </if>
      <if test="tableSchema != null">
        TABLE_SCHEMA,
      </if>
      <if test="tableName != null">
        TABLE_NAME,
      </if>
      <if test="partitionName != null">
        PARTITION_NAME,
      </if>
      <if test="subpartitionName != null">
        SUBPARTITION_NAME,
      </if>
      <if test="partitionOrdinalPosition != null">
        PARTITION_ORDINAL_POSITION,
      </if>
      <if test="subpartitionOrdinalPosition != null">
        SUBPARTITION_ORDINAL_POSITION,
      </if>
      <if test="partitionMethod != null">
        PARTITION_METHOD,
      </if>
      <if test="subpartitionMethod != null">
        SUBPARTITION_METHOD,
      </if>
      <if test="partitionExpression != null">
        PARTITION_EXPRESSION,
      </if>
      <if test="subpartitionExpression != null">
        SUBPARTITION_EXPRESSION,
      </if>
      <if test="tableRows != null">
        TABLE_ROWS,
      </if>
      <if test="avgRowLength != null">
        AVG_ROW_LENGTH,
      </if>
      <if test="dataLength != null">
        DATA_LENGTH,
      </if>
      <if test="maxDataLength != null">
        MAX_DATA_LENGTH,
      </if>
      <if test="indexLength != null">
        INDEX_LENGTH,
      </if>
      <if test="dataFree != null">
        DATA_FREE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="checkTime != null">
        CHECK_TIME,
      </if>
      <if test="checksum != null">
        CHECKSUM,
      </if>
      <if test="nodegroup != null">
        NODEGROUP,
      </if>
      <if test="tablespaceName != null">
        TABLESPACE_NAME,
      </if>
      <if test="partitionDescription != null">
        PARTITION_DESCRIPTION,
      </if>
      <if test="partitionComment != null">
        PARTITION_COMMENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableCatalog != null">
        #{tableCatalog,jdbcType=VARCHAR},
      </if>
      <if test="tableSchema != null">
        #{tableSchema,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="partitionName != null">
        #{partitionName,jdbcType=VARCHAR},
      </if>
      <if test="subpartitionName != null">
        #{subpartitionName,jdbcType=VARCHAR},
      </if>
      <if test="partitionOrdinalPosition != null">
        #{partitionOrdinalPosition,jdbcType=INTEGER},
      </if>
      <if test="subpartitionOrdinalPosition != null">
        #{subpartitionOrdinalPosition,jdbcType=INTEGER},
      </if>
      <if test="partitionMethod != null">
        #{partitionMethod,jdbcType=VARCHAR},
      </if>
      <if test="subpartitionMethod != null">
        #{subpartitionMethod,jdbcType=VARCHAR},
      </if>
      <if test="partitionExpression != null">
        #{partitionExpression,jdbcType=VARCHAR},
      </if>
      <if test="subpartitionExpression != null">
        #{subpartitionExpression,jdbcType=VARCHAR},
      </if>
      <if test="tableRows != null">
        #{tableRows,jdbcType=BIGINT},
      </if>
      <if test="avgRowLength != null">
        #{avgRowLength,jdbcType=BIGINT},
      </if>
      <if test="dataLength != null">
        #{dataLength,jdbcType=BIGINT},
      </if>
      <if test="maxDataLength != null">
        #{maxDataLength,jdbcType=BIGINT},
      </if>
      <if test="indexLength != null">
        #{indexLength,jdbcType=BIGINT},
      </if>
      <if test="dataFree != null">
        #{dataFree,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checksum != null">
        #{checksum,jdbcType=BIGINT},
      </if>
      <if test="nodegroup != null">
        #{nodegroup,jdbcType=VARCHAR},
      </if>
      <if test="tablespaceName != null">
        #{tablespaceName,jdbcType=VARCHAR},
      </if>
      <if test="partitionDescription != null">
        #{partitionDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="partitionComment != null">
        #{partitionComment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.PartitionsExample" resultType="java.lang.Integer">
    select count(*) from PARTITIONS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PARTITIONS
    <set>
      <if test="record.tableCatalog != null">
        TABLE_CATALOG = #{record.tableCatalog,jdbcType=VARCHAR},
      </if>
      <if test="record.tableSchema != null">
        TABLE_SCHEMA = #{record.tableSchema,jdbcType=VARCHAR},
      </if>
      <if test="record.tableName != null">
        TABLE_NAME = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.partitionName != null">
        PARTITION_NAME = #{record.partitionName,jdbcType=VARCHAR},
      </if>
      <if test="record.subpartitionName != null">
        SUBPARTITION_NAME = #{record.subpartitionName,jdbcType=VARCHAR},
      </if>
      <if test="record.partitionOrdinalPosition != null">
        PARTITION_ORDINAL_POSITION = #{record.partitionOrdinalPosition,jdbcType=INTEGER},
      </if>
      <if test="record.subpartitionOrdinalPosition != null">
        SUBPARTITION_ORDINAL_POSITION = #{record.subpartitionOrdinalPosition,jdbcType=INTEGER},
      </if>
      <if test="record.partitionMethod != null">
        PARTITION_METHOD = #{record.partitionMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.subpartitionMethod != null">
        SUBPARTITION_METHOD = #{record.subpartitionMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.partitionExpression != null">
        PARTITION_EXPRESSION = #{record.partitionExpression,jdbcType=VARCHAR},
      </if>
      <if test="record.subpartitionExpression != null">
        SUBPARTITION_EXPRESSION = #{record.subpartitionExpression,jdbcType=VARCHAR},
      </if>
      <if test="record.tableRows != null">
        TABLE_ROWS = #{record.tableRows,jdbcType=BIGINT},
      </if>
      <if test="record.avgRowLength != null">
        AVG_ROW_LENGTH = #{record.avgRowLength,jdbcType=BIGINT},
      </if>
      <if test="record.dataLength != null">
        DATA_LENGTH = #{record.dataLength,jdbcType=BIGINT},
      </if>
      <if test="record.maxDataLength != null">
        MAX_DATA_LENGTH = #{record.maxDataLength,jdbcType=BIGINT},
      </if>
      <if test="record.indexLength != null">
        INDEX_LENGTH = #{record.indexLength,jdbcType=BIGINT},
      </if>
      <if test="record.dataFree != null">
        DATA_FREE = #{record.dataFree,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkTime != null">
        CHECK_TIME = #{record.checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checksum != null">
        CHECKSUM = #{record.checksum,jdbcType=BIGINT},
      </if>
      <if test="record.nodegroup != null">
        NODEGROUP = #{record.nodegroup,jdbcType=VARCHAR},
      </if>
      <if test="record.tablespaceName != null">
        TABLESPACE_NAME = #{record.tablespaceName,jdbcType=VARCHAR},
      </if>
      <if test="record.partitionDescription != null">
        PARTITION_DESCRIPTION = #{record.partitionDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.partitionComment != null">
        PARTITION_COMMENT = #{record.partitionComment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update PARTITIONS
    set TABLE_CATALOG = #{record.tableCatalog,jdbcType=VARCHAR},
      TABLE_SCHEMA = #{record.tableSchema,jdbcType=VARCHAR},
      TABLE_NAME = #{record.tableName,jdbcType=VARCHAR},
      PARTITION_NAME = #{record.partitionName,jdbcType=VARCHAR},
      SUBPARTITION_NAME = #{record.subpartitionName,jdbcType=VARCHAR},
      PARTITION_ORDINAL_POSITION = #{record.partitionOrdinalPosition,jdbcType=INTEGER},
      SUBPARTITION_ORDINAL_POSITION = #{record.subpartitionOrdinalPosition,jdbcType=INTEGER},
      PARTITION_METHOD = #{record.partitionMethod,jdbcType=VARCHAR},
      SUBPARTITION_METHOD = #{record.subpartitionMethod,jdbcType=VARCHAR},
      PARTITION_EXPRESSION = #{record.partitionExpression,jdbcType=VARCHAR},
      SUBPARTITION_EXPRESSION = #{record.subpartitionExpression,jdbcType=VARCHAR},
      TABLE_ROWS = #{record.tableRows,jdbcType=BIGINT},
      AVG_ROW_LENGTH = #{record.avgRowLength,jdbcType=BIGINT},
      DATA_LENGTH = #{record.dataLength,jdbcType=BIGINT},
      MAX_DATA_LENGTH = #{record.maxDataLength,jdbcType=BIGINT},
      INDEX_LENGTH = #{record.indexLength,jdbcType=BIGINT},
      DATA_FREE = #{record.dataFree,jdbcType=BIGINT},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      CHECK_TIME = #{record.checkTime,jdbcType=TIMESTAMP},
      CHECKSUM = #{record.checksum,jdbcType=BIGINT},
      NODEGROUP = #{record.nodegroup,jdbcType=VARCHAR},
      TABLESPACE_NAME = #{record.tablespaceName,jdbcType=VARCHAR},
      PARTITION_DESCRIPTION = #{record.partitionDescription,jdbcType=LONGVARCHAR},
      PARTITION_COMMENT = #{record.partitionComment,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PARTITIONS
    set TABLE_CATALOG = #{record.tableCatalog,jdbcType=VARCHAR},
      TABLE_SCHEMA = #{record.tableSchema,jdbcType=VARCHAR},
      TABLE_NAME = #{record.tableName,jdbcType=VARCHAR},
      PARTITION_NAME = #{record.partitionName,jdbcType=VARCHAR},
      SUBPARTITION_NAME = #{record.subpartitionName,jdbcType=VARCHAR},
      PARTITION_ORDINAL_POSITION = #{record.partitionOrdinalPosition,jdbcType=INTEGER},
      SUBPARTITION_ORDINAL_POSITION = #{record.subpartitionOrdinalPosition,jdbcType=INTEGER},
      PARTITION_METHOD = #{record.partitionMethod,jdbcType=VARCHAR},
      SUBPARTITION_METHOD = #{record.subpartitionMethod,jdbcType=VARCHAR},
      PARTITION_EXPRESSION = #{record.partitionExpression,jdbcType=VARCHAR},
      SUBPARTITION_EXPRESSION = #{record.subpartitionExpression,jdbcType=VARCHAR},
      TABLE_ROWS = #{record.tableRows,jdbcType=BIGINT},
      AVG_ROW_LENGTH = #{record.avgRowLength,jdbcType=BIGINT},
      DATA_LENGTH = #{record.dataLength,jdbcType=BIGINT},
      MAX_DATA_LENGTH = #{record.maxDataLength,jdbcType=BIGINT},
      INDEX_LENGTH = #{record.indexLength,jdbcType=BIGINT},
      DATA_FREE = #{record.dataFree,jdbcType=BIGINT},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      CHECK_TIME = #{record.checkTime,jdbcType=TIMESTAMP},
      CHECKSUM = #{record.checksum,jdbcType=BIGINT},
      NODEGROUP = #{record.nodegroup,jdbcType=VARCHAR},
      TABLESPACE_NAME = #{record.tablespaceName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>