<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.PluginsMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.Plugins">
    <result column="PLUGIN_NAME" jdbcType="VARCHAR" property="pluginName" />
    <result column="PLUGIN_VERSION" jdbcType="VARCHAR" property="pluginVersion" />
    <result column="PLUGIN_STATUS" jdbcType="VARCHAR" property="pluginStatus" />
    <result column="PLUGIN_TYPE" jdbcType="VARCHAR" property="pluginType" />
    <result column="PLUGIN_TYPE_VERSION" jdbcType="VARCHAR" property="pluginTypeVersion" />
    <result column="PLUGIN_LIBRARY" jdbcType="VARCHAR" property="pluginLibrary" />
    <result column="PLUGIN_LIBRARY_VERSION" jdbcType="VARCHAR" property="pluginLibraryVersion" />
    <result column="PLUGIN_AUTHOR" jdbcType="VARCHAR" property="pluginAuthor" />
    <result column="PLUGIN_DESCRIPTION" jdbcType="VARCHAR" property="pluginDescription" />
    <result column="PLUGIN_LICENSE" jdbcType="VARCHAR" property="pluginLicense" />
    <result column="LOAD_OPTION" jdbcType="VARCHAR" property="loadOption" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PLUGIN_NAME, PLUGIN_VERSION, PLUGIN_STATUS, PLUGIN_TYPE, PLUGIN_TYPE_VERSION, PLUGIN_LIBRARY, 
    PLUGIN_LIBRARY_VERSION, PLUGIN_AUTHOR, PLUGIN_DESCRIPTION, PLUGIN_LICENSE, LOAD_OPTION
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.PluginsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PLUGINS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.PluginsExample">
    delete from PLUGINS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.Plugins">
    insert into PLUGINS (PLUGIN_NAME, PLUGIN_VERSION, PLUGIN_STATUS, 
      PLUGIN_TYPE, PLUGIN_TYPE_VERSION, PLUGIN_LIBRARY, 
      PLUGIN_LIBRARY_VERSION, PLUGIN_AUTHOR, PLUGIN_DESCRIPTION, 
      PLUGIN_LICENSE, LOAD_OPTION)
    values (#{pluginName,jdbcType=VARCHAR}, #{pluginVersion,jdbcType=VARCHAR}, #{pluginStatus,jdbcType=VARCHAR}, 
      #{pluginType,jdbcType=VARCHAR}, #{pluginTypeVersion,jdbcType=VARCHAR}, #{pluginLibrary,jdbcType=VARCHAR}, 
      #{pluginLibraryVersion,jdbcType=VARCHAR}, #{pluginAuthor,jdbcType=VARCHAR}, #{pluginDescription,jdbcType=VARCHAR}, 
      #{pluginLicense,jdbcType=VARCHAR}, #{loadOption,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.Plugins">
    insert into PLUGINS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pluginName != null">
        PLUGIN_NAME,
      </if>
      <if test="pluginVersion != null">
        PLUGIN_VERSION,
      </if>
      <if test="pluginStatus != null">
        PLUGIN_STATUS,
      </if>
      <if test="pluginType != null">
        PLUGIN_TYPE,
      </if>
      <if test="pluginTypeVersion != null">
        PLUGIN_TYPE_VERSION,
      </if>
      <if test="pluginLibrary != null">
        PLUGIN_LIBRARY,
      </if>
      <if test="pluginLibraryVersion != null">
        PLUGIN_LIBRARY_VERSION,
      </if>
      <if test="pluginAuthor != null">
        PLUGIN_AUTHOR,
      </if>
      <if test="pluginDescription != null">
        PLUGIN_DESCRIPTION,
      </if>
      <if test="pluginLicense != null">
        PLUGIN_LICENSE,
      </if>
      <if test="loadOption != null">
        LOAD_OPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pluginName != null">
        #{pluginName,jdbcType=VARCHAR},
      </if>
      <if test="pluginVersion != null">
        #{pluginVersion,jdbcType=VARCHAR},
      </if>
      <if test="pluginStatus != null">
        #{pluginStatus,jdbcType=VARCHAR},
      </if>
      <if test="pluginType != null">
        #{pluginType,jdbcType=VARCHAR},
      </if>
      <if test="pluginTypeVersion != null">
        #{pluginTypeVersion,jdbcType=VARCHAR},
      </if>
      <if test="pluginLibrary != null">
        #{pluginLibrary,jdbcType=VARCHAR},
      </if>
      <if test="pluginLibraryVersion != null">
        #{pluginLibraryVersion,jdbcType=VARCHAR},
      </if>
      <if test="pluginAuthor != null">
        #{pluginAuthor,jdbcType=VARCHAR},
      </if>
      <if test="pluginDescription != null">
        #{pluginDescription,jdbcType=VARCHAR},
      </if>
      <if test="pluginLicense != null">
        #{pluginLicense,jdbcType=VARCHAR},
      </if>
      <if test="loadOption != null">
        #{loadOption,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.PluginsExample" resultType="java.lang.Integer">
    select count(*) from PLUGINS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PLUGINS
    <set>
      <if test="record.pluginName != null">
        PLUGIN_NAME = #{record.pluginName,jdbcType=VARCHAR},
      </if>
      <if test="record.pluginVersion != null">
        PLUGIN_VERSION = #{record.pluginVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.pluginStatus != null">
        PLUGIN_STATUS = #{record.pluginStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.pluginType != null">
        PLUGIN_TYPE = #{record.pluginType,jdbcType=VARCHAR},
      </if>
      <if test="record.pluginTypeVersion != null">
        PLUGIN_TYPE_VERSION = #{record.pluginTypeVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.pluginLibrary != null">
        PLUGIN_LIBRARY = #{record.pluginLibrary,jdbcType=VARCHAR},
      </if>
      <if test="record.pluginLibraryVersion != null">
        PLUGIN_LIBRARY_VERSION = #{record.pluginLibraryVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.pluginAuthor != null">
        PLUGIN_AUTHOR = #{record.pluginAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.pluginDescription != null">
        PLUGIN_DESCRIPTION = #{record.pluginDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.pluginLicense != null">
        PLUGIN_LICENSE = #{record.pluginLicense,jdbcType=VARCHAR},
      </if>
      <if test="record.loadOption != null">
        LOAD_OPTION = #{record.loadOption,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PLUGINS
    set PLUGIN_NAME = #{record.pluginName,jdbcType=VARCHAR},
      PLUGIN_VERSION = #{record.pluginVersion,jdbcType=VARCHAR},
      PLUGIN_STATUS = #{record.pluginStatus,jdbcType=VARCHAR},
      PLUGIN_TYPE = #{record.pluginType,jdbcType=VARCHAR},
      PLUGIN_TYPE_VERSION = #{record.pluginTypeVersion,jdbcType=VARCHAR},
      PLUGIN_LIBRARY = #{record.pluginLibrary,jdbcType=VARCHAR},
      PLUGIN_LIBRARY_VERSION = #{record.pluginLibraryVersion,jdbcType=VARCHAR},
      PLUGIN_AUTHOR = #{record.pluginAuthor,jdbcType=VARCHAR},
      PLUGIN_DESCRIPTION = #{record.pluginDescription,jdbcType=VARCHAR},
      PLUGIN_LICENSE = #{record.pluginLicense,jdbcType=VARCHAR},
      LOAD_OPTION = #{record.loadOption,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>