<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.PreparedStatementsInstancesMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.PreparedStatementsInstances">
    <id column="OBJECT_INSTANCE_BEGIN" jdbcType="BIGINT" property="objectInstanceBegin" />
    <result column="STATEMENT_ID" jdbcType="BIGINT" property="statementId" />
    <result column="STATEMENT_NAME" jdbcType="VARCHAR" property="statementName" />
    <result column="OWNER_THREAD_ID" jdbcType="BIGINT" property="ownerThreadId" />
    <result column="OWNER_EVENT_ID" jdbcType="BIGINT" property="ownerEventId" />
    <result column="OWNER_OBJECT_TYPE" jdbcType="CHAR" property="ownerObjectType" />
    <result column="OWNER_OBJECT_SCHEMA" jdbcType="VARCHAR" property="ownerObjectSchema" />
    <result column="OWNER_OBJECT_NAME" jdbcType="VARCHAR" property="ownerObjectName" />
    <result column="TIMER_PREPARE" jdbcType="BIGINT" property="timerPrepare" />
    <result column="COUNT_REPREPARE" jdbcType="BIGINT" property="countReprepare" />
    <result column="COUNT_EXECUTE" jdbcType="BIGINT" property="countExecute" />
    <result column="SUM_TIMER_EXECUTE" jdbcType="BIGINT" property="sumTimerExecute" />
    <result column="MIN_TIMER_EXECUTE" jdbcType="BIGINT" property="minTimerExecute" />
    <result column="AVG_TIMER_EXECUTE" jdbcType="BIGINT" property="avgTimerExecute" />
    <result column="MAX_TIMER_EXECUTE" jdbcType="BIGINT" property="maxTimerExecute" />
    <result column="SUM_LOCK_TIME" jdbcType="BIGINT" property="sumLockTime" />
    <result column="SUM_ERRORS" jdbcType="BIGINT" property="sumErrors" />
    <result column="SUM_WARNINGS" jdbcType="BIGINT" property="sumWarnings" />
    <result column="SUM_ROWS_AFFECTED" jdbcType="BIGINT" property="sumRowsAffected" />
    <result column="SUM_ROWS_SENT" jdbcType="BIGINT" property="sumRowsSent" />
    <result column="SUM_ROWS_EXAMINED" jdbcType="BIGINT" property="sumRowsExamined" />
    <result column="SUM_CREATED_TMP_DISK_TABLES" jdbcType="BIGINT" property="sumCreatedTmpDiskTables" />
    <result column="SUM_CREATED_TMP_TABLES" jdbcType="BIGINT" property="sumCreatedTmpTables" />
    <result column="SUM_SELECT_FULL_JOIN" jdbcType="BIGINT" property="sumSelectFullJoin" />
    <result column="SUM_SELECT_FULL_RANGE_JOIN" jdbcType="BIGINT" property="sumSelectFullRangeJoin" />
    <result column="SUM_SELECT_RANGE" jdbcType="BIGINT" property="sumSelectRange" />
    <result column="SUM_SELECT_RANGE_CHECK" jdbcType="BIGINT" property="sumSelectRangeCheck" />
    <result column="SUM_SELECT_SCAN" jdbcType="BIGINT" property="sumSelectScan" />
    <result column="SUM_SORT_MERGE_PASSES" jdbcType="BIGINT" property="sumSortMergePasses" />
    <result column="SUM_SORT_RANGE" jdbcType="BIGINT" property="sumSortRange" />
    <result column="SUM_SORT_ROWS" jdbcType="BIGINT" property="sumSortRows" />
    <result column="SUM_SORT_SCAN" jdbcType="BIGINT" property="sumSortScan" />
    <result column="SUM_NO_INDEX_USED" jdbcType="BIGINT" property="sumNoIndexUsed" />
    <result column="SUM_NO_GOOD_INDEX_USED" jdbcType="BIGINT" property="sumNoGoodIndexUsed" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zzp.mall.model.PreparedStatementsInstances">
    <result column="SQL_TEXT" jdbcType="LONGVARCHAR" property="sqlText" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    OBJECT_INSTANCE_BEGIN, STATEMENT_ID, STATEMENT_NAME, OWNER_THREAD_ID, OWNER_EVENT_ID, 
    OWNER_OBJECT_TYPE, OWNER_OBJECT_SCHEMA, OWNER_OBJECT_NAME, TIMER_PREPARE, COUNT_REPREPARE, 
    COUNT_EXECUTE, SUM_TIMER_EXECUTE, MIN_TIMER_EXECUTE, AVG_TIMER_EXECUTE, MAX_TIMER_EXECUTE, 
    SUM_LOCK_TIME, SUM_ERRORS, SUM_WARNINGS, SUM_ROWS_AFFECTED, SUM_ROWS_SENT, SUM_ROWS_EXAMINED, 
    SUM_CREATED_TMP_DISK_TABLES, SUM_CREATED_TMP_TABLES, SUM_SELECT_FULL_JOIN, SUM_SELECT_FULL_RANGE_JOIN, 
    SUM_SELECT_RANGE, SUM_SELECT_RANGE_CHECK, SUM_SELECT_SCAN, SUM_SORT_MERGE_PASSES, 
    SUM_SORT_RANGE, SUM_SORT_ROWS, SUM_SORT_SCAN, SUM_NO_INDEX_USED, SUM_NO_GOOD_INDEX_USED
  </sql>
  <sql id="Blob_Column_List">
    SQL_TEXT
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zzp.mall.model.PreparedStatementsInstancesExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from prepared_statements_instances
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zzp.mall.model.PreparedStatementsInstancesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prepared_statements_instances
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from prepared_statements_instances
    where OBJECT_INSTANCE_BEGIN = #{objectInstanceBegin,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from prepared_statements_instances
    where OBJECT_INSTANCE_BEGIN = #{objectInstanceBegin,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.PreparedStatementsInstancesExample">
    delete from prepared_statements_instances
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.PreparedStatementsInstances">
    insert into prepared_statements_instances (OBJECT_INSTANCE_BEGIN, STATEMENT_ID, STATEMENT_NAME, 
      OWNER_THREAD_ID, OWNER_EVENT_ID, OWNER_OBJECT_TYPE, 
      OWNER_OBJECT_SCHEMA, OWNER_OBJECT_NAME, TIMER_PREPARE, 
      COUNT_REPREPARE, COUNT_EXECUTE, SUM_TIMER_EXECUTE, 
      MIN_TIMER_EXECUTE, AVG_TIMER_EXECUTE, MAX_TIMER_EXECUTE, 
      SUM_LOCK_TIME, SUM_ERRORS, SUM_WARNINGS, 
      SUM_ROWS_AFFECTED, SUM_ROWS_SENT, SUM_ROWS_EXAMINED, 
      SUM_CREATED_TMP_DISK_TABLES, SUM_CREATED_TMP_TABLES, 
      SUM_SELECT_FULL_JOIN, SUM_SELECT_FULL_RANGE_JOIN, 
      SUM_SELECT_RANGE, SUM_SELECT_RANGE_CHECK, SUM_SELECT_SCAN, 
      SUM_SORT_MERGE_PASSES, SUM_SORT_RANGE, SUM_SORT_ROWS, 
      SUM_SORT_SCAN, SUM_NO_INDEX_USED, SUM_NO_GOOD_INDEX_USED, 
      SQL_TEXT)
    values (#{objectInstanceBegin,jdbcType=BIGINT}, #{statementId,jdbcType=BIGINT}, #{statementName,jdbcType=VARCHAR}, 
      #{ownerThreadId,jdbcType=BIGINT}, #{ownerEventId,jdbcType=BIGINT}, #{ownerObjectType,jdbcType=CHAR}, 
      #{ownerObjectSchema,jdbcType=VARCHAR}, #{ownerObjectName,jdbcType=VARCHAR}, #{timerPrepare,jdbcType=BIGINT}, 
      #{countReprepare,jdbcType=BIGINT}, #{countExecute,jdbcType=BIGINT}, #{sumTimerExecute,jdbcType=BIGINT}, 
      #{minTimerExecute,jdbcType=BIGINT}, #{avgTimerExecute,jdbcType=BIGINT}, #{maxTimerExecute,jdbcType=BIGINT}, 
      #{sumLockTime,jdbcType=BIGINT}, #{sumErrors,jdbcType=BIGINT}, #{sumWarnings,jdbcType=BIGINT}, 
      #{sumRowsAffected,jdbcType=BIGINT}, #{sumRowsSent,jdbcType=BIGINT}, #{sumRowsExamined,jdbcType=BIGINT}, 
      #{sumCreatedTmpDiskTables,jdbcType=BIGINT}, #{sumCreatedTmpTables,jdbcType=BIGINT}, 
      #{sumSelectFullJoin,jdbcType=BIGINT}, #{sumSelectFullRangeJoin,jdbcType=BIGINT}, 
      #{sumSelectRange,jdbcType=BIGINT}, #{sumSelectRangeCheck,jdbcType=BIGINT}, #{sumSelectScan,jdbcType=BIGINT}, 
      #{sumSortMergePasses,jdbcType=BIGINT}, #{sumSortRange,jdbcType=BIGINT}, #{sumSortRows,jdbcType=BIGINT}, 
      #{sumSortScan,jdbcType=BIGINT}, #{sumNoIndexUsed,jdbcType=BIGINT}, #{sumNoGoodIndexUsed,jdbcType=BIGINT}, 
      #{sqlText,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.PreparedStatementsInstances">
    insert into prepared_statements_instances
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="objectInstanceBegin != null">
        OBJECT_INSTANCE_BEGIN,
      </if>
      <if test="statementId != null">
        STATEMENT_ID,
      </if>
      <if test="statementName != null">
        STATEMENT_NAME,
      </if>
      <if test="ownerThreadId != null">
        OWNER_THREAD_ID,
      </if>
      <if test="ownerEventId != null">
        OWNER_EVENT_ID,
      </if>
      <if test="ownerObjectType != null">
        OWNER_OBJECT_TYPE,
      </if>
      <if test="ownerObjectSchema != null">
        OWNER_OBJECT_SCHEMA,
      </if>
      <if test="ownerObjectName != null">
        OWNER_OBJECT_NAME,
      </if>
      <if test="timerPrepare != null">
        TIMER_PREPARE,
      </if>
      <if test="countReprepare != null">
        COUNT_REPREPARE,
      </if>
      <if test="countExecute != null">
        COUNT_EXECUTE,
      </if>
      <if test="sumTimerExecute != null">
        SUM_TIMER_EXECUTE,
      </if>
      <if test="minTimerExecute != null">
        MIN_TIMER_EXECUTE,
      </if>
      <if test="avgTimerExecute != null">
        AVG_TIMER_EXECUTE,
      </if>
      <if test="maxTimerExecute != null">
        MAX_TIMER_EXECUTE,
      </if>
      <if test="sumLockTime != null">
        SUM_LOCK_TIME,
      </if>
      <if test="sumErrors != null">
        SUM_ERRORS,
      </if>
      <if test="sumWarnings != null">
        SUM_WARNINGS,
      </if>
      <if test="sumRowsAffected != null">
        SUM_ROWS_AFFECTED,
      </if>
      <if test="sumRowsSent != null">
        SUM_ROWS_SENT,
      </if>
      <if test="sumRowsExamined != null">
        SUM_ROWS_EXAMINED,
      </if>
      <if test="sumCreatedTmpDiskTables != null">
        SUM_CREATED_TMP_DISK_TABLES,
      </if>
      <if test="sumCreatedTmpTables != null">
        SUM_CREATED_TMP_TABLES,
      </if>
      <if test="sumSelectFullJoin != null">
        SUM_SELECT_FULL_JOIN,
      </if>
      <if test="sumSelectFullRangeJoin != null">
        SUM_SELECT_FULL_RANGE_JOIN,
      </if>
      <if test="sumSelectRange != null">
        SUM_SELECT_RANGE,
      </if>
      <if test="sumSelectRangeCheck != null">
        SUM_SELECT_RANGE_CHECK,
      </if>
      <if test="sumSelectScan != null">
        SUM_SELECT_SCAN,
      </if>
      <if test="sumSortMergePasses != null">
        SUM_SORT_MERGE_PASSES,
      </if>
      <if test="sumSortRange != null">
        SUM_SORT_RANGE,
      </if>
      <if test="sumSortRows != null">
        SUM_SORT_ROWS,
      </if>
      <if test="sumSortScan != null">
        SUM_SORT_SCAN,
      </if>
      <if test="sumNoIndexUsed != null">
        SUM_NO_INDEX_USED,
      </if>
      <if test="sumNoGoodIndexUsed != null">
        SUM_NO_GOOD_INDEX_USED,
      </if>
      <if test="sqlText != null">
        SQL_TEXT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="objectInstanceBegin != null">
        #{objectInstanceBegin,jdbcType=BIGINT},
      </if>
      <if test="statementId != null">
        #{statementId,jdbcType=BIGINT},
      </if>
      <if test="statementName != null">
        #{statementName,jdbcType=VARCHAR},
      </if>
      <if test="ownerThreadId != null">
        #{ownerThreadId,jdbcType=BIGINT},
      </if>
      <if test="ownerEventId != null">
        #{ownerEventId,jdbcType=BIGINT},
      </if>
      <if test="ownerObjectType != null">
        #{ownerObjectType,jdbcType=CHAR},
      </if>
      <if test="ownerObjectSchema != null">
        #{ownerObjectSchema,jdbcType=VARCHAR},
      </if>
      <if test="ownerObjectName != null">
        #{ownerObjectName,jdbcType=VARCHAR},
      </if>
      <if test="timerPrepare != null">
        #{timerPrepare,jdbcType=BIGINT},
      </if>
      <if test="countReprepare != null">
        #{countReprepare,jdbcType=BIGINT},
      </if>
      <if test="countExecute != null">
        #{countExecute,jdbcType=BIGINT},
      </if>
      <if test="sumTimerExecute != null">
        #{sumTimerExecute,jdbcType=BIGINT},
      </if>
      <if test="minTimerExecute != null">
        #{minTimerExecute,jdbcType=BIGINT},
      </if>
      <if test="avgTimerExecute != null">
        #{avgTimerExecute,jdbcType=BIGINT},
      </if>
      <if test="maxTimerExecute != null">
        #{maxTimerExecute,jdbcType=BIGINT},
      </if>
      <if test="sumLockTime != null">
        #{sumLockTime,jdbcType=BIGINT},
      </if>
      <if test="sumErrors != null">
        #{sumErrors,jdbcType=BIGINT},
      </if>
      <if test="sumWarnings != null">
        #{sumWarnings,jdbcType=BIGINT},
      </if>
      <if test="sumRowsAffected != null">
        #{sumRowsAffected,jdbcType=BIGINT},
      </if>
      <if test="sumRowsSent != null">
        #{sumRowsSent,jdbcType=BIGINT},
      </if>
      <if test="sumRowsExamined != null">
        #{sumRowsExamined,jdbcType=BIGINT},
      </if>
      <if test="sumCreatedTmpDiskTables != null">
        #{sumCreatedTmpDiskTables,jdbcType=BIGINT},
      </if>
      <if test="sumCreatedTmpTables != null">
        #{sumCreatedTmpTables,jdbcType=BIGINT},
      </if>
      <if test="sumSelectFullJoin != null">
        #{sumSelectFullJoin,jdbcType=BIGINT},
      </if>
      <if test="sumSelectFullRangeJoin != null">
        #{sumSelectFullRangeJoin,jdbcType=BIGINT},
      </if>
      <if test="sumSelectRange != null">
        #{sumSelectRange,jdbcType=BIGINT},
      </if>
      <if test="sumSelectRangeCheck != null">
        #{sumSelectRangeCheck,jdbcType=BIGINT},
      </if>
      <if test="sumSelectScan != null">
        #{sumSelectScan,jdbcType=BIGINT},
      </if>
      <if test="sumSortMergePasses != null">
        #{sumSortMergePasses,jdbcType=BIGINT},
      </if>
      <if test="sumSortRange != null">
        #{sumSortRange,jdbcType=BIGINT},
      </if>
      <if test="sumSortRows != null">
        #{sumSortRows,jdbcType=BIGINT},
      </if>
      <if test="sumSortScan != null">
        #{sumSortScan,jdbcType=BIGINT},
      </if>
      <if test="sumNoIndexUsed != null">
        #{sumNoIndexUsed,jdbcType=BIGINT},
      </if>
      <if test="sumNoGoodIndexUsed != null">
        #{sumNoGoodIndexUsed,jdbcType=BIGINT},
      </if>
      <if test="sqlText != null">
        #{sqlText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.PreparedStatementsInstancesExample" resultType="java.lang.Integer">
    select count(*) from prepared_statements_instances
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update prepared_statements_instances
    <set>
      <if test="record.objectInstanceBegin != null">
        OBJECT_INSTANCE_BEGIN = #{record.objectInstanceBegin,jdbcType=BIGINT},
      </if>
      <if test="record.statementId != null">
        STATEMENT_ID = #{record.statementId,jdbcType=BIGINT},
      </if>
      <if test="record.statementName != null">
        STATEMENT_NAME = #{record.statementName,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerThreadId != null">
        OWNER_THREAD_ID = #{record.ownerThreadId,jdbcType=BIGINT},
      </if>
      <if test="record.ownerEventId != null">
        OWNER_EVENT_ID = #{record.ownerEventId,jdbcType=BIGINT},
      </if>
      <if test="record.ownerObjectType != null">
        OWNER_OBJECT_TYPE = #{record.ownerObjectType,jdbcType=CHAR},
      </if>
      <if test="record.ownerObjectSchema != null">
        OWNER_OBJECT_SCHEMA = #{record.ownerObjectSchema,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerObjectName != null">
        OWNER_OBJECT_NAME = #{record.ownerObjectName,jdbcType=VARCHAR},
      </if>
      <if test="record.timerPrepare != null">
        TIMER_PREPARE = #{record.timerPrepare,jdbcType=BIGINT},
      </if>
      <if test="record.countReprepare != null">
        COUNT_REPREPARE = #{record.countReprepare,jdbcType=BIGINT},
      </if>
      <if test="record.countExecute != null">
        COUNT_EXECUTE = #{record.countExecute,jdbcType=BIGINT},
      </if>
      <if test="record.sumTimerExecute != null">
        SUM_TIMER_EXECUTE = #{record.sumTimerExecute,jdbcType=BIGINT},
      </if>
      <if test="record.minTimerExecute != null">
        MIN_TIMER_EXECUTE = #{record.minTimerExecute,jdbcType=BIGINT},
      </if>
      <if test="record.avgTimerExecute != null">
        AVG_TIMER_EXECUTE = #{record.avgTimerExecute,jdbcType=BIGINT},
      </if>
      <if test="record.maxTimerExecute != null">
        MAX_TIMER_EXECUTE = #{record.maxTimerExecute,jdbcType=BIGINT},
      </if>
      <if test="record.sumLockTime != null">
        SUM_LOCK_TIME = #{record.sumLockTime,jdbcType=BIGINT},
      </if>
      <if test="record.sumErrors != null">
        SUM_ERRORS = #{record.sumErrors,jdbcType=BIGINT},
      </if>
      <if test="record.sumWarnings != null">
        SUM_WARNINGS = #{record.sumWarnings,jdbcType=BIGINT},
      </if>
      <if test="record.sumRowsAffected != null">
        SUM_ROWS_AFFECTED = #{record.sumRowsAffected,jdbcType=BIGINT},
      </if>
      <if test="record.sumRowsSent != null">
        SUM_ROWS_SENT = #{record.sumRowsSent,jdbcType=BIGINT},
      </if>
      <if test="record.sumRowsExamined != null">
        SUM_ROWS_EXAMINED = #{record.sumRowsExamined,jdbcType=BIGINT},
      </if>
      <if test="record.sumCreatedTmpDiskTables != null">
        SUM_CREATED_TMP_DISK_TABLES = #{record.sumCreatedTmpDiskTables,jdbcType=BIGINT},
      </if>
      <if test="record.sumCreatedTmpTables != null">
        SUM_CREATED_TMP_TABLES = #{record.sumCreatedTmpTables,jdbcType=BIGINT},
      </if>
      <if test="record.sumSelectFullJoin != null">
        SUM_SELECT_FULL_JOIN = #{record.sumSelectFullJoin,jdbcType=BIGINT},
      </if>
      <if test="record.sumSelectFullRangeJoin != null">
        SUM_SELECT_FULL_RANGE_JOIN = #{record.sumSelectFullRangeJoin,jdbcType=BIGINT},
      </if>
      <if test="record.sumSelectRange != null">
        SUM_SELECT_RANGE = #{record.sumSelectRange,jdbcType=BIGINT},
      </if>
      <if test="record.sumSelectRangeCheck != null">
        SUM_SELECT_RANGE_CHECK = #{record.sumSelectRangeCheck,jdbcType=BIGINT},
      </if>
      <if test="record.sumSelectScan != null">
        SUM_SELECT_SCAN = #{record.sumSelectScan,jdbcType=BIGINT},
      </if>
      <if test="record.sumSortMergePasses != null">
        SUM_SORT_MERGE_PASSES = #{record.sumSortMergePasses,jdbcType=BIGINT},
      </if>
      <if test="record.sumSortRange != null">
        SUM_SORT_RANGE = #{record.sumSortRange,jdbcType=BIGINT},
      </if>
      <if test="record.sumSortRows != null">
        SUM_SORT_ROWS = #{record.sumSortRows,jdbcType=BIGINT},
      </if>
      <if test="record.sumSortScan != null">
        SUM_SORT_SCAN = #{record.sumSortScan,jdbcType=BIGINT},
      </if>
      <if test="record.sumNoIndexUsed != null">
        SUM_NO_INDEX_USED = #{record.sumNoIndexUsed,jdbcType=BIGINT},
      </if>
      <if test="record.sumNoGoodIndexUsed != null">
        SUM_NO_GOOD_INDEX_USED = #{record.sumNoGoodIndexUsed,jdbcType=BIGINT},
      </if>
      <if test="record.sqlText != null">
        SQL_TEXT = #{record.sqlText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update prepared_statements_instances
    set OBJECT_INSTANCE_BEGIN = #{record.objectInstanceBegin,jdbcType=BIGINT},
      STATEMENT_ID = #{record.statementId,jdbcType=BIGINT},
      STATEMENT_NAME = #{record.statementName,jdbcType=VARCHAR},
      OWNER_THREAD_ID = #{record.ownerThreadId,jdbcType=BIGINT},
      OWNER_EVENT_ID = #{record.ownerEventId,jdbcType=BIGINT},
      OWNER_OBJECT_TYPE = #{record.ownerObjectType,jdbcType=CHAR},
      OWNER_OBJECT_SCHEMA = #{record.ownerObjectSchema,jdbcType=VARCHAR},
      OWNER_OBJECT_NAME = #{record.ownerObjectName,jdbcType=VARCHAR},
      TIMER_PREPARE = #{record.timerPrepare,jdbcType=BIGINT},
      COUNT_REPREPARE = #{record.countReprepare,jdbcType=BIGINT},
      COUNT_EXECUTE = #{record.countExecute,jdbcType=BIGINT},
      SUM_TIMER_EXECUTE = #{record.sumTimerExecute,jdbcType=BIGINT},
      MIN_TIMER_EXECUTE = #{record.minTimerExecute,jdbcType=BIGINT},
      AVG_TIMER_EXECUTE = #{record.avgTimerExecute,jdbcType=BIGINT},
      MAX_TIMER_EXECUTE = #{record.maxTimerExecute,jdbcType=BIGINT},
      SUM_LOCK_TIME = #{record.sumLockTime,jdbcType=BIGINT},
      SUM_ERRORS = #{record.sumErrors,jdbcType=BIGINT},
      SUM_WARNINGS = #{record.sumWarnings,jdbcType=BIGINT},
      SUM_ROWS_AFFECTED = #{record.sumRowsAffected,jdbcType=BIGINT},
      SUM_ROWS_SENT = #{record.sumRowsSent,jdbcType=BIGINT},
      SUM_ROWS_EXAMINED = #{record.sumRowsExamined,jdbcType=BIGINT},
      SUM_CREATED_TMP_DISK_TABLES = #{record.sumCreatedTmpDiskTables,jdbcType=BIGINT},
      SUM_CREATED_TMP_TABLES = #{record.sumCreatedTmpTables,jdbcType=BIGINT},
      SUM_SELECT_FULL_JOIN = #{record.sumSelectFullJoin,jdbcType=BIGINT},
      SUM_SELECT_FULL_RANGE_JOIN = #{record.sumSelectFullRangeJoin,jdbcType=BIGINT},
      SUM_SELECT_RANGE = #{record.sumSelectRange,jdbcType=BIGINT},
      SUM_SELECT_RANGE_CHECK = #{record.sumSelectRangeCheck,jdbcType=BIGINT},
      SUM_SELECT_SCAN = #{record.sumSelectScan,jdbcType=BIGINT},
      SUM_SORT_MERGE_PASSES = #{record.sumSortMergePasses,jdbcType=BIGINT},
      SUM_SORT_RANGE = #{record.sumSortRange,jdbcType=BIGINT},
      SUM_SORT_ROWS = #{record.sumSortRows,jdbcType=BIGINT},
      SUM_SORT_SCAN = #{record.sumSortScan,jdbcType=BIGINT},
      SUM_NO_INDEX_USED = #{record.sumNoIndexUsed,jdbcType=BIGINT},
      SUM_NO_GOOD_INDEX_USED = #{record.sumNoGoodIndexUsed,jdbcType=BIGINT},
      SQL_TEXT = #{record.sqlText,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update prepared_statements_instances
    set OBJECT_INSTANCE_BEGIN = #{record.objectInstanceBegin,jdbcType=BIGINT},
      STATEMENT_ID = #{record.statementId,jdbcType=BIGINT},
      STATEMENT_NAME = #{record.statementName,jdbcType=VARCHAR},
      OWNER_THREAD_ID = #{record.ownerThreadId,jdbcType=BIGINT},
      OWNER_EVENT_ID = #{record.ownerEventId,jdbcType=BIGINT},
      OWNER_OBJECT_TYPE = #{record.ownerObjectType,jdbcType=CHAR},
      OWNER_OBJECT_SCHEMA = #{record.ownerObjectSchema,jdbcType=VARCHAR},
      OWNER_OBJECT_NAME = #{record.ownerObjectName,jdbcType=VARCHAR},
      TIMER_PREPARE = #{record.timerPrepare,jdbcType=BIGINT},
      COUNT_REPREPARE = #{record.countReprepare,jdbcType=BIGINT},
      COUNT_EXECUTE = #{record.countExecute,jdbcType=BIGINT},
      SUM_TIMER_EXECUTE = #{record.sumTimerExecute,jdbcType=BIGINT},
      MIN_TIMER_EXECUTE = #{record.minTimerExecute,jdbcType=BIGINT},
      AVG_TIMER_EXECUTE = #{record.avgTimerExecute,jdbcType=BIGINT},
      MAX_TIMER_EXECUTE = #{record.maxTimerExecute,jdbcType=BIGINT},
      SUM_LOCK_TIME = #{record.sumLockTime,jdbcType=BIGINT},
      SUM_ERRORS = #{record.sumErrors,jdbcType=BIGINT},
      SUM_WARNINGS = #{record.sumWarnings,jdbcType=BIGINT},
      SUM_ROWS_AFFECTED = #{record.sumRowsAffected,jdbcType=BIGINT},
      SUM_ROWS_SENT = #{record.sumRowsSent,jdbcType=BIGINT},
      SUM_ROWS_EXAMINED = #{record.sumRowsExamined,jdbcType=BIGINT},
      SUM_CREATED_TMP_DISK_TABLES = #{record.sumCreatedTmpDiskTables,jdbcType=BIGINT},
      SUM_CREATED_TMP_TABLES = #{record.sumCreatedTmpTables,jdbcType=BIGINT},
      SUM_SELECT_FULL_JOIN = #{record.sumSelectFullJoin,jdbcType=BIGINT},
      SUM_SELECT_FULL_RANGE_JOIN = #{record.sumSelectFullRangeJoin,jdbcType=BIGINT},
      SUM_SELECT_RANGE = #{record.sumSelectRange,jdbcType=BIGINT},
      SUM_SELECT_RANGE_CHECK = #{record.sumSelectRangeCheck,jdbcType=BIGINT},
      SUM_SELECT_SCAN = #{record.sumSelectScan,jdbcType=BIGINT},
      SUM_SORT_MERGE_PASSES = #{record.sumSortMergePasses,jdbcType=BIGINT},
      SUM_SORT_RANGE = #{record.sumSortRange,jdbcType=BIGINT},
      SUM_SORT_ROWS = #{record.sumSortRows,jdbcType=BIGINT},
      SUM_SORT_SCAN = #{record.sumSortScan,jdbcType=BIGINT},
      SUM_NO_INDEX_USED = #{record.sumNoIndexUsed,jdbcType=BIGINT},
      SUM_NO_GOOD_INDEX_USED = #{record.sumNoGoodIndexUsed,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.PreparedStatementsInstances">
    update prepared_statements_instances
    <set>
      <if test="statementId != null">
        STATEMENT_ID = #{statementId,jdbcType=BIGINT},
      </if>
      <if test="statementName != null">
        STATEMENT_NAME = #{statementName,jdbcType=VARCHAR},
      </if>
      <if test="ownerThreadId != null">
        OWNER_THREAD_ID = #{ownerThreadId,jdbcType=BIGINT},
      </if>
      <if test="ownerEventId != null">
        OWNER_EVENT_ID = #{ownerEventId,jdbcType=BIGINT},
      </if>
      <if test="ownerObjectType != null">
        OWNER_OBJECT_TYPE = #{ownerObjectType,jdbcType=CHAR},
      </if>
      <if test="ownerObjectSchema != null">
        OWNER_OBJECT_SCHEMA = #{ownerObjectSchema,jdbcType=VARCHAR},
      </if>
      <if test="ownerObjectName != null">
        OWNER_OBJECT_NAME = #{ownerObjectName,jdbcType=VARCHAR},
      </if>
      <if test="timerPrepare != null">
        TIMER_PREPARE = #{timerPrepare,jdbcType=BIGINT},
      </if>
      <if test="countReprepare != null">
        COUNT_REPREPARE = #{countReprepare,jdbcType=BIGINT},
      </if>
      <if test="countExecute != null">
        COUNT_EXECUTE = #{countExecute,jdbcType=BIGINT},
      </if>
      <if test="sumTimerExecute != null">
        SUM_TIMER_EXECUTE = #{sumTimerExecute,jdbcType=BIGINT},
      </if>
      <if test="minTimerExecute != null">
        MIN_TIMER_EXECUTE = #{minTimerExecute,jdbcType=BIGINT},
      </if>
      <if test="avgTimerExecute != null">
        AVG_TIMER_EXECUTE = #{avgTimerExecute,jdbcType=BIGINT},
      </if>
      <if test="maxTimerExecute != null">
        MAX_TIMER_EXECUTE = #{maxTimerExecute,jdbcType=BIGINT},
      </if>
      <if test="sumLockTime != null">
        SUM_LOCK_TIME = #{sumLockTime,jdbcType=BIGINT},
      </if>
      <if test="sumErrors != null">
        SUM_ERRORS = #{sumErrors,jdbcType=BIGINT},
      </if>
      <if test="sumWarnings != null">
        SUM_WARNINGS = #{sumWarnings,jdbcType=BIGINT},
      </if>
      <if test="sumRowsAffected != null">
        SUM_ROWS_AFFECTED = #{sumRowsAffected,jdbcType=BIGINT},
      </if>
      <if test="sumRowsSent != null">
        SUM_ROWS_SENT = #{sumRowsSent,jdbcType=BIGINT},
      </if>
      <if test="sumRowsExamined != null">
        SUM_ROWS_EXAMINED = #{sumRowsExamined,jdbcType=BIGINT},
      </if>
      <if test="sumCreatedTmpDiskTables != null">
        SUM_CREATED_TMP_DISK_TABLES = #{sumCreatedTmpDiskTables,jdbcType=BIGINT},
      </if>
      <if test="sumCreatedTmpTables != null">
        SUM_CREATED_TMP_TABLES = #{sumCreatedTmpTables,jdbcType=BIGINT},
      </if>
      <if test="sumSelectFullJoin != null">
        SUM_SELECT_FULL_JOIN = #{sumSelectFullJoin,jdbcType=BIGINT},
      </if>
      <if test="sumSelectFullRangeJoin != null">
        SUM_SELECT_FULL_RANGE_JOIN = #{sumSelectFullRangeJoin,jdbcType=BIGINT},
      </if>
      <if test="sumSelectRange != null">
        SUM_SELECT_RANGE = #{sumSelectRange,jdbcType=BIGINT},
      </if>
      <if test="sumSelectRangeCheck != null">
        SUM_SELECT_RANGE_CHECK = #{sumSelectRangeCheck,jdbcType=BIGINT},
      </if>
      <if test="sumSelectScan != null">
        SUM_SELECT_SCAN = #{sumSelectScan,jdbcType=BIGINT},
      </if>
      <if test="sumSortMergePasses != null">
        SUM_SORT_MERGE_PASSES = #{sumSortMergePasses,jdbcType=BIGINT},
      </if>
      <if test="sumSortRange != null">
        SUM_SORT_RANGE = #{sumSortRange,jdbcType=BIGINT},
      </if>
      <if test="sumSortRows != null">
        SUM_SORT_ROWS = #{sumSortRows,jdbcType=BIGINT},
      </if>
      <if test="sumSortScan != null">
        SUM_SORT_SCAN = #{sumSortScan,jdbcType=BIGINT},
      </if>
      <if test="sumNoIndexUsed != null">
        SUM_NO_INDEX_USED = #{sumNoIndexUsed,jdbcType=BIGINT},
      </if>
      <if test="sumNoGoodIndexUsed != null">
        SUM_NO_GOOD_INDEX_USED = #{sumNoGoodIndexUsed,jdbcType=BIGINT},
      </if>
      <if test="sqlText != null">
        SQL_TEXT = #{sqlText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where OBJECT_INSTANCE_BEGIN = #{objectInstanceBegin,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zzp.mall.model.PreparedStatementsInstances">
    update prepared_statements_instances
    set STATEMENT_ID = #{statementId,jdbcType=BIGINT},
      STATEMENT_NAME = #{statementName,jdbcType=VARCHAR},
      OWNER_THREAD_ID = #{ownerThreadId,jdbcType=BIGINT},
      OWNER_EVENT_ID = #{ownerEventId,jdbcType=BIGINT},
      OWNER_OBJECT_TYPE = #{ownerObjectType,jdbcType=CHAR},
      OWNER_OBJECT_SCHEMA = #{ownerObjectSchema,jdbcType=VARCHAR},
      OWNER_OBJECT_NAME = #{ownerObjectName,jdbcType=VARCHAR},
      TIMER_PREPARE = #{timerPrepare,jdbcType=BIGINT},
      COUNT_REPREPARE = #{countReprepare,jdbcType=BIGINT},
      COUNT_EXECUTE = #{countExecute,jdbcType=BIGINT},
      SUM_TIMER_EXECUTE = #{sumTimerExecute,jdbcType=BIGINT},
      MIN_TIMER_EXECUTE = #{minTimerExecute,jdbcType=BIGINT},
      AVG_TIMER_EXECUTE = #{avgTimerExecute,jdbcType=BIGINT},
      MAX_TIMER_EXECUTE = #{maxTimerExecute,jdbcType=BIGINT},
      SUM_LOCK_TIME = #{sumLockTime,jdbcType=BIGINT},
      SUM_ERRORS = #{sumErrors,jdbcType=BIGINT},
      SUM_WARNINGS = #{sumWarnings,jdbcType=BIGINT},
      SUM_ROWS_AFFECTED = #{sumRowsAffected,jdbcType=BIGINT},
      SUM_ROWS_SENT = #{sumRowsSent,jdbcType=BIGINT},
      SUM_ROWS_EXAMINED = #{sumRowsExamined,jdbcType=BIGINT},
      SUM_CREATED_TMP_DISK_TABLES = #{sumCreatedTmpDiskTables,jdbcType=BIGINT},
      SUM_CREATED_TMP_TABLES = #{sumCreatedTmpTables,jdbcType=BIGINT},
      SUM_SELECT_FULL_JOIN = #{sumSelectFullJoin,jdbcType=BIGINT},
      SUM_SELECT_FULL_RANGE_JOIN = #{sumSelectFullRangeJoin,jdbcType=BIGINT},
      SUM_SELECT_RANGE = #{sumSelectRange,jdbcType=BIGINT},
      SUM_SELECT_RANGE_CHECK = #{sumSelectRangeCheck,jdbcType=BIGINT},
      SUM_SELECT_SCAN = #{sumSelectScan,jdbcType=BIGINT},
      SUM_SORT_MERGE_PASSES = #{sumSortMergePasses,jdbcType=BIGINT},
      SUM_SORT_RANGE = #{sumSortRange,jdbcType=BIGINT},
      SUM_SORT_ROWS = #{sumSortRows,jdbcType=BIGINT},
      SUM_SORT_SCAN = #{sumSortScan,jdbcType=BIGINT},
      SUM_NO_INDEX_USED = #{sumNoIndexUsed,jdbcType=BIGINT},
      SUM_NO_GOOD_INDEX_USED = #{sumNoGoodIndexUsed,jdbcType=BIGINT},
      SQL_TEXT = #{sqlText,jdbcType=LONGVARCHAR}
    where OBJECT_INSTANCE_BEGIN = #{objectInstanceBegin,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.PreparedStatementsInstances">
    update prepared_statements_instances
    set STATEMENT_ID = #{statementId,jdbcType=BIGINT},
      STATEMENT_NAME = #{statementName,jdbcType=VARCHAR},
      OWNER_THREAD_ID = #{ownerThreadId,jdbcType=BIGINT},
      OWNER_EVENT_ID = #{ownerEventId,jdbcType=BIGINT},
      OWNER_OBJECT_TYPE = #{ownerObjectType,jdbcType=CHAR},
      OWNER_OBJECT_SCHEMA = #{ownerObjectSchema,jdbcType=VARCHAR},
      OWNER_OBJECT_NAME = #{ownerObjectName,jdbcType=VARCHAR},
      TIMER_PREPARE = #{timerPrepare,jdbcType=BIGINT},
      COUNT_REPREPARE = #{countReprepare,jdbcType=BIGINT},
      COUNT_EXECUTE = #{countExecute,jdbcType=BIGINT},
      SUM_TIMER_EXECUTE = #{sumTimerExecute,jdbcType=BIGINT},
      MIN_TIMER_EXECUTE = #{minTimerExecute,jdbcType=BIGINT},
      AVG_TIMER_EXECUTE = #{avgTimerExecute,jdbcType=BIGINT},
      MAX_TIMER_EXECUTE = #{maxTimerExecute,jdbcType=BIGINT},
      SUM_LOCK_TIME = #{sumLockTime,jdbcType=BIGINT},
      SUM_ERRORS = #{sumErrors,jdbcType=BIGINT},
      SUM_WARNINGS = #{sumWarnings,jdbcType=BIGINT},
      SUM_ROWS_AFFECTED = #{sumRowsAffected,jdbcType=BIGINT},
      SUM_ROWS_SENT = #{sumRowsSent,jdbcType=BIGINT},
      SUM_ROWS_EXAMINED = #{sumRowsExamined,jdbcType=BIGINT},
      SUM_CREATED_TMP_DISK_TABLES = #{sumCreatedTmpDiskTables,jdbcType=BIGINT},
      SUM_CREATED_TMP_TABLES = #{sumCreatedTmpTables,jdbcType=BIGINT},
      SUM_SELECT_FULL_JOIN = #{sumSelectFullJoin,jdbcType=BIGINT},
      SUM_SELECT_FULL_RANGE_JOIN = #{sumSelectFullRangeJoin,jdbcType=BIGINT},
      SUM_SELECT_RANGE = #{sumSelectRange,jdbcType=BIGINT},
      SUM_SELECT_RANGE_CHECK = #{sumSelectRangeCheck,jdbcType=BIGINT},
      SUM_SELECT_SCAN = #{sumSelectScan,jdbcType=BIGINT},
      SUM_SORT_MERGE_PASSES = #{sumSortMergePasses,jdbcType=BIGINT},
      SUM_SORT_RANGE = #{sumSortRange,jdbcType=BIGINT},
      SUM_SORT_ROWS = #{sumSortRows,jdbcType=BIGINT},
      SUM_SORT_SCAN = #{sumSortScan,jdbcType=BIGINT},
      SUM_NO_INDEX_USED = #{sumNoIndexUsed,jdbcType=BIGINT},
      SUM_NO_GOOD_INDEX_USED = #{sumNoGoodIndexUsed,jdbcType=BIGINT}
    where OBJECT_INSTANCE_BEGIN = #{objectInstanceBegin,jdbcType=BIGINT}
  </update>
</mapper>