<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.ProxiesPrivMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.ProxiesPriv">
    <id column="Host" jdbcType="CHAR" property="host" />
    <id column="User" jdbcType="CHAR" property="user" />
    <id column="Proxied_host" jdbcType="CHAR" property="proxiedHost" />
    <id column="Proxied_user" jdbcType="CHAR" property="proxiedUser" />
    <result column="With_grant" jdbcType="BIT" property="withGrant" />
    <result column="Grantor" jdbcType="VARCHAR" property="grantor" />
    <result column="Timestamp" jdbcType="TIMESTAMP" property="timestamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Host, User, Proxied_host, Proxied_user, With_grant, Grantor, Timestamp
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.ProxiesPrivExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from proxies_priv
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from proxies_priv
    where Host = #{host,jdbcType=CHAR}
      and User = #{user,jdbcType=CHAR}
      and Proxied_host = #{proxiedHost,jdbcType=CHAR}
      and Proxied_user = #{proxiedUser,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from proxies_priv
    where Host = #{host,jdbcType=CHAR}
      and User = #{user,jdbcType=CHAR}
      and Proxied_host = #{proxiedHost,jdbcType=CHAR}
      and Proxied_user = #{proxiedUser,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.ProxiesPrivExample">
    delete from proxies_priv
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.ProxiesPriv">
    insert into proxies_priv (Host, User, Proxied_host, 
      Proxied_user, With_grant, Grantor, 
      Timestamp)
    values (#{host,jdbcType=CHAR}, #{user,jdbcType=CHAR}, #{proxiedHost,jdbcType=CHAR}, 
      #{proxiedUser,jdbcType=CHAR}, #{withGrant,jdbcType=BIT}, #{grantor,jdbcType=VARCHAR}, 
      #{timestamp,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.ProxiesPriv">
    insert into proxies_priv
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="host != null">
        Host,
      </if>
      <if test="user != null">
        User,
      </if>
      <if test="proxiedHost != null">
        Proxied_host,
      </if>
      <if test="proxiedUser != null">
        Proxied_user,
      </if>
      <if test="withGrant != null">
        With_grant,
      </if>
      <if test="grantor != null">
        Grantor,
      </if>
      <if test="timestamp != null">
        Timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="host != null">
        #{host,jdbcType=CHAR},
      </if>
      <if test="user != null">
        #{user,jdbcType=CHAR},
      </if>
      <if test="proxiedHost != null">
        #{proxiedHost,jdbcType=CHAR},
      </if>
      <if test="proxiedUser != null">
        #{proxiedUser,jdbcType=CHAR},
      </if>
      <if test="withGrant != null">
        #{withGrant,jdbcType=BIT},
      </if>
      <if test="grantor != null">
        #{grantor,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.ProxiesPrivExample" resultType="java.lang.Integer">
    select count(*) from proxies_priv
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update proxies_priv
    <set>
      <if test="record.host != null">
        Host = #{record.host,jdbcType=CHAR},
      </if>
      <if test="record.user != null">
        User = #{record.user,jdbcType=CHAR},
      </if>
      <if test="record.proxiedHost != null">
        Proxied_host = #{record.proxiedHost,jdbcType=CHAR},
      </if>
      <if test="record.proxiedUser != null">
        Proxied_user = #{record.proxiedUser,jdbcType=CHAR},
      </if>
      <if test="record.withGrant != null">
        With_grant = #{record.withGrant,jdbcType=BIT},
      </if>
      <if test="record.grantor != null">
        Grantor = #{record.grantor,jdbcType=VARCHAR},
      </if>
      <if test="record.timestamp != null">
        Timestamp = #{record.timestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update proxies_priv
    set Host = #{record.host,jdbcType=CHAR},
      User = #{record.user,jdbcType=CHAR},
      Proxied_host = #{record.proxiedHost,jdbcType=CHAR},
      Proxied_user = #{record.proxiedUser,jdbcType=CHAR},
      With_grant = #{record.withGrant,jdbcType=BIT},
      Grantor = #{record.grantor,jdbcType=VARCHAR},
      Timestamp = #{record.timestamp,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.ProxiesPriv">
    update proxies_priv
    <set>
      <if test="withGrant != null">
        With_grant = #{withGrant,jdbcType=BIT},
      </if>
      <if test="grantor != null">
        Grantor = #{grantor,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null">
        Timestamp = #{timestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Host = #{host,jdbcType=CHAR}
      and User = #{user,jdbcType=CHAR}
      and Proxied_host = #{proxiedHost,jdbcType=CHAR}
      and Proxied_user = #{proxiedUser,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.ProxiesPriv">
    update proxies_priv
    set With_grant = #{withGrant,jdbcType=BIT},
      Grantor = #{grantor,jdbcType=VARCHAR},
      Timestamp = #{timestamp,jdbcType=TIMESTAMP}
    where Host = #{host,jdbcType=CHAR}
      and User = #{user,jdbcType=CHAR}
      and Proxied_host = #{proxiedHost,jdbcType=CHAR}
      and Proxied_user = #{proxiedUser,jdbcType=CHAR}
  </update>
</mapper>