<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.ReplicationApplierGlobalFiltersMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.ReplicationApplierGlobalFilters">
    <result column="FILTER_NAME" jdbcType="CHAR" property="filterName" />
    <result column="CONFIGURED_BY" jdbcType="CHAR" property="configuredBy" />
    <result column="ACTIVE_SINCE" jdbcType="TIMESTAMP" property="activeSince" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zzp.mall.model.ReplicationApplierGlobalFilters">
    <result column="FILTER_RULE" jdbcType="LONGVARCHAR" property="filterRule" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    FILTER_NAME, CONFIGURED_BY, ACTIVE_SINCE
  </sql>
  <sql id="Blob_Column_List">
    FILTER_RULE
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zzp.mall.model.ReplicationApplierGlobalFiltersExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from replication_applier_global_filters
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zzp.mall.model.ReplicationApplierGlobalFiltersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from replication_applier_global_filters
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.ReplicationApplierGlobalFiltersExample">
    delete from replication_applier_global_filters
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.ReplicationApplierGlobalFilters">
    insert into replication_applier_global_filters (FILTER_NAME, CONFIGURED_BY, ACTIVE_SINCE, 
      FILTER_RULE)
    values (#{filterName,jdbcType=CHAR}, #{configuredBy,jdbcType=CHAR}, #{activeSince,jdbcType=TIMESTAMP}, 
      #{filterRule,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.ReplicationApplierGlobalFilters">
    insert into replication_applier_global_filters
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="filterName != null">
        FILTER_NAME,
      </if>
      <if test="configuredBy != null">
        CONFIGURED_BY,
      </if>
      <if test="activeSince != null">
        ACTIVE_SINCE,
      </if>
      <if test="filterRule != null">
        FILTER_RULE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="filterName != null">
        #{filterName,jdbcType=CHAR},
      </if>
      <if test="configuredBy != null">
        #{configuredBy,jdbcType=CHAR},
      </if>
      <if test="activeSince != null">
        #{activeSince,jdbcType=TIMESTAMP},
      </if>
      <if test="filterRule != null">
        #{filterRule,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.ReplicationApplierGlobalFiltersExample" resultType="java.lang.Integer">
    select count(*) from replication_applier_global_filters
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update replication_applier_global_filters
    <set>
      <if test="record.filterName != null">
        FILTER_NAME = #{record.filterName,jdbcType=CHAR},
      </if>
      <if test="record.configuredBy != null">
        CONFIGURED_BY = #{record.configuredBy,jdbcType=CHAR},
      </if>
      <if test="record.activeSince != null">
        ACTIVE_SINCE = #{record.activeSince,jdbcType=TIMESTAMP},
      </if>
      <if test="record.filterRule != null">
        FILTER_RULE = #{record.filterRule,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update replication_applier_global_filters
    set FILTER_NAME = #{record.filterName,jdbcType=CHAR},
      CONFIGURED_BY = #{record.configuredBy,jdbcType=CHAR},
      ACTIVE_SINCE = #{record.activeSince,jdbcType=TIMESTAMP},
      FILTER_RULE = #{record.filterRule,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update replication_applier_global_filters
    set FILTER_NAME = #{record.filterName,jdbcType=CHAR},
      CONFIGURED_BY = #{record.configuredBy,jdbcType=CHAR},
      ACTIVE_SINCE = #{record.activeSince,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>