<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.ReplicationConnectionStatusMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.ReplicationConnectionStatus">
    <id column="CHANNEL_NAME" jdbcType="CHAR" property="channelName" />
    <result column="GROUP_NAME" jdbcType="CHAR" property="groupName" />
    <result column="SOURCE_UUID" jdbcType="CHAR" property="sourceUuid" />
    <result column="THREAD_ID" jdbcType="BIGINT" property="threadId" />
    <result column="SERVICE_STATE" jdbcType="CHAR" property="serviceState" />
    <result column="COUNT_RECEIVED_HEARTBEATS" jdbcType="BIGINT" property="countReceivedHeartbeats" />
    <result column="LAST_HEARTBEAT_TIMESTAMP" jdbcType="TIMESTAMP" property="lastHeartbeatTimestamp" />
    <result column="LAST_ERROR_NUMBER" jdbcType="INTEGER" property="lastErrorNumber" />
    <result column="LAST_ERROR_MESSAGE" jdbcType="VARCHAR" property="lastErrorMessage" />
    <result column="LAST_ERROR_TIMESTAMP" jdbcType="TIMESTAMP" property="lastErrorTimestamp" />
    <result column="LAST_QUEUED_TRANSACTION" jdbcType="CHAR" property="lastQueuedTransaction" />
    <result column="LAST_QUEUED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP" jdbcType="TIMESTAMP" property="lastQueuedTransactionOriginalCommitTimestamp" />
    <result column="LAST_QUEUED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP" jdbcType="TIMESTAMP" property="lastQueuedTransactionImmediateCommitTimestamp" />
    <result column="LAST_QUEUED_TRANSACTION_START_QUEUE_TIMESTAMP" jdbcType="TIMESTAMP" property="lastQueuedTransactionStartQueueTimestamp" />
    <result column="LAST_QUEUED_TRANSACTION_END_QUEUE_TIMESTAMP" jdbcType="TIMESTAMP" property="lastQueuedTransactionEndQueueTimestamp" />
    <result column="QUEUEING_TRANSACTION" jdbcType="CHAR" property="queueingTransaction" />
    <result column="QUEUEING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP" jdbcType="TIMESTAMP" property="queueingTransactionOriginalCommitTimestamp" />
    <result column="QUEUEING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP" jdbcType="TIMESTAMP" property="queueingTransactionImmediateCommitTimestamp" />
    <result column="QUEUEING_TRANSACTION_START_QUEUE_TIMESTAMP" jdbcType="TIMESTAMP" property="queueingTransactionStartQueueTimestamp" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zzp.mall.model.ReplicationConnectionStatus">
    <result column="RECEIVED_TRANSACTION_SET" jdbcType="LONGVARCHAR" property="receivedTransactionSet" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CHANNEL_NAME, GROUP_NAME, SOURCE_UUID, THREAD_ID, SERVICE_STATE, COUNT_RECEIVED_HEARTBEATS, 
    LAST_HEARTBEAT_TIMESTAMP, LAST_ERROR_NUMBER, LAST_ERROR_MESSAGE, LAST_ERROR_TIMESTAMP, 
    LAST_QUEUED_TRANSACTION, LAST_QUEUED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP, LAST_QUEUED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP, 
    LAST_QUEUED_TRANSACTION_START_QUEUE_TIMESTAMP, LAST_QUEUED_TRANSACTION_END_QUEUE_TIMESTAMP, 
    QUEUEING_TRANSACTION, QUEUEING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP, QUEUEING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP, 
    QUEUEING_TRANSACTION_START_QUEUE_TIMESTAMP
  </sql>
  <sql id="Blob_Column_List">
    RECEIVED_TRANSACTION_SET
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zzp.mall.model.ReplicationConnectionStatusExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from replication_connection_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zzp.mall.model.ReplicationConnectionStatusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from replication_connection_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from replication_connection_status
    where CHANNEL_NAME = #{channelName,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from replication_connection_status
    where CHANNEL_NAME = #{channelName,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.ReplicationConnectionStatusExample">
    delete from replication_connection_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.ReplicationConnectionStatus">
    insert into replication_connection_status (CHANNEL_NAME, GROUP_NAME, SOURCE_UUID, 
      THREAD_ID, SERVICE_STATE, COUNT_RECEIVED_HEARTBEATS, 
      LAST_HEARTBEAT_TIMESTAMP, LAST_ERROR_NUMBER, 
      LAST_ERROR_MESSAGE, LAST_ERROR_TIMESTAMP, 
      LAST_QUEUED_TRANSACTION, LAST_QUEUED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP, 
      LAST_QUEUED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP, LAST_QUEUED_TRANSACTION_START_QUEUE_TIMESTAMP, 
      LAST_QUEUED_TRANSACTION_END_QUEUE_TIMESTAMP, QUEUEING_TRANSACTION, 
      QUEUEING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP, QUEUEING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP, 
      QUEUEING_TRANSACTION_START_QUEUE_TIMESTAMP, RECEIVED_TRANSACTION_SET
      )
    values (#{channelName,jdbcType=CHAR}, #{groupName,jdbcType=CHAR}, #{sourceUuid,jdbcType=CHAR}, 
      #{threadId,jdbcType=BIGINT}, #{serviceState,jdbcType=CHAR}, #{countReceivedHeartbeats,jdbcType=BIGINT}, 
      #{lastHeartbeatTimestamp,jdbcType=TIMESTAMP}, #{lastErrorNumber,jdbcType=INTEGER}, 
      #{lastErrorMessage,jdbcType=VARCHAR}, #{lastErrorTimestamp,jdbcType=TIMESTAMP}, 
      #{lastQueuedTransaction,jdbcType=CHAR}, #{lastQueuedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP}, 
      #{lastQueuedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP}, #{lastQueuedTransactionStartQueueTimestamp,jdbcType=TIMESTAMP}, 
      #{lastQueuedTransactionEndQueueTimestamp,jdbcType=TIMESTAMP}, #{queueingTransaction,jdbcType=CHAR}, 
      #{queueingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP}, #{queueingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP}, 
      #{queueingTransactionStartQueueTimestamp,jdbcType=TIMESTAMP}, #{receivedTransactionSet,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.ReplicationConnectionStatus">
    insert into replication_connection_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="channelName != null">
        CHANNEL_NAME,
      </if>
      <if test="groupName != null">
        GROUP_NAME,
      </if>
      <if test="sourceUuid != null">
        SOURCE_UUID,
      </if>
      <if test="threadId != null">
        THREAD_ID,
      </if>
      <if test="serviceState != null">
        SERVICE_STATE,
      </if>
      <if test="countReceivedHeartbeats != null">
        COUNT_RECEIVED_HEARTBEATS,
      </if>
      <if test="lastHeartbeatTimestamp != null">
        LAST_HEARTBEAT_TIMESTAMP,
      </if>
      <if test="lastErrorNumber != null">
        LAST_ERROR_NUMBER,
      </if>
      <if test="lastErrorMessage != null">
        LAST_ERROR_MESSAGE,
      </if>
      <if test="lastErrorTimestamp != null">
        LAST_ERROR_TIMESTAMP,
      </if>
      <if test="lastQueuedTransaction != null">
        LAST_QUEUED_TRANSACTION,
      </if>
      <if test="lastQueuedTransactionOriginalCommitTimestamp != null">
        LAST_QUEUED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP,
      </if>
      <if test="lastQueuedTransactionImmediateCommitTimestamp != null">
        LAST_QUEUED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP,
      </if>
      <if test="lastQueuedTransactionStartQueueTimestamp != null">
        LAST_QUEUED_TRANSACTION_START_QUEUE_TIMESTAMP,
      </if>
      <if test="lastQueuedTransactionEndQueueTimestamp != null">
        LAST_QUEUED_TRANSACTION_END_QUEUE_TIMESTAMP,
      </if>
      <if test="queueingTransaction != null">
        QUEUEING_TRANSACTION,
      </if>
      <if test="queueingTransactionOriginalCommitTimestamp != null">
        QUEUEING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP,
      </if>
      <if test="queueingTransactionImmediateCommitTimestamp != null">
        QUEUEING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP,
      </if>
      <if test="queueingTransactionStartQueueTimestamp != null">
        QUEUEING_TRANSACTION_START_QUEUE_TIMESTAMP,
      </if>
      <if test="receivedTransactionSet != null">
        RECEIVED_TRANSACTION_SET,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="channelName != null">
        #{channelName,jdbcType=CHAR},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=CHAR},
      </if>
      <if test="sourceUuid != null">
        #{sourceUuid,jdbcType=CHAR},
      </if>
      <if test="threadId != null">
        #{threadId,jdbcType=BIGINT},
      </if>
      <if test="serviceState != null">
        #{serviceState,jdbcType=CHAR},
      </if>
      <if test="countReceivedHeartbeats != null">
        #{countReceivedHeartbeats,jdbcType=BIGINT},
      </if>
      <if test="lastHeartbeatTimestamp != null">
        #{lastHeartbeatTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastErrorNumber != null">
        #{lastErrorNumber,jdbcType=INTEGER},
      </if>
      <if test="lastErrorMessage != null">
        #{lastErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="lastErrorTimestamp != null">
        #{lastErrorTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastQueuedTransaction != null">
        #{lastQueuedTransaction,jdbcType=CHAR},
      </if>
      <if test="lastQueuedTransactionOriginalCommitTimestamp != null">
        #{lastQueuedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastQueuedTransactionImmediateCommitTimestamp != null">
        #{lastQueuedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastQueuedTransactionStartQueueTimestamp != null">
        #{lastQueuedTransactionStartQueueTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastQueuedTransactionEndQueueTimestamp != null">
        #{lastQueuedTransactionEndQueueTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="queueingTransaction != null">
        #{queueingTransaction,jdbcType=CHAR},
      </if>
      <if test="queueingTransactionOriginalCommitTimestamp != null">
        #{queueingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="queueingTransactionImmediateCommitTimestamp != null">
        #{queueingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="queueingTransactionStartQueueTimestamp != null">
        #{queueingTransactionStartQueueTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="receivedTransactionSet != null">
        #{receivedTransactionSet,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.ReplicationConnectionStatusExample" resultType="java.lang.Integer">
    select count(*) from replication_connection_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update replication_connection_status
    <set>
      <if test="record.channelName != null">
        CHANNEL_NAME = #{record.channelName,jdbcType=CHAR},
      </if>
      <if test="record.groupName != null">
        GROUP_NAME = #{record.groupName,jdbcType=CHAR},
      </if>
      <if test="record.sourceUuid != null">
        SOURCE_UUID = #{record.sourceUuid,jdbcType=CHAR},
      </if>
      <if test="record.threadId != null">
        THREAD_ID = #{record.threadId,jdbcType=BIGINT},
      </if>
      <if test="record.serviceState != null">
        SERVICE_STATE = #{record.serviceState,jdbcType=CHAR},
      </if>
      <if test="record.countReceivedHeartbeats != null">
        COUNT_RECEIVED_HEARTBEATS = #{record.countReceivedHeartbeats,jdbcType=BIGINT},
      </if>
      <if test="record.lastHeartbeatTimestamp != null">
        LAST_HEARTBEAT_TIMESTAMP = #{record.lastHeartbeatTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastErrorNumber != null">
        LAST_ERROR_NUMBER = #{record.lastErrorNumber,jdbcType=INTEGER},
      </if>
      <if test="record.lastErrorMessage != null">
        LAST_ERROR_MESSAGE = #{record.lastErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.lastErrorTimestamp != null">
        LAST_ERROR_TIMESTAMP = #{record.lastErrorTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastQueuedTransaction != null">
        LAST_QUEUED_TRANSACTION = #{record.lastQueuedTransaction,jdbcType=CHAR},
      </if>
      <if test="record.lastQueuedTransactionOriginalCommitTimestamp != null">
        LAST_QUEUED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{record.lastQueuedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastQueuedTransactionImmediateCommitTimestamp != null">
        LAST_QUEUED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{record.lastQueuedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastQueuedTransactionStartQueueTimestamp != null">
        LAST_QUEUED_TRANSACTION_START_QUEUE_TIMESTAMP = #{record.lastQueuedTransactionStartQueueTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastQueuedTransactionEndQueueTimestamp != null">
        LAST_QUEUED_TRANSACTION_END_QUEUE_TIMESTAMP = #{record.lastQueuedTransactionEndQueueTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.queueingTransaction != null">
        QUEUEING_TRANSACTION = #{record.queueingTransaction,jdbcType=CHAR},
      </if>
      <if test="record.queueingTransactionOriginalCommitTimestamp != null">
        QUEUEING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{record.queueingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.queueingTransactionImmediateCommitTimestamp != null">
        QUEUEING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{record.queueingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.queueingTransactionStartQueueTimestamp != null">
        QUEUEING_TRANSACTION_START_QUEUE_TIMESTAMP = #{record.queueingTransactionStartQueueTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.receivedTransactionSet != null">
        RECEIVED_TRANSACTION_SET = #{record.receivedTransactionSet,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update replication_connection_status
    set CHANNEL_NAME = #{record.channelName,jdbcType=CHAR},
      GROUP_NAME = #{record.groupName,jdbcType=CHAR},
      SOURCE_UUID = #{record.sourceUuid,jdbcType=CHAR},
      THREAD_ID = #{record.threadId,jdbcType=BIGINT},
      SERVICE_STATE = #{record.serviceState,jdbcType=CHAR},
      COUNT_RECEIVED_HEARTBEATS = #{record.countReceivedHeartbeats,jdbcType=BIGINT},
      LAST_HEARTBEAT_TIMESTAMP = #{record.lastHeartbeatTimestamp,jdbcType=TIMESTAMP},
      LAST_ERROR_NUMBER = #{record.lastErrorNumber,jdbcType=INTEGER},
      LAST_ERROR_MESSAGE = #{record.lastErrorMessage,jdbcType=VARCHAR},
      LAST_ERROR_TIMESTAMP = #{record.lastErrorTimestamp,jdbcType=TIMESTAMP},
      LAST_QUEUED_TRANSACTION = #{record.lastQueuedTransaction,jdbcType=CHAR},
      LAST_QUEUED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{record.lastQueuedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      LAST_QUEUED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{record.lastQueuedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      LAST_QUEUED_TRANSACTION_START_QUEUE_TIMESTAMP = #{record.lastQueuedTransactionStartQueueTimestamp,jdbcType=TIMESTAMP},
      LAST_QUEUED_TRANSACTION_END_QUEUE_TIMESTAMP = #{record.lastQueuedTransactionEndQueueTimestamp,jdbcType=TIMESTAMP},
      QUEUEING_TRANSACTION = #{record.queueingTransaction,jdbcType=CHAR},
      QUEUEING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{record.queueingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      QUEUEING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{record.queueingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      QUEUEING_TRANSACTION_START_QUEUE_TIMESTAMP = #{record.queueingTransactionStartQueueTimestamp,jdbcType=TIMESTAMP},
      RECEIVED_TRANSACTION_SET = #{record.receivedTransactionSet,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update replication_connection_status
    set CHANNEL_NAME = #{record.channelName,jdbcType=CHAR},
      GROUP_NAME = #{record.groupName,jdbcType=CHAR},
      SOURCE_UUID = #{record.sourceUuid,jdbcType=CHAR},
      THREAD_ID = #{record.threadId,jdbcType=BIGINT},
      SERVICE_STATE = #{record.serviceState,jdbcType=CHAR},
      COUNT_RECEIVED_HEARTBEATS = #{record.countReceivedHeartbeats,jdbcType=BIGINT},
      LAST_HEARTBEAT_TIMESTAMP = #{record.lastHeartbeatTimestamp,jdbcType=TIMESTAMP},
      LAST_ERROR_NUMBER = #{record.lastErrorNumber,jdbcType=INTEGER},
      LAST_ERROR_MESSAGE = #{record.lastErrorMessage,jdbcType=VARCHAR},
      LAST_ERROR_TIMESTAMP = #{record.lastErrorTimestamp,jdbcType=TIMESTAMP},
      LAST_QUEUED_TRANSACTION = #{record.lastQueuedTransaction,jdbcType=CHAR},
      LAST_QUEUED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{record.lastQueuedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      LAST_QUEUED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{record.lastQueuedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      LAST_QUEUED_TRANSACTION_START_QUEUE_TIMESTAMP = #{record.lastQueuedTransactionStartQueueTimestamp,jdbcType=TIMESTAMP},
      LAST_QUEUED_TRANSACTION_END_QUEUE_TIMESTAMP = #{record.lastQueuedTransactionEndQueueTimestamp,jdbcType=TIMESTAMP},
      QUEUEING_TRANSACTION = #{record.queueingTransaction,jdbcType=CHAR},
      QUEUEING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{record.queueingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      QUEUEING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{record.queueingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      QUEUEING_TRANSACTION_START_QUEUE_TIMESTAMP = #{record.queueingTransactionStartQueueTimestamp,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.ReplicationConnectionStatus">
    update replication_connection_status
    <set>
      <if test="groupName != null">
        GROUP_NAME = #{groupName,jdbcType=CHAR},
      </if>
      <if test="sourceUuid != null">
        SOURCE_UUID = #{sourceUuid,jdbcType=CHAR},
      </if>
      <if test="threadId != null">
        THREAD_ID = #{threadId,jdbcType=BIGINT},
      </if>
      <if test="serviceState != null">
        SERVICE_STATE = #{serviceState,jdbcType=CHAR},
      </if>
      <if test="countReceivedHeartbeats != null">
        COUNT_RECEIVED_HEARTBEATS = #{countReceivedHeartbeats,jdbcType=BIGINT},
      </if>
      <if test="lastHeartbeatTimestamp != null">
        LAST_HEARTBEAT_TIMESTAMP = #{lastHeartbeatTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastErrorNumber != null">
        LAST_ERROR_NUMBER = #{lastErrorNumber,jdbcType=INTEGER},
      </if>
      <if test="lastErrorMessage != null">
        LAST_ERROR_MESSAGE = #{lastErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="lastErrorTimestamp != null">
        LAST_ERROR_TIMESTAMP = #{lastErrorTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastQueuedTransaction != null">
        LAST_QUEUED_TRANSACTION = #{lastQueuedTransaction,jdbcType=CHAR},
      </if>
      <if test="lastQueuedTransactionOriginalCommitTimestamp != null">
        LAST_QUEUED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{lastQueuedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastQueuedTransactionImmediateCommitTimestamp != null">
        LAST_QUEUED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{lastQueuedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastQueuedTransactionStartQueueTimestamp != null">
        LAST_QUEUED_TRANSACTION_START_QUEUE_TIMESTAMP = #{lastQueuedTransactionStartQueueTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastQueuedTransactionEndQueueTimestamp != null">
        LAST_QUEUED_TRANSACTION_END_QUEUE_TIMESTAMP = #{lastQueuedTransactionEndQueueTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="queueingTransaction != null">
        QUEUEING_TRANSACTION = #{queueingTransaction,jdbcType=CHAR},
      </if>
      <if test="queueingTransactionOriginalCommitTimestamp != null">
        QUEUEING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{queueingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="queueingTransactionImmediateCommitTimestamp != null">
        QUEUEING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{queueingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="queueingTransactionStartQueueTimestamp != null">
        QUEUEING_TRANSACTION_START_QUEUE_TIMESTAMP = #{queueingTransactionStartQueueTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="receivedTransactionSet != null">
        RECEIVED_TRANSACTION_SET = #{receivedTransactionSet,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where CHANNEL_NAME = #{channelName,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zzp.mall.model.ReplicationConnectionStatus">
    update replication_connection_status
    set GROUP_NAME = #{groupName,jdbcType=CHAR},
      SOURCE_UUID = #{sourceUuid,jdbcType=CHAR},
      THREAD_ID = #{threadId,jdbcType=BIGINT},
      SERVICE_STATE = #{serviceState,jdbcType=CHAR},
      COUNT_RECEIVED_HEARTBEATS = #{countReceivedHeartbeats,jdbcType=BIGINT},
      LAST_HEARTBEAT_TIMESTAMP = #{lastHeartbeatTimestamp,jdbcType=TIMESTAMP},
      LAST_ERROR_NUMBER = #{lastErrorNumber,jdbcType=INTEGER},
      LAST_ERROR_MESSAGE = #{lastErrorMessage,jdbcType=VARCHAR},
      LAST_ERROR_TIMESTAMP = #{lastErrorTimestamp,jdbcType=TIMESTAMP},
      LAST_QUEUED_TRANSACTION = #{lastQueuedTransaction,jdbcType=CHAR},
      LAST_QUEUED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{lastQueuedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      LAST_QUEUED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{lastQueuedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      LAST_QUEUED_TRANSACTION_START_QUEUE_TIMESTAMP = #{lastQueuedTransactionStartQueueTimestamp,jdbcType=TIMESTAMP},
      LAST_QUEUED_TRANSACTION_END_QUEUE_TIMESTAMP = #{lastQueuedTransactionEndQueueTimestamp,jdbcType=TIMESTAMP},
      QUEUEING_TRANSACTION = #{queueingTransaction,jdbcType=CHAR},
      QUEUEING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{queueingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      QUEUEING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{queueingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      QUEUEING_TRANSACTION_START_QUEUE_TIMESTAMP = #{queueingTransactionStartQueueTimestamp,jdbcType=TIMESTAMP},
      RECEIVED_TRANSACTION_SET = #{receivedTransactionSet,jdbcType=LONGVARCHAR}
    where CHANNEL_NAME = #{channelName,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.ReplicationConnectionStatus">
    update replication_connection_status
    set GROUP_NAME = #{groupName,jdbcType=CHAR},
      SOURCE_UUID = #{sourceUuid,jdbcType=CHAR},
      THREAD_ID = #{threadId,jdbcType=BIGINT},
      SERVICE_STATE = #{serviceState,jdbcType=CHAR},
      COUNT_RECEIVED_HEARTBEATS = #{countReceivedHeartbeats,jdbcType=BIGINT},
      LAST_HEARTBEAT_TIMESTAMP = #{lastHeartbeatTimestamp,jdbcType=TIMESTAMP},
      LAST_ERROR_NUMBER = #{lastErrorNumber,jdbcType=INTEGER},
      LAST_ERROR_MESSAGE = #{lastErrorMessage,jdbcType=VARCHAR},
      LAST_ERROR_TIMESTAMP = #{lastErrorTimestamp,jdbcType=TIMESTAMP},
      LAST_QUEUED_TRANSACTION = #{lastQueuedTransaction,jdbcType=CHAR},
      LAST_QUEUED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{lastQueuedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      LAST_QUEUED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{lastQueuedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      LAST_QUEUED_TRANSACTION_START_QUEUE_TIMESTAMP = #{lastQueuedTransactionStartQueueTimestamp,jdbcType=TIMESTAMP},
      LAST_QUEUED_TRANSACTION_END_QUEUE_TIMESTAMP = #{lastQueuedTransactionEndQueueTimestamp,jdbcType=TIMESTAMP},
      QUEUEING_TRANSACTION = #{queueingTransaction,jdbcType=CHAR},
      QUEUEING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{queueingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      QUEUEING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{queueingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      QUEUEING_TRANSACTION_START_QUEUE_TIMESTAMP = #{queueingTransactionStartQueueTimestamp,jdbcType=TIMESTAMP}
    where CHANNEL_NAME = #{channelName,jdbcType=CHAR}
  </update>
</mapper>