<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.ReplicationApplierStatusMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.ReplicationApplierStatus">
    <id column="CHANNEL_NAME" jdbcType="CHAR" property="channelName" />
    <result column="SERVICE_STATE" jdbcType="CHAR" property="serviceState" />
    <result column="REMAINING_DELAY" jdbcType="INTEGER" property="remainingDelay" />
    <result column="COUNT_TRANSACTIONS_RETRIES" jdbcType="BIGINT" property="countTransactionsRetries" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CHANNEL_NAME, SERVICE_STATE, REMAINING_DELAY, COUNT_TRANSACTIONS_RETRIES
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.ReplicationApplierStatusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from replication_applier_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from replication_applier_status
    where CHANNEL_NAME = #{channelName,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from replication_applier_status
    where CHANNEL_NAME = #{channelName,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.ReplicationApplierStatusExample">
    delete from replication_applier_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.ReplicationApplierStatus">
    insert into replication_applier_status (CHANNEL_NAME, SERVICE_STATE, REMAINING_DELAY, 
      COUNT_TRANSACTIONS_RETRIES)
    values (#{channelName,jdbcType=CHAR}, #{serviceState,jdbcType=CHAR}, #{remainingDelay,jdbcType=INTEGER}, 
      #{countTransactionsRetries,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.ReplicationApplierStatus">
    insert into replication_applier_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="channelName != null">
        CHANNEL_NAME,
      </if>
      <if test="serviceState != null">
        SERVICE_STATE,
      </if>
      <if test="remainingDelay != null">
        REMAINING_DELAY,
      </if>
      <if test="countTransactionsRetries != null">
        COUNT_TRANSACTIONS_RETRIES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="channelName != null">
        #{channelName,jdbcType=CHAR},
      </if>
      <if test="serviceState != null">
        #{serviceState,jdbcType=CHAR},
      </if>
      <if test="remainingDelay != null">
        #{remainingDelay,jdbcType=INTEGER},
      </if>
      <if test="countTransactionsRetries != null">
        #{countTransactionsRetries,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.ReplicationApplierStatusExample" resultType="java.lang.Integer">
    select count(*) from replication_applier_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update replication_applier_status
    <set>
      <if test="record.channelName != null">
        CHANNEL_NAME = #{record.channelName,jdbcType=CHAR},
      </if>
      <if test="record.serviceState != null">
        SERVICE_STATE = #{record.serviceState,jdbcType=CHAR},
      </if>
      <if test="record.remainingDelay != null">
        REMAINING_DELAY = #{record.remainingDelay,jdbcType=INTEGER},
      </if>
      <if test="record.countTransactionsRetries != null">
        COUNT_TRANSACTIONS_RETRIES = #{record.countTransactionsRetries,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update replication_applier_status
    set CHANNEL_NAME = #{record.channelName,jdbcType=CHAR},
      SERVICE_STATE = #{record.serviceState,jdbcType=CHAR},
      REMAINING_DELAY = #{record.remainingDelay,jdbcType=INTEGER},
      COUNT_TRANSACTIONS_RETRIES = #{record.countTransactionsRetries,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.ReplicationApplierStatus">
    update replication_applier_status
    <set>
      <if test="serviceState != null">
        SERVICE_STATE = #{serviceState,jdbcType=CHAR},
      </if>
      <if test="remainingDelay != null">
        REMAINING_DELAY = #{remainingDelay,jdbcType=INTEGER},
      </if>
      <if test="countTransactionsRetries != null">
        COUNT_TRANSACTIONS_RETRIES = #{countTransactionsRetries,jdbcType=BIGINT},
      </if>
    </set>
    where CHANNEL_NAME = #{channelName,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.ReplicationApplierStatus">
    update replication_applier_status
    set SERVICE_STATE = #{serviceState,jdbcType=CHAR},
      REMAINING_DELAY = #{remainingDelay,jdbcType=INTEGER},
      COUNT_TRANSACTIONS_RETRIES = #{countTransactionsRetries,jdbcType=BIGINT}
    where CHANNEL_NAME = #{channelName,jdbcType=CHAR}
  </update>
</mapper>