<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.ReplicationApplierStatusByWorkerMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.ReplicationApplierStatusByWorker">
    <id column="CHANNEL_NAME" jdbcType="CHAR" property="channelName" />
    <id column="WORKER_ID" jdbcType="BIGINT" property="workerId" />
    <result column="THREAD_ID" jdbcType="BIGINT" property="threadId" />
    <result column="SERVICE_STATE" jdbcType="CHAR" property="serviceState" />
    <result column="LAST_ERROR_NUMBER" jdbcType="INTEGER" property="lastErrorNumber" />
    <result column="LAST_ERROR_MESSAGE" jdbcType="VARCHAR" property="lastErrorMessage" />
    <result column="LAST_ERROR_TIMESTAMP" jdbcType="TIMESTAMP" property="lastErrorTimestamp" />
    <result column="LAST_APPLIED_TRANSACTION" jdbcType="CHAR" property="lastAppliedTransaction" />
    <result column="LAST_APPLIED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP" jdbcType="TIMESTAMP" property="lastAppliedTransactionOriginalCommitTimestamp" />
    <result column="LAST_APPLIED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP" jdbcType="TIMESTAMP" property="lastAppliedTransactionImmediateCommitTimestamp" />
    <result column="LAST_APPLIED_TRANSACTION_START_APPLY_TIMESTAMP" jdbcType="TIMESTAMP" property="lastAppliedTransactionStartApplyTimestamp" />
    <result column="LAST_APPLIED_TRANSACTION_END_APPLY_TIMESTAMP" jdbcType="TIMESTAMP" property="lastAppliedTransactionEndApplyTimestamp" />
    <result column="APPLYING_TRANSACTION" jdbcType="CHAR" property="applyingTransaction" />
    <result column="APPLYING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP" jdbcType="TIMESTAMP" property="applyingTransactionOriginalCommitTimestamp" />
    <result column="APPLYING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP" jdbcType="TIMESTAMP" property="applyingTransactionImmediateCommitTimestamp" />
    <result column="APPLYING_TRANSACTION_START_APPLY_TIMESTAMP" jdbcType="TIMESTAMP" property="applyingTransactionStartApplyTimestamp" />
    <result column="LAST_APPLIED_TRANSACTION_RETRIES_COUNT" jdbcType="BIGINT" property="lastAppliedTransactionRetriesCount" />
    <result column="LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_NUMBER" jdbcType="INTEGER" property="lastAppliedTransactionLastTransientErrorNumber" />
    <result column="LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_MESSAGE" jdbcType="VARCHAR" property="lastAppliedTransactionLastTransientErrorMessage" />
    <result column="LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_TIMESTAMP" jdbcType="TIMESTAMP" property="lastAppliedTransactionLastTransientErrorTimestamp" />
    <result column="APPLYING_TRANSACTION_RETRIES_COUNT" jdbcType="BIGINT" property="applyingTransactionRetriesCount" />
    <result column="APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_NUMBER" jdbcType="INTEGER" property="applyingTransactionLastTransientErrorNumber" />
    <result column="APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_MESSAGE" jdbcType="VARCHAR" property="applyingTransactionLastTransientErrorMessage" />
    <result column="APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_TIMESTAMP" jdbcType="TIMESTAMP" property="applyingTransactionLastTransientErrorTimestamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CHANNEL_NAME, WORKER_ID, THREAD_ID, SERVICE_STATE, LAST_ERROR_NUMBER, LAST_ERROR_MESSAGE, 
    LAST_ERROR_TIMESTAMP, LAST_APPLIED_TRANSACTION, LAST_APPLIED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP, 
    LAST_APPLIED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP, LAST_APPLIED_TRANSACTION_START_APPLY_TIMESTAMP, 
    LAST_APPLIED_TRANSACTION_END_APPLY_TIMESTAMP, APPLYING_TRANSACTION, APPLYING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP, 
    APPLYING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP, APPLYING_TRANSACTION_START_APPLY_TIMESTAMP, 
    LAST_APPLIED_TRANSACTION_RETRIES_COUNT, LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_NUMBER, 
    LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_MESSAGE, LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_TIMESTAMP, 
    APPLYING_TRANSACTION_RETRIES_COUNT, APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_NUMBER, 
    APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_MESSAGE, APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_TIMESTAMP
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.ReplicationApplierStatusByWorkerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from replication_applier_status_by_worker
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from replication_applier_status_by_worker
    where CHANNEL_NAME = #{channelName,jdbcType=CHAR}
      and WORKER_ID = #{workerId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from replication_applier_status_by_worker
    where CHANNEL_NAME = #{channelName,jdbcType=CHAR}
      and WORKER_ID = #{workerId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.ReplicationApplierStatusByWorkerExample">
    delete from replication_applier_status_by_worker
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.ReplicationApplierStatusByWorker">
    insert into replication_applier_status_by_worker (CHANNEL_NAME, WORKER_ID, THREAD_ID, 
      SERVICE_STATE, LAST_ERROR_NUMBER, LAST_ERROR_MESSAGE, 
      LAST_ERROR_TIMESTAMP, LAST_APPLIED_TRANSACTION, 
      LAST_APPLIED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP, LAST_APPLIED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP, 
      LAST_APPLIED_TRANSACTION_START_APPLY_TIMESTAMP, LAST_APPLIED_TRANSACTION_END_APPLY_TIMESTAMP, 
      APPLYING_TRANSACTION, APPLYING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP, 
      APPLYING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP, APPLYING_TRANSACTION_START_APPLY_TIMESTAMP, 
      LAST_APPLIED_TRANSACTION_RETRIES_COUNT, LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_NUMBER, 
      LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_MESSAGE, LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_TIMESTAMP, 
      APPLYING_TRANSACTION_RETRIES_COUNT, APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_NUMBER, 
      APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_MESSAGE, APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_TIMESTAMP
      )
    values (#{channelName,jdbcType=CHAR}, #{workerId,jdbcType=BIGINT}, #{threadId,jdbcType=BIGINT}, 
      #{serviceState,jdbcType=CHAR}, #{lastErrorNumber,jdbcType=INTEGER}, #{lastErrorMessage,jdbcType=VARCHAR}, 
      #{lastErrorTimestamp,jdbcType=TIMESTAMP}, #{lastAppliedTransaction,jdbcType=CHAR}, 
      #{lastAppliedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP}, #{lastAppliedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP}, 
      #{lastAppliedTransactionStartApplyTimestamp,jdbcType=TIMESTAMP}, #{lastAppliedTransactionEndApplyTimestamp,jdbcType=TIMESTAMP}, 
      #{applyingTransaction,jdbcType=CHAR}, #{applyingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP}, 
      #{applyingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP}, #{applyingTransactionStartApplyTimestamp,jdbcType=TIMESTAMP}, 
      #{lastAppliedTransactionRetriesCount,jdbcType=BIGINT}, #{lastAppliedTransactionLastTransientErrorNumber,jdbcType=INTEGER}, 
      #{lastAppliedTransactionLastTransientErrorMessage,jdbcType=VARCHAR}, #{lastAppliedTransactionLastTransientErrorTimestamp,jdbcType=TIMESTAMP}, 
      #{applyingTransactionRetriesCount,jdbcType=BIGINT}, #{applyingTransactionLastTransientErrorNumber,jdbcType=INTEGER}, 
      #{applyingTransactionLastTransientErrorMessage,jdbcType=VARCHAR}, #{applyingTransactionLastTransientErrorTimestamp,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.ReplicationApplierStatusByWorker">
    insert into replication_applier_status_by_worker
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="channelName != null">
        CHANNEL_NAME,
      </if>
      <if test="workerId != null">
        WORKER_ID,
      </if>
      <if test="threadId != null">
        THREAD_ID,
      </if>
      <if test="serviceState != null">
        SERVICE_STATE,
      </if>
      <if test="lastErrorNumber != null">
        LAST_ERROR_NUMBER,
      </if>
      <if test="lastErrorMessage != null">
        LAST_ERROR_MESSAGE,
      </if>
      <if test="lastErrorTimestamp != null">
        LAST_ERROR_TIMESTAMP,
      </if>
      <if test="lastAppliedTransaction != null">
        LAST_APPLIED_TRANSACTION,
      </if>
      <if test="lastAppliedTransactionOriginalCommitTimestamp != null">
        LAST_APPLIED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP,
      </if>
      <if test="lastAppliedTransactionImmediateCommitTimestamp != null">
        LAST_APPLIED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP,
      </if>
      <if test="lastAppliedTransactionStartApplyTimestamp != null">
        LAST_APPLIED_TRANSACTION_START_APPLY_TIMESTAMP,
      </if>
      <if test="lastAppliedTransactionEndApplyTimestamp != null">
        LAST_APPLIED_TRANSACTION_END_APPLY_TIMESTAMP,
      </if>
      <if test="applyingTransaction != null">
        APPLYING_TRANSACTION,
      </if>
      <if test="applyingTransactionOriginalCommitTimestamp != null">
        APPLYING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP,
      </if>
      <if test="applyingTransactionImmediateCommitTimestamp != null">
        APPLYING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP,
      </if>
      <if test="applyingTransactionStartApplyTimestamp != null">
        APPLYING_TRANSACTION_START_APPLY_TIMESTAMP,
      </if>
      <if test="lastAppliedTransactionRetriesCount != null">
        LAST_APPLIED_TRANSACTION_RETRIES_COUNT,
      </if>
      <if test="lastAppliedTransactionLastTransientErrorNumber != null">
        LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_NUMBER,
      </if>
      <if test="lastAppliedTransactionLastTransientErrorMessage != null">
        LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_MESSAGE,
      </if>
      <if test="lastAppliedTransactionLastTransientErrorTimestamp != null">
        LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_TIMESTAMP,
      </if>
      <if test="applyingTransactionRetriesCount != null">
        APPLYING_TRANSACTION_RETRIES_COUNT,
      </if>
      <if test="applyingTransactionLastTransientErrorNumber != null">
        APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_NUMBER,
      </if>
      <if test="applyingTransactionLastTransientErrorMessage != null">
        APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_MESSAGE,
      </if>
      <if test="applyingTransactionLastTransientErrorTimestamp != null">
        APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_TIMESTAMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="channelName != null">
        #{channelName,jdbcType=CHAR},
      </if>
      <if test="workerId != null">
        #{workerId,jdbcType=BIGINT},
      </if>
      <if test="threadId != null">
        #{threadId,jdbcType=BIGINT},
      </if>
      <if test="serviceState != null">
        #{serviceState,jdbcType=CHAR},
      </if>
      <if test="lastErrorNumber != null">
        #{lastErrorNumber,jdbcType=INTEGER},
      </if>
      <if test="lastErrorMessage != null">
        #{lastErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="lastErrorTimestamp != null">
        #{lastErrorTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAppliedTransaction != null">
        #{lastAppliedTransaction,jdbcType=CHAR},
      </if>
      <if test="lastAppliedTransactionOriginalCommitTimestamp != null">
        #{lastAppliedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAppliedTransactionImmediateCommitTimestamp != null">
        #{lastAppliedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAppliedTransactionStartApplyTimestamp != null">
        #{lastAppliedTransactionStartApplyTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAppliedTransactionEndApplyTimestamp != null">
        #{lastAppliedTransactionEndApplyTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="applyingTransaction != null">
        #{applyingTransaction,jdbcType=CHAR},
      </if>
      <if test="applyingTransactionOriginalCommitTimestamp != null">
        #{applyingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="applyingTransactionImmediateCommitTimestamp != null">
        #{applyingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="applyingTransactionStartApplyTimestamp != null">
        #{applyingTransactionStartApplyTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAppliedTransactionRetriesCount != null">
        #{lastAppliedTransactionRetriesCount,jdbcType=BIGINT},
      </if>
      <if test="lastAppliedTransactionLastTransientErrorNumber != null">
        #{lastAppliedTransactionLastTransientErrorNumber,jdbcType=INTEGER},
      </if>
      <if test="lastAppliedTransactionLastTransientErrorMessage != null">
        #{lastAppliedTransactionLastTransientErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="lastAppliedTransactionLastTransientErrorTimestamp != null">
        #{lastAppliedTransactionLastTransientErrorTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="applyingTransactionRetriesCount != null">
        #{applyingTransactionRetriesCount,jdbcType=BIGINT},
      </if>
      <if test="applyingTransactionLastTransientErrorNumber != null">
        #{applyingTransactionLastTransientErrorNumber,jdbcType=INTEGER},
      </if>
      <if test="applyingTransactionLastTransientErrorMessage != null">
        #{applyingTransactionLastTransientErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="applyingTransactionLastTransientErrorTimestamp != null">
        #{applyingTransactionLastTransientErrorTimestamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.ReplicationApplierStatusByWorkerExample" resultType="java.lang.Integer">
    select count(*) from replication_applier_status_by_worker
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update replication_applier_status_by_worker
    <set>
      <if test="record.channelName != null">
        CHANNEL_NAME = #{record.channelName,jdbcType=CHAR},
      </if>
      <if test="record.workerId != null">
        WORKER_ID = #{record.workerId,jdbcType=BIGINT},
      </if>
      <if test="record.threadId != null">
        THREAD_ID = #{record.threadId,jdbcType=BIGINT},
      </if>
      <if test="record.serviceState != null">
        SERVICE_STATE = #{record.serviceState,jdbcType=CHAR},
      </if>
      <if test="record.lastErrorNumber != null">
        LAST_ERROR_NUMBER = #{record.lastErrorNumber,jdbcType=INTEGER},
      </if>
      <if test="record.lastErrorMessage != null">
        LAST_ERROR_MESSAGE = #{record.lastErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.lastErrorTimestamp != null">
        LAST_ERROR_TIMESTAMP = #{record.lastErrorTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastAppliedTransaction != null">
        LAST_APPLIED_TRANSACTION = #{record.lastAppliedTransaction,jdbcType=CHAR},
      </if>
      <if test="record.lastAppliedTransactionOriginalCommitTimestamp != null">
        LAST_APPLIED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{record.lastAppliedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastAppliedTransactionImmediateCommitTimestamp != null">
        LAST_APPLIED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{record.lastAppliedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastAppliedTransactionStartApplyTimestamp != null">
        LAST_APPLIED_TRANSACTION_START_APPLY_TIMESTAMP = #{record.lastAppliedTransactionStartApplyTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastAppliedTransactionEndApplyTimestamp != null">
        LAST_APPLIED_TRANSACTION_END_APPLY_TIMESTAMP = #{record.lastAppliedTransactionEndApplyTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.applyingTransaction != null">
        APPLYING_TRANSACTION = #{record.applyingTransaction,jdbcType=CHAR},
      </if>
      <if test="record.applyingTransactionOriginalCommitTimestamp != null">
        APPLYING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{record.applyingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.applyingTransactionImmediateCommitTimestamp != null">
        APPLYING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{record.applyingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.applyingTransactionStartApplyTimestamp != null">
        APPLYING_TRANSACTION_START_APPLY_TIMESTAMP = #{record.applyingTransactionStartApplyTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastAppliedTransactionRetriesCount != null">
        LAST_APPLIED_TRANSACTION_RETRIES_COUNT = #{record.lastAppliedTransactionRetriesCount,jdbcType=BIGINT},
      </if>
      <if test="record.lastAppliedTransactionLastTransientErrorNumber != null">
        LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_NUMBER = #{record.lastAppliedTransactionLastTransientErrorNumber,jdbcType=INTEGER},
      </if>
      <if test="record.lastAppliedTransactionLastTransientErrorMessage != null">
        LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_MESSAGE = #{record.lastAppliedTransactionLastTransientErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.lastAppliedTransactionLastTransientErrorTimestamp != null">
        LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_TIMESTAMP = #{record.lastAppliedTransactionLastTransientErrorTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.applyingTransactionRetriesCount != null">
        APPLYING_TRANSACTION_RETRIES_COUNT = #{record.applyingTransactionRetriesCount,jdbcType=BIGINT},
      </if>
      <if test="record.applyingTransactionLastTransientErrorNumber != null">
        APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_NUMBER = #{record.applyingTransactionLastTransientErrorNumber,jdbcType=INTEGER},
      </if>
      <if test="record.applyingTransactionLastTransientErrorMessage != null">
        APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_MESSAGE = #{record.applyingTransactionLastTransientErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.applyingTransactionLastTransientErrorTimestamp != null">
        APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_TIMESTAMP = #{record.applyingTransactionLastTransientErrorTimestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update replication_applier_status_by_worker
    set CHANNEL_NAME = #{record.channelName,jdbcType=CHAR},
      WORKER_ID = #{record.workerId,jdbcType=BIGINT},
      THREAD_ID = #{record.threadId,jdbcType=BIGINT},
      SERVICE_STATE = #{record.serviceState,jdbcType=CHAR},
      LAST_ERROR_NUMBER = #{record.lastErrorNumber,jdbcType=INTEGER},
      LAST_ERROR_MESSAGE = #{record.lastErrorMessage,jdbcType=VARCHAR},
      LAST_ERROR_TIMESTAMP = #{record.lastErrorTimestamp,jdbcType=TIMESTAMP},
      LAST_APPLIED_TRANSACTION = #{record.lastAppliedTransaction,jdbcType=CHAR},
      LAST_APPLIED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{record.lastAppliedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      LAST_APPLIED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{record.lastAppliedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      LAST_APPLIED_TRANSACTION_START_APPLY_TIMESTAMP = #{record.lastAppliedTransactionStartApplyTimestamp,jdbcType=TIMESTAMP},
      LAST_APPLIED_TRANSACTION_END_APPLY_TIMESTAMP = #{record.lastAppliedTransactionEndApplyTimestamp,jdbcType=TIMESTAMP},
      APPLYING_TRANSACTION = #{record.applyingTransaction,jdbcType=CHAR},
      APPLYING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{record.applyingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      APPLYING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{record.applyingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      APPLYING_TRANSACTION_START_APPLY_TIMESTAMP = #{record.applyingTransactionStartApplyTimestamp,jdbcType=TIMESTAMP},
      LAST_APPLIED_TRANSACTION_RETRIES_COUNT = #{record.lastAppliedTransactionRetriesCount,jdbcType=BIGINT},
      LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_NUMBER = #{record.lastAppliedTransactionLastTransientErrorNumber,jdbcType=INTEGER},
      LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_MESSAGE = #{record.lastAppliedTransactionLastTransientErrorMessage,jdbcType=VARCHAR},
      LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_TIMESTAMP = #{record.lastAppliedTransactionLastTransientErrorTimestamp,jdbcType=TIMESTAMP},
      APPLYING_TRANSACTION_RETRIES_COUNT = #{record.applyingTransactionRetriesCount,jdbcType=BIGINT},
      APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_NUMBER = #{record.applyingTransactionLastTransientErrorNumber,jdbcType=INTEGER},
      APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_MESSAGE = #{record.applyingTransactionLastTransientErrorMessage,jdbcType=VARCHAR},
      APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_TIMESTAMP = #{record.applyingTransactionLastTransientErrorTimestamp,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.ReplicationApplierStatusByWorker">
    update replication_applier_status_by_worker
    <set>
      <if test="threadId != null">
        THREAD_ID = #{threadId,jdbcType=BIGINT},
      </if>
      <if test="serviceState != null">
        SERVICE_STATE = #{serviceState,jdbcType=CHAR},
      </if>
      <if test="lastErrorNumber != null">
        LAST_ERROR_NUMBER = #{lastErrorNumber,jdbcType=INTEGER},
      </if>
      <if test="lastErrorMessage != null">
        LAST_ERROR_MESSAGE = #{lastErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="lastErrorTimestamp != null">
        LAST_ERROR_TIMESTAMP = #{lastErrorTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAppliedTransaction != null">
        LAST_APPLIED_TRANSACTION = #{lastAppliedTransaction,jdbcType=CHAR},
      </if>
      <if test="lastAppliedTransactionOriginalCommitTimestamp != null">
        LAST_APPLIED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{lastAppliedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAppliedTransactionImmediateCommitTimestamp != null">
        LAST_APPLIED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{lastAppliedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAppliedTransactionStartApplyTimestamp != null">
        LAST_APPLIED_TRANSACTION_START_APPLY_TIMESTAMP = #{lastAppliedTransactionStartApplyTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAppliedTransactionEndApplyTimestamp != null">
        LAST_APPLIED_TRANSACTION_END_APPLY_TIMESTAMP = #{lastAppliedTransactionEndApplyTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="applyingTransaction != null">
        APPLYING_TRANSACTION = #{applyingTransaction,jdbcType=CHAR},
      </if>
      <if test="applyingTransactionOriginalCommitTimestamp != null">
        APPLYING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{applyingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="applyingTransactionImmediateCommitTimestamp != null">
        APPLYING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{applyingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="applyingTransactionStartApplyTimestamp != null">
        APPLYING_TRANSACTION_START_APPLY_TIMESTAMP = #{applyingTransactionStartApplyTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAppliedTransactionRetriesCount != null">
        LAST_APPLIED_TRANSACTION_RETRIES_COUNT = #{lastAppliedTransactionRetriesCount,jdbcType=BIGINT},
      </if>
      <if test="lastAppliedTransactionLastTransientErrorNumber != null">
        LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_NUMBER = #{lastAppliedTransactionLastTransientErrorNumber,jdbcType=INTEGER},
      </if>
      <if test="lastAppliedTransactionLastTransientErrorMessage != null">
        LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_MESSAGE = #{lastAppliedTransactionLastTransientErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="lastAppliedTransactionLastTransientErrorTimestamp != null">
        LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_TIMESTAMP = #{lastAppliedTransactionLastTransientErrorTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="applyingTransactionRetriesCount != null">
        APPLYING_TRANSACTION_RETRIES_COUNT = #{applyingTransactionRetriesCount,jdbcType=BIGINT},
      </if>
      <if test="applyingTransactionLastTransientErrorNumber != null">
        APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_NUMBER = #{applyingTransactionLastTransientErrorNumber,jdbcType=INTEGER},
      </if>
      <if test="applyingTransactionLastTransientErrorMessage != null">
        APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_MESSAGE = #{applyingTransactionLastTransientErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="applyingTransactionLastTransientErrorTimestamp != null">
        APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_TIMESTAMP = #{applyingTransactionLastTransientErrorTimestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CHANNEL_NAME = #{channelName,jdbcType=CHAR}
      and WORKER_ID = #{workerId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.ReplicationApplierStatusByWorker">
    update replication_applier_status_by_worker
    set THREAD_ID = #{threadId,jdbcType=BIGINT},
      SERVICE_STATE = #{serviceState,jdbcType=CHAR},
      LAST_ERROR_NUMBER = #{lastErrorNumber,jdbcType=INTEGER},
      LAST_ERROR_MESSAGE = #{lastErrorMessage,jdbcType=VARCHAR},
      LAST_ERROR_TIMESTAMP = #{lastErrorTimestamp,jdbcType=TIMESTAMP},
      LAST_APPLIED_TRANSACTION = #{lastAppliedTransaction,jdbcType=CHAR},
      LAST_APPLIED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{lastAppliedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      LAST_APPLIED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{lastAppliedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      LAST_APPLIED_TRANSACTION_START_APPLY_TIMESTAMP = #{lastAppliedTransactionStartApplyTimestamp,jdbcType=TIMESTAMP},
      LAST_APPLIED_TRANSACTION_END_APPLY_TIMESTAMP = #{lastAppliedTransactionEndApplyTimestamp,jdbcType=TIMESTAMP},
      APPLYING_TRANSACTION = #{applyingTransaction,jdbcType=CHAR},
      APPLYING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{applyingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      APPLYING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{applyingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      APPLYING_TRANSACTION_START_APPLY_TIMESTAMP = #{applyingTransactionStartApplyTimestamp,jdbcType=TIMESTAMP},
      LAST_APPLIED_TRANSACTION_RETRIES_COUNT = #{lastAppliedTransactionRetriesCount,jdbcType=BIGINT},
      LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_NUMBER = #{lastAppliedTransactionLastTransientErrorNumber,jdbcType=INTEGER},
      LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_MESSAGE = #{lastAppliedTransactionLastTransientErrorMessage,jdbcType=VARCHAR},
      LAST_APPLIED_TRANSACTION_LAST_TRANSIENT_ERROR_TIMESTAMP = #{lastAppliedTransactionLastTransientErrorTimestamp,jdbcType=TIMESTAMP},
      APPLYING_TRANSACTION_RETRIES_COUNT = #{applyingTransactionRetriesCount,jdbcType=BIGINT},
      APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_NUMBER = #{applyingTransactionLastTransientErrorNumber,jdbcType=INTEGER},
      APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_MESSAGE = #{applyingTransactionLastTransientErrorMessage,jdbcType=VARCHAR},
      APPLYING_TRANSACTION_LAST_TRANSIENT_ERROR_TIMESTAMP = #{applyingTransactionLastTransientErrorTimestamp,jdbcType=TIMESTAMP}
    where CHANNEL_NAME = #{channelName,jdbcType=CHAR}
      and WORKER_ID = #{workerId,jdbcType=BIGINT}
  </update>
</mapper>