<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.ReplicationApplierStatusByCoordinatorMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.ReplicationApplierStatusByCoordinator">
    <id column="CHANNEL_NAME" jdbcType="CHAR" property="channelName" />
    <result column="THREAD_ID" jdbcType="BIGINT" property="threadId" />
    <result column="SERVICE_STATE" jdbcType="CHAR" property="serviceState" />
    <result column="LAST_ERROR_NUMBER" jdbcType="INTEGER" property="lastErrorNumber" />
    <result column="LAST_ERROR_MESSAGE" jdbcType="VARCHAR" property="lastErrorMessage" />
    <result column="LAST_ERROR_TIMESTAMP" jdbcType="TIMESTAMP" property="lastErrorTimestamp" />
    <result column="LAST_PROCESSED_TRANSACTION" jdbcType="CHAR" property="lastProcessedTransaction" />
    <result column="LAST_PROCESSED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP" jdbcType="TIMESTAMP" property="lastProcessedTransactionOriginalCommitTimestamp" />
    <result column="LAST_PROCESSED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP" jdbcType="TIMESTAMP" property="lastProcessedTransactionImmediateCommitTimestamp" />
    <result column="LAST_PROCESSED_TRANSACTION_START_BUFFER_TIMESTAMP" jdbcType="TIMESTAMP" property="lastProcessedTransactionStartBufferTimestamp" />
    <result column="LAST_PROCESSED_TRANSACTION_END_BUFFER_TIMESTAMP" jdbcType="TIMESTAMP" property="lastProcessedTransactionEndBufferTimestamp" />
    <result column="PROCESSING_TRANSACTION" jdbcType="CHAR" property="processingTransaction" />
    <result column="PROCESSING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP" jdbcType="TIMESTAMP" property="processingTransactionOriginalCommitTimestamp" />
    <result column="PROCESSING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP" jdbcType="TIMESTAMP" property="processingTransactionImmediateCommitTimestamp" />
    <result column="PROCESSING_TRANSACTION_START_BUFFER_TIMESTAMP" jdbcType="TIMESTAMP" property="processingTransactionStartBufferTimestamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CHANNEL_NAME, THREAD_ID, SERVICE_STATE, LAST_ERROR_NUMBER, LAST_ERROR_MESSAGE, LAST_ERROR_TIMESTAMP, 
    LAST_PROCESSED_TRANSACTION, LAST_PROCESSED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP, 
    LAST_PROCESSED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP, LAST_PROCESSED_TRANSACTION_START_BUFFER_TIMESTAMP, 
    LAST_PROCESSED_TRANSACTION_END_BUFFER_TIMESTAMP, PROCESSING_TRANSACTION, PROCESSING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP, 
    PROCESSING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP, PROCESSING_TRANSACTION_START_BUFFER_TIMESTAMP
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.ReplicationApplierStatusByCoordinatorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from replication_applier_status_by_coordinator
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from replication_applier_status_by_coordinator
    where CHANNEL_NAME = #{channelName,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from replication_applier_status_by_coordinator
    where CHANNEL_NAME = #{channelName,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.ReplicationApplierStatusByCoordinatorExample">
    delete from replication_applier_status_by_coordinator
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.ReplicationApplierStatusByCoordinator">
    insert into replication_applier_status_by_coordinator (CHANNEL_NAME, THREAD_ID, SERVICE_STATE, 
      LAST_ERROR_NUMBER, LAST_ERROR_MESSAGE, LAST_ERROR_TIMESTAMP, 
      LAST_PROCESSED_TRANSACTION, LAST_PROCESSED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP, 
      LAST_PROCESSED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP, LAST_PROCESSED_TRANSACTION_START_BUFFER_TIMESTAMP, 
      LAST_PROCESSED_TRANSACTION_END_BUFFER_TIMESTAMP, PROCESSING_TRANSACTION, 
      PROCESSING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP, PROCESSING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP, 
      PROCESSING_TRANSACTION_START_BUFFER_TIMESTAMP)
    values (#{channelName,jdbcType=CHAR}, #{threadId,jdbcType=BIGINT}, #{serviceState,jdbcType=CHAR}, 
      #{lastErrorNumber,jdbcType=INTEGER}, #{lastErrorMessage,jdbcType=VARCHAR}, #{lastErrorTimestamp,jdbcType=TIMESTAMP}, 
      #{lastProcessedTransaction,jdbcType=CHAR}, #{lastProcessedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP}, 
      #{lastProcessedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP}, #{lastProcessedTransactionStartBufferTimestamp,jdbcType=TIMESTAMP}, 
      #{lastProcessedTransactionEndBufferTimestamp,jdbcType=TIMESTAMP}, #{processingTransaction,jdbcType=CHAR}, 
      #{processingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP}, #{processingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP}, 
      #{processingTransactionStartBufferTimestamp,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.ReplicationApplierStatusByCoordinator">
    insert into replication_applier_status_by_coordinator
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="channelName != null">
        CHANNEL_NAME,
      </if>
      <if test="threadId != null">
        THREAD_ID,
      </if>
      <if test="serviceState != null">
        SERVICE_STATE,
      </if>
      <if test="lastErrorNumber != null">
        LAST_ERROR_NUMBER,
      </if>
      <if test="lastErrorMessage != null">
        LAST_ERROR_MESSAGE,
      </if>
      <if test="lastErrorTimestamp != null">
        LAST_ERROR_TIMESTAMP,
      </if>
      <if test="lastProcessedTransaction != null">
        LAST_PROCESSED_TRANSACTION,
      </if>
      <if test="lastProcessedTransactionOriginalCommitTimestamp != null">
        LAST_PROCESSED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP,
      </if>
      <if test="lastProcessedTransactionImmediateCommitTimestamp != null">
        LAST_PROCESSED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP,
      </if>
      <if test="lastProcessedTransactionStartBufferTimestamp != null">
        LAST_PROCESSED_TRANSACTION_START_BUFFER_TIMESTAMP,
      </if>
      <if test="lastProcessedTransactionEndBufferTimestamp != null">
        LAST_PROCESSED_TRANSACTION_END_BUFFER_TIMESTAMP,
      </if>
      <if test="processingTransaction != null">
        PROCESSING_TRANSACTION,
      </if>
      <if test="processingTransactionOriginalCommitTimestamp != null">
        PROCESSING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP,
      </if>
      <if test="processingTransactionImmediateCommitTimestamp != null">
        PROCESSING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP,
      </if>
      <if test="processingTransactionStartBufferTimestamp != null">
        PROCESSING_TRANSACTION_START_BUFFER_TIMESTAMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="channelName != null">
        #{channelName,jdbcType=CHAR},
      </if>
      <if test="threadId != null">
        #{threadId,jdbcType=BIGINT},
      </if>
      <if test="serviceState != null">
        #{serviceState,jdbcType=CHAR},
      </if>
      <if test="lastErrorNumber != null">
        #{lastErrorNumber,jdbcType=INTEGER},
      </if>
      <if test="lastErrorMessage != null">
        #{lastErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="lastErrorTimestamp != null">
        #{lastErrorTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastProcessedTransaction != null">
        #{lastProcessedTransaction,jdbcType=CHAR},
      </if>
      <if test="lastProcessedTransactionOriginalCommitTimestamp != null">
        #{lastProcessedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastProcessedTransactionImmediateCommitTimestamp != null">
        #{lastProcessedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastProcessedTransactionStartBufferTimestamp != null">
        #{lastProcessedTransactionStartBufferTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastProcessedTransactionEndBufferTimestamp != null">
        #{lastProcessedTransactionEndBufferTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="processingTransaction != null">
        #{processingTransaction,jdbcType=CHAR},
      </if>
      <if test="processingTransactionOriginalCommitTimestamp != null">
        #{processingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="processingTransactionImmediateCommitTimestamp != null">
        #{processingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="processingTransactionStartBufferTimestamp != null">
        #{processingTransactionStartBufferTimestamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.ReplicationApplierStatusByCoordinatorExample" resultType="java.lang.Integer">
    select count(*) from replication_applier_status_by_coordinator
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update replication_applier_status_by_coordinator
    <set>
      <if test="record.channelName != null">
        CHANNEL_NAME = #{record.channelName,jdbcType=CHAR},
      </if>
      <if test="record.threadId != null">
        THREAD_ID = #{record.threadId,jdbcType=BIGINT},
      </if>
      <if test="record.serviceState != null">
        SERVICE_STATE = #{record.serviceState,jdbcType=CHAR},
      </if>
      <if test="record.lastErrorNumber != null">
        LAST_ERROR_NUMBER = #{record.lastErrorNumber,jdbcType=INTEGER},
      </if>
      <if test="record.lastErrorMessage != null">
        LAST_ERROR_MESSAGE = #{record.lastErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.lastErrorTimestamp != null">
        LAST_ERROR_TIMESTAMP = #{record.lastErrorTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastProcessedTransaction != null">
        LAST_PROCESSED_TRANSACTION = #{record.lastProcessedTransaction,jdbcType=CHAR},
      </if>
      <if test="record.lastProcessedTransactionOriginalCommitTimestamp != null">
        LAST_PROCESSED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{record.lastProcessedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastProcessedTransactionImmediateCommitTimestamp != null">
        LAST_PROCESSED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{record.lastProcessedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastProcessedTransactionStartBufferTimestamp != null">
        LAST_PROCESSED_TRANSACTION_START_BUFFER_TIMESTAMP = #{record.lastProcessedTransactionStartBufferTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastProcessedTransactionEndBufferTimestamp != null">
        LAST_PROCESSED_TRANSACTION_END_BUFFER_TIMESTAMP = #{record.lastProcessedTransactionEndBufferTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.processingTransaction != null">
        PROCESSING_TRANSACTION = #{record.processingTransaction,jdbcType=CHAR},
      </if>
      <if test="record.processingTransactionOriginalCommitTimestamp != null">
        PROCESSING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{record.processingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.processingTransactionImmediateCommitTimestamp != null">
        PROCESSING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{record.processingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.processingTransactionStartBufferTimestamp != null">
        PROCESSING_TRANSACTION_START_BUFFER_TIMESTAMP = #{record.processingTransactionStartBufferTimestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update replication_applier_status_by_coordinator
    set CHANNEL_NAME = #{record.channelName,jdbcType=CHAR},
      THREAD_ID = #{record.threadId,jdbcType=BIGINT},
      SERVICE_STATE = #{record.serviceState,jdbcType=CHAR},
      LAST_ERROR_NUMBER = #{record.lastErrorNumber,jdbcType=INTEGER},
      LAST_ERROR_MESSAGE = #{record.lastErrorMessage,jdbcType=VARCHAR},
      LAST_ERROR_TIMESTAMP = #{record.lastErrorTimestamp,jdbcType=TIMESTAMP},
      LAST_PROCESSED_TRANSACTION = #{record.lastProcessedTransaction,jdbcType=CHAR},
      LAST_PROCESSED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{record.lastProcessedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      LAST_PROCESSED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{record.lastProcessedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      LAST_PROCESSED_TRANSACTION_START_BUFFER_TIMESTAMP = #{record.lastProcessedTransactionStartBufferTimestamp,jdbcType=TIMESTAMP},
      LAST_PROCESSED_TRANSACTION_END_BUFFER_TIMESTAMP = #{record.lastProcessedTransactionEndBufferTimestamp,jdbcType=TIMESTAMP},
      PROCESSING_TRANSACTION = #{record.processingTransaction,jdbcType=CHAR},
      PROCESSING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{record.processingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      PROCESSING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{record.processingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      PROCESSING_TRANSACTION_START_BUFFER_TIMESTAMP = #{record.processingTransactionStartBufferTimestamp,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.ReplicationApplierStatusByCoordinator">
    update replication_applier_status_by_coordinator
    <set>
      <if test="threadId != null">
        THREAD_ID = #{threadId,jdbcType=BIGINT},
      </if>
      <if test="serviceState != null">
        SERVICE_STATE = #{serviceState,jdbcType=CHAR},
      </if>
      <if test="lastErrorNumber != null">
        LAST_ERROR_NUMBER = #{lastErrorNumber,jdbcType=INTEGER},
      </if>
      <if test="lastErrorMessage != null">
        LAST_ERROR_MESSAGE = #{lastErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="lastErrorTimestamp != null">
        LAST_ERROR_TIMESTAMP = #{lastErrorTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastProcessedTransaction != null">
        LAST_PROCESSED_TRANSACTION = #{lastProcessedTransaction,jdbcType=CHAR},
      </if>
      <if test="lastProcessedTransactionOriginalCommitTimestamp != null">
        LAST_PROCESSED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{lastProcessedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastProcessedTransactionImmediateCommitTimestamp != null">
        LAST_PROCESSED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{lastProcessedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastProcessedTransactionStartBufferTimestamp != null">
        LAST_PROCESSED_TRANSACTION_START_BUFFER_TIMESTAMP = #{lastProcessedTransactionStartBufferTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastProcessedTransactionEndBufferTimestamp != null">
        LAST_PROCESSED_TRANSACTION_END_BUFFER_TIMESTAMP = #{lastProcessedTransactionEndBufferTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="processingTransaction != null">
        PROCESSING_TRANSACTION = #{processingTransaction,jdbcType=CHAR},
      </if>
      <if test="processingTransactionOriginalCommitTimestamp != null">
        PROCESSING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{processingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="processingTransactionImmediateCommitTimestamp != null">
        PROCESSING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{processingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="processingTransactionStartBufferTimestamp != null">
        PROCESSING_TRANSACTION_START_BUFFER_TIMESTAMP = #{processingTransactionStartBufferTimestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CHANNEL_NAME = #{channelName,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.ReplicationApplierStatusByCoordinator">
    update replication_applier_status_by_coordinator
    set THREAD_ID = #{threadId,jdbcType=BIGINT},
      SERVICE_STATE = #{serviceState,jdbcType=CHAR},
      LAST_ERROR_NUMBER = #{lastErrorNumber,jdbcType=INTEGER},
      LAST_ERROR_MESSAGE = #{lastErrorMessage,jdbcType=VARCHAR},
      LAST_ERROR_TIMESTAMP = #{lastErrorTimestamp,jdbcType=TIMESTAMP},
      LAST_PROCESSED_TRANSACTION = #{lastProcessedTransaction,jdbcType=CHAR},
      LAST_PROCESSED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{lastProcessedTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      LAST_PROCESSED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{lastProcessedTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      LAST_PROCESSED_TRANSACTION_START_BUFFER_TIMESTAMP = #{lastProcessedTransactionStartBufferTimestamp,jdbcType=TIMESTAMP},
      LAST_PROCESSED_TRANSACTION_END_BUFFER_TIMESTAMP = #{lastProcessedTransactionEndBufferTimestamp,jdbcType=TIMESTAMP},
      PROCESSING_TRANSACTION = #{processingTransaction,jdbcType=CHAR},
      PROCESSING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP = #{processingTransactionOriginalCommitTimestamp,jdbcType=TIMESTAMP},
      PROCESSING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP = #{processingTransactionImmediateCommitTimestamp,jdbcType=TIMESTAMP},
      PROCESSING_TRANSACTION_START_BUFFER_TIMESTAMP = #{processingTransactionStartBufferTimestamp,jdbcType=TIMESTAMP}
    where CHANNEL_NAME = #{channelName,jdbcType=CHAR}
  </update>
</mapper>