<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.ResourceGroupsMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.ResourceGroups">
    <result column="RESOURCE_GROUP_NAME" jdbcType="VARCHAR" property="resourceGroupName" />
    <result column="RESOURCE_GROUP_TYPE" jdbcType="CHAR" property="resourceGroupType" />
    <result column="RESOURCE_GROUP_ENABLED" jdbcType="BIT" property="resourceGroupEnabled" />
    <result column="THREAD_PRIORITY" jdbcType="INTEGER" property="threadPriority" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zzp.mall.model.ResourceGroups">
    <result column="VCPU_IDS" jdbcType="LONGVARBINARY" property="vcpuIds" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RESOURCE_GROUP_NAME, RESOURCE_GROUP_TYPE, RESOURCE_GROUP_ENABLED, THREAD_PRIORITY
  </sql>
  <sql id="Blob_Column_List">
    VCPU_IDS
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zzp.mall.model.ResourceGroupsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from RESOURCE_GROUPS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zzp.mall.model.ResourceGroupsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from RESOURCE_GROUPS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.ResourceGroupsExample">
    delete from RESOURCE_GROUPS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.ResourceGroups">
    insert into RESOURCE_GROUPS (RESOURCE_GROUP_NAME, RESOURCE_GROUP_TYPE, 
      RESOURCE_GROUP_ENABLED, THREAD_PRIORITY, VCPU_IDS
      )
    values (#{resourceGroupName,jdbcType=VARCHAR}, #{resourceGroupType,jdbcType=CHAR}, 
      #{resourceGroupEnabled,jdbcType=BIT}, #{threadPriority,jdbcType=INTEGER}, #{vcpuIds,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.ResourceGroups">
    insert into RESOURCE_GROUPS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resourceGroupName != null">
        RESOURCE_GROUP_NAME,
      </if>
      <if test="resourceGroupType != null">
        RESOURCE_GROUP_TYPE,
      </if>
      <if test="resourceGroupEnabled != null">
        RESOURCE_GROUP_ENABLED,
      </if>
      <if test="threadPriority != null">
        THREAD_PRIORITY,
      </if>
      <if test="vcpuIds != null">
        VCPU_IDS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resourceGroupName != null">
        #{resourceGroupName,jdbcType=VARCHAR},
      </if>
      <if test="resourceGroupType != null">
        #{resourceGroupType,jdbcType=CHAR},
      </if>
      <if test="resourceGroupEnabled != null">
        #{resourceGroupEnabled,jdbcType=BIT},
      </if>
      <if test="threadPriority != null">
        #{threadPriority,jdbcType=INTEGER},
      </if>
      <if test="vcpuIds != null">
        #{vcpuIds,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.ResourceGroupsExample" resultType="java.lang.Integer">
    select count(*) from RESOURCE_GROUPS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update RESOURCE_GROUPS
    <set>
      <if test="record.resourceGroupName != null">
        RESOURCE_GROUP_NAME = #{record.resourceGroupName,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceGroupType != null">
        RESOURCE_GROUP_TYPE = #{record.resourceGroupType,jdbcType=CHAR},
      </if>
      <if test="record.resourceGroupEnabled != null">
        RESOURCE_GROUP_ENABLED = #{record.resourceGroupEnabled,jdbcType=BIT},
      </if>
      <if test="record.threadPriority != null">
        THREAD_PRIORITY = #{record.threadPriority,jdbcType=INTEGER},
      </if>
      <if test="record.vcpuIds != null">
        VCPU_IDS = #{record.vcpuIds,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update RESOURCE_GROUPS
    set RESOURCE_GROUP_NAME = #{record.resourceGroupName,jdbcType=VARCHAR},
      RESOURCE_GROUP_TYPE = #{record.resourceGroupType,jdbcType=CHAR},
      RESOURCE_GROUP_ENABLED = #{record.resourceGroupEnabled,jdbcType=BIT},
      THREAD_PRIORITY = #{record.threadPriority,jdbcType=INTEGER},
      VCPU_IDS = #{record.vcpuIds,jdbcType=LONGVARBINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update RESOURCE_GROUPS
    set RESOURCE_GROUP_NAME = #{record.resourceGroupName,jdbcType=VARCHAR},
      RESOURCE_GROUP_TYPE = #{record.resourceGroupType,jdbcType=CHAR},
      RESOURCE_GROUP_ENABLED = #{record.resourceGroupEnabled,jdbcType=BIT},
      THREAD_PRIORITY = #{record.threadPriority,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>