<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.RoleTableGrantsMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.RoleTableGrants">
    <result column="GRANTOR" jdbcType="VARCHAR" property="grantor" />
    <result column="GRANTOR_HOST" jdbcType="VARCHAR" property="grantorHost" />
    <result column="GRANTEE" jdbcType="CHAR" property="grantee" />
    <result column="GRANTEE_HOST" jdbcType="CHAR" property="granteeHost" />
    <result column="TABLE_CATALOG" jdbcType="VARCHAR" property="tableCatalog" />
    <result column="TABLE_SCHEMA" jdbcType="CHAR" property="tableSchema" />
    <result column="TABLE_NAME" jdbcType="CHAR" property="tableName" />
    <result column="PRIVILEGE_TYPE" jdbcType="CHAR" property="privilegeType" />
    <result column="IS_GRANTABLE" jdbcType="VARCHAR" property="isGrantable" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    GRANTOR, GRANTOR_HOST, GRANTEE, GRANTEE_HOST, TABLE_CATALOG, TABLE_SCHEMA, TABLE_NAME, 
    PRIVILEGE_TYPE, IS_GRANTABLE
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.RoleTableGrantsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ROLE_TABLE_GRANTS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.RoleTableGrantsExample">
    delete from ROLE_TABLE_GRANTS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.RoleTableGrants">
    insert into ROLE_TABLE_GRANTS (GRANTOR, GRANTOR_HOST, GRANTEE, 
      GRANTEE_HOST, TABLE_CATALOG, TABLE_SCHEMA, 
      TABLE_NAME, PRIVILEGE_TYPE, IS_GRANTABLE
      )
    values (#{grantor,jdbcType=VARCHAR}, #{grantorHost,jdbcType=VARCHAR}, #{grantee,jdbcType=CHAR}, 
      #{granteeHost,jdbcType=CHAR}, #{tableCatalog,jdbcType=VARCHAR}, #{tableSchema,jdbcType=CHAR}, 
      #{tableName,jdbcType=CHAR}, #{privilegeType,jdbcType=CHAR}, #{isGrantable,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.RoleTableGrants">
    insert into ROLE_TABLE_GRANTS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="grantor != null">
        GRANTOR,
      </if>
      <if test="grantorHost != null">
        GRANTOR_HOST,
      </if>
      <if test="grantee != null">
        GRANTEE,
      </if>
      <if test="granteeHost != null">
        GRANTEE_HOST,
      </if>
      <if test="tableCatalog != null">
        TABLE_CATALOG,
      </if>
      <if test="tableSchema != null">
        TABLE_SCHEMA,
      </if>
      <if test="tableName != null">
        TABLE_NAME,
      </if>
      <if test="privilegeType != null">
        PRIVILEGE_TYPE,
      </if>
      <if test="isGrantable != null">
        IS_GRANTABLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="grantor != null">
        #{grantor,jdbcType=VARCHAR},
      </if>
      <if test="grantorHost != null">
        #{grantorHost,jdbcType=VARCHAR},
      </if>
      <if test="grantee != null">
        #{grantee,jdbcType=CHAR},
      </if>
      <if test="granteeHost != null">
        #{granteeHost,jdbcType=CHAR},
      </if>
      <if test="tableCatalog != null">
        #{tableCatalog,jdbcType=VARCHAR},
      </if>
      <if test="tableSchema != null">
        #{tableSchema,jdbcType=CHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=CHAR},
      </if>
      <if test="privilegeType != null">
        #{privilegeType,jdbcType=CHAR},
      </if>
      <if test="isGrantable != null">
        #{isGrantable,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.RoleTableGrantsExample" resultType="java.lang.Integer">
    select count(*) from ROLE_TABLE_GRANTS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ROLE_TABLE_GRANTS
    <set>
      <if test="record.grantor != null">
        GRANTOR = #{record.grantor,jdbcType=VARCHAR},
      </if>
      <if test="record.grantorHost != null">
        GRANTOR_HOST = #{record.grantorHost,jdbcType=VARCHAR},
      </if>
      <if test="record.grantee != null">
        GRANTEE = #{record.grantee,jdbcType=CHAR},
      </if>
      <if test="record.granteeHost != null">
        GRANTEE_HOST = #{record.granteeHost,jdbcType=CHAR},
      </if>
      <if test="record.tableCatalog != null">
        TABLE_CATALOG = #{record.tableCatalog,jdbcType=VARCHAR},
      </if>
      <if test="record.tableSchema != null">
        TABLE_SCHEMA = #{record.tableSchema,jdbcType=CHAR},
      </if>
      <if test="record.tableName != null">
        TABLE_NAME = #{record.tableName,jdbcType=CHAR},
      </if>
      <if test="record.privilegeType != null">
        PRIVILEGE_TYPE = #{record.privilegeType,jdbcType=CHAR},
      </if>
      <if test="record.isGrantable != null">
        IS_GRANTABLE = #{record.isGrantable,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ROLE_TABLE_GRANTS
    set GRANTOR = #{record.grantor,jdbcType=VARCHAR},
      GRANTOR_HOST = #{record.grantorHost,jdbcType=VARCHAR},
      GRANTEE = #{record.grantee,jdbcType=CHAR},
      GRANTEE_HOST = #{record.granteeHost,jdbcType=CHAR},
      TABLE_CATALOG = #{record.tableCatalog,jdbcType=VARCHAR},
      TABLE_SCHEMA = #{record.tableSchema,jdbcType=CHAR},
      TABLE_NAME = #{record.tableName,jdbcType=CHAR},
      PRIVILEGE_TYPE = #{record.privilegeType,jdbcType=CHAR},
      IS_GRANTABLE = #{record.isGrantable,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>