<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.ServersMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.Servers">
    <id column="Server_name" jdbcType="CHAR" property="serverName" />
    <result column="Host" jdbcType="CHAR" property="host" />
    <result column="Db" jdbcType="CHAR" property="db" />
    <result column="Username" jdbcType="CHAR" property="username" />
    <result column="Password" jdbcType="CHAR" property="password" />
    <result column="Port" jdbcType="INTEGER" property="port" />
    <result column="Socket" jdbcType="CHAR" property="socket" />
    <result column="Wrapper" jdbcType="CHAR" property="wrapper" />
    <result column="Owner" jdbcType="CHAR" property="owner" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Server_name, Host, Db, Username, Password, Port, Socket, Wrapper, Owner
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.ServersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from servers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from servers
    where Server_name = #{serverName,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from servers
    where Server_name = #{serverName,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.ServersExample">
    delete from servers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.Servers">
    insert into servers (Server_name, Host, Db, 
      Username, Password, Port, 
      Socket, Wrapper, Owner)
    values (#{serverName,jdbcType=CHAR}, #{host,jdbcType=CHAR}, #{db,jdbcType=CHAR}, 
      #{username,jdbcType=CHAR}, #{password,jdbcType=CHAR}, #{port,jdbcType=INTEGER}, 
      #{socket,jdbcType=CHAR}, #{wrapper,jdbcType=CHAR}, #{owner,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.Servers">
    insert into servers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serverName != null">
        Server_name,
      </if>
      <if test="host != null">
        Host,
      </if>
      <if test="db != null">
        Db,
      </if>
      <if test="username != null">
        Username,
      </if>
      <if test="password != null">
        Password,
      </if>
      <if test="port != null">
        Port,
      </if>
      <if test="socket != null">
        Socket,
      </if>
      <if test="wrapper != null">
        Wrapper,
      </if>
      <if test="owner != null">
        Owner,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serverName != null">
        #{serverName,jdbcType=CHAR},
      </if>
      <if test="host != null">
        #{host,jdbcType=CHAR},
      </if>
      <if test="db != null">
        #{db,jdbcType=CHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=CHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=CHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=INTEGER},
      </if>
      <if test="socket != null">
        #{socket,jdbcType=CHAR},
      </if>
      <if test="wrapper != null">
        #{wrapper,jdbcType=CHAR},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.ServersExample" resultType="java.lang.Integer">
    select count(*) from servers
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update servers
    <set>
      <if test="record.serverName != null">
        Server_name = #{record.serverName,jdbcType=CHAR},
      </if>
      <if test="record.host != null">
        Host = #{record.host,jdbcType=CHAR},
      </if>
      <if test="record.db != null">
        Db = #{record.db,jdbcType=CHAR},
      </if>
      <if test="record.username != null">
        Username = #{record.username,jdbcType=CHAR},
      </if>
      <if test="record.password != null">
        Password = #{record.password,jdbcType=CHAR},
      </if>
      <if test="record.port != null">
        Port = #{record.port,jdbcType=INTEGER},
      </if>
      <if test="record.socket != null">
        Socket = #{record.socket,jdbcType=CHAR},
      </if>
      <if test="record.wrapper != null">
        Wrapper = #{record.wrapper,jdbcType=CHAR},
      </if>
      <if test="record.owner != null">
        Owner = #{record.owner,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update servers
    set Server_name = #{record.serverName,jdbcType=CHAR},
      Host = #{record.host,jdbcType=CHAR},
      Db = #{record.db,jdbcType=CHAR},
      Username = #{record.username,jdbcType=CHAR},
      Password = #{record.password,jdbcType=CHAR},
      Port = #{record.port,jdbcType=INTEGER},
      Socket = #{record.socket,jdbcType=CHAR},
      Wrapper = #{record.wrapper,jdbcType=CHAR},
      Owner = #{record.owner,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.Servers">
    update servers
    <set>
      <if test="host != null">
        Host = #{host,jdbcType=CHAR},
      </if>
      <if test="db != null">
        Db = #{db,jdbcType=CHAR},
      </if>
      <if test="username != null">
        Username = #{username,jdbcType=CHAR},
      </if>
      <if test="password != null">
        Password = #{password,jdbcType=CHAR},
      </if>
      <if test="port != null">
        Port = #{port,jdbcType=INTEGER},
      </if>
      <if test="socket != null">
        Socket = #{socket,jdbcType=CHAR},
      </if>
      <if test="wrapper != null">
        Wrapper = #{wrapper,jdbcType=CHAR},
      </if>
      <if test="owner != null">
        Owner = #{owner,jdbcType=CHAR},
      </if>
    </set>
    where Server_name = #{serverName,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.Servers">
    update servers
    set Host = #{host,jdbcType=CHAR},
      Db = #{db,jdbcType=CHAR},
      Username = #{username,jdbcType=CHAR},
      Password = #{password,jdbcType=CHAR},
      Port = #{port,jdbcType=INTEGER},
      Socket = #{socket,jdbcType=CHAR},
      Wrapper = #{wrapper,jdbcType=CHAR},
      Owner = #{owner,jdbcType=CHAR}
    where Server_name = #{serverName,jdbcType=CHAR}
  </update>
</mapper>