<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.SetupThreadsMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.SetupThreads">
    <id column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ENABLED" jdbcType="CHAR" property="enabled" />
    <result column="HISTORY" jdbcType="CHAR" property="history" />
    <result column="PROPERTIES" jdbcType="CHAR" property="properties" />
    <result column="VOLATILITY" jdbcType="INTEGER" property="volatility" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zzp.mall.model.SetupThreads">
    <result column="DOCUMENTATION" jdbcType="LONGVARCHAR" property="documentation" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    NAME, ENABLED, HISTORY, PROPERTIES, VOLATILITY
  </sql>
  <sql id="Blob_Column_List">
    DOCUMENTATION
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zzp.mall.model.SetupThreadsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from setup_threads
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zzp.mall.model.SetupThreadsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from setup_threads
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from setup_threads
    where NAME = #{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from setup_threads
    where NAME = #{name,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.SetupThreadsExample">
    delete from setup_threads
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.SetupThreads">
    insert into setup_threads (NAME, ENABLED, HISTORY, 
      PROPERTIES, VOLATILITY, DOCUMENTATION
      )
    values (#{name,jdbcType=VARCHAR}, #{enabled,jdbcType=CHAR}, #{history,jdbcType=CHAR}, 
      #{properties,jdbcType=CHAR}, #{volatility,jdbcType=INTEGER}, #{documentation,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.SetupThreads">
    insert into setup_threads
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        NAME,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="history != null">
        HISTORY,
      </if>
      <if test="properties != null">
        PROPERTIES,
      </if>
      <if test="volatility != null">
        VOLATILITY,
      </if>
      <if test="documentation != null">
        DOCUMENTATION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=CHAR},
      </if>
      <if test="history != null">
        #{history,jdbcType=CHAR},
      </if>
      <if test="properties != null">
        #{properties,jdbcType=CHAR},
      </if>
      <if test="volatility != null">
        #{volatility,jdbcType=INTEGER},
      </if>
      <if test="documentation != null">
        #{documentation,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.SetupThreadsExample" resultType="java.lang.Integer">
    select count(*) from setup_threads
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update setup_threads
    <set>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.enabled != null">
        ENABLED = #{record.enabled,jdbcType=CHAR},
      </if>
      <if test="record.history != null">
        HISTORY = #{record.history,jdbcType=CHAR},
      </if>
      <if test="record.properties != null">
        PROPERTIES = #{record.properties,jdbcType=CHAR},
      </if>
      <if test="record.volatility != null">
        VOLATILITY = #{record.volatility,jdbcType=INTEGER},
      </if>
      <if test="record.documentation != null">
        DOCUMENTATION = #{record.documentation,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update setup_threads
    set NAME = #{record.name,jdbcType=VARCHAR},
      ENABLED = #{record.enabled,jdbcType=CHAR},
      HISTORY = #{record.history,jdbcType=CHAR},
      PROPERTIES = #{record.properties,jdbcType=CHAR},
      VOLATILITY = #{record.volatility,jdbcType=INTEGER},
      DOCUMENTATION = #{record.documentation,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update setup_threads
    set NAME = #{record.name,jdbcType=VARCHAR},
      ENABLED = #{record.enabled,jdbcType=CHAR},
      HISTORY = #{record.history,jdbcType=CHAR},
      PROPERTIES = #{record.properties,jdbcType=CHAR},
      VOLATILITY = #{record.volatility,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.SetupThreads">
    update setup_threads
    <set>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=CHAR},
      </if>
      <if test="history != null">
        HISTORY = #{history,jdbcType=CHAR},
      </if>
      <if test="properties != null">
        PROPERTIES = #{properties,jdbcType=CHAR},
      </if>
      <if test="volatility != null">
        VOLATILITY = #{volatility,jdbcType=INTEGER},
      </if>
      <if test="documentation != null">
        DOCUMENTATION = #{documentation,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where NAME = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zzp.mall.model.SetupThreads">
    update setup_threads
    set ENABLED = #{enabled,jdbcType=CHAR},
      HISTORY = #{history,jdbcType=CHAR},
      PROPERTIES = #{properties,jdbcType=CHAR},
      VOLATILITY = #{volatility,jdbcType=INTEGER},
      DOCUMENTATION = #{documentation,jdbcType=LONGVARCHAR}
    where NAME = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.SetupThreads">
    update setup_threads
    set ENABLED = #{enabled,jdbcType=CHAR},
      HISTORY = #{history,jdbcType=CHAR},
      PROPERTIES = #{properties,jdbcType=CHAR},
      VOLATILITY = #{volatility,jdbcType=INTEGER}
    where NAME = #{name,jdbcType=VARCHAR}
  </update>
</mapper>