<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.SlaveWorkerInfoMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.SlaveWorkerInfo">
    <id column="Channel_name" jdbcType="CHAR" property="channelName" />
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Relay_log_pos" jdbcType="BIGINT" property="relayLogPos" />
    <result column="Master_log_pos" jdbcType="BIGINT" property="masterLogPos" />
    <result column="Checkpoint_relay_log_pos" jdbcType="BIGINT" property="checkpointRelayLogPos" />
    <result column="Checkpoint_master_log_pos" jdbcType="BIGINT" property="checkpointMasterLogPos" />
    <result column="Checkpoint_seqno" jdbcType="INTEGER" property="checkpointSeqno" />
    <result column="Checkpoint_group_size" jdbcType="INTEGER" property="checkpointGroupSize" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zzp.mall.model.SlaveWorkerInfo">
    <result column="Relay_log_name" jdbcType="LONGVARCHAR" property="relayLogName" />
    <result column="Master_log_name" jdbcType="LONGVARCHAR" property="masterLogName" />
    <result column="Checkpoint_relay_log_name" jdbcType="LONGVARCHAR" property="checkpointRelayLogName" />
    <result column="Checkpoint_master_log_name" jdbcType="LONGVARCHAR" property="checkpointMasterLogName" />
    <result column="Checkpoint_group_bitmap" jdbcType="LONGVARBINARY" property="checkpointGroupBitmap" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Channel_name, Id, Relay_log_pos, Master_log_pos, Checkpoint_relay_log_pos, Checkpoint_master_log_pos, 
    Checkpoint_seqno, Checkpoint_group_size
  </sql>
  <sql id="Blob_Column_List">
    Relay_log_name, Master_log_name, Checkpoint_relay_log_name, Checkpoint_master_log_name, 
    Checkpoint_group_bitmap
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zzp.mall.model.SlaveWorkerInfoExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from slave_worker_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zzp.mall.model.SlaveWorkerInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from slave_worker_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from slave_worker_info
    where Channel_name = #{channelName,jdbcType=CHAR}
      and Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from slave_worker_info
    where Channel_name = #{channelName,jdbcType=CHAR}
      and Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.SlaveWorkerInfoExample">
    delete from slave_worker_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.SlaveWorkerInfo">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into slave_worker_info (Channel_name, Id, Relay_log_pos, 
      Master_log_pos, Checkpoint_relay_log_pos, Checkpoint_master_log_pos, 
      Checkpoint_seqno, Checkpoint_group_size, Relay_log_name, 
      Master_log_name, Checkpoint_relay_log_name, 
      Checkpoint_master_log_name, Checkpoint_group_bitmap
      )
    values (#{channelName,jdbcType=CHAR}, #{id,jdbcType=INTEGER}, #{relayLogPos,jdbcType=BIGINT}, 
      #{masterLogPos,jdbcType=BIGINT}, #{checkpointRelayLogPos,jdbcType=BIGINT}, #{checkpointMasterLogPos,jdbcType=BIGINT}, 
      #{checkpointSeqno,jdbcType=INTEGER}, #{checkpointGroupSize,jdbcType=INTEGER}, #{relayLogName,jdbcType=LONGVARCHAR}, 
      #{masterLogName,jdbcType=LONGVARCHAR}, #{checkpointRelayLogName,jdbcType=LONGVARCHAR}, 
      #{checkpointMasterLogName,jdbcType=LONGVARCHAR}, #{checkpointGroupBitmap,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.SlaveWorkerInfo">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into slave_worker_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="channelName != null">
        Channel_name,
      </if>
      Id,
      <if test="relayLogPos != null">
        Relay_log_pos,
      </if>
      <if test="masterLogPos != null">
        Master_log_pos,
      </if>
      <if test="checkpointRelayLogPos != null">
        Checkpoint_relay_log_pos,
      </if>
      <if test="checkpointMasterLogPos != null">
        Checkpoint_master_log_pos,
      </if>
      <if test="checkpointSeqno != null">
        Checkpoint_seqno,
      </if>
      <if test="checkpointGroupSize != null">
        Checkpoint_group_size,
      </if>
      <if test="relayLogName != null">
        Relay_log_name,
      </if>
      <if test="masterLogName != null">
        Master_log_name,
      </if>
      <if test="checkpointRelayLogName != null">
        Checkpoint_relay_log_name,
      </if>
      <if test="checkpointMasterLogName != null">
        Checkpoint_master_log_name,
      </if>
      <if test="checkpointGroupBitmap != null">
        Checkpoint_group_bitmap,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="channelName != null">
        #{channelName,jdbcType=CHAR},
      </if>
      #{id,jdbcType=INTEGER},
      <if test="relayLogPos != null">
        #{relayLogPos,jdbcType=BIGINT},
      </if>
      <if test="masterLogPos != null">
        #{masterLogPos,jdbcType=BIGINT},
      </if>
      <if test="checkpointRelayLogPos != null">
        #{checkpointRelayLogPos,jdbcType=BIGINT},
      </if>
      <if test="checkpointMasterLogPos != null">
        #{checkpointMasterLogPos,jdbcType=BIGINT},
      </if>
      <if test="checkpointSeqno != null">
        #{checkpointSeqno,jdbcType=INTEGER},
      </if>
      <if test="checkpointGroupSize != null">
        #{checkpointGroupSize,jdbcType=INTEGER},
      </if>
      <if test="relayLogName != null">
        #{relayLogName,jdbcType=LONGVARCHAR},
      </if>
      <if test="masterLogName != null">
        #{masterLogName,jdbcType=LONGVARCHAR},
      </if>
      <if test="checkpointRelayLogName != null">
        #{checkpointRelayLogName,jdbcType=LONGVARCHAR},
      </if>
      <if test="checkpointMasterLogName != null">
        #{checkpointMasterLogName,jdbcType=LONGVARCHAR},
      </if>
      <if test="checkpointGroupBitmap != null">
        #{checkpointGroupBitmap,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.SlaveWorkerInfoExample" resultType="java.lang.Integer">
    select count(*) from slave_worker_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update slave_worker_info
    <set>
      <if test="record.channelName != null">
        Channel_name = #{record.channelName,jdbcType=CHAR},
      </if>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.relayLogPos != null">
        Relay_log_pos = #{record.relayLogPos,jdbcType=BIGINT},
      </if>
      <if test="record.masterLogPos != null">
        Master_log_pos = #{record.masterLogPos,jdbcType=BIGINT},
      </if>
      <if test="record.checkpointRelayLogPos != null">
        Checkpoint_relay_log_pos = #{record.checkpointRelayLogPos,jdbcType=BIGINT},
      </if>
      <if test="record.checkpointMasterLogPos != null">
        Checkpoint_master_log_pos = #{record.checkpointMasterLogPos,jdbcType=BIGINT},
      </if>
      <if test="record.checkpointSeqno != null">
        Checkpoint_seqno = #{record.checkpointSeqno,jdbcType=INTEGER},
      </if>
      <if test="record.checkpointGroupSize != null">
        Checkpoint_group_size = #{record.checkpointGroupSize,jdbcType=INTEGER},
      </if>
      <if test="record.relayLogName != null">
        Relay_log_name = #{record.relayLogName,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.masterLogName != null">
        Master_log_name = #{record.masterLogName,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.checkpointRelayLogName != null">
        Checkpoint_relay_log_name = #{record.checkpointRelayLogName,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.checkpointMasterLogName != null">
        Checkpoint_master_log_name = #{record.checkpointMasterLogName,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.checkpointGroupBitmap != null">
        Checkpoint_group_bitmap = #{record.checkpointGroupBitmap,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update slave_worker_info
    set Channel_name = #{record.channelName,jdbcType=CHAR},
      Id = #{record.id,jdbcType=INTEGER},
      Relay_log_pos = #{record.relayLogPos,jdbcType=BIGINT},
      Master_log_pos = #{record.masterLogPos,jdbcType=BIGINT},
      Checkpoint_relay_log_pos = #{record.checkpointRelayLogPos,jdbcType=BIGINT},
      Checkpoint_master_log_pos = #{record.checkpointMasterLogPos,jdbcType=BIGINT},
      Checkpoint_seqno = #{record.checkpointSeqno,jdbcType=INTEGER},
      Checkpoint_group_size = #{record.checkpointGroupSize,jdbcType=INTEGER},
      Relay_log_name = #{record.relayLogName,jdbcType=LONGVARCHAR},
      Master_log_name = #{record.masterLogName,jdbcType=LONGVARCHAR},
      Checkpoint_relay_log_name = #{record.checkpointRelayLogName,jdbcType=LONGVARCHAR},
      Checkpoint_master_log_name = #{record.checkpointMasterLogName,jdbcType=LONGVARCHAR},
      Checkpoint_group_bitmap = #{record.checkpointGroupBitmap,jdbcType=LONGVARBINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update slave_worker_info
    set Channel_name = #{record.channelName,jdbcType=CHAR},
      Id = #{record.id,jdbcType=INTEGER},
      Relay_log_pos = #{record.relayLogPos,jdbcType=BIGINT},
      Master_log_pos = #{record.masterLogPos,jdbcType=BIGINT},
      Checkpoint_relay_log_pos = #{record.checkpointRelayLogPos,jdbcType=BIGINT},
      Checkpoint_master_log_pos = #{record.checkpointMasterLogPos,jdbcType=BIGINT},
      Checkpoint_seqno = #{record.checkpointSeqno,jdbcType=INTEGER},
      Checkpoint_group_size = #{record.checkpointGroupSize,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.SlaveWorkerInfo">
    update slave_worker_info
    <set>
      <if test="relayLogPos != null">
        Relay_log_pos = #{relayLogPos,jdbcType=BIGINT},
      </if>
      <if test="masterLogPos != null">
        Master_log_pos = #{masterLogPos,jdbcType=BIGINT},
      </if>
      <if test="checkpointRelayLogPos != null">
        Checkpoint_relay_log_pos = #{checkpointRelayLogPos,jdbcType=BIGINT},
      </if>
      <if test="checkpointMasterLogPos != null">
        Checkpoint_master_log_pos = #{checkpointMasterLogPos,jdbcType=BIGINT},
      </if>
      <if test="checkpointSeqno != null">
        Checkpoint_seqno = #{checkpointSeqno,jdbcType=INTEGER},
      </if>
      <if test="checkpointGroupSize != null">
        Checkpoint_group_size = #{checkpointGroupSize,jdbcType=INTEGER},
      </if>
      <if test="relayLogName != null">
        Relay_log_name = #{relayLogName,jdbcType=LONGVARCHAR},
      </if>
      <if test="masterLogName != null">
        Master_log_name = #{masterLogName,jdbcType=LONGVARCHAR},
      </if>
      <if test="checkpointRelayLogName != null">
        Checkpoint_relay_log_name = #{checkpointRelayLogName,jdbcType=LONGVARCHAR},
      </if>
      <if test="checkpointMasterLogName != null">
        Checkpoint_master_log_name = #{checkpointMasterLogName,jdbcType=LONGVARCHAR},
      </if>
      <if test="checkpointGroupBitmap != null">
        Checkpoint_group_bitmap = #{checkpointGroupBitmap,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where Channel_name = #{channelName,jdbcType=CHAR}
      and Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zzp.mall.model.SlaveWorkerInfo">
    update slave_worker_info
    set Relay_log_pos = #{relayLogPos,jdbcType=BIGINT},
      Master_log_pos = #{masterLogPos,jdbcType=BIGINT},
      Checkpoint_relay_log_pos = #{checkpointRelayLogPos,jdbcType=BIGINT},
      Checkpoint_master_log_pos = #{checkpointMasterLogPos,jdbcType=BIGINT},
      Checkpoint_seqno = #{checkpointSeqno,jdbcType=INTEGER},
      Checkpoint_group_size = #{checkpointGroupSize,jdbcType=INTEGER},
      Relay_log_name = #{relayLogName,jdbcType=LONGVARCHAR},
      Master_log_name = #{masterLogName,jdbcType=LONGVARCHAR},
      Checkpoint_relay_log_name = #{checkpointRelayLogName,jdbcType=LONGVARCHAR},
      Checkpoint_master_log_name = #{checkpointMasterLogName,jdbcType=LONGVARCHAR},
      Checkpoint_group_bitmap = #{checkpointGroupBitmap,jdbcType=LONGVARBINARY}
    where Channel_name = #{channelName,jdbcType=CHAR}
      and Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.SlaveWorkerInfo">
    update slave_worker_info
    set Relay_log_pos = #{relayLogPos,jdbcType=BIGINT},
      Master_log_pos = #{masterLogPos,jdbcType=BIGINT},
      Checkpoint_relay_log_pos = #{checkpointRelayLogPos,jdbcType=BIGINT},
      Checkpoint_master_log_pos = #{checkpointMasterLogPos,jdbcType=BIGINT},
      Checkpoint_seqno = #{checkpointSeqno,jdbcType=INTEGER},
      Checkpoint_group_size = #{checkpointGroupSize,jdbcType=INTEGER}
    where Channel_name = #{channelName,jdbcType=CHAR}
      and Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>