<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.StatusByHostMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.StatusByHost">
    <result column="HOST" jdbcType="CHAR" property="host" />
    <result column="VARIABLE_NAME" jdbcType="VARCHAR" property="variableName" />
    <result column="VARIABLE_VALUE" jdbcType="VARCHAR" property="variableValue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    HOST, VARIABLE_NAME, VARIABLE_VALUE
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.StatusByHostExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from status_by_host
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.StatusByHostExample">
    delete from status_by_host
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.StatusByHost">
    insert into status_by_host (HOST, VARIABLE_NAME, VARIABLE_VALUE
      )
    values (#{host,jdbcType=CHAR}, #{variableName,jdbcType=VARCHAR}, #{variableValue,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.StatusByHost">
    insert into status_by_host
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="host != null">
        HOST,
      </if>
      <if test="variableName != null">
        VARIABLE_NAME,
      </if>
      <if test="variableValue != null">
        VARIABLE_VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="host != null">
        #{host,jdbcType=CHAR},
      </if>
      <if test="variableName != null">
        #{variableName,jdbcType=VARCHAR},
      </if>
      <if test="variableValue != null">
        #{variableValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.StatusByHostExample" resultType="java.lang.Integer">
    select count(*) from status_by_host
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update status_by_host
    <set>
      <if test="record.host != null">
        HOST = #{record.host,jdbcType=CHAR},
      </if>
      <if test="record.variableName != null">
        VARIABLE_NAME = #{record.variableName,jdbcType=VARCHAR},
      </if>
      <if test="record.variableValue != null">
        VARIABLE_VALUE = #{record.variableValue,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update status_by_host
    set HOST = #{record.host,jdbcType=CHAR},
      VARIABLE_NAME = #{record.variableName,jdbcType=VARCHAR},
      VARIABLE_VALUE = #{record.variableValue,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>