<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.TableLockWaitsSummaryByTableMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.TableLockWaitsSummaryByTable">
    <result column="OBJECT_TYPE" jdbcType="VARCHAR" property="objectType" />
    <result column="OBJECT_SCHEMA" jdbcType="VARCHAR" property="objectSchema" />
    <result column="OBJECT_NAME" jdbcType="VARCHAR" property="objectName" />
    <result column="COUNT_STAR" jdbcType="BIGINT" property="countStar" />
    <result column="SUM_TIMER_WAIT" jdbcType="BIGINT" property="sumTimerWait" />
    <result column="MIN_TIMER_WAIT" jdbcType="BIGINT" property="minTimerWait" />
    <result column="AVG_TIMER_WAIT" jdbcType="BIGINT" property="avgTimerWait" />
    <result column="MAX_TIMER_WAIT" jdbcType="BIGINT" property="maxTimerWait" />
    <result column="COUNT_READ" jdbcType="BIGINT" property="countRead" />
    <result column="SUM_TIMER_READ" jdbcType="BIGINT" property="sumTimerRead" />
    <result column="MIN_TIMER_READ" jdbcType="BIGINT" property="minTimerRead" />
    <result column="AVG_TIMER_READ" jdbcType="BIGINT" property="avgTimerRead" />
    <result column="MAX_TIMER_READ" jdbcType="BIGINT" property="maxTimerRead" />
    <result column="COUNT_WRITE" jdbcType="BIGINT" property="countWrite" />
    <result column="SUM_TIMER_WRITE" jdbcType="BIGINT" property="sumTimerWrite" />
    <result column="MIN_TIMER_WRITE" jdbcType="BIGINT" property="minTimerWrite" />
    <result column="AVG_TIMER_WRITE" jdbcType="BIGINT" property="avgTimerWrite" />
    <result column="MAX_TIMER_WRITE" jdbcType="BIGINT" property="maxTimerWrite" />
    <result column="COUNT_READ_NORMAL" jdbcType="BIGINT" property="countReadNormal" />
    <result column="SUM_TIMER_READ_NORMAL" jdbcType="BIGINT" property="sumTimerReadNormal" />
    <result column="MIN_TIMER_READ_NORMAL" jdbcType="BIGINT" property="minTimerReadNormal" />
    <result column="AVG_TIMER_READ_NORMAL" jdbcType="BIGINT" property="avgTimerReadNormal" />
    <result column="MAX_TIMER_READ_NORMAL" jdbcType="BIGINT" property="maxTimerReadNormal" />
    <result column="COUNT_READ_WITH_SHARED_LOCKS" jdbcType="BIGINT" property="countReadWithSharedLocks" />
    <result column="SUM_TIMER_READ_WITH_SHARED_LOCKS" jdbcType="BIGINT" property="sumTimerReadWithSharedLocks" />
    <result column="MIN_TIMER_READ_WITH_SHARED_LOCKS" jdbcType="BIGINT" property="minTimerReadWithSharedLocks" />
    <result column="AVG_TIMER_READ_WITH_SHARED_LOCKS" jdbcType="BIGINT" property="avgTimerReadWithSharedLocks" />
    <result column="MAX_TIMER_READ_WITH_SHARED_LOCKS" jdbcType="BIGINT" property="maxTimerReadWithSharedLocks" />
    <result column="COUNT_READ_HIGH_PRIORITY" jdbcType="BIGINT" property="countReadHighPriority" />
    <result column="SUM_TIMER_READ_HIGH_PRIORITY" jdbcType="BIGINT" property="sumTimerReadHighPriority" />
    <result column="MIN_TIMER_READ_HIGH_PRIORITY" jdbcType="BIGINT" property="minTimerReadHighPriority" />
    <result column="AVG_TIMER_READ_HIGH_PRIORITY" jdbcType="BIGINT" property="avgTimerReadHighPriority" />
    <result column="MAX_TIMER_READ_HIGH_PRIORITY" jdbcType="BIGINT" property="maxTimerReadHighPriority" />
    <result column="COUNT_READ_NO_INSERT" jdbcType="BIGINT" property="countReadNoInsert" />
    <result column="SUM_TIMER_READ_NO_INSERT" jdbcType="BIGINT" property="sumTimerReadNoInsert" />
    <result column="MIN_TIMER_READ_NO_INSERT" jdbcType="BIGINT" property="minTimerReadNoInsert" />
    <result column="AVG_TIMER_READ_NO_INSERT" jdbcType="BIGINT" property="avgTimerReadNoInsert" />
    <result column="MAX_TIMER_READ_NO_INSERT" jdbcType="BIGINT" property="maxTimerReadNoInsert" />
    <result column="COUNT_READ_EXTERNAL" jdbcType="BIGINT" property="countReadExternal" />
    <result column="SUM_TIMER_READ_EXTERNAL" jdbcType="BIGINT" property="sumTimerReadExternal" />
    <result column="MIN_TIMER_READ_EXTERNAL" jdbcType="BIGINT" property="minTimerReadExternal" />
    <result column="AVG_TIMER_READ_EXTERNAL" jdbcType="BIGINT" property="avgTimerReadExternal" />
    <result column="MAX_TIMER_READ_EXTERNAL" jdbcType="BIGINT" property="maxTimerReadExternal" />
    <result column="COUNT_WRITE_ALLOW_WRITE" jdbcType="BIGINT" property="countWriteAllowWrite" />
    <result column="SUM_TIMER_WRITE_ALLOW_WRITE" jdbcType="BIGINT" property="sumTimerWriteAllowWrite" />
    <result column="MIN_TIMER_WRITE_ALLOW_WRITE" jdbcType="BIGINT" property="minTimerWriteAllowWrite" />
    <result column="AVG_TIMER_WRITE_ALLOW_WRITE" jdbcType="BIGINT" property="avgTimerWriteAllowWrite" />
    <result column="MAX_TIMER_WRITE_ALLOW_WRITE" jdbcType="BIGINT" property="maxTimerWriteAllowWrite" />
    <result column="COUNT_WRITE_CONCURRENT_INSERT" jdbcType="BIGINT" property="countWriteConcurrentInsert" />
    <result column="SUM_TIMER_WRITE_CONCURRENT_INSERT" jdbcType="BIGINT" property="sumTimerWriteConcurrentInsert" />
    <result column="MIN_TIMER_WRITE_CONCURRENT_INSERT" jdbcType="BIGINT" property="minTimerWriteConcurrentInsert" />
    <result column="AVG_TIMER_WRITE_CONCURRENT_INSERT" jdbcType="BIGINT" property="avgTimerWriteConcurrentInsert" />
    <result column="MAX_TIMER_WRITE_CONCURRENT_INSERT" jdbcType="BIGINT" property="maxTimerWriteConcurrentInsert" />
    <result column="COUNT_WRITE_LOW_PRIORITY" jdbcType="BIGINT" property="countWriteLowPriority" />
    <result column="SUM_TIMER_WRITE_LOW_PRIORITY" jdbcType="BIGINT" property="sumTimerWriteLowPriority" />
    <result column="MIN_TIMER_WRITE_LOW_PRIORITY" jdbcType="BIGINT" property="minTimerWriteLowPriority" />
    <result column="AVG_TIMER_WRITE_LOW_PRIORITY" jdbcType="BIGINT" property="avgTimerWriteLowPriority" />
    <result column="MAX_TIMER_WRITE_LOW_PRIORITY" jdbcType="BIGINT" property="maxTimerWriteLowPriority" />
    <result column="COUNT_WRITE_NORMAL" jdbcType="BIGINT" property="countWriteNormal" />
    <result column="SUM_TIMER_WRITE_NORMAL" jdbcType="BIGINT" property="sumTimerWriteNormal" />
    <result column="MIN_TIMER_WRITE_NORMAL" jdbcType="BIGINT" property="minTimerWriteNormal" />
    <result column="AVG_TIMER_WRITE_NORMAL" jdbcType="BIGINT" property="avgTimerWriteNormal" />
    <result column="MAX_TIMER_WRITE_NORMAL" jdbcType="BIGINT" property="maxTimerWriteNormal" />
    <result column="COUNT_WRITE_EXTERNAL" jdbcType="BIGINT" property="countWriteExternal" />
    <result column="SUM_TIMER_WRITE_EXTERNAL" jdbcType="BIGINT" property="sumTimerWriteExternal" />
    <result column="MIN_TIMER_WRITE_EXTERNAL" jdbcType="BIGINT" property="minTimerWriteExternal" />
    <result column="AVG_TIMER_WRITE_EXTERNAL" jdbcType="BIGINT" property="avgTimerWriteExternal" />
    <result column="MAX_TIMER_WRITE_EXTERNAL" jdbcType="BIGINT" property="maxTimerWriteExternal" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    OBJECT_TYPE, OBJECT_SCHEMA, OBJECT_NAME, COUNT_STAR, SUM_TIMER_WAIT, MIN_TIMER_WAIT, 
    AVG_TIMER_WAIT, MAX_TIMER_WAIT, COUNT_READ, SUM_TIMER_READ, MIN_TIMER_READ, AVG_TIMER_READ, 
    MAX_TIMER_READ, COUNT_WRITE, SUM_TIMER_WRITE, MIN_TIMER_WRITE, AVG_TIMER_WRITE, MAX_TIMER_WRITE, 
    COUNT_READ_NORMAL, SUM_TIMER_READ_NORMAL, MIN_TIMER_READ_NORMAL, AVG_TIMER_READ_NORMAL, 
    MAX_TIMER_READ_NORMAL, COUNT_READ_WITH_SHARED_LOCKS, SUM_TIMER_READ_WITH_SHARED_LOCKS, 
    MIN_TIMER_READ_WITH_SHARED_LOCKS, AVG_TIMER_READ_WITH_SHARED_LOCKS, MAX_TIMER_READ_WITH_SHARED_LOCKS, 
    COUNT_READ_HIGH_PRIORITY, SUM_TIMER_READ_HIGH_PRIORITY, MIN_TIMER_READ_HIGH_PRIORITY, 
    AVG_TIMER_READ_HIGH_PRIORITY, MAX_TIMER_READ_HIGH_PRIORITY, COUNT_READ_NO_INSERT, 
    SUM_TIMER_READ_NO_INSERT, MIN_TIMER_READ_NO_INSERT, AVG_TIMER_READ_NO_INSERT, MAX_TIMER_READ_NO_INSERT, 
    COUNT_READ_EXTERNAL, SUM_TIMER_READ_EXTERNAL, MIN_TIMER_READ_EXTERNAL, AVG_TIMER_READ_EXTERNAL, 
    MAX_TIMER_READ_EXTERNAL, COUNT_WRITE_ALLOW_WRITE, SUM_TIMER_WRITE_ALLOW_WRITE, MIN_TIMER_WRITE_ALLOW_WRITE, 
    AVG_TIMER_WRITE_ALLOW_WRITE, MAX_TIMER_WRITE_ALLOW_WRITE, COUNT_WRITE_CONCURRENT_INSERT, 
    SUM_TIMER_WRITE_CONCURRENT_INSERT, MIN_TIMER_WRITE_CONCURRENT_INSERT, AVG_TIMER_WRITE_CONCURRENT_INSERT, 
    MAX_TIMER_WRITE_CONCURRENT_INSERT, COUNT_WRITE_LOW_PRIORITY, SUM_TIMER_WRITE_LOW_PRIORITY, 
    MIN_TIMER_WRITE_LOW_PRIORITY, AVG_TIMER_WRITE_LOW_PRIORITY, MAX_TIMER_WRITE_LOW_PRIORITY, 
    COUNT_WRITE_NORMAL, SUM_TIMER_WRITE_NORMAL, MIN_TIMER_WRITE_NORMAL, AVG_TIMER_WRITE_NORMAL, 
    MAX_TIMER_WRITE_NORMAL, COUNT_WRITE_EXTERNAL, SUM_TIMER_WRITE_EXTERNAL, MIN_TIMER_WRITE_EXTERNAL, 
    AVG_TIMER_WRITE_EXTERNAL, MAX_TIMER_WRITE_EXTERNAL
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.TableLockWaitsSummaryByTableExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from table_lock_waits_summary_by_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.TableLockWaitsSummaryByTableExample">
    delete from table_lock_waits_summary_by_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.TableLockWaitsSummaryByTable">
    insert into table_lock_waits_summary_by_table (OBJECT_TYPE, OBJECT_SCHEMA, OBJECT_NAME, 
      COUNT_STAR, SUM_TIMER_WAIT, MIN_TIMER_WAIT, 
      AVG_TIMER_WAIT, MAX_TIMER_WAIT, COUNT_READ, 
      SUM_TIMER_READ, MIN_TIMER_READ, AVG_TIMER_READ, 
      MAX_TIMER_READ, COUNT_WRITE, SUM_TIMER_WRITE, 
      MIN_TIMER_WRITE, AVG_TIMER_WRITE, MAX_TIMER_WRITE, 
      COUNT_READ_NORMAL, SUM_TIMER_READ_NORMAL, MIN_TIMER_READ_NORMAL, 
      AVG_TIMER_READ_NORMAL, MAX_TIMER_READ_NORMAL, COUNT_READ_WITH_SHARED_LOCKS, 
      SUM_TIMER_READ_WITH_SHARED_LOCKS, MIN_TIMER_READ_WITH_SHARED_LOCKS, 
      AVG_TIMER_READ_WITH_SHARED_LOCKS, MAX_TIMER_READ_WITH_SHARED_LOCKS, 
      COUNT_READ_HIGH_PRIORITY, SUM_TIMER_READ_HIGH_PRIORITY, 
      MIN_TIMER_READ_HIGH_PRIORITY, AVG_TIMER_READ_HIGH_PRIORITY, 
      MAX_TIMER_READ_HIGH_PRIORITY, COUNT_READ_NO_INSERT, 
      SUM_TIMER_READ_NO_INSERT, MIN_TIMER_READ_NO_INSERT, 
      AVG_TIMER_READ_NO_INSERT, MAX_TIMER_READ_NO_INSERT, 
      COUNT_READ_EXTERNAL, SUM_TIMER_READ_EXTERNAL, 
      MIN_TIMER_READ_EXTERNAL, AVG_TIMER_READ_EXTERNAL, 
      MAX_TIMER_READ_EXTERNAL, COUNT_WRITE_ALLOW_WRITE, 
      SUM_TIMER_WRITE_ALLOW_WRITE, MIN_TIMER_WRITE_ALLOW_WRITE, 
      AVG_TIMER_WRITE_ALLOW_WRITE, MAX_TIMER_WRITE_ALLOW_WRITE, 
      COUNT_WRITE_CONCURRENT_INSERT, SUM_TIMER_WRITE_CONCURRENT_INSERT, 
      MIN_TIMER_WRITE_CONCURRENT_INSERT, AVG_TIMER_WRITE_CONCURRENT_INSERT, 
      MAX_TIMER_WRITE_CONCURRENT_INSERT, COUNT_WRITE_LOW_PRIORITY, 
      SUM_TIMER_WRITE_LOW_PRIORITY, MIN_TIMER_WRITE_LOW_PRIORITY, 
      AVG_TIMER_WRITE_LOW_PRIORITY, MAX_TIMER_WRITE_LOW_PRIORITY, 
      COUNT_WRITE_NORMAL, SUM_TIMER_WRITE_NORMAL, MIN_TIMER_WRITE_NORMAL, 
      AVG_TIMER_WRITE_NORMAL, MAX_TIMER_WRITE_NORMAL, 
      COUNT_WRITE_EXTERNAL, SUM_TIMER_WRITE_EXTERNAL, 
      MIN_TIMER_WRITE_EXTERNAL, AVG_TIMER_WRITE_EXTERNAL, 
      MAX_TIMER_WRITE_EXTERNAL)
    values (#{objectType,jdbcType=VARCHAR}, #{objectSchema,jdbcType=VARCHAR}, #{objectName,jdbcType=VARCHAR}, 
      #{countStar,jdbcType=BIGINT}, #{sumTimerWait,jdbcType=BIGINT}, #{minTimerWait,jdbcType=BIGINT}, 
      #{avgTimerWait,jdbcType=BIGINT}, #{maxTimerWait,jdbcType=BIGINT}, #{countRead,jdbcType=BIGINT}, 
      #{sumTimerRead,jdbcType=BIGINT}, #{minTimerRead,jdbcType=BIGINT}, #{avgTimerRead,jdbcType=BIGINT}, 
      #{maxTimerRead,jdbcType=BIGINT}, #{countWrite,jdbcType=BIGINT}, #{sumTimerWrite,jdbcType=BIGINT}, 
      #{minTimerWrite,jdbcType=BIGINT}, #{avgTimerWrite,jdbcType=BIGINT}, #{maxTimerWrite,jdbcType=BIGINT}, 
      #{countReadNormal,jdbcType=BIGINT}, #{sumTimerReadNormal,jdbcType=BIGINT}, #{minTimerReadNormal,jdbcType=BIGINT}, 
      #{avgTimerReadNormal,jdbcType=BIGINT}, #{maxTimerReadNormal,jdbcType=BIGINT}, #{countReadWithSharedLocks,jdbcType=BIGINT}, 
      #{sumTimerReadWithSharedLocks,jdbcType=BIGINT}, #{minTimerReadWithSharedLocks,jdbcType=BIGINT}, 
      #{avgTimerReadWithSharedLocks,jdbcType=BIGINT}, #{maxTimerReadWithSharedLocks,jdbcType=BIGINT}, 
      #{countReadHighPriority,jdbcType=BIGINT}, #{sumTimerReadHighPriority,jdbcType=BIGINT}, 
      #{minTimerReadHighPriority,jdbcType=BIGINT}, #{avgTimerReadHighPriority,jdbcType=BIGINT}, 
      #{maxTimerReadHighPriority,jdbcType=BIGINT}, #{countReadNoInsert,jdbcType=BIGINT}, 
      #{sumTimerReadNoInsert,jdbcType=BIGINT}, #{minTimerReadNoInsert,jdbcType=BIGINT}, 
      #{avgTimerReadNoInsert,jdbcType=BIGINT}, #{maxTimerReadNoInsert,jdbcType=BIGINT}, 
      #{countReadExternal,jdbcType=BIGINT}, #{sumTimerReadExternal,jdbcType=BIGINT}, 
      #{minTimerReadExternal,jdbcType=BIGINT}, #{avgTimerReadExternal,jdbcType=BIGINT}, 
      #{maxTimerReadExternal,jdbcType=BIGINT}, #{countWriteAllowWrite,jdbcType=BIGINT}, 
      #{sumTimerWriteAllowWrite,jdbcType=BIGINT}, #{minTimerWriteAllowWrite,jdbcType=BIGINT}, 
      #{avgTimerWriteAllowWrite,jdbcType=BIGINT}, #{maxTimerWriteAllowWrite,jdbcType=BIGINT}, 
      #{countWriteConcurrentInsert,jdbcType=BIGINT}, #{sumTimerWriteConcurrentInsert,jdbcType=BIGINT}, 
      #{minTimerWriteConcurrentInsert,jdbcType=BIGINT}, #{avgTimerWriteConcurrentInsert,jdbcType=BIGINT}, 
      #{maxTimerWriteConcurrentInsert,jdbcType=BIGINT}, #{countWriteLowPriority,jdbcType=BIGINT}, 
      #{sumTimerWriteLowPriority,jdbcType=BIGINT}, #{minTimerWriteLowPriority,jdbcType=BIGINT}, 
      #{avgTimerWriteLowPriority,jdbcType=BIGINT}, #{maxTimerWriteLowPriority,jdbcType=BIGINT}, 
      #{countWriteNormal,jdbcType=BIGINT}, #{sumTimerWriteNormal,jdbcType=BIGINT}, #{minTimerWriteNormal,jdbcType=BIGINT}, 
      #{avgTimerWriteNormal,jdbcType=BIGINT}, #{maxTimerWriteNormal,jdbcType=BIGINT}, 
      #{countWriteExternal,jdbcType=BIGINT}, #{sumTimerWriteExternal,jdbcType=BIGINT}, 
      #{minTimerWriteExternal,jdbcType=BIGINT}, #{avgTimerWriteExternal,jdbcType=BIGINT}, 
      #{maxTimerWriteExternal,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.TableLockWaitsSummaryByTable">
    insert into table_lock_waits_summary_by_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="objectType != null">
        OBJECT_TYPE,
      </if>
      <if test="objectSchema != null">
        OBJECT_SCHEMA,
      </if>
      <if test="objectName != null">
        OBJECT_NAME,
      </if>
      <if test="countStar != null">
        COUNT_STAR,
      </if>
      <if test="sumTimerWait != null">
        SUM_TIMER_WAIT,
      </if>
      <if test="minTimerWait != null">
        MIN_TIMER_WAIT,
      </if>
      <if test="avgTimerWait != null">
        AVG_TIMER_WAIT,
      </if>
      <if test="maxTimerWait != null">
        MAX_TIMER_WAIT,
      </if>
      <if test="countRead != null">
        COUNT_READ,
      </if>
      <if test="sumTimerRead != null">
        SUM_TIMER_READ,
      </if>
      <if test="minTimerRead != null">
        MIN_TIMER_READ,
      </if>
      <if test="avgTimerRead != null">
        AVG_TIMER_READ,
      </if>
      <if test="maxTimerRead != null">
        MAX_TIMER_READ,
      </if>
      <if test="countWrite != null">
        COUNT_WRITE,
      </if>
      <if test="sumTimerWrite != null">
        SUM_TIMER_WRITE,
      </if>
      <if test="minTimerWrite != null">
        MIN_TIMER_WRITE,
      </if>
      <if test="avgTimerWrite != null">
        AVG_TIMER_WRITE,
      </if>
      <if test="maxTimerWrite != null">
        MAX_TIMER_WRITE,
      </if>
      <if test="countReadNormal != null">
        COUNT_READ_NORMAL,
      </if>
      <if test="sumTimerReadNormal != null">
        SUM_TIMER_READ_NORMAL,
      </if>
      <if test="minTimerReadNormal != null">
        MIN_TIMER_READ_NORMAL,
      </if>
      <if test="avgTimerReadNormal != null">
        AVG_TIMER_READ_NORMAL,
      </if>
      <if test="maxTimerReadNormal != null">
        MAX_TIMER_READ_NORMAL,
      </if>
      <if test="countReadWithSharedLocks != null">
        COUNT_READ_WITH_SHARED_LOCKS,
      </if>
      <if test="sumTimerReadWithSharedLocks != null">
        SUM_TIMER_READ_WITH_SHARED_LOCKS,
      </if>
      <if test="minTimerReadWithSharedLocks != null">
        MIN_TIMER_READ_WITH_SHARED_LOCKS,
      </if>
      <if test="avgTimerReadWithSharedLocks != null">
        AVG_TIMER_READ_WITH_SHARED_LOCKS,
      </if>
      <if test="maxTimerReadWithSharedLocks != null">
        MAX_TIMER_READ_WITH_SHARED_LOCKS,
      </if>
      <if test="countReadHighPriority != null">
        COUNT_READ_HIGH_PRIORITY,
      </if>
      <if test="sumTimerReadHighPriority != null">
        SUM_TIMER_READ_HIGH_PRIORITY,
      </if>
      <if test="minTimerReadHighPriority != null">
        MIN_TIMER_READ_HIGH_PRIORITY,
      </if>
      <if test="avgTimerReadHighPriority != null">
        AVG_TIMER_READ_HIGH_PRIORITY,
      </if>
      <if test="maxTimerReadHighPriority != null">
        MAX_TIMER_READ_HIGH_PRIORITY,
      </if>
      <if test="countReadNoInsert != null">
        COUNT_READ_NO_INSERT,
      </if>
      <if test="sumTimerReadNoInsert != null">
        SUM_TIMER_READ_NO_INSERT,
      </if>
      <if test="minTimerReadNoInsert != null">
        MIN_TIMER_READ_NO_INSERT,
      </if>
      <if test="avgTimerReadNoInsert != null">
        AVG_TIMER_READ_NO_INSERT,
      </if>
      <if test="maxTimerReadNoInsert != null">
        MAX_TIMER_READ_NO_INSERT,
      </if>
      <if test="countReadExternal != null">
        COUNT_READ_EXTERNAL,
      </if>
      <if test="sumTimerReadExternal != null">
        SUM_TIMER_READ_EXTERNAL,
      </if>
      <if test="minTimerReadExternal != null">
        MIN_TIMER_READ_EXTERNAL,
      </if>
      <if test="avgTimerReadExternal != null">
        AVG_TIMER_READ_EXTERNAL,
      </if>
      <if test="maxTimerReadExternal != null">
        MAX_TIMER_READ_EXTERNAL,
      </if>
      <if test="countWriteAllowWrite != null">
        COUNT_WRITE_ALLOW_WRITE,
      </if>
      <if test="sumTimerWriteAllowWrite != null">
        SUM_TIMER_WRITE_ALLOW_WRITE,
      </if>
      <if test="minTimerWriteAllowWrite != null">
        MIN_TIMER_WRITE_ALLOW_WRITE,
      </if>
      <if test="avgTimerWriteAllowWrite != null">
        AVG_TIMER_WRITE_ALLOW_WRITE,
      </if>
      <if test="maxTimerWriteAllowWrite != null">
        MAX_TIMER_WRITE_ALLOW_WRITE,
      </if>
      <if test="countWriteConcurrentInsert != null">
        COUNT_WRITE_CONCURRENT_INSERT,
      </if>
      <if test="sumTimerWriteConcurrentInsert != null">
        SUM_TIMER_WRITE_CONCURRENT_INSERT,
      </if>
      <if test="minTimerWriteConcurrentInsert != null">
        MIN_TIMER_WRITE_CONCURRENT_INSERT,
      </if>
      <if test="avgTimerWriteConcurrentInsert != null">
        AVG_TIMER_WRITE_CONCURRENT_INSERT,
      </if>
      <if test="maxTimerWriteConcurrentInsert != null">
        MAX_TIMER_WRITE_CONCURRENT_INSERT,
      </if>
      <if test="countWriteLowPriority != null">
        COUNT_WRITE_LOW_PRIORITY,
      </if>
      <if test="sumTimerWriteLowPriority != null">
        SUM_TIMER_WRITE_LOW_PRIORITY,
      </if>
      <if test="minTimerWriteLowPriority != null">
        MIN_TIMER_WRITE_LOW_PRIORITY,
      </if>
      <if test="avgTimerWriteLowPriority != null">
        AVG_TIMER_WRITE_LOW_PRIORITY,
      </if>
      <if test="maxTimerWriteLowPriority != null">
        MAX_TIMER_WRITE_LOW_PRIORITY,
      </if>
      <if test="countWriteNormal != null">
        COUNT_WRITE_NORMAL,
      </if>
      <if test="sumTimerWriteNormal != null">
        SUM_TIMER_WRITE_NORMAL,
      </if>
      <if test="minTimerWriteNormal != null">
        MIN_TIMER_WRITE_NORMAL,
      </if>
      <if test="avgTimerWriteNormal != null">
        AVG_TIMER_WRITE_NORMAL,
      </if>
      <if test="maxTimerWriteNormal != null">
        MAX_TIMER_WRITE_NORMAL,
      </if>
      <if test="countWriteExternal != null">
        COUNT_WRITE_EXTERNAL,
      </if>
      <if test="sumTimerWriteExternal != null">
        SUM_TIMER_WRITE_EXTERNAL,
      </if>
      <if test="minTimerWriteExternal != null">
        MIN_TIMER_WRITE_EXTERNAL,
      </if>
      <if test="avgTimerWriteExternal != null">
        AVG_TIMER_WRITE_EXTERNAL,
      </if>
      <if test="maxTimerWriteExternal != null">
        MAX_TIMER_WRITE_EXTERNAL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="objectType != null">
        #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="objectSchema != null">
        #{objectSchema,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null">
        #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="countStar != null">
        #{countStar,jdbcType=BIGINT},
      </if>
      <if test="sumTimerWait != null">
        #{sumTimerWait,jdbcType=BIGINT},
      </if>
      <if test="minTimerWait != null">
        #{minTimerWait,jdbcType=BIGINT},
      </if>
      <if test="avgTimerWait != null">
        #{avgTimerWait,jdbcType=BIGINT},
      </if>
      <if test="maxTimerWait != null">
        #{maxTimerWait,jdbcType=BIGINT},
      </if>
      <if test="countRead != null">
        #{countRead,jdbcType=BIGINT},
      </if>
      <if test="sumTimerRead != null">
        #{sumTimerRead,jdbcType=BIGINT},
      </if>
      <if test="minTimerRead != null">
        #{minTimerRead,jdbcType=BIGINT},
      </if>
      <if test="avgTimerRead != null">
        #{avgTimerRead,jdbcType=BIGINT},
      </if>
      <if test="maxTimerRead != null">
        #{maxTimerRead,jdbcType=BIGINT},
      </if>
      <if test="countWrite != null">
        #{countWrite,jdbcType=BIGINT},
      </if>
      <if test="sumTimerWrite != null">
        #{sumTimerWrite,jdbcType=BIGINT},
      </if>
      <if test="minTimerWrite != null">
        #{minTimerWrite,jdbcType=BIGINT},
      </if>
      <if test="avgTimerWrite != null">
        #{avgTimerWrite,jdbcType=BIGINT},
      </if>
      <if test="maxTimerWrite != null">
        #{maxTimerWrite,jdbcType=BIGINT},
      </if>
      <if test="countReadNormal != null">
        #{countReadNormal,jdbcType=BIGINT},
      </if>
      <if test="sumTimerReadNormal != null">
        #{sumTimerReadNormal,jdbcType=BIGINT},
      </if>
      <if test="minTimerReadNormal != null">
        #{minTimerReadNormal,jdbcType=BIGINT},
      </if>
      <if test="avgTimerReadNormal != null">
        #{avgTimerReadNormal,jdbcType=BIGINT},
      </if>
      <if test="maxTimerReadNormal != null">
        #{maxTimerReadNormal,jdbcType=BIGINT},
      </if>
      <if test="countReadWithSharedLocks != null">
        #{countReadWithSharedLocks,jdbcType=BIGINT},
      </if>
      <if test="sumTimerReadWithSharedLocks != null">
        #{sumTimerReadWithSharedLocks,jdbcType=BIGINT},
      </if>
      <if test="minTimerReadWithSharedLocks != null">
        #{minTimerReadWithSharedLocks,jdbcType=BIGINT},
      </if>
      <if test="avgTimerReadWithSharedLocks != null">
        #{avgTimerReadWithSharedLocks,jdbcType=BIGINT},
      </if>
      <if test="maxTimerReadWithSharedLocks != null">
        #{maxTimerReadWithSharedLocks,jdbcType=BIGINT},
      </if>
      <if test="countReadHighPriority != null">
        #{countReadHighPriority,jdbcType=BIGINT},
      </if>
      <if test="sumTimerReadHighPriority != null">
        #{sumTimerReadHighPriority,jdbcType=BIGINT},
      </if>
      <if test="minTimerReadHighPriority != null">
        #{minTimerReadHighPriority,jdbcType=BIGINT},
      </if>
      <if test="avgTimerReadHighPriority != null">
        #{avgTimerReadHighPriority,jdbcType=BIGINT},
      </if>
      <if test="maxTimerReadHighPriority != null">
        #{maxTimerReadHighPriority,jdbcType=BIGINT},
      </if>
      <if test="countReadNoInsert != null">
        #{countReadNoInsert,jdbcType=BIGINT},
      </if>
      <if test="sumTimerReadNoInsert != null">
        #{sumTimerReadNoInsert,jdbcType=BIGINT},
      </if>
      <if test="minTimerReadNoInsert != null">
        #{minTimerReadNoInsert,jdbcType=BIGINT},
      </if>
      <if test="avgTimerReadNoInsert != null">
        #{avgTimerReadNoInsert,jdbcType=BIGINT},
      </if>
      <if test="maxTimerReadNoInsert != null">
        #{maxTimerReadNoInsert,jdbcType=BIGINT},
      </if>
      <if test="countReadExternal != null">
        #{countReadExternal,jdbcType=BIGINT},
      </if>
      <if test="sumTimerReadExternal != null">
        #{sumTimerReadExternal,jdbcType=BIGINT},
      </if>
      <if test="minTimerReadExternal != null">
        #{minTimerReadExternal,jdbcType=BIGINT},
      </if>
      <if test="avgTimerReadExternal != null">
        #{avgTimerReadExternal,jdbcType=BIGINT},
      </if>
      <if test="maxTimerReadExternal != null">
        #{maxTimerReadExternal,jdbcType=BIGINT},
      </if>
      <if test="countWriteAllowWrite != null">
        #{countWriteAllowWrite,jdbcType=BIGINT},
      </if>
      <if test="sumTimerWriteAllowWrite != null">
        #{sumTimerWriteAllowWrite,jdbcType=BIGINT},
      </if>
      <if test="minTimerWriteAllowWrite != null">
        #{minTimerWriteAllowWrite,jdbcType=BIGINT},
      </if>
      <if test="avgTimerWriteAllowWrite != null">
        #{avgTimerWriteAllowWrite,jdbcType=BIGINT},
      </if>
      <if test="maxTimerWriteAllowWrite != null">
        #{maxTimerWriteAllowWrite,jdbcType=BIGINT},
      </if>
      <if test="countWriteConcurrentInsert != null">
        #{countWriteConcurrentInsert,jdbcType=BIGINT},
      </if>
      <if test="sumTimerWriteConcurrentInsert != null">
        #{sumTimerWriteConcurrentInsert,jdbcType=BIGINT},
      </if>
      <if test="minTimerWriteConcurrentInsert != null">
        #{minTimerWriteConcurrentInsert,jdbcType=BIGINT},
      </if>
      <if test="avgTimerWriteConcurrentInsert != null">
        #{avgTimerWriteConcurrentInsert,jdbcType=BIGINT},
      </if>
      <if test="maxTimerWriteConcurrentInsert != null">
        #{maxTimerWriteConcurrentInsert,jdbcType=BIGINT},
      </if>
      <if test="countWriteLowPriority != null">
        #{countWriteLowPriority,jdbcType=BIGINT},
      </if>
      <if test="sumTimerWriteLowPriority != null">
        #{sumTimerWriteLowPriority,jdbcType=BIGINT},
      </if>
      <if test="minTimerWriteLowPriority != null">
        #{minTimerWriteLowPriority,jdbcType=BIGINT},
      </if>
      <if test="avgTimerWriteLowPriority != null">
        #{avgTimerWriteLowPriority,jdbcType=BIGINT},
      </if>
      <if test="maxTimerWriteLowPriority != null">
        #{maxTimerWriteLowPriority,jdbcType=BIGINT},
      </if>
      <if test="countWriteNormal != null">
        #{countWriteNormal,jdbcType=BIGINT},
      </if>
      <if test="sumTimerWriteNormal != null">
        #{sumTimerWriteNormal,jdbcType=BIGINT},
      </if>
      <if test="minTimerWriteNormal != null">
        #{minTimerWriteNormal,jdbcType=BIGINT},
      </if>
      <if test="avgTimerWriteNormal != null">
        #{avgTimerWriteNormal,jdbcType=BIGINT},
      </if>
      <if test="maxTimerWriteNormal != null">
        #{maxTimerWriteNormal,jdbcType=BIGINT},
      </if>
      <if test="countWriteExternal != null">
        #{countWriteExternal,jdbcType=BIGINT},
      </if>
      <if test="sumTimerWriteExternal != null">
        #{sumTimerWriteExternal,jdbcType=BIGINT},
      </if>
      <if test="minTimerWriteExternal != null">
        #{minTimerWriteExternal,jdbcType=BIGINT},
      </if>
      <if test="avgTimerWriteExternal != null">
        #{avgTimerWriteExternal,jdbcType=BIGINT},
      </if>
      <if test="maxTimerWriteExternal != null">
        #{maxTimerWriteExternal,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.TableLockWaitsSummaryByTableExample" resultType="java.lang.Integer">
    select count(*) from table_lock_waits_summary_by_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update table_lock_waits_summary_by_table
    <set>
      <if test="record.objectType != null">
        OBJECT_TYPE = #{record.objectType,jdbcType=VARCHAR},
      </if>
      <if test="record.objectSchema != null">
        OBJECT_SCHEMA = #{record.objectSchema,jdbcType=VARCHAR},
      </if>
      <if test="record.objectName != null">
        OBJECT_NAME = #{record.objectName,jdbcType=VARCHAR},
      </if>
      <if test="record.countStar != null">
        COUNT_STAR = #{record.countStar,jdbcType=BIGINT},
      </if>
      <if test="record.sumTimerWait != null">
        SUM_TIMER_WAIT = #{record.sumTimerWait,jdbcType=BIGINT},
      </if>
      <if test="record.minTimerWait != null">
        MIN_TIMER_WAIT = #{record.minTimerWait,jdbcType=BIGINT},
      </if>
      <if test="record.avgTimerWait != null">
        AVG_TIMER_WAIT = #{record.avgTimerWait,jdbcType=BIGINT},
      </if>
      <if test="record.maxTimerWait != null">
        MAX_TIMER_WAIT = #{record.maxTimerWait,jdbcType=BIGINT},
      </if>
      <if test="record.countRead != null">
        COUNT_READ = #{record.countRead,jdbcType=BIGINT},
      </if>
      <if test="record.sumTimerRead != null">
        SUM_TIMER_READ = #{record.sumTimerRead,jdbcType=BIGINT},
      </if>
      <if test="record.minTimerRead != null">
        MIN_TIMER_READ = #{record.minTimerRead,jdbcType=BIGINT},
      </if>
      <if test="record.avgTimerRead != null">
        AVG_TIMER_READ = #{record.avgTimerRead,jdbcType=BIGINT},
      </if>
      <if test="record.maxTimerRead != null">
        MAX_TIMER_READ = #{record.maxTimerRead,jdbcType=BIGINT},
      </if>
      <if test="record.countWrite != null">
        COUNT_WRITE = #{record.countWrite,jdbcType=BIGINT},
      </if>
      <if test="record.sumTimerWrite != null">
        SUM_TIMER_WRITE = #{record.sumTimerWrite,jdbcType=BIGINT},
      </if>
      <if test="record.minTimerWrite != null">
        MIN_TIMER_WRITE = #{record.minTimerWrite,jdbcType=BIGINT},
      </if>
      <if test="record.avgTimerWrite != null">
        AVG_TIMER_WRITE = #{record.avgTimerWrite,jdbcType=BIGINT},
      </if>
      <if test="record.maxTimerWrite != null">
        MAX_TIMER_WRITE = #{record.maxTimerWrite,jdbcType=BIGINT},
      </if>
      <if test="record.countReadNormal != null">
        COUNT_READ_NORMAL = #{record.countReadNormal,jdbcType=BIGINT},
      </if>
      <if test="record.sumTimerReadNormal != null">
        SUM_TIMER_READ_NORMAL = #{record.sumTimerReadNormal,jdbcType=BIGINT},
      </if>
      <if test="record.minTimerReadNormal != null">
        MIN_TIMER_READ_NORMAL = #{record.minTimerReadNormal,jdbcType=BIGINT},
      </if>
      <if test="record.avgTimerReadNormal != null">
        AVG_TIMER_READ_NORMAL = #{record.avgTimerReadNormal,jdbcType=BIGINT},
      </if>
      <if test="record.maxTimerReadNormal != null">
        MAX_TIMER_READ_NORMAL = #{record.maxTimerReadNormal,jdbcType=BIGINT},
      </if>
      <if test="record.countReadWithSharedLocks != null">
        COUNT_READ_WITH_SHARED_LOCKS = #{record.countReadWithSharedLocks,jdbcType=BIGINT},
      </if>
      <if test="record.sumTimerReadWithSharedLocks != null">
        SUM_TIMER_READ_WITH_SHARED_LOCKS = #{record.sumTimerReadWithSharedLocks,jdbcType=BIGINT},
      </if>
      <if test="record.minTimerReadWithSharedLocks != null">
        MIN_TIMER_READ_WITH_SHARED_LOCKS = #{record.minTimerReadWithSharedLocks,jdbcType=BIGINT},
      </if>
      <if test="record.avgTimerReadWithSharedLocks != null">
        AVG_TIMER_READ_WITH_SHARED_LOCKS = #{record.avgTimerReadWithSharedLocks,jdbcType=BIGINT},
      </if>
      <if test="record.maxTimerReadWithSharedLocks != null">
        MAX_TIMER_READ_WITH_SHARED_LOCKS = #{record.maxTimerReadWithSharedLocks,jdbcType=BIGINT},
      </if>
      <if test="record.countReadHighPriority != null">
        COUNT_READ_HIGH_PRIORITY = #{record.countReadHighPriority,jdbcType=BIGINT},
      </if>
      <if test="record.sumTimerReadHighPriority != null">
        SUM_TIMER_READ_HIGH_PRIORITY = #{record.sumTimerReadHighPriority,jdbcType=BIGINT},
      </if>
      <if test="record.minTimerReadHighPriority != null">
        MIN_TIMER_READ_HIGH_PRIORITY = #{record.minTimerReadHighPriority,jdbcType=BIGINT},
      </if>
      <if test="record.avgTimerReadHighPriority != null">
        AVG_TIMER_READ_HIGH_PRIORITY = #{record.avgTimerReadHighPriority,jdbcType=BIGINT},
      </if>
      <if test="record.maxTimerReadHighPriority != null">
        MAX_TIMER_READ_HIGH_PRIORITY = #{record.maxTimerReadHighPriority,jdbcType=BIGINT},
      </if>
      <if test="record.countReadNoInsert != null">
        COUNT_READ_NO_INSERT = #{record.countReadNoInsert,jdbcType=BIGINT},
      </if>
      <if test="record.sumTimerReadNoInsert != null">
        SUM_TIMER_READ_NO_INSERT = #{record.sumTimerReadNoInsert,jdbcType=BIGINT},
      </if>
      <if test="record.minTimerReadNoInsert != null">
        MIN_TIMER_READ_NO_INSERT = #{record.minTimerReadNoInsert,jdbcType=BIGINT},
      </if>
      <if test="record.avgTimerReadNoInsert != null">
        AVG_TIMER_READ_NO_INSERT = #{record.avgTimerReadNoInsert,jdbcType=BIGINT},
      </if>
      <if test="record.maxTimerReadNoInsert != null">
        MAX_TIMER_READ_NO_INSERT = #{record.maxTimerReadNoInsert,jdbcType=BIGINT},
      </if>
      <if test="record.countReadExternal != null">
        COUNT_READ_EXTERNAL = #{record.countReadExternal,jdbcType=BIGINT},
      </if>
      <if test="record.sumTimerReadExternal != null">
        SUM_TIMER_READ_EXTERNAL = #{record.sumTimerReadExternal,jdbcType=BIGINT},
      </if>
      <if test="record.minTimerReadExternal != null">
        MIN_TIMER_READ_EXTERNAL = #{record.minTimerReadExternal,jdbcType=BIGINT},
      </if>
      <if test="record.avgTimerReadExternal != null">
        AVG_TIMER_READ_EXTERNAL = #{record.avgTimerReadExternal,jdbcType=BIGINT},
      </if>
      <if test="record.maxTimerReadExternal != null">
        MAX_TIMER_READ_EXTERNAL = #{record.maxTimerReadExternal,jdbcType=BIGINT},
      </if>
      <if test="record.countWriteAllowWrite != null">
        COUNT_WRITE_ALLOW_WRITE = #{record.countWriteAllowWrite,jdbcType=BIGINT},
      </if>
      <if test="record.sumTimerWriteAllowWrite != null">
        SUM_TIMER_WRITE_ALLOW_WRITE = #{record.sumTimerWriteAllowWrite,jdbcType=BIGINT},
      </if>
      <if test="record.minTimerWriteAllowWrite != null">
        MIN_TIMER_WRITE_ALLOW_WRITE = #{record.minTimerWriteAllowWrite,jdbcType=BIGINT},
      </if>
      <if test="record.avgTimerWriteAllowWrite != null">
        AVG_TIMER_WRITE_ALLOW_WRITE = #{record.avgTimerWriteAllowWrite,jdbcType=BIGINT},
      </if>
      <if test="record.maxTimerWriteAllowWrite != null">
        MAX_TIMER_WRITE_ALLOW_WRITE = #{record.maxTimerWriteAllowWrite,jdbcType=BIGINT},
      </if>
      <if test="record.countWriteConcurrentInsert != null">
        COUNT_WRITE_CONCURRENT_INSERT = #{record.countWriteConcurrentInsert,jdbcType=BIGINT},
      </if>
      <if test="record.sumTimerWriteConcurrentInsert != null">
        SUM_TIMER_WRITE_CONCURRENT_INSERT = #{record.sumTimerWriteConcurrentInsert,jdbcType=BIGINT},
      </if>
      <if test="record.minTimerWriteConcurrentInsert != null">
        MIN_TIMER_WRITE_CONCURRENT_INSERT = #{record.minTimerWriteConcurrentInsert,jdbcType=BIGINT},
      </if>
      <if test="record.avgTimerWriteConcurrentInsert != null">
        AVG_TIMER_WRITE_CONCURRENT_INSERT = #{record.avgTimerWriteConcurrentInsert,jdbcType=BIGINT},
      </if>
      <if test="record.maxTimerWriteConcurrentInsert != null">
        MAX_TIMER_WRITE_CONCURRENT_INSERT = #{record.maxTimerWriteConcurrentInsert,jdbcType=BIGINT},
      </if>
      <if test="record.countWriteLowPriority != null">
        COUNT_WRITE_LOW_PRIORITY = #{record.countWriteLowPriority,jdbcType=BIGINT},
      </if>
      <if test="record.sumTimerWriteLowPriority != null">
        SUM_TIMER_WRITE_LOW_PRIORITY = #{record.sumTimerWriteLowPriority,jdbcType=BIGINT},
      </if>
      <if test="record.minTimerWriteLowPriority != null">
        MIN_TIMER_WRITE_LOW_PRIORITY = #{record.minTimerWriteLowPriority,jdbcType=BIGINT},
      </if>
      <if test="record.avgTimerWriteLowPriority != null">
        AVG_TIMER_WRITE_LOW_PRIORITY = #{record.avgTimerWriteLowPriority,jdbcType=BIGINT},
      </if>
      <if test="record.maxTimerWriteLowPriority != null">
        MAX_TIMER_WRITE_LOW_PRIORITY = #{record.maxTimerWriteLowPriority,jdbcType=BIGINT},
      </if>
      <if test="record.countWriteNormal != null">
        COUNT_WRITE_NORMAL = #{record.countWriteNormal,jdbcType=BIGINT},
      </if>
      <if test="record.sumTimerWriteNormal != null">
        SUM_TIMER_WRITE_NORMAL = #{record.sumTimerWriteNormal,jdbcType=BIGINT},
      </if>
      <if test="record.minTimerWriteNormal != null">
        MIN_TIMER_WRITE_NORMAL = #{record.minTimerWriteNormal,jdbcType=BIGINT},
      </if>
      <if test="record.avgTimerWriteNormal != null">
        AVG_TIMER_WRITE_NORMAL = #{record.avgTimerWriteNormal,jdbcType=BIGINT},
      </if>
      <if test="record.maxTimerWriteNormal != null">
        MAX_TIMER_WRITE_NORMAL = #{record.maxTimerWriteNormal,jdbcType=BIGINT},
      </if>
      <if test="record.countWriteExternal != null">
        COUNT_WRITE_EXTERNAL = #{record.countWriteExternal,jdbcType=BIGINT},
      </if>
      <if test="record.sumTimerWriteExternal != null">
        SUM_TIMER_WRITE_EXTERNAL = #{record.sumTimerWriteExternal,jdbcType=BIGINT},
      </if>
      <if test="record.minTimerWriteExternal != null">
        MIN_TIMER_WRITE_EXTERNAL = #{record.minTimerWriteExternal,jdbcType=BIGINT},
      </if>
      <if test="record.avgTimerWriteExternal != null">
        AVG_TIMER_WRITE_EXTERNAL = #{record.avgTimerWriteExternal,jdbcType=BIGINT},
      </if>
      <if test="record.maxTimerWriteExternal != null">
        MAX_TIMER_WRITE_EXTERNAL = #{record.maxTimerWriteExternal,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update table_lock_waits_summary_by_table
    set OBJECT_TYPE = #{record.objectType,jdbcType=VARCHAR},
      OBJECT_SCHEMA = #{record.objectSchema,jdbcType=VARCHAR},
      OBJECT_NAME = #{record.objectName,jdbcType=VARCHAR},
      COUNT_STAR = #{record.countStar,jdbcType=BIGINT},
      SUM_TIMER_WAIT = #{record.sumTimerWait,jdbcType=BIGINT},
      MIN_TIMER_WAIT = #{record.minTimerWait,jdbcType=BIGINT},
      AVG_TIMER_WAIT = #{record.avgTimerWait,jdbcType=BIGINT},
      MAX_TIMER_WAIT = #{record.maxTimerWait,jdbcType=BIGINT},
      COUNT_READ = #{record.countRead,jdbcType=BIGINT},
      SUM_TIMER_READ = #{record.sumTimerRead,jdbcType=BIGINT},
      MIN_TIMER_READ = #{record.minTimerRead,jdbcType=BIGINT},
      AVG_TIMER_READ = #{record.avgTimerRead,jdbcType=BIGINT},
      MAX_TIMER_READ = #{record.maxTimerRead,jdbcType=BIGINT},
      COUNT_WRITE = #{record.countWrite,jdbcType=BIGINT},
      SUM_TIMER_WRITE = #{record.sumTimerWrite,jdbcType=BIGINT},
      MIN_TIMER_WRITE = #{record.minTimerWrite,jdbcType=BIGINT},
      AVG_TIMER_WRITE = #{record.avgTimerWrite,jdbcType=BIGINT},
      MAX_TIMER_WRITE = #{record.maxTimerWrite,jdbcType=BIGINT},
      COUNT_READ_NORMAL = #{record.countReadNormal,jdbcType=BIGINT},
      SUM_TIMER_READ_NORMAL = #{record.sumTimerReadNormal,jdbcType=BIGINT},
      MIN_TIMER_READ_NORMAL = #{record.minTimerReadNormal,jdbcType=BIGINT},
      AVG_TIMER_READ_NORMAL = #{record.avgTimerReadNormal,jdbcType=BIGINT},
      MAX_TIMER_READ_NORMAL = #{record.maxTimerReadNormal,jdbcType=BIGINT},
      COUNT_READ_WITH_SHARED_LOCKS = #{record.countReadWithSharedLocks,jdbcType=BIGINT},
      SUM_TIMER_READ_WITH_SHARED_LOCKS = #{record.sumTimerReadWithSharedLocks,jdbcType=BIGINT},
      MIN_TIMER_READ_WITH_SHARED_LOCKS = #{record.minTimerReadWithSharedLocks,jdbcType=BIGINT},
      AVG_TIMER_READ_WITH_SHARED_LOCKS = #{record.avgTimerReadWithSharedLocks,jdbcType=BIGINT},
      MAX_TIMER_READ_WITH_SHARED_LOCKS = #{record.maxTimerReadWithSharedLocks,jdbcType=BIGINT},
      COUNT_READ_HIGH_PRIORITY = #{record.countReadHighPriority,jdbcType=BIGINT},
      SUM_TIMER_READ_HIGH_PRIORITY = #{record.sumTimerReadHighPriority,jdbcType=BIGINT},
      MIN_TIMER_READ_HIGH_PRIORITY = #{record.minTimerReadHighPriority,jdbcType=BIGINT},
      AVG_TIMER_READ_HIGH_PRIORITY = #{record.avgTimerReadHighPriority,jdbcType=BIGINT},
      MAX_TIMER_READ_HIGH_PRIORITY = #{record.maxTimerReadHighPriority,jdbcType=BIGINT},
      COUNT_READ_NO_INSERT = #{record.countReadNoInsert,jdbcType=BIGINT},
      SUM_TIMER_READ_NO_INSERT = #{record.sumTimerReadNoInsert,jdbcType=BIGINT},
      MIN_TIMER_READ_NO_INSERT = #{record.minTimerReadNoInsert,jdbcType=BIGINT},
      AVG_TIMER_READ_NO_INSERT = #{record.avgTimerReadNoInsert,jdbcType=BIGINT},
      MAX_TIMER_READ_NO_INSERT = #{record.maxTimerReadNoInsert,jdbcType=BIGINT},
      COUNT_READ_EXTERNAL = #{record.countReadExternal,jdbcType=BIGINT},
      SUM_TIMER_READ_EXTERNAL = #{record.sumTimerReadExternal,jdbcType=BIGINT},
      MIN_TIMER_READ_EXTERNAL = #{record.minTimerReadExternal,jdbcType=BIGINT},
      AVG_TIMER_READ_EXTERNAL = #{record.avgTimerReadExternal,jdbcType=BIGINT},
      MAX_TIMER_READ_EXTERNAL = #{record.maxTimerReadExternal,jdbcType=BIGINT},
      COUNT_WRITE_ALLOW_WRITE = #{record.countWriteAllowWrite,jdbcType=BIGINT},
      SUM_TIMER_WRITE_ALLOW_WRITE = #{record.sumTimerWriteAllowWrite,jdbcType=BIGINT},
      MIN_TIMER_WRITE_ALLOW_WRITE = #{record.minTimerWriteAllowWrite,jdbcType=BIGINT},
      AVG_TIMER_WRITE_ALLOW_WRITE = #{record.avgTimerWriteAllowWrite,jdbcType=BIGINT},
      MAX_TIMER_WRITE_ALLOW_WRITE = #{record.maxTimerWriteAllowWrite,jdbcType=BIGINT},
      COUNT_WRITE_CONCURRENT_INSERT = #{record.countWriteConcurrentInsert,jdbcType=BIGINT},
      SUM_TIMER_WRITE_CONCURRENT_INSERT = #{record.sumTimerWriteConcurrentInsert,jdbcType=BIGINT},
      MIN_TIMER_WRITE_CONCURRENT_INSERT = #{record.minTimerWriteConcurrentInsert,jdbcType=BIGINT},
      AVG_TIMER_WRITE_CONCURRENT_INSERT = #{record.avgTimerWriteConcurrentInsert,jdbcType=BIGINT},
      MAX_TIMER_WRITE_CONCURRENT_INSERT = #{record.maxTimerWriteConcurrentInsert,jdbcType=BIGINT},
      COUNT_WRITE_LOW_PRIORITY = #{record.countWriteLowPriority,jdbcType=BIGINT},
      SUM_TIMER_WRITE_LOW_PRIORITY = #{record.sumTimerWriteLowPriority,jdbcType=BIGINT},
      MIN_TIMER_WRITE_LOW_PRIORITY = #{record.minTimerWriteLowPriority,jdbcType=BIGINT},
      AVG_TIMER_WRITE_LOW_PRIORITY = #{record.avgTimerWriteLowPriority,jdbcType=BIGINT},
      MAX_TIMER_WRITE_LOW_PRIORITY = #{record.maxTimerWriteLowPriority,jdbcType=BIGINT},
      COUNT_WRITE_NORMAL = #{record.countWriteNormal,jdbcType=BIGINT},
      SUM_TIMER_WRITE_NORMAL = #{record.sumTimerWriteNormal,jdbcType=BIGINT},
      MIN_TIMER_WRITE_NORMAL = #{record.minTimerWriteNormal,jdbcType=BIGINT},
      AVG_TIMER_WRITE_NORMAL = #{record.avgTimerWriteNormal,jdbcType=BIGINT},
      MAX_TIMER_WRITE_NORMAL = #{record.maxTimerWriteNormal,jdbcType=BIGINT},
      COUNT_WRITE_EXTERNAL = #{record.countWriteExternal,jdbcType=BIGINT},
      SUM_TIMER_WRITE_EXTERNAL = #{record.sumTimerWriteExternal,jdbcType=BIGINT},
      MIN_TIMER_WRITE_EXTERNAL = #{record.minTimerWriteExternal,jdbcType=BIGINT},
      AVG_TIMER_WRITE_EXTERNAL = #{record.avgTimerWriteExternal,jdbcType=BIGINT},
      MAX_TIMER_WRITE_EXTERNAL = #{record.maxTimerWriteExternal,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>