<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.ThreadsMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.Threads">
    <id column="THREAD_ID" jdbcType="BIGINT" property="threadId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="PROCESSLIST_ID" jdbcType="BIGINT" property="processlistId" />
    <result column="PROCESSLIST_USER" jdbcType="VARCHAR" property="processlistUser" />
    <result column="PROCESSLIST_HOST" jdbcType="VARCHAR" property="processlistHost" />
    <result column="PROCESSLIST_DB" jdbcType="VARCHAR" property="processlistDb" />
    <result column="PROCESSLIST_COMMAND" jdbcType="VARCHAR" property="processlistCommand" />
    <result column="PROCESSLIST_TIME" jdbcType="BIGINT" property="processlistTime" />
    <result column="PROCESSLIST_STATE" jdbcType="VARCHAR" property="processlistState" />
    <result column="PARENT_THREAD_ID" jdbcType="BIGINT" property="parentThreadId" />
    <result column="ROLE" jdbcType="VARCHAR" property="role" />
    <result column="INSTRUMENTED" jdbcType="CHAR" property="instrumented" />
    <result column="HISTORY" jdbcType="CHAR" property="history" />
    <result column="CONNECTION_TYPE" jdbcType="VARCHAR" property="connectionType" />
    <result column="THREAD_OS_ID" jdbcType="BIGINT" property="threadOsId" />
    <result column="RESOURCE_GROUP" jdbcType="VARCHAR" property="resourceGroup" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zzp.mall.model.Threads">
    <result column="PROCESSLIST_INFO" jdbcType="LONGVARCHAR" property="processlistInfo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    THREAD_ID, NAME, TYPE, PROCESSLIST_ID, PROCESSLIST_USER, PROCESSLIST_HOST, PROCESSLIST_DB, 
    PROCESSLIST_COMMAND, PROCESSLIST_TIME, PROCESSLIST_STATE, PARENT_THREAD_ID, ROLE, 
    INSTRUMENTED, HISTORY, CONNECTION_TYPE, THREAD_OS_ID, RESOURCE_GROUP
  </sql>
  <sql id="Blob_Column_List">
    PROCESSLIST_INFO
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zzp.mall.model.ThreadsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from threads
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zzp.mall.model.ThreadsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from threads
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from threads
    where THREAD_ID = #{threadId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from threads
    where THREAD_ID = #{threadId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.ThreadsExample">
    delete from threads
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.Threads">
    insert into threads (THREAD_ID, NAME, TYPE, 
      PROCESSLIST_ID, PROCESSLIST_USER, PROCESSLIST_HOST, 
      PROCESSLIST_DB, PROCESSLIST_COMMAND, PROCESSLIST_TIME, 
      PROCESSLIST_STATE, PARENT_THREAD_ID, ROLE, 
      INSTRUMENTED, HISTORY, CONNECTION_TYPE, 
      THREAD_OS_ID, RESOURCE_GROUP, PROCESSLIST_INFO
      )
    values (#{threadId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{processlistId,jdbcType=BIGINT}, #{processlistUser,jdbcType=VARCHAR}, #{processlistHost,jdbcType=VARCHAR}, 
      #{processlistDb,jdbcType=VARCHAR}, #{processlistCommand,jdbcType=VARCHAR}, #{processlistTime,jdbcType=BIGINT}, 
      #{processlistState,jdbcType=VARCHAR}, #{parentThreadId,jdbcType=BIGINT}, #{role,jdbcType=VARCHAR}, 
      #{instrumented,jdbcType=CHAR}, #{history,jdbcType=CHAR}, #{connectionType,jdbcType=VARCHAR}, 
      #{threadOsId,jdbcType=BIGINT}, #{resourceGroup,jdbcType=VARCHAR}, #{processlistInfo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.Threads">
    insert into threads
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="threadId != null">
        THREAD_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="processlistId != null">
        PROCESSLIST_ID,
      </if>
      <if test="processlistUser != null">
        PROCESSLIST_USER,
      </if>
      <if test="processlistHost != null">
        PROCESSLIST_HOST,
      </if>
      <if test="processlistDb != null">
        PROCESSLIST_DB,
      </if>
      <if test="processlistCommand != null">
        PROCESSLIST_COMMAND,
      </if>
      <if test="processlistTime != null">
        PROCESSLIST_TIME,
      </if>
      <if test="processlistState != null">
        PROCESSLIST_STATE,
      </if>
      <if test="parentThreadId != null">
        PARENT_THREAD_ID,
      </if>
      <if test="role != null">
        ROLE,
      </if>
      <if test="instrumented != null">
        INSTRUMENTED,
      </if>
      <if test="history != null">
        HISTORY,
      </if>
      <if test="connectionType != null">
        CONNECTION_TYPE,
      </if>
      <if test="threadOsId != null">
        THREAD_OS_ID,
      </if>
      <if test="resourceGroup != null">
        RESOURCE_GROUP,
      </if>
      <if test="processlistInfo != null">
        PROCESSLIST_INFO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="threadId != null">
        #{threadId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="processlistId != null">
        #{processlistId,jdbcType=BIGINT},
      </if>
      <if test="processlistUser != null">
        #{processlistUser,jdbcType=VARCHAR},
      </if>
      <if test="processlistHost != null">
        #{processlistHost,jdbcType=VARCHAR},
      </if>
      <if test="processlistDb != null">
        #{processlistDb,jdbcType=VARCHAR},
      </if>
      <if test="processlistCommand != null">
        #{processlistCommand,jdbcType=VARCHAR},
      </if>
      <if test="processlistTime != null">
        #{processlistTime,jdbcType=BIGINT},
      </if>
      <if test="processlistState != null">
        #{processlistState,jdbcType=VARCHAR},
      </if>
      <if test="parentThreadId != null">
        #{parentThreadId,jdbcType=BIGINT},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="instrumented != null">
        #{instrumented,jdbcType=CHAR},
      </if>
      <if test="history != null">
        #{history,jdbcType=CHAR},
      </if>
      <if test="connectionType != null">
        #{connectionType,jdbcType=VARCHAR},
      </if>
      <if test="threadOsId != null">
        #{threadOsId,jdbcType=BIGINT},
      </if>
      <if test="resourceGroup != null">
        #{resourceGroup,jdbcType=VARCHAR},
      </if>
      <if test="processlistInfo != null">
        #{processlistInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.ThreadsExample" resultType="java.lang.Integer">
    select count(*) from threads
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update threads
    <set>
      <if test="record.threadId != null">
        THREAD_ID = #{record.threadId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.processlistId != null">
        PROCESSLIST_ID = #{record.processlistId,jdbcType=BIGINT},
      </if>
      <if test="record.processlistUser != null">
        PROCESSLIST_USER = #{record.processlistUser,jdbcType=VARCHAR},
      </if>
      <if test="record.processlistHost != null">
        PROCESSLIST_HOST = #{record.processlistHost,jdbcType=VARCHAR},
      </if>
      <if test="record.processlistDb != null">
        PROCESSLIST_DB = #{record.processlistDb,jdbcType=VARCHAR},
      </if>
      <if test="record.processlistCommand != null">
        PROCESSLIST_COMMAND = #{record.processlistCommand,jdbcType=VARCHAR},
      </if>
      <if test="record.processlistTime != null">
        PROCESSLIST_TIME = #{record.processlistTime,jdbcType=BIGINT},
      </if>
      <if test="record.processlistState != null">
        PROCESSLIST_STATE = #{record.processlistState,jdbcType=VARCHAR},
      </if>
      <if test="record.parentThreadId != null">
        PARENT_THREAD_ID = #{record.parentThreadId,jdbcType=BIGINT},
      </if>
      <if test="record.role != null">
        ROLE = #{record.role,jdbcType=VARCHAR},
      </if>
      <if test="record.instrumented != null">
        INSTRUMENTED = #{record.instrumented,jdbcType=CHAR},
      </if>
      <if test="record.history != null">
        HISTORY = #{record.history,jdbcType=CHAR},
      </if>
      <if test="record.connectionType != null">
        CONNECTION_TYPE = #{record.connectionType,jdbcType=VARCHAR},
      </if>
      <if test="record.threadOsId != null">
        THREAD_OS_ID = #{record.threadOsId,jdbcType=BIGINT},
      </if>
      <if test="record.resourceGroup != null">
        RESOURCE_GROUP = #{record.resourceGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.processlistInfo != null">
        PROCESSLIST_INFO = #{record.processlistInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update threads
    set THREAD_ID = #{record.threadId,jdbcType=BIGINT},
      NAME = #{record.name,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=VARCHAR},
      PROCESSLIST_ID = #{record.processlistId,jdbcType=BIGINT},
      PROCESSLIST_USER = #{record.processlistUser,jdbcType=VARCHAR},
      PROCESSLIST_HOST = #{record.processlistHost,jdbcType=VARCHAR},
      PROCESSLIST_DB = #{record.processlistDb,jdbcType=VARCHAR},
      PROCESSLIST_COMMAND = #{record.processlistCommand,jdbcType=VARCHAR},
      PROCESSLIST_TIME = #{record.processlistTime,jdbcType=BIGINT},
      PROCESSLIST_STATE = #{record.processlistState,jdbcType=VARCHAR},
      PARENT_THREAD_ID = #{record.parentThreadId,jdbcType=BIGINT},
      ROLE = #{record.role,jdbcType=VARCHAR},
      INSTRUMENTED = #{record.instrumented,jdbcType=CHAR},
      HISTORY = #{record.history,jdbcType=CHAR},
      CONNECTION_TYPE = #{record.connectionType,jdbcType=VARCHAR},
      THREAD_OS_ID = #{record.threadOsId,jdbcType=BIGINT},
      RESOURCE_GROUP = #{record.resourceGroup,jdbcType=VARCHAR},
      PROCESSLIST_INFO = #{record.processlistInfo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update threads
    set THREAD_ID = #{record.threadId,jdbcType=BIGINT},
      NAME = #{record.name,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=VARCHAR},
      PROCESSLIST_ID = #{record.processlistId,jdbcType=BIGINT},
      PROCESSLIST_USER = #{record.processlistUser,jdbcType=VARCHAR},
      PROCESSLIST_HOST = #{record.processlistHost,jdbcType=VARCHAR},
      PROCESSLIST_DB = #{record.processlistDb,jdbcType=VARCHAR},
      PROCESSLIST_COMMAND = #{record.processlistCommand,jdbcType=VARCHAR},
      PROCESSLIST_TIME = #{record.processlistTime,jdbcType=BIGINT},
      PROCESSLIST_STATE = #{record.processlistState,jdbcType=VARCHAR},
      PARENT_THREAD_ID = #{record.parentThreadId,jdbcType=BIGINT},
      ROLE = #{record.role,jdbcType=VARCHAR},
      INSTRUMENTED = #{record.instrumented,jdbcType=CHAR},
      HISTORY = #{record.history,jdbcType=CHAR},
      CONNECTION_TYPE = #{record.connectionType,jdbcType=VARCHAR},
      THREAD_OS_ID = #{record.threadOsId,jdbcType=BIGINT},
      RESOURCE_GROUP = #{record.resourceGroup,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.Threads">
    update threads
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="processlistId != null">
        PROCESSLIST_ID = #{processlistId,jdbcType=BIGINT},
      </if>
      <if test="processlistUser != null">
        PROCESSLIST_USER = #{processlistUser,jdbcType=VARCHAR},
      </if>
      <if test="processlistHost != null">
        PROCESSLIST_HOST = #{processlistHost,jdbcType=VARCHAR},
      </if>
      <if test="processlistDb != null">
        PROCESSLIST_DB = #{processlistDb,jdbcType=VARCHAR},
      </if>
      <if test="processlistCommand != null">
        PROCESSLIST_COMMAND = #{processlistCommand,jdbcType=VARCHAR},
      </if>
      <if test="processlistTime != null">
        PROCESSLIST_TIME = #{processlistTime,jdbcType=BIGINT},
      </if>
      <if test="processlistState != null">
        PROCESSLIST_STATE = #{processlistState,jdbcType=VARCHAR},
      </if>
      <if test="parentThreadId != null">
        PARENT_THREAD_ID = #{parentThreadId,jdbcType=BIGINT},
      </if>
      <if test="role != null">
        ROLE = #{role,jdbcType=VARCHAR},
      </if>
      <if test="instrumented != null">
        INSTRUMENTED = #{instrumented,jdbcType=CHAR},
      </if>
      <if test="history != null">
        HISTORY = #{history,jdbcType=CHAR},
      </if>
      <if test="connectionType != null">
        CONNECTION_TYPE = #{connectionType,jdbcType=VARCHAR},
      </if>
      <if test="threadOsId != null">
        THREAD_OS_ID = #{threadOsId,jdbcType=BIGINT},
      </if>
      <if test="resourceGroup != null">
        RESOURCE_GROUP = #{resourceGroup,jdbcType=VARCHAR},
      </if>
      <if test="processlistInfo != null">
        PROCESSLIST_INFO = #{processlistInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where THREAD_ID = #{threadId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zzp.mall.model.Threads">
    update threads
    set NAME = #{name,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      PROCESSLIST_ID = #{processlistId,jdbcType=BIGINT},
      PROCESSLIST_USER = #{processlistUser,jdbcType=VARCHAR},
      PROCESSLIST_HOST = #{processlistHost,jdbcType=VARCHAR},
      PROCESSLIST_DB = #{processlistDb,jdbcType=VARCHAR},
      PROCESSLIST_COMMAND = #{processlistCommand,jdbcType=VARCHAR},
      PROCESSLIST_TIME = #{processlistTime,jdbcType=BIGINT},
      PROCESSLIST_STATE = #{processlistState,jdbcType=VARCHAR},
      PARENT_THREAD_ID = #{parentThreadId,jdbcType=BIGINT},
      ROLE = #{role,jdbcType=VARCHAR},
      INSTRUMENTED = #{instrumented,jdbcType=CHAR},
      HISTORY = #{history,jdbcType=CHAR},
      CONNECTION_TYPE = #{connectionType,jdbcType=VARCHAR},
      THREAD_OS_ID = #{threadOsId,jdbcType=BIGINT},
      RESOURCE_GROUP = #{resourceGroup,jdbcType=VARCHAR},
      PROCESSLIST_INFO = #{processlistInfo,jdbcType=LONGVARCHAR}
    where THREAD_ID = #{threadId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.Threads">
    update threads
    set NAME = #{name,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      PROCESSLIST_ID = #{processlistId,jdbcType=BIGINT},
      PROCESSLIST_USER = #{processlistUser,jdbcType=VARCHAR},
      PROCESSLIST_HOST = #{processlistHost,jdbcType=VARCHAR},
      PROCESSLIST_DB = #{processlistDb,jdbcType=VARCHAR},
      PROCESSLIST_COMMAND = #{processlistCommand,jdbcType=VARCHAR},
      PROCESSLIST_TIME = #{processlistTime,jdbcType=BIGINT},
      PROCESSLIST_STATE = #{processlistState,jdbcType=VARCHAR},
      PARENT_THREAD_ID = #{parentThreadId,jdbcType=BIGINT},
      ROLE = #{role,jdbcType=VARCHAR},
      INSTRUMENTED = #{instrumented,jdbcType=CHAR},
      HISTORY = #{history,jdbcType=CHAR},
      CONNECTION_TYPE = #{connectionType,jdbcType=VARCHAR},
      THREAD_OS_ID = #{threadOsId,jdbcType=BIGINT},
      RESOURCE_GROUP = #{resourceGroup,jdbcType=VARCHAR}
    where THREAD_ID = #{threadId,jdbcType=BIGINT}
  </update>
</mapper>