<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.TimeZoneTransitionMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.TimeZoneTransition">
    <id column="Time_zone_id" jdbcType="INTEGER" property="timeZoneId" />
    <id column="Transition_time" jdbcType="BIGINT" property="transitionTime" />
    <result column="Transition_type_id" jdbcType="INTEGER" property="transitionTypeId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Time_zone_id, Transition_time, Transition_type_id
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.TimeZoneTransitionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from time_zone_transition
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from time_zone_transition
    where Time_zone_id = #{timeZoneId,jdbcType=INTEGER}
      and Transition_time = #{transitionTime,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from time_zone_transition
    where Time_zone_id = #{timeZoneId,jdbcType=INTEGER}
      and Transition_time = #{transitionTime,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.TimeZoneTransitionExample">
    delete from time_zone_transition
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.TimeZoneTransition">
    insert into time_zone_transition (Time_zone_id, Transition_time, Transition_type_id
      )
    values (#{timeZoneId,jdbcType=INTEGER}, #{transitionTime,jdbcType=BIGINT}, #{transitionTypeId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.TimeZoneTransition">
    insert into time_zone_transition
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="timeZoneId != null">
        Time_zone_id,
      </if>
      <if test="transitionTime != null">
        Transition_time,
      </if>
      <if test="transitionTypeId != null">
        Transition_type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="timeZoneId != null">
        #{timeZoneId,jdbcType=INTEGER},
      </if>
      <if test="transitionTime != null">
        #{transitionTime,jdbcType=BIGINT},
      </if>
      <if test="transitionTypeId != null">
        #{transitionTypeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.TimeZoneTransitionExample" resultType="java.lang.Integer">
    select count(*) from time_zone_transition
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update time_zone_transition
    <set>
      <if test="record.timeZoneId != null">
        Time_zone_id = #{record.timeZoneId,jdbcType=INTEGER},
      </if>
      <if test="record.transitionTime != null">
        Transition_time = #{record.transitionTime,jdbcType=BIGINT},
      </if>
      <if test="record.transitionTypeId != null">
        Transition_type_id = #{record.transitionTypeId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update time_zone_transition
    set Time_zone_id = #{record.timeZoneId,jdbcType=INTEGER},
      Transition_time = #{record.transitionTime,jdbcType=BIGINT},
      Transition_type_id = #{record.transitionTypeId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.TimeZoneTransition">
    update time_zone_transition
    <set>
      <if test="transitionTypeId != null">
        Transition_type_id = #{transitionTypeId,jdbcType=INTEGER},
      </if>
    </set>
    where Time_zone_id = #{timeZoneId,jdbcType=INTEGER}
      and Transition_time = #{transitionTime,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.TimeZoneTransition">
    update time_zone_transition
    set Transition_type_id = #{transitionTypeId,jdbcType=INTEGER}
    where Time_zone_id = #{timeZoneId,jdbcType=INTEGER}
      and Transition_time = #{transitionTime,jdbcType=BIGINT}
  </update>
</mapper>