<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.TimeZoneNameMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.TimeZoneName">
    <id column="Name" jdbcType="CHAR" property="name" />
    <result column="Time_zone_id" jdbcType="INTEGER" property="timeZoneId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Name, Time_zone_id
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.TimeZoneNameExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from time_zone_name
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from time_zone_name
    where Name = #{name,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from time_zone_name
    where Name = #{name,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.TimeZoneNameExample">
    delete from time_zone_name
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.TimeZoneName">
    insert into time_zone_name (Name, Time_zone_id)
    values (#{name,jdbcType=CHAR}, #{timeZoneId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.TimeZoneName">
    insert into time_zone_name
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        Name,
      </if>
      <if test="timeZoneId != null">
        Time_zone_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="timeZoneId != null">
        #{timeZoneId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.TimeZoneNameExample" resultType="java.lang.Integer">
    select count(*) from time_zone_name
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update time_zone_name
    <set>
      <if test="record.name != null">
        Name = #{record.name,jdbcType=CHAR},
      </if>
      <if test="record.timeZoneId != null">
        Time_zone_id = #{record.timeZoneId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update time_zone_name
    set Name = #{record.name,jdbcType=CHAR},
      Time_zone_id = #{record.timeZoneId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.TimeZoneName">
    update time_zone_name
    <set>
      <if test="timeZoneId != null">
        Time_zone_id = #{timeZoneId,jdbcType=INTEGER},
      </if>
    </set>
    where Name = #{name,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.TimeZoneName">
    update time_zone_name
    set Time_zone_id = #{timeZoneId,jdbcType=INTEGER}
    where Name = #{name,jdbcType=CHAR}
  </update>
</mapper>