<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.TimeZoneTransitionTypeMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.TimeZoneTransitionType">
    <id column="Time_zone_id" jdbcType="INTEGER" property="timeZoneId" />
    <id column="Transition_type_id" jdbcType="INTEGER" property="transitionTypeId" />
    <result column="Offset" jdbcType="INTEGER" property="offset" />
    <result column="Is_DST" jdbcType="TINYINT" property="isDst" />
    <result column="Abbreviation" jdbcType="CHAR" property="abbreviation" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Time_zone_id, Transition_type_id, Offset, Is_DST, Abbreviation
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.TimeZoneTransitionTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from time_zone_transition_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from time_zone_transition_type
    where Time_zone_id = #{timeZoneId,jdbcType=INTEGER}
      and Transition_type_id = #{transitionTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from time_zone_transition_type
    where Time_zone_id = #{timeZoneId,jdbcType=INTEGER}
      and Transition_type_id = #{transitionTypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.TimeZoneTransitionTypeExample">
    delete from time_zone_transition_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.TimeZoneTransitionType">
    insert into time_zone_transition_type (Time_zone_id, Transition_type_id, Offset, 
      Is_DST, Abbreviation)
    values (#{timeZoneId,jdbcType=INTEGER}, #{transitionTypeId,jdbcType=INTEGER}, #{offset,jdbcType=INTEGER}, 
      #{isDst,jdbcType=TINYINT}, #{abbreviation,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.TimeZoneTransitionType">
    insert into time_zone_transition_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="timeZoneId != null">
        Time_zone_id,
      </if>
      <if test="transitionTypeId != null">
        Transition_type_id,
      </if>
      <if test="offset != null">
        Offset,
      </if>
      <if test="isDst != null">
        Is_DST,
      </if>
      <if test="abbreviation != null">
        Abbreviation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="timeZoneId != null">
        #{timeZoneId,jdbcType=INTEGER},
      </if>
      <if test="transitionTypeId != null">
        #{transitionTypeId,jdbcType=INTEGER},
      </if>
      <if test="offset != null">
        #{offset,jdbcType=INTEGER},
      </if>
      <if test="isDst != null">
        #{isDst,jdbcType=TINYINT},
      </if>
      <if test="abbreviation != null">
        #{abbreviation,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.TimeZoneTransitionTypeExample" resultType="java.lang.Integer">
    select count(*) from time_zone_transition_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update time_zone_transition_type
    <set>
      <if test="record.timeZoneId != null">
        Time_zone_id = #{record.timeZoneId,jdbcType=INTEGER},
      </if>
      <if test="record.transitionTypeId != null">
        Transition_type_id = #{record.transitionTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.offset != null">
        Offset = #{record.offset,jdbcType=INTEGER},
      </if>
      <if test="record.isDst != null">
        Is_DST = #{record.isDst,jdbcType=TINYINT},
      </if>
      <if test="record.abbreviation != null">
        Abbreviation = #{record.abbreviation,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update time_zone_transition_type
    set Time_zone_id = #{record.timeZoneId,jdbcType=INTEGER},
      Transition_type_id = #{record.transitionTypeId,jdbcType=INTEGER},
      Offset = #{record.offset,jdbcType=INTEGER},
      Is_DST = #{record.isDst,jdbcType=TINYINT},
      Abbreviation = #{record.abbreviation,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.TimeZoneTransitionType">
    update time_zone_transition_type
    <set>
      <if test="offset != null">
        Offset = #{offset,jdbcType=INTEGER},
      </if>
      <if test="isDst != null">
        Is_DST = #{isDst,jdbcType=TINYINT},
      </if>
      <if test="abbreviation != null">
        Abbreviation = #{abbreviation,jdbcType=CHAR},
      </if>
    </set>
    where Time_zone_id = #{timeZoneId,jdbcType=INTEGER}
      and Transition_type_id = #{transitionTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.TimeZoneTransitionType">
    update time_zone_transition_type
    set Offset = #{offset,jdbcType=INTEGER},
      Is_DST = #{isDst,jdbcType=TINYINT},
      Abbreviation = #{abbreviation,jdbcType=CHAR}
    where Time_zone_id = #{timeZoneId,jdbcType=INTEGER}
      and Transition_type_id = #{transitionTypeId,jdbcType=INTEGER}
  </update>
</mapper>