<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.TimeZoneMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.TimeZone">
    <id column="Time_zone_id" jdbcType="INTEGER" property="timeZoneId" />
    <result column="Use_leap_seconds" jdbcType="CHAR" property="useLeapSeconds" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Time_zone_id, Use_leap_seconds
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.TimeZoneExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from time_zone
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from time_zone
    where Time_zone_id = #{timeZoneId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from time_zone
    where Time_zone_id = #{timeZoneId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.TimeZoneExample">
    delete from time_zone
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.TimeZone">
    insert into time_zone (Time_zone_id, Use_leap_seconds)
    values (#{timeZoneId,jdbcType=INTEGER}, #{useLeapSeconds,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.TimeZone">
    insert into time_zone
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="timeZoneId != null">
        Time_zone_id,
      </if>
      <if test="useLeapSeconds != null">
        Use_leap_seconds,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="timeZoneId != null">
        #{timeZoneId,jdbcType=INTEGER},
      </if>
      <if test="useLeapSeconds != null">
        #{useLeapSeconds,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.TimeZoneExample" resultType="java.lang.Integer">
    select count(*) from time_zone
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update time_zone
    <set>
      <if test="record.timeZoneId != null">
        Time_zone_id = #{record.timeZoneId,jdbcType=INTEGER},
      </if>
      <if test="record.useLeapSeconds != null">
        Use_leap_seconds = #{record.useLeapSeconds,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update time_zone
    set Time_zone_id = #{record.timeZoneId,jdbcType=INTEGER},
      Use_leap_seconds = #{record.useLeapSeconds,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.TimeZone">
    update time_zone
    <set>
      <if test="useLeapSeconds != null">
        Use_leap_seconds = #{useLeapSeconds,jdbcType=CHAR},
      </if>
    </set>
    where Time_zone_id = #{timeZoneId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzp.mall.model.TimeZone">
    update time_zone
    set Use_leap_seconds = #{useLeapSeconds,jdbcType=CHAR}
    where Time_zone_id = #{timeZoneId,jdbcType=INTEGER}
  </update>
</mapper>