<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.UserVariablesByThreadMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.UserVariablesByThread">
    <id column="THREAD_ID" jdbcType="BIGINT" property="threadId" />
    <id column="VARIABLE_NAME" jdbcType="VARCHAR" property="variableName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zzp.mall.model.UserVariablesByThread">
    <result column="VARIABLE_VALUE" jdbcType="LONGVARBINARY" property="variableValue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    THREAD_ID, VARIABLE_NAME
  </sql>
  <sql id="Blob_Column_List">
    VARIABLE_VALUE
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zzp.mall.model.UserVariablesByThreadExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_variables_by_thread
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zzp.mall.model.UserVariablesByThreadExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_variables_by_thread
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_variables_by_thread
    where THREAD_ID = #{threadId,jdbcType=BIGINT}
      and VARIABLE_NAME = #{variableName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from user_variables_by_thread
    where THREAD_ID = #{threadId,jdbcType=BIGINT}
      and VARIABLE_NAME = #{variableName,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.UserVariablesByThreadExample">
    delete from user_variables_by_thread
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.UserVariablesByThread">
    insert into user_variables_by_thread (THREAD_ID, VARIABLE_NAME, VARIABLE_VALUE
      )
    values (#{threadId,jdbcType=BIGINT}, #{variableName,jdbcType=VARCHAR}, #{variableValue,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.UserVariablesByThread">
    insert into user_variables_by_thread
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="threadId != null">
        THREAD_ID,
      </if>
      <if test="variableName != null">
        VARIABLE_NAME,
      </if>
      <if test="variableValue != null">
        VARIABLE_VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="threadId != null">
        #{threadId,jdbcType=BIGINT},
      </if>
      <if test="variableName != null">
        #{variableName,jdbcType=VARCHAR},
      </if>
      <if test="variableValue != null">
        #{variableValue,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.UserVariablesByThreadExample" resultType="java.lang.Integer">
    select count(*) from user_variables_by_thread
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_variables_by_thread
    <set>
      <if test="record.threadId != null">
        THREAD_ID = #{record.threadId,jdbcType=BIGINT},
      </if>
      <if test="record.variableName != null">
        VARIABLE_NAME = #{record.variableName,jdbcType=VARCHAR},
      </if>
      <if test="record.variableValue != null">
        VARIABLE_VALUE = #{record.variableValue,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update user_variables_by_thread
    set THREAD_ID = #{record.threadId,jdbcType=BIGINT},
      VARIABLE_NAME = #{record.variableName,jdbcType=VARCHAR},
      VARIABLE_VALUE = #{record.variableValue,jdbcType=LONGVARBINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_variables_by_thread
    set THREAD_ID = #{record.threadId,jdbcType=BIGINT},
      VARIABLE_NAME = #{record.variableName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzp.mall.model.UserVariablesByThread">
    update user_variables_by_thread
    <set>
      <if test="variableValue != null">
        VARIABLE_VALUE = #{variableValue,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where THREAD_ID = #{threadId,jdbcType=BIGINT}
      and VARIABLE_NAME = #{variableName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zzp.mall.model.UserVariablesByThread">
    update user_variables_by_thread
    set VARIABLE_VALUE = #{variableValue,jdbcType=LONGVARBINARY}
    where THREAD_ID = #{threadId,jdbcType=BIGINT}
      and VARIABLE_NAME = #{variableName,jdbcType=VARCHAR}
  </update>
</mapper>