<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzp.mall.mapper.VariablesInfoMapper">
  <resultMap id="BaseResultMap" type="com.zzp.mall.model.VariablesInfo">
    <result column="VARIABLE_NAME" jdbcType="VARCHAR" property="variableName" />
    <result column="VARIABLE_SOURCE" jdbcType="CHAR" property="variableSource" />
    <result column="VARIABLE_PATH" jdbcType="VARCHAR" property="variablePath" />
    <result column="MIN_VALUE" jdbcType="VARCHAR" property="minValue" />
    <result column="MAX_VALUE" jdbcType="VARCHAR" property="maxValue" />
    <result column="SET_TIME" jdbcType="TIMESTAMP" property="setTime" />
    <result column="SET_USER" jdbcType="CHAR" property="setUser" />
    <result column="SET_HOST" jdbcType="CHAR" property="setHost" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    VARIABLE_NAME, VARIABLE_SOURCE, VARIABLE_PATH, MIN_VALUE, MAX_VALUE, SET_TIME, SET_USER, 
    SET_HOST
  </sql>
  <select id="selectByExample" parameterType="com.zzp.mall.model.VariablesInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from variables_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zzp.mall.model.VariablesInfoExample">
    delete from variables_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzp.mall.model.VariablesInfo">
    insert into variables_info (VARIABLE_NAME, VARIABLE_SOURCE, VARIABLE_PATH, 
      MIN_VALUE, MAX_VALUE, SET_TIME, 
      SET_USER, SET_HOST)
    values (#{variableName,jdbcType=VARCHAR}, #{variableSource,jdbcType=CHAR}, #{variablePath,jdbcType=VARCHAR}, 
      #{minValue,jdbcType=VARCHAR}, #{maxValue,jdbcType=VARCHAR}, #{setTime,jdbcType=TIMESTAMP}, 
      #{setUser,jdbcType=CHAR}, #{setHost,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzp.mall.model.VariablesInfo">
    insert into variables_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="variableName != null">
        VARIABLE_NAME,
      </if>
      <if test="variableSource != null">
        VARIABLE_SOURCE,
      </if>
      <if test="variablePath != null">
        VARIABLE_PATH,
      </if>
      <if test="minValue != null">
        MIN_VALUE,
      </if>
      <if test="maxValue != null">
        MAX_VALUE,
      </if>
      <if test="setTime != null">
        SET_TIME,
      </if>
      <if test="setUser != null">
        SET_USER,
      </if>
      <if test="setHost != null">
        SET_HOST,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="variableName != null">
        #{variableName,jdbcType=VARCHAR},
      </if>
      <if test="variableSource != null">
        #{variableSource,jdbcType=CHAR},
      </if>
      <if test="variablePath != null">
        #{variablePath,jdbcType=VARCHAR},
      </if>
      <if test="minValue != null">
        #{minValue,jdbcType=VARCHAR},
      </if>
      <if test="maxValue != null">
        #{maxValue,jdbcType=VARCHAR},
      </if>
      <if test="setTime != null">
        #{setTime,jdbcType=TIMESTAMP},
      </if>
      <if test="setUser != null">
        #{setUser,jdbcType=CHAR},
      </if>
      <if test="setHost != null">
        #{setHost,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzp.mall.model.VariablesInfoExample" resultType="java.lang.Integer">
    select count(*) from variables_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update variables_info
    <set>
      <if test="record.variableName != null">
        VARIABLE_NAME = #{record.variableName,jdbcType=VARCHAR},
      </if>
      <if test="record.variableSource != null">
        VARIABLE_SOURCE = #{record.variableSource,jdbcType=CHAR},
      </if>
      <if test="record.variablePath != null">
        VARIABLE_PATH = #{record.variablePath,jdbcType=VARCHAR},
      </if>
      <if test="record.minValue != null">
        MIN_VALUE = #{record.minValue,jdbcType=VARCHAR},
      </if>
      <if test="record.maxValue != null">
        MAX_VALUE = #{record.maxValue,jdbcType=VARCHAR},
      </if>
      <if test="record.setTime != null">
        SET_TIME = #{record.setTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.setUser != null">
        SET_USER = #{record.setUser,jdbcType=CHAR},
      </if>
      <if test="record.setHost != null">
        SET_HOST = #{record.setHost,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update variables_info
    set VARIABLE_NAME = #{record.variableName,jdbcType=VARCHAR},
      VARIABLE_SOURCE = #{record.variableSource,jdbcType=CHAR},
      VARIABLE_PATH = #{record.variablePath,jdbcType=VARCHAR},
      MIN_VALUE = #{record.minValue,jdbcType=VARCHAR},
      MAX_VALUE = #{record.maxValue,jdbcType=VARCHAR},
      SET_TIME = #{record.setTime,jdbcType=TIMESTAMP},
      SET_USER = #{record.setUser,jdbcType=CHAR},
      SET_HOST = #{record.setHost,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>